Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore(intake): pin copilot models to gpt-5.5; ignore .intake/.tasks run artifacts
  .gitignore
  cto-config.json
  docs/2026-04/intake-flow.md
Due: none

docs(intake): hand off sigma-1 intake run to Hermes
  docs/2026-04/avatar/intake-deliberation-video-handoff.md
Due: none

docs(intake): note openclaw 2026.4.x plugin-compat blockers
  docs/2026-04/avatar/intake-deliberation-video-handoff.md
Due: none

docs(intake): Hermes sigma-1 handoff + gpt-5.5 pin (#4901)
  .gitignore
  cto-config.json
  docs/2026-04/avatar/intake-deliberation-video-handoff.md
  docs/2026-04/intake-flow.md
Due: none

fix(coder): disable mem0Plugin and tokenjuice to unblock gateway startup
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): disable mem0Plugin and tokenjuice to unblock gateway startup (#4902)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(openclaw-agent): bound `openclaw doctor` with 30s timeout in init
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(openclaw-agent): bound `openclaw doctor` with 30s timeout in init (#4903)
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(hermes): minimal upstream gateway chart
  infra/charts/hermes-gateway/Chart.yaml
  infra/charts/hermes-gateway/templates/_helpers.tpl
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/templates/pvc.yaml
  infra/charts/hermes-gateway/templates/serviceaccount.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(hermes): minimal upstream gateway chart (#4904)
  infra/charts/hermes-gateway/Chart.yaml
  infra/charts/hermes-gateway/templates/_helpers.tpl
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/templates/pvc.yaml
  infra/charts/hermes-gateway/templates/serviceaccount.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(coder): scale openclaw-coder STS to 0 to free Discord coder token
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

chore(coder): scale openclaw-coder STS to 0 to free Discord coder token (#4905)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(hermes): authorize edge_kase Discord user
  infra/charts/hermes-gateway/values.yaml
Due: none

feat(hermes): authorize edge_kase Discord user (#4906)
  infra/charts/hermes-gateway/values.yaml
Due: none

fix: configure Hermes Coder Copilot provider
  infra/charts/hermes-gateway/Chart.yaml
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix Hermes Coder Copilot gateway config
  infra/charts/hermes-gateway/Chart.yaml
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use GPT-5.5 Copilot token for Hermes
  infra/charts/hermes-gateway/values.yaml
Due: none

fix: add Hermes GitHub workspace credentials
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add kubectl to Hermes runtime
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/templates/rbac.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add Coder instructions to Hermes
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

fix: add kubectl to Hermes runtime
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/templates/rbac.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/applications/workloads/hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: enable Hermes autonomous mode
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

feat(intake): make LLM invocation harness agnostic
  intake/scripts/expand-tasks-batched.sh
  intake/scripts/inline-vote.sh
  intake/scripts/llm-invoke.sh
  intake/scripts/quality-gate.sh
  intake/tests/harness-agnostic-tests.sh
  intake/workflows/codebase-analysis.lobster.yaml
  intake/workflows/decision-voting.lobster.yaml
  intake/workflows/deliberation.lobster.yaml
  intake/workflows/design-deliberation.lobster.yaml
  intake/workflows/intake.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
  intake/workflows/task-refinement.lobster.yaml
  intake/workflows/voting.lobster.yaml
Due: none

fix(gitops): register Hermes Coder Argo app
  infra/gitops/applications/workloads/hermes-coder-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(intake): make LLM invocation harness agnostic (#4912)
  infra/gitops/applications/workloads/hermes-coder-agent.yaml
  intake/scripts/expand-tasks-batched.sh
  intake/scripts/inline-vote.sh
  intake/scripts/llm-invoke.sh
  intake/scripts/quality-gate.sh
  intake/tests/harness-agnostic-tests.sh
  intake/workflows/codebase-analysis.lobster.yaml
  intake/workflows/decision-voting.lobster.yaml
  intake/workflows/deliberation.lobster.yaml
  intake/workflows/design-deliberation.lobster.yaml
  intake/workflows/intake.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
  intake/workflows/task-refinement.lobster.yaml
  intake/workflows/voting.lobster.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: authenticate gh in Hermes terminal
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

fix: keep legacy Coder off Discord
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/applications/workloads/coder-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(intake): require validated MP3 before video
  apps/lobster-voice/src/index.ts
  intake/scripts/render-deliberation-audio.sh
  intake/scripts/validate-deliberation-audio.sh
  intake/tests/audio-safety-tests.sh
  intake/workflows/deliberation.lobster.yaml
  intake/workflows/design-deliberation.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
Due: none

feat(intake): make LLM invocation harness agnostic (#4915)
  apps/lobster-voice/src/index.ts
  intake/scripts/render-deliberation-audio.sh
  intake/scripts/validate-deliberation-audio.sh
  intake/tests/audio-safety-tests.sh
  intake/workflows/deliberation.lobster.yaml
  intake/workflows/design-deliberation.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
Due: none

test(intake): add simple REST API lobster smoke harness
  intake/scripts/simple-rest-smoke-llm-stub.py
  intake/workflows/intake.lobster.yaml
Due: none

test(intake): make smoke stub project-aware
  intake/scripts/simple-rest-smoke-llm-stub.py
Due: none

fix(intake): add real model smoke adapter
  intake/scripts/compute-gaps.py
  intake/scripts/real-llm-invoke.py
  intake/workflows/intake.lobster.yaml
Due: none

docs: hand off OAuth model routing reserves
  .github/workflows/intake.yaml
  crates/cli/src/adapters/dexter.rs
  crates/controller/src/cli/adapters/code.rs
  crates/controller/src/cli/adapters/dexter.rs
  crates/controller/src/cli/adapters/gemini.rs
  crates/controller/src/cli/types.rs
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  cto-config.template.json
  docs/2026-04/morgan-oauth-model-routing-reserves.md
  docs/2026-04/openclaw-cli-provider-routing.md
  infra/charts/hermes-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
  intake/scripts/quality-gate.sh
  intake/scripts/real-llm-invoke.py
  intake/scripts/resume-task-refinement.sh
  intake/workflows/codebase-analysis.lobster.yaml
  intake/workflows/decision-voting.lobster.yaml
  intake/workflows/deliberation.lobster.yaml
  intake/workflows/intake.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
  intake/workflows/task-refinement.lobster.yaml
  intake/workflows/voting.lobster.yaml
  model-providers.json
  templates/harness-agents/openclaw-config.json.hbs
  test/cli-matrix/harness-rex-gemini.yaml
  test/cli-matrix/neon-gauntlet/README.md
  test/cli-matrix/skills-e2e/e2e-skills-cursor.yaml
  test/cli-matrix/skills-e2e/e2e-skills-gemini.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

