Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore: remove openclaw agent apps from CTO cluster gitops
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: switch storage overlay from AWS EBS to local-path for OVH deployment
  infra/gitops/manifests/storage/aws-storage-overlay.yaml
Due: no-hardcoded-passwords

fix: skip-reconcile Mayastor on OVH - using local-path storage overlay
  infra/gitops/applications/storage/mayastor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: skip-reconcile aws-load-balancer-controller on OVH bare metal
  infra/gitops/applications/platform/aws-load-balancer-controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add kube-dns service alias for RKE2 compatibility
  infra/gitops/manifests/coredns/kube-dns-service.yaml
Due: no-hardcoded-passwords

fix: update ingress-nginx externalIPs to OVH node IPs
  infra/gitops/applications/platform/ingress-nginx.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: treat pending WaitForFirstConsumer PVCs as Healthy in ArgoCD
  infra/gitops/manifests/argocd/argocd-cm-patch.yaml
Due: no-hardcoded-passwords

fix: add headers field to tools mcp-servers.json configmap template
  infra/charts/cto/templates/tools/configmap.yaml
Due: none

fix: increase MCP server initialization timeout from 8-10s to 45-60s
  crates/tools/src/client.rs
  crates/tools/src/server/http_server.rs
Due: none

feat: add AI, GPU, and Nvidia operators; enable twingate-operator
  infra/gitops/applications/operators/kubeai-operator.yaml
  infra/gitops/applications/operators/llamastack-operator.yaml
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/applications/operators/nvidia-nfd.yaml
  infra/gitops/applications/operators/ollama-operator.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: nfd master nodeSelector to use worker nodes; twingate retry with GHCR creds
  infra/gitops/applications/operators/nvidia-nfd.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: re-add skip-reconcile to twingate-operator (GHCR OCI auth unresolved)
  infra/gitops/applications/operators/twingate-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: switch loki MCP from ghcr.io image (GHCR auth denied) to npx @elad12390/loki-mcp
  infra/charts/cto/values.yaml
Due: none

fix: ignore ClusterPolicy spec/status drift in nvidia-gpu-operator
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(intake): deliberation system — debate agents + committee voting
  apps/intake-agent/src/index.ts
  apps/intake-agent/src/operations/deliberation.ts
  apps/intake-agent/src/types.ts
  crates/intake/src/domain/intake.rs
  intake/prompts/compile-design-brief-system.md
  intake/prompts/deliberation-conductor-system.md
  intake/prompts/optimist-soul.md
  intake/prompts/pessimist-soul.md
  intake/schemas/decision-vote.schema.json
  intake/schemas/deliberation-result.schema.json
  intake/workflows/deliberation.lobster.yaml
Due: none

Fix deliberation bugs: add validateRequest entry, fix status logic, remove unused constant, fix error handling
  apps/intake-agent/src/operations/deliberation.ts
  apps/intake-agent/src/types.ts
  crates/intake/src/domain/intake.rs
Due: none

feat(infra): add deliberation agent gitops to CTO
  infra/gitops/agents/README.md
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
  infra/gitops/applications/workloads/deliberation-agents.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(intake-agent): resolve TypeScript errors in deliberation module
  apps/intake-agent/src/operations/deliberation.ts
  apps/intake-agent/src/types.ts
Due: none

fix: resolve deliberation bugs - pending decision points, escalation status, log attribution, and consensus detection
  apps/intake-agent/src/operations/deliberation.ts
  apps/intake-agent/src/types.ts
Due: none

fix: preserve deliberation termination status and support array schema for decision_point_raised
  apps/intake-agent/src/operations/deliberation.ts
  intake/schemas/deliberation-result.schema.json
Due: none

fix: address 10 bugs in deliberation system
  apps/intake-agent/src/index.ts
  apps/intake-agent/src/operations/deliberation.ts
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
  intake/workflows/deliberation.lobster.yaml
Due: no-hardcoded-passwords

feat: add kotal-operator ArgoCD app (5dlabs fork with Reth/NEAR support)
  infra/gitops/applications/operators/kotal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(lint): add --- document start and trailing newlines to agent values files
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix(deliberation): annotate DebateTurn with decision points raised (not resolved)
  apps/intake-agent/src/operations/deliberation.ts
Due: none

fix: resolve deliberation bugs - remove duplicate broadcasts, handle agent timeouts gracefully, respect deliberate flag priority
  apps/intake-agent/src/operations/deliberation.ts
  crates/intake/src/domain/intake.rs
Due: none

fix: consensus regex and shell quoting for LLM-generated content
  apps/intake-agent/src/operations/deliberation.ts
  intake/workflows/deliberation.lobster.yaml
Due: none

fix(intake): resolve three deliberation bugs
  apps/intake-agent/src/operations/deliberation.ts
  intake/prompts/optimist-soul.md
  intake/prompts/pessimist-soul.md
  intake/workflows/deliberation.lobster.yaml
Due: none

fix: prevent timebox overrun and ensure design brief is used as sole input
  apps/intake-agent/src/operations/deliberation.ts
  crates/intake/src/domain/intake.rs
Due: none

feat(intake): deliberation system — debate agents + committee voting (#4434)
  apps/intake-agent/src/index.ts
  apps/intake-agent/src/operations/deliberation.ts
  apps/intake-agent/src/types.ts
  crates/intake/src/domain/intake.rs
  infra/gitops/agents/README.md
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
  infra/gitops/applications/workloads/deliberation-agents.yaml
  intake/prompts/compile-design-brief-system.md
  intake/prompts/deliberation-conductor-system.md
  intake/prompts/optimist-soul.md
  intake/prompts/pessimist-soul.md
  intake/schemas/decision-vote.schema.json
  intake/schemas/deliberation-result.schema.json
  intake/workflows/deliberation.lobster.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: configure optimist/pessimist Discord + fix gp3 storage on OVH
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
  infra/gitops/manifests/external-secrets/openclaw-secrets.yaml
  infra/gitops/manifests/storage/aws-storage-overlay.yaml
Due: no-hardcoded-passwords

fix: heartbeat "off" invalid duration — use 87600h across all deliberation agents
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix: heartbeat 87600h overflows 32-bit setTimeout — use 500h (~3 weeks)
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix: move discord config into agent.messaging (not root messaging)
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix: revert discord to top-level messaging (agent.messaging causes dm.policy panic)
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix: per-agent messaging secrets so DISCORD_TOKEN env var carries correct token
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
  infra/gitops/manifests/external-secrets/openclaw-secrets.yaml
Due: no-hardcoded-passwords

fix: add githubSecret to committee agent values (was causing empty secretKeyRef)
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
Due: no-hardcoded-passwords

feat(splash): add consulting services page with SEO and LLM discoverability
  apps/splash/public/llms.txt
  apps/splash/public/sitemap.xml
  apps/splash/src/app/consulting/page.tsx
  apps/splash/src/app/layout.tsx
  apps/splash/src/components/footer.tsx
  apps/splash/src/components/header.tsx
  docs/design-swarm-orchestration-patterns.md
Due: none

fix: add missing Daily Intensive to JSON-LD and remove unrelated design doc
  apps/splash/src/app/consulting/page.tsx
  docs/design-swarm-orchestration-patterns.md
Due: none

docs: add Solana K8s architecture and operator spec
  docs/solana-on-kubernetes.md
  docs/solana-operator-spec.md
Due: none

feat(splash): add consulting services page (#4435)
  apps/splash/public/llms.txt
  apps/splash/public/sitemap.xml
  apps/splash/src/app/consulting/page.tsx
  apps/splash/src/app/layout.tsx
  apps/splash/src/components/footer.tsx
  apps/splash/src/components/header.tsx
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

