Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(grok): replace Rust research CronJob with Bun-based Grok pipeline
  .github/workflows/grok-publish.yml
  Cargo.lock
  apps/grok/src/cron.ts
  infra/charts/cto/templates/grok/cronjob.yaml
  infra/charts/cto/values.yaml
  infra/images/grok/Dockerfile
Due: none

fix: use @5dlabs npm scope for GitHub Packages publishing
  .github/workflows/grok-publish.yml
  apps/grok/package.json
Due: none

fix(openclaw): correct repoURL and chart path in ArgoCD applications
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw): correct repoURL and chart path in ArgoCD applications (#4365)
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw): remove unsupported config keys and fix kaniko image
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(openclaw): remove unsupported config keys and fix kaniko sidecar (#4367)
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(openclaw): correct kaniko debug image tag to :debug
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(openclaw): correct kaniko debug image tag to :debug (#4369)
  infra/charts/openclaw-agent/values.yaml
Due: none

feat(grok): replace Rust research CronJob with Bun-based Grok pipeline (#4364)
  .github/workflows/grok-publish.yml
  Cargo.lock
  apps/grok/package.json
  apps/grok/src/cron.ts
  infra/charts/cto/templates/grok/cronjob.yaml
  infra/charts/cto/values.yaml
  infra/images/grok/Dockerfile
Due: none

fix(openclaw): correct Loki URL and add informational pod labels
  infra/charts/openclaw-agent/templates/_helpers.tpl
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(openclaw): correct Loki URL and add informational pod labels (#4370)
  infra/charts/openclaw-agent/templates/_helpers.tpl
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(openclaw): move info fields from labels to pod annotations
  infra/charts/openclaw-agent/templates/_helpers.tpl
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(openclaw): move info fields from labels to pod annotations (#4372)
  infra/charts/openclaw-agent/templates/_helpers.tpl
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(loki): switch from SeaweedFS S3 to filesystem storage
  infra/gitops/applications/observability/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(loki): switch from SeaweedFS S3 to filesystem storage (#4373)
  infra/gitops/applications/observability/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(openclaw): add kaniko container-builds skill
  infra/charts/openclaw-agent/skills/openclaw/container-builds.md
  infra/charts/openclaw-agent/skills/openclaw/linux-environment.md
Due: none

feat(openclaw): add kaniko container-builds skill (#4374)
  infra/charts/openclaw-agent/skills/openclaw/container-builds.md
  infra/charts/openclaw-agent/skills/openclaw/linux-environment.md
Due: none

feat(openclaw): deploy all 14 remaining agents to Kubernetes
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-pixel-assistant.yaml
  infra/gitops/applications/workloads/openclaw-pixel.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-scout.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw): add RBAC and kubectl for kaniko sidecar exec
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/rbac.yaml
Due: none

fix(openclaw): add RBAC and kubectl for kaniko sidecar exec (#4376)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/rbac.yaml
Due: none

feat(openclaw): expand container-builds skill with Docker→Kaniko guide
  infra/charts/openclaw-agent/skills/openclaw/container-builds.md
Due: none

feat(openclaw): expand container-builds skill with Docker→Kaniko guide (#4378)
  infra/charts/openclaw-agent/skills/openclaw/container-builds.md
Due: none

feat(openclaw): deploy all 14 remaining agents to Kubernetes (#4375)
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-pixel-assistant.yaml
  infra/gitops/applications/workloads/openclaw-pixel.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-scout.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(intake): add Lobster intake migration (steps 1-7)
  PLAN.md
  intake/config/openclaw-llm-task.json
  intake/prompts/analyze-complexity-system.md
  intake/prompts/analyze-complexity-user.md
  intake/prompts/expand-task-system.md
  intake/prompts/expand-task-user.md
  intake/prompts/parse-prd-system.md
  intake/prompts/parse-prd-user.md
  intake/prompts/vote-system.md
  intake/prompts/vote-user.md
  intake/schemas/complexity-analysis.schema.json
  intake/schemas/decision-point.schema.json
  intake/schemas/generated-subtask.schema.json
  intake/schemas/generated-task.schema.json
  intake/schemas/vote-ballot.schema.json
  intake/tests/fixtures/tasks-large.json
  intake/tests/fixtures/tasks-medium.json
  intake/tests/fixtures/tasks-small.json
  intake/tests/parity-test.sh
  intake/util/bun.lock
  intake/util/package.json
  intake/util/src/generate-docs.ts
  intake/util/src/generate-prompts.ts
  intake/util/src/index.ts
  intake/util/src/tally.ts
  intake/util/src/types.ts
  intake/util/tsconfig.json
  intake/workflows/intake.lobster.yaml
  intake/workflows/voting.lobster.yaml
Due: none

feat(intake): Lobster intake migration with 5-model voting (#4379)
  PLAN.md
  intake/config/openclaw-llm-task.json
  intake/prompts/analyze-complexity-system.md
  intake/prompts/analyze-complexity-user.md
  intake/prompts/expand-task-system.md
  intake/prompts/expand-task-user.md
  intake/prompts/parse-prd-system.md
  intake/prompts/parse-prd-user.md
  intake/prompts/vote-system.md
  intake/prompts/vote-user.md
  intake/schemas/complexity-analysis.schema.json
  intake/schemas/decision-point.schema.json
  intake/schemas/generated-subtask.schema.json
  intake/schemas/generated-task.schema.json
  intake/schemas/vote-ballot.schema.json
  intake/tests/fixtures/tasks-large.json
  intake/tests/fixtures/tasks-medium.json
  intake/tests/fixtures/tasks-small.json
  intake/tests/parity-test.sh
  intake/util/bun.lock
  intake/util/package.json
  intake/util/src/generate-docs.ts
  intake/util/src/generate-prompts.ts
  intake/util/src/index.ts
  intake/util/src/tally.ts
  intake/util/src/types.ts
  intake/util/tsconfig.json
  intake/workflows/intake.lobster.yaml
  intake/workflows/voting.lobster.yaml
Due: none

fix(secrets): update ExternalSecret with all 16 deployed bot tokens
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
Due: no-hardcoded-passwords

fix(secrets): update ExternalSecret with all 16 deployed bot tokens (#4381)
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
Due: no-hardcoded-passwords

feat(desktop): OpenClaw-centric UI redesign with agent integration
  crates/cto-lite/tauri/src/commands/mod.rs
  crates/cto-lite/tauri/src/commands/openclaw.rs
  crates/cto-lite/tauri/src/main.rs
  crates/cto-lite/ui/package-lock.json
  crates/cto-lite/ui/src/App.tsx
  crates/cto-lite/ui/src/components/AgentChat/index.tsx
  crates/cto-lite/ui/src/components/ConfigView/index.tsx
  crates/cto-lite/ui/src/components/LaunchButton/index.tsx
  crates/cto-lite/ui/src/components/LifecycleProgress/index.tsx
  crates/cto-lite/ui/src/components/PrdView/index.tsx
  crates/cto-lite/ui/src/lib/tauri.ts
  infra/images/agents/Dockerfile
  infra/images/agents/entrypoint.sh
  workflows/auto-recover.lobster.yaml
  workflows/setup.lobster.yaml
Due: none

feat(pm): add unified GitHub webhook handler with HMAC verification
  Cargo.lock
  crates/pm/src/config.rs
  crates/pm/src/handlers/agent_interactions.rs
  crates/pm/src/handlers/callbacks.rs
  crates/pm/src/handlers/github.rs
  crates/pm/src/handlers/github_events.rs
  crates/pm/src/handlers/mod.rs
  crates/pm/src/server.rs
Due: none

feat(infra): route GitHub webhooks directly to PM server
  infra/charts/cto/templates/cloudflare/webhook-binding.yaml
  infra/charts/cto/templates/pm/deployment.yaml
  infra/charts/cto/templates/webhooks/networking/httproute.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

chore(openclaw): remove pixel, scout, and pixel-assistant agents
  infra/gitops/applications/workloads/openclaw-pixel-assistant.yaml
  infra/gitops/applications/workloads/openclaw-pixel.yaml
  infra/gitops/applications/workloads/openclaw-scout.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(openclaw): remove pixel, scout, and pixel-assistant agents (#4385)
  infra/gitops/applications/workloads/openclaw-pixel-assistant.yaml
  infra/gitops/applications/workloads/openclaw-pixel.yaml
  infra/gitops/applications/workloads/openclaw-scout.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve all CI failures across backend, frontend, MCP, and PM Lite
  .github/workflows/cto-lite-ci.yaml
  crates/cto-lite/mcp-lite/src/main.rs
  crates/cto-lite/tauri/src/commands/cluster.rs
  crates/cto-lite/tauri/src/commands/logs.rs
  crates/cto-lite/tauri/src/commands/openclaw.rs
  crates/cto-lite/tauri/src/runtime.rs
  crates/cto-lite/ui/src/components/AgentChat/index.tsx
Due: none

fix: resolve all clippy and CI lint errors across cto-lite crates
  .github/workflows/cto-lite-ci.yaml
  Cargo.lock
  Cargo.toml
  crates/cto-lite/mcp-lite/Cargo.lock
  crates/cto-lite/pm-lite-server/src/bin/main.rs
  crates/cto-lite/pm-lite-server/src/config.rs
  crates/cto-lite/pm-lite-server/src/oauth.rs
  crates/cto-lite/tauri/src/commands/cluster.rs
  crates/cto-lite/tauri/src/commands/logs.rs
  crates/cto-lite/tauri/src/main.rs
Due: none

fix(openclaw): remove unsupported group:memory from agent tools allow lists
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw): remove unsupported group:memory from agent tools allow lists (#4386)
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): route GitHub webhooks directly to PM server (#4384)
  infra/charts/cto/templates/cloudflare/webhook-binding.yaml
  infra/charts/cto/templates/pm/deployment.yaml
  infra/charts/cto/templates/webhooks/networking/httproute.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat(pm): add unified GitHub webhook handler with HMAC verification (#4383)
  Cargo.lock
  crates/pm/src/config.rs
  crates/pm/src/handlers/agent_interactions.rs
  crates/pm/src/handlers/callbacks.rs
  crates/pm/src/handlers/github.rs
  crates/pm/src/handlers/github_events.rs
  crates/pm/src/handlers/mod.rs
  crates/pm/src/server.rs
Due: none

feat(desktop): OpenClaw-centric UI redesign with agent integration (#4382)
  .github/workflows/cto-lite-ci.yaml
  Cargo.lock
  Cargo.toml
  crates/cto-lite/mcp-lite/Cargo.lock
  crates/cto-lite/mcp-lite/src/main.rs
  crates/cto-lite/pm-lite-server/src/bin/main.rs
  crates/cto-lite/pm-lite-server/src/config.rs
  crates/cto-lite/pm-lite-server/src/oauth.rs
  crates/cto-lite/tauri/src/commands/cluster.rs
  crates/cto-lite/tauri/src/commands/logs.rs
  crates/cto-lite/tauri/src/commands/mod.rs
  crates/cto-lite/tauri/src/commands/openclaw.rs
  crates/cto-lite/tauri/src/main.rs
  crates/cto-lite/tauri/src/runtime.rs
  crates/cto-lite/ui/package-lock.json
  crates/cto-lite/ui/src/App.tsx
  crates/cto-lite/ui/src/components/AgentChat/index.tsx
  crates/cto-lite/ui/src/components/ConfigView/index.tsx
  crates/cto-lite/ui/src/components/LaunchButton/index.tsx
  crates/cto-lite/ui/src/components/LifecycleProgress/index.tsx
  crates/cto-lite/ui/src/components/PrdView/index.tsx
  crates/cto-lite/ui/src/lib/tauri.ts
  infra/images/agents/Dockerfile
  infra/images/agents/entrypoint.sh
  workflows/auto-recover.lobster.yaml
  workflows/setup.lobster.yaml
Due: none
