Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(ops): add TMUX monitoring script for admin-cto cluster
  scripts/admin-cto-monitor.sh
Due: none

Security hardening for admin-cto cluster (Latitude Frankfurt) (#4401)
  infra/gitops/applications/platform/cilium-policies.yaml
  infra/gitops/manifests/cilium/policies/host-firewall-policy.yaml
  infra/gitops/manifests/cilium/policies/kustomization.yaml
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/ingress/platform-ingress-fra.yaml
  infra/talos/config/admin-cto-firewall-patch.yaml
  scripts/admin-cto-monitor.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update Mayastor network patch to allow additional cluster service ports
  docs/operator-catalog-architecture.md
  infra/talos/config/simple/mayastor-network-patch.yaml
Due: none

feat(mcp): add toggle_app tool for enabling/disabling ArgoCD applications
  crates/mcp/src/main.rs
  crates/mcp/src/tools.rs
Due: none

Update Mayastor network patch to allow additional cluster service ports (#4402)
  docs/operator-catalog-architecture.md
  infra/talos/config/simple/mayastor-network-patch.yaml
Due: none

feat(mcp): add toggle_app tool for enabling/disabling ArgoCD applications (#4403)
  crates/mcp/src/main.rs
  crates/mcp/src/tools.rs
Due: none

feat(nats-messenger): add reply action for two-way messaging + discord conversation bridge
  apps/discord-bridge/package.json
  apps/discord-bridge/src/bridge.ts
  apps/discord-bridge/src/config.ts
  apps/discord-bridge/src/discord-client.ts
  apps/discord-bridge/src/index.ts
  apps/discord-bridge/src/nats-tap.ts
  apps/discord-bridge/src/room-manager.ts
  apps/discord-bridge/src/types.ts
  apps/discord-bridge/tsconfig.json
  apps/nats-messenger/index.ts
  apps/nats-messenger/processor.ts
  apps/nats-messenger/service.ts
  apps/nats-messenger/tool.ts
Due: none

feat(openclaw-agent): grant full cluster admin access to agent pods
  infra/charts/openclaw-agent/templates/rbac.yaml
Due: none

feat(discord-bridge): add Kubernetes deployment and CI/CD pipeline
  .github/workflows/discord-bridge-publish.yml
  apps/discord-bridge/.dockerignore
  apps/discord-bridge/Dockerfile
  apps/discord-bridge/package-lock.json
  infra/gitops/applications/workloads/discord-bridge.yaml
  infra/manifests/discord-bridge/deployment.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

NATS two-way messaging + Discord conversation bridge + agent admin access (#4405)
  .github/workflows/discord-bridge-publish.yml
  apps/discord-bridge/.dockerignore
  apps/discord-bridge/Dockerfile
  apps/discord-bridge/package-lock.json
  apps/discord-bridge/package.json
  apps/discord-bridge/src/bridge.ts
  apps/discord-bridge/src/config.ts
  apps/discord-bridge/src/discord-client.ts
  apps/discord-bridge/src/index.ts
  apps/discord-bridge/src/nats-tap.ts
  apps/discord-bridge/src/room-manager.ts
  apps/discord-bridge/src/types.ts
  apps/discord-bridge/tsconfig.json
  apps/nats-messenger/index.ts
  apps/nats-messenger/processor.ts
  apps/nats-messenger/service.ts
  apps/nats-messenger/tool.ts
  infra/charts/openclaw-agent/templates/rbac.yaml
  infra/gitops/applications/workloads/discord-bridge.yaml
  infra/manifests/discord-bridge/deployment.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: add development notice and clean up stale root markdown files
  AGENTS.md
  CLUSTER-DNS-INCIDENT.md
  CONTEXT.md
  CREDENTIALS_TEMPLATE.md
  HEARTBEAT.md
  IDENTITY.md
  PLAN.md
  PROGRESS.md
  README.md
  SKILLS.md
  SOUL.md
  TASKS.md
  USER.md
Due: none

feat(openclaw-agent): add nodeSelector support and remove CPU limits
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(openclaw-agent): reduce CPU requests to fit 14 agents on worker
  infra/charts/openclaw-agent/values.yaml
Due: none

fix(marketing): add OpenGraph and Twitter splash image assets
  apps/marketing/public/og-image.png
  apps/marketing/public/twitter-image.png
  apps/marketing/src/app/layout.tsx
Due: none

fix(marketing): bust social card cache with versioned OG/Twitter images
  apps/marketing/public/og-image-v2.png
  apps/marketing/public/twitter-image-v2.png
  apps/marketing/src/app/layout.tsx
Due: none

feat(infra): AWS cluster bootstrap with skip-reconcile overlay strategy
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/operators/cloudnative-pg-operator.yaml
  infra/gitops/applications/operators/jaeger-operator.yaml
  infra/gitops/applications/operators/opentelemetry-operator.yaml
  infra/gitops/applications/operators/redis-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
  infra/gitops/applications/platform/aws-load-balancer-controller.yaml
  infra/gitops/applications/platform/cilium-policies.yaml
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/platform/ingress-nginx.yaml
  infra/gitops/applications/storage/mayastor.yaml
  infra/gitops/manifests/storage/aws-storage-overlay.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): AWS cluster bootstrap with skip-reconcile overlay strategy (#4415)
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/operators/cloudnative-pg-operator.yaml
  infra/gitops/applications/operators/jaeger-operator.yaml
  infra/gitops/applications/operators/opentelemetry-operator.yaml
  infra/gitops/applications/operators/redis-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
  infra/gitops/applications/platform/aws-load-balancer-controller.yaml
  infra/gitops/applications/platform/cilium-policies.yaml
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/platform/ingress-nginx.yaml
  infra/gitops/applications/storage/mayastor.yaml
  infra/gitops/manifests/storage/aws-storage-overlay.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(gitops): add AWS storage overlay Application so EKS PVCs can bind
  infra/gitops/applications/storage/aws-storage-overlay.yaml
  infra/gitops/manifests/storage/aws-storage-overlay.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(docs): update README and marketing page with new bare-metal providers
  README.md
  apps/marketing/src/app/page.tsx
  docs/outreach/sidero-labs-partnership-draft.md
  infra/charts/openclaw-agent/skills/openclaw/provider-omni.md
  infra/charts/openclaw-agent/skills/openclaw/provider-sidero.md
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
  infra/manifests/discord-bridge/deployment.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): AWS cluster bootstrap – OpenClaw bots disabled, storage overlay app (#4416)
  README.md
  apps/marketing/src/app/page.tsx
  docs/outreach/sidero-labs-partnership-draft.md
  infra/charts/openclaw-agent/skills/openclaw/provider-omni.md
  infra/charts/openclaw-agent/skills/openclaw/provider-sidero.md
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/storage/aws-storage-overlay.yaml
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
  infra/gitops/manifests/storage/aws-storage-overlay.yaml
  infra/manifests/discord-bridge/deployment.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(gitops): disable bots namespace apps by default
  infra/gitops/README.md
  infra/gitops/applications/workloads/discord-bridge.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(gitops): disable bots namespace apps by default (#4417)
  infra/gitops/README.md
  infra/gitops/applications/workloads/discord-bridge.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ntfy): update HTTP listen port to 8080 in configmap and deployment manifests
  docs/prds/hivelocity-provider-prd.md
  infra/gitops/manifests/ntfy/configmap.yaml
  infra/gitops/manifests/ntfy/deployment.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: no-hardcoded-passwords

chore(prd): expand Hivelocity provider implementation plan
  docs/prds/hivelocity-provider-prd.md
Due: none

chore(prd): expand Hivelocity provider implementation plan (#4418)
  docs/prds/hivelocity-provider-prd.md
Due: none

feat(infra): add switchable webhook exposure and re-enable Stitch Argo app
  infra/charts/cto/templates/cloudflare/webhook-binding.yaml
  infra/charts/cto/templates/webhooks/networking/httproute.yaml
  infra/charts/cto/templates/webhooks/networking/ingress.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): add switchable webhook exposure and re-enable Stitch Argo app (#4419)
  infra/charts/cto/templates/cloudflare/webhook-binding.yaml
  infra/charts/cto/templates/webhooks/networking/httproute.yaml
  infra/charts/cto/templates/webhooks/networking/ingress.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(pm): scale PM server back to one replica
  infra/charts/cto/values.yaml
Due: none

fix(pm): scale PM server back to one replica (#4420)
  infra/charts/cto/values.yaml
Due: none

chore(docker): update Dockerfiles for agents and Gemini CLI
  docs/prds/hivelocity-provider-prd.md
  infra/images/agents/Dockerfile
  infra/images/gemini/Dockerfile
Due: none

chore(docker): update Dockerfiles for agents and Gemini CLI (#4421)
  docs/prds/hivelocity-provider-prd.md
  infra/images/agents/Dockerfile
  infra/images/gemini/Dockerfile
Due: none

chore(docker): pin OpenClaw to 2026.2.12, fix Gemini CLI build
  infra/charts/openclaw-agent/values.yaml
  infra/images/agents/Dockerfile
  infra/images/gemini/Dockerfile
  infra/images/openclaw/Dockerfile
Due: none

chore(docker): pin OpenClaw to 2026.2.12, fix Gemini CLI build (#4422)
  infra/charts/openclaw-agent/values.yaml
  infra/images/agents/Dockerfile
  infra/images/gemini/Dockerfile
  infra/images/openclaw/Dockerfile
Due: none

feat(runtime): add steipete CLI tools to baseline image
  infra/images/runtime/Dockerfile
Due: none

feat(runtime): add poltergeist, markdansi, goplaces, tmuxwatch to baseline
  infra/images/runtime/Dockerfile
Due: none

feat(runtime): add steipete CLI tools to baseline image (#4423)
  infra/images/runtime/Dockerfile
Due: none

feat(splash): add crypto vision section and copy refinements
  apps/splash/src/app/page.tsx
Due: none
