Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

Fix/log-scanner-cronworkflow-params (#3122)
  .secrets.baseline
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/naming.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/workflow.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  crates/controller/tests/e2e_template_tests.rs
  crates/healer/src/ci/spawner.rs
  crates/healer/src/main.rs
  crates/healer/src/scanner.rs
  crates/mcp/src/tools.rs
  crates/pm/src/bin/status-sync.rs
  crates/research/src/digest/email.rs
  infra/charts/cto/templates/healer/deployment.yaml
  infra/charts/cto/templates/openmemory/deployment.yaml
  infra/charts/cto/templates/tools/deployment.yaml
  templates/_shared/container.sh.hbs
  templates/_shared/partials/task-files.sh.hbs
Due: none

fix(cilium): exclude flannel.1 from device detection to fix neighbor-link-updater
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix(ci): improve Trivy installation process with enhanced retry logic
  tests/alerthub-e2e-test/.tasks/docs/prd.md
Due: none

fix(cilium): exclude flannel.1 from device detection to fix neighbor-link-updater (#3141)
  infra/gitops/manifests/cilium/values.yaml
  tests/alerthub-e2e-test/.tasks/docs/prd.md
Due: no-hardcoded-passwords

fix(healer): address clippy pedantic lints
  crates/healer/src/main.rs
  crates/healer/src/scanner.rs
Due: none

feat(infra): remove deprecated Kilo WireGuard VPN
  infra/gitops/applications/platform/kilo.yaml
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/kilo/README.md
  infra/gitops/manifests/kilo/crds.yaml
  infra/gitops/manifests/kilo/daemonset.yaml
  infra/gitops/manifests/kilo/ddns-cronjob.yaml
  infra/gitops/manifests/kilo/examples/developer-workstation.yaml
  infra/gitops/manifests/kilo/peers/jonathon-workstation.yaml
  infra/gitops/manifests/kilo/rbac.yaml
  scripts/setup-wireguard-peer.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): remove deprecated Kilo WireGuard VPN (#3152)
  infra/gitops/applications/platform/kilo.yaml
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/kilo/README.md
  infra/gitops/manifests/kilo/crds.yaml
  infra/gitops/manifests/kilo/daemonset.yaml
  infra/gitops/manifests/kilo/ddns-cronjob.yaml
  infra/gitops/manifests/kilo/examples/developer-workstation.yaml
  infra/gitops/manifests/kilo/peers/jonathon-workstation.yaml
  infra/gitops/manifests/kilo/rbac.yaml
  scripts/setup-wireguard-peer.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: clean up whitespace in multiple files
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/healer/src/play/monitor.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

revert(cilium): remove devices config - nodes have different interface names
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

revert(cilium): remove devices config - nodes have different interface names (#3148)
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix(healer): address clippy pedantic lints (#3147)
  crates/healer/src/main.rs
  crates/healer/src/scanner.rs
Due: none

fix(healer): address remaining clippy pedantic lints
  crates/healer/src/github.rs
  crates/healer/src/play/monitor.rs
  crates/healer/src/scanner.rs
Due: none

fix(healer): address remaining clippy pedantic lints (#3158)
  crates/healer/src/github.rs
  crates/healer/src/play/monitor.rs
  crates/healer/src/scanner.rs
Due: none

chore(infra): increase runner capacity from 6 to 8
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): replace wget with curl in infra-ci.yaml
  .github/workflows/infra-ci.yaml
Due: none

chore(infra): increase runner capacity from 6 to 8 (#3159)
  .github/workflows/infra-ci.yaml
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(firecrawl): introduce autonomous web agent and enhance Firecrawl tools
  .secrets.baseline
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

Chore/increase-runner-capacity-to-8 (#3162)
  .secrets.baseline
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

fix(ci): add yq installation to OPA policy-validation job
  .github/workflows/infra-ci.yaml
  infra/gitops/Makefile
Due: none

fix(ci): add yq installation to OPA policy-validation job (#3163)
  .github/workflows/infra-ci.yaml
  infra/gitops/Makefile
Due: none

chore: clean up whitespace in multiple files
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

Fix/infra-ci-add-yq-to-policy-validation (#3168)X
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

chore: remove unnecessary blank lines in multiple files
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  mcp-servers.json
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

merge: complete merge with origin/main
  .secrets.baseline
  crates/controller/src/tasks/code/controller.rs
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/healer/src/ci/spawner.rs
  crates/healer/src/play/monitor.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
Due: none

chore: trigger PR status recalculation
  .secrets.baseline
Due: none

chore: clean up whitespace in multiple files
  .github/workflows/binaries-release.yaml
  .secrets.baseline
  assets/.github/workflows/binaries-release.yaml
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/setup-twitter-research-auth.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: none

fix(ci): add yq installation to OPA policy-validation job (#3173)
  .secrets.baseline
  assets/.github/FUNDING.yaml
  assets/.github/SECURITY.md
  assets/.github/actionlint.yaml
  assets/.github/actions/docker-build-push/action.yaml
  assets/.github/actions/rust-build/action.yaml
  assets/.github/actions/rust-lint/action.yaml
  assets/.github/actions/rust-test/action.yaml
  assets/.github/actions/setup-rust-k8s/action.yaml
  assets/.github/actions/setup-rust/action.yaml
  assets/.github/codeql/codeql-config.yaml
  assets/.github/docs/depot-setup.md
  assets/.github/kind-config.yaml
  assets/.github/secret-scanning.yaml
  assets/.github/workflows/agents-build.yaml
  assets/.github/workflows/binaries-release.yaml
  assets/.github/workflows/codeql.yaml
  assets/.github/workflows/controller-ci-depot.yaml
  assets/.github/workflows/controller-ci.yaml
  assets/.github/workflows/healer-ci.yaml
  assets/.github/workflows/infra-ci.yaml
  assets/.github/workflows/infrastructure-build.yaml
  assets/.github/workflows/pm-ci.yaml
  assets/.github/workflows/release-please.yaml
  assets/.github/workflows/research-ci.yaml
  assets/.github/workflows/tools-ci.yaml
  crates/controller/src/tasks/code/controller.rs
  crates/healer/src/ci/spawner.rs
  crates/healer/src/main.rs
  crates/healer/src/play/monitor.rs
  mcp-servers.json
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

