Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

Delete shadcn-llms.txt
  shadcn-llms.txt
Due: none

feat: add dedicated RBAC for heal and move config to gitops
  heal/k8s/deployment.yaml
  heal/k8s/pvc.yaml
  heal/k8s/values.yaml
  infra/gitops/applications/cto/heal-resources.yaml
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/resources/heal/kustomization.yaml
  infra/gitops/resources/heal/pvc.yaml
  infra/gitops/resources/heal/rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add case normalization for heal CodeRun detection in build_job_spec
  controller/src/tasks/code/resources.rs
Due: none

refactor: consolidate heal build into infrastructure-build workflow
  .github/workflows/heal-build.yaml
  .github/workflows/infrastructure-build.yaml
Due: none

fix: clippy lint and add trailing newlines
  controller/src/tasks/code/resources.rs
  infra/charts/controller/agent-templates/heal/claude/agents.md.hbs
  infra/charts/controller/agent-templates/heal/claude/container.sh.hbs
  infra/charts/controller/agent-templates/heal/factory/agents.md.hbs
  infra/charts/controller/agent-templates/heal/factory/container.sh.hbs
  infra/gitops/applications/cto/heal-resources.yaml
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/resources/heal/kustomization.yaml
  infra/gitops/resources/heal/pvc.yaml
  infra/gitops/resources/heal/rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(heal): resolve clippy pedantic warnings
  heal/src/alerts/a1_comment_order.rs
  heal/src/alerts/a2_silent_failure.rs
  heal/src/alerts/a3_stale_progress.rs
  heal/src/alerts/a7_pod_failure.rs
  heal/src/alerts/a8_step_timeout.rs
  heal/src/alerts/types.rs
  heal/src/k8s.rs
  heal/src/main.rs
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/agent.rs
  heal/src/alerts/a1_comment_order.rs
  heal/src/alerts/a2_silent_failure.rs
  heal/src/alerts/a4_approval_loop.rs
  heal/src/alerts/a7_pod_failure.rs
  heal/src/main.rs
Due: none

delete: remove obsolete scripts and add documentation for agent metrics
  docs/CLUSTER_STATE_SNAPSHOT.md
  docs/agent-metrics-reference.md
  docs/coding-guidelines.md
  docs/github-guidelines.md
  docs/unified-doc-proxy-mcp-spec.md
  heal/src/alerts/a1_comment_order.rs
  heal/src/alerts/a4_approval_loop.rs
  heal/src/main.rs
  summarize-agent-metrics.sh
  validate-templates.sh
Due: none

feat: add cto-mcp installation to Dockerfile for Argo Workflows integration
  infra/images/runtime/Dockerfile
Due: none

feat: update Dockerfiles and workflows for cto-mcp integration
  .github/workflows/agents-build.yaml
  .github/workflows/binaries-release.yaml
  infra/images/runtime/Dockerfile
  infra/images/tools/Dockerfile
  infra/images/tools/README.md
Due: none

fix: correct formatting in binaries-release workflow
  .github/workflows/binaries-release.yaml
Due: none

feat: add CTO Platform configuration to values.yaml
  infra/charts/tools/values.yaml
Due: none

fix: correct template names in universal-app NOTES.txt
  infra/charts/universal-app/templates/NOTES.txt
Due: none

feat: add cto-config volume and configuration to values.yaml and deployment.yaml
  infra/charts/tools/templates/configmap-cto.yaml
  infra/charts/tools/templates/deployment.yaml
  infra/charts/tools/values.yaml
Due: none

delete: remove obsolete scripts and add documentation for agent metrics (#1865)
  .github/workflows/agents-build.yaml
  .github/workflows/binaries-release.yaml
  docs/CLUSTER_STATE_SNAPSHOT.md
  docs/agent-metrics-reference.md
  docs/coding-guidelines.md
  docs/github-guidelines.md
  docs/unified-doc-proxy-mcp-spec.md
  heal/src/alerts/a1_comment_order.rs
  heal/src/alerts/a4_approval_loop.rs
  heal/src/main.rs
  infra/charts/tools/templates/configmap-cto.yaml
  infra/charts/tools/templates/deployment.yaml
  infra/charts/tools/values.yaml
  infra/charts/universal-app/templates/NOTES.txt
  infra/images/tools/Dockerfile
  infra/images/tools/README.md
  summarize-agent-metrics.sh
  validate-templates.sh
Due: none

feat: add liveness and readiness probes to values.yaml
  infra/charts/tools/templates/deployment.yaml
  infra/charts/tools/values.yaml
Due: none

feat: add sync-options annotation to PVC templates
  infra/charts/tools/templates/home-mcp-pvc.yaml
  infra/charts/tools/templates/pvc.yaml
Due: none

fix: change heal PVC access mode from RWX to RWO
  infra/gitops/resources/heal/pvc.yaml
Due: no-hardcoded-passwords

fix: change heal PVC access mode from RWX to RWO (#1866)
  infra/gitops/resources/heal/pvc.yaml
Due: no-hardcoded-passwords

fix: use tools-github-secrets for heal GITHUB_TOKEN
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use tools-github-secrets for heal GITHUB_TOKEN (#1867)
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add command, args, and extraContainers support to universal-app
  infra/charts/universal-app/templates/deployment.yaml
Due: none

feat: add command, args, and extraContainers support to universal-app (#1869)
  infra/charts/universal-app/templates/deployment.yaml
Due: none

fix: use exec probes for heal instead of HTTP
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use exec probes for heal instead of HTTP (#1870)
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: nullify httpGet in heal probes to prevent merge conflict
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: nullify httpGet in heal probes to prevent merge conflict (#1871)
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(heal): add FACTORY_API_KEY environment variable
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: make probes optional in universal-app chart
  infra/charts/universal-app/templates/deployment.yaml
  infra/charts/universal-app/values.yaml
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: make probes optional in universal-app chart (#1872)
  infra/charts/universal-app/templates/deployment.yaml
  infra/charts/universal-app/values.yaml
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(heal): add FACTORY_API_KEY environment variable (#1873)
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add missing default values to universal-app chart
  infra/charts/universal-app/values.yaml
Due: none

fix: add missing default values to universal-app chart (#1874)
  infra/charts/universal-app/values.yaml
Due: none

feat(heal): add exclusion list for infrastructure pods
  heal/src/alerts/a7_pod_failure.rs
  heal/src/main.rs
Due: none

refactor(heal): centralize pod exclusion logic in k8s module
  heal/src/alerts/a7_pod_failure.rs
  heal/src/k8s.rs
  heal/src/main.rs
Due: none

delete(heal): remove success completion prompt markdown file
  heal/prompts/a9-success-completion.md
Due: none

feat(heal): add exclusion list for infrastructure pods (#1875)
  heal/src/alerts/a7_pod_failure.rs
  heal/src/k8s.rs
  heal/src/main.rs
Due: none

🔧 Auto-format Rust code
  heal/src/main.rs
Due: none
