Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(atlas): remove problematic has() expression - use data filters only
  FINAL_REMEDIATION_SUMMARY.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

Investigate agent flow transgression (#1355)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  package-lock.json
Due: none

docs(atlas): add final fix documentation for PR #1357
  ATLAS_FINAL_FIX_PR1357.md
Due: none

Fix/rex zero commit handoff regression (#1356)
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/images/factory/Dockerfile
Due: none

docs(atlas): correct ATLAS_COMPLETE_FIX.md to match actual implementation
  ATLAS_COMPLETE_FIX.md
Due: none

docs(atlas): remove outdated FINAL_REMEDIATION_SUMMARY.md
  FINAL_REMEDIATION_SUMMARY.md
Due: none

fix(atlas): remove problematic has() expression - enable Atlas for real (#1357)
  ATLAS_COMPLETE_FIX.md
  ATLAS_FINAL_FIX_PR1357.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): correct CodeRun API version to enable sensor triggers
  infra/charts/controller/values.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): correct CodeRun API version to enable sensor triggers (#1359)
  infra/charts/controller/values.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

docs: add verification and testing instructions
  VERIFY_FIX.md
  test-fresh-workflow.sh
Due: none

fix: enable ConfigMap sync on all branches for faster testing
  .github/workflows/agent-templates-sync.yaml
Due: none

fix: create /root/.factory/bin/rg for Factory CLI hardcoded path
  infra/images/factory/Dockerfile
Due: none

fix(atlas): update CodeRun spec to match current CRD schema
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): update CodeRun spec to match current CRD schema (#1362)
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

chore: remove temporary debugging files
  ATLAS_COMPLETE_FIX.md
  ATLAS_FINAL_FIX_PR1357.md
  VERIFY_FIX.md
  test-fresh-workflow.sh
Due: none

fix: Factory CLI hardcoded ripgrep path at /root/.factory/bin/rg (#1360)
  .github/workflows/agent-templates-sync.yaml
  ATLAS_COMPLETE_FIX.md
  ATLAS_FINAL_FIX_PR1357.md
  infra/images/factory/Dockerfile
Due: none

fix(atlas): skip TaskMaster requirements for taskId 0 (PR Guardian mode)
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

chore(chart): regenerate agent templates ConfigMaps with Atlas TaskMaster skip
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix(atlas): complete CodeRun integration - skip TaskMaster for PR Guardian (#1363)
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat(infra): Add automatic pod cleanup for sensor workflows and intake templates
  infra/charts/controller/templates/project-intake-template.yaml
  infra/gitops/resources/argo-events/sensors/morgan-issue-comment-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-pr-merged-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: no-hardcoded-passwords

feat(atlas): add cleanup script for stuck pods and CodeRuns
  scripts/cleanup-atlas-stuck-pods.sh
Due: none

fix(atlas): complete integration - ConfigMap with taskId 0 skip (#1365)
  scripts/cleanup-atlas-stuck-pods.sh
Due: none

feat: Add automatic pod cleanup for Argo Workflow sensors (#1364)
  infra/charts/controller/templates/project-intake-template.yaml
  infra/gitops/resources/argo-events/sensors/morgan-issue-comment-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-pr-merged-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Add deduplication to prevent pod proliferation
  docs/engineering/ATLAS_POD_PROLIFERATION_FIX.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/cleanup-duplicate-atlas-coderuns.sh
Due: no-hardcoded-passwords

docs(atlas): Document sensor deployment issue and add manual trigger script
  docs/engineering/ATLAS_ADDITIONAL_ISSUES.md
  scripts/create-atlas-coderun-manual.sh
Due: none

feat(atlas): Add detailed merge conflict resolution instructions
  infra/charts/controller/values.yaml
Due: none

feat(atlas): Add @bugbot review trigger after all code changes
  infra/charts/controller/values.yaml
Due: none

fix(yaml): Fix YAML linting errors - trailing spaces and indentation
  infra/charts/controller/values.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Fix Bugbot issues - API version, validation, and race condition
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix: reduce maxRunners to 4 to prevent cluster capacity issues
  infra/gitops/applications/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(atlas): Fix deeper race condition - detect CodeRuns without status
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

feat: increase worker node pod limit to 200
  infra/talos/config/simple/worker.yaml
Due: none

feat: increase maxRunners to 8 after pod limit increase
  infra/gitops/applications/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(atlas): Add deduplication to prevent pod proliferation (#1366)
  docs/engineering/ATLAS_ADDITIONAL_ISSUES.md
  docs/engineering/ATLAS_POD_PROLIFERATION_FIX.md
  infra/charts/controller/values.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  infra/talos/config/simple/worker.yaml
  scripts/cleanup-duplicate-atlas-coderuns.sh
  scripts/create-atlas-coderun-manual.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: allow runner listener to run on control plane
  infra/gitops/applications/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(atlas): Remove fields extraction that filtered all non-PR events
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Upgrade to Claude Sonnet 4.5 (claude-sonnet-4-5-20250929)
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/create-atlas-coderun-manual.sh
Due: no-hardcoded-passwords

feat: Upgrade all agents to Claude Sonnet 4.5 (claude-sonnet-4-5-20250929)
  infra/charts/controller/values.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
  infra/gitops/resources/sensors/bolt-monitor-sensor.yaml
  infra/gitops/resources/sensors/bolt-preview-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

