Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: use relative path in .secrets.baseline filename field
  .secrets.baseline
Due: none

fix: address Cursor Bugbot review comments blocking PR merge
  .pre-commit-config.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
  pr-merge-loop/README.md
  pr-merge-loop/lessons-learned.md
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
  pr-merge-loop/run-merger.sh
  pr-merge-loop/run-monitor.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: add CI concurrency controls, stale queue cleanup, and increase runners
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/stale-queue-cleanup.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/web-ci.yaml
  .secrets.baseline
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add Twingate Operator for Latitude cluster zero-trust access (#3897)
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/stale-queue-cleanup.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/web-ci.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/dual-ralph-system.md
  docs/lifecycle-test-alerthub.md
  infra/gitops/applications/networking/twingate.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
  infra/gitops/applications/workloads/platform-runners.yaml
  infra/gitops/manifests/external-secrets/arc-runners-secrets.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/twingate/README.md
  infra/gitops/manifests/twingate/connector.yaml
  infra/gitops/manifests/twingate/kustomization.yaml
  infra/gitops/manifests/twingate/network-resource.yaml
  infra/gitops/manifests/twingate/remote-network.yaml
  lifecycle-test/observe/events.jsonl
  lifecycle-test/observe/state.json
  pr-merge-loop/README.md
  pr-merge-loop/lessons-learned.md
  pr-merge-loop/merger-prompt.md
  pr-merge-loop/monitor-prompt.md
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
  pr-merge-loop/run-merger.sh
  pr-merge-loop/run-monitor.sh
  pr-merge-loop/tmux-session.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): use ubuntu-latest for path filter jobs (ISSUE-010)
  .github/workflows/pm-ci.yaml
  .github/workflows/research-ci.yaml
Due: none

chore(monitor): update tracking for check #11 and document ISSUE-010 follow-up PR
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
Due: none

fix(ci): auto-cancel workflow runs for merged/deleted branches (ISSUE-011)
  .github/workflows/stale-queue-cleanup.yaml
  pr-merge-loop/lessons-learned.md
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
Due: none

fix(ci): address Bugbot issues in stale-queue-cleanup (ISSUE-012, ISSUE-012b, ISSUE-013)
  .github/workflows/stale-queue-cleanup.yaml
  pr-merge-loop/lessons-learned.md
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
Due: none

fix(ci): use ubuntu-latest for path filter jobs (ISSUE-010) (#3904)
  .github/workflows/pm-ci.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/stale-queue-cleanup.yaml
  pr-merge-loop/lessons-learned.md
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
Due: none

chore(monitor): update tracking for check #15 - system healthy after 17 fixes
  pr-merge-loop/progress.txt
  pr-merge-loop/ralph-coordination.json
Due: none

Add rust lint 7e8b6 (#3903)
  .pre-commit-config.yaml
  Cargo.lock
  pr-merge-loop/PR-3903-DEBUG.md
  pr-merge-loop/remediation-prompt.md
  pr-merge-loop/run-remediation.sh
Due: none

feat(intake): Generate documentation for subtasks
  Cargo.lock
  crates/intake/src/commands/update.rs
  crates/intake/src/domain/prompts/templates.rs
Due: none

fix(tools): consume stderr and increase timeout in connection pool
  crates/tools/src/server/http_server.rs
Due: none

fix(tools): consume stderr and increase timeout in connection pool (#3911)
  crates/tools/src/server/http_server.rs
Due: none

fix: track removed subtasks in delta changed files
  crates/intake/src/commands/update.rs
Due: none

fix: ensure subtask IDs in documentation match directory names
  crates/intake/src/domain/prompts/templates.rs
Due: none

fix: apply task- prefix to removed tasks in compute_changed_files
  crates/intake/src/commands/update.rs
Due: none

feat(intake): Generate documentation for subtasks (#3910)
  Cargo.lock
  crates/intake/src/commands/update.rs
  crates/intake/src/domain/prompts/templates.rs
Due: none

chore: update claude image tag to dev for v0.2.23 intake fix
  infra/charts/cto/values.yaml
Due: none

chore: update claude image tag to dev for v0.2.23 intake fix (#3912)
  infra/charts/cto/values.yaml
Due: none

fix(tools): inject FIRECRAWL_API_KEY env var into tools deployment
  infra/charts/cto/templates/tools/deployment.yaml
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
Due: no-hardcoded-passwords

chore: update play workflow template to use claude:dev
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
Due: no-hardcoded-passwords

fix(tools): inject FIRECRAWL_API_KEY env var into tools deployment (#3913)
  infra/charts/cto/templates/tools/deployment.yaml
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
Due: no-hardcoded-passwords

feat(tools): add Tavily MCP server for AI-powered web search
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/tools-tavily-secrets.yaml
Due: no-hardcoded-passwords

fix: add missing labels and ArgoCD tracking annotation to tools-tavily-secrets
  infra/gitops/manifests/external-secrets/tools-tavily-secrets.yaml
Due: no-hardcoded-passwords

feat(tools): add kubernetes-mcp server to MCP configuration
  infra/charts/cto/values.yaml
Due: none

feat: add Frankfurt cluster kubeconfig to secrets pipeline
  .secrets.baseline
  docs/secrets-management.md
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/external-secrets/presync-validation.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: no-hardcoded-passwords

feat(tools): add kubernetes-mcp server from containers/kubernetes-mcp-server
  infra/charts/cto/values.yaml
Due: none

feat: add Frankfurt cluster kubeconfig to secrets pipeline (#3919)
  .secrets.baseline
  docs/secrets-management.md
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/external-secrets/presync-validation.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: no-hardcoded-passwords

fix(controller): add imagePullSecrets to CodeRun pod specs
  crates/controller/src/tasks/code/resources.rs
Due: none

fix(controller): add imagePullSecrets to CodeRun pod specs (#3920)
  crates/controller/src/tasks/code/resources.rs
Due: none

fix(tools): add ${VAR} env substitution and readiness probes
  crates/tools/src/config.rs
  crates/tools/src/server/http_server.rs
  infra/charts/cto/templates/tools/deployment.yaml
Due: none
