Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

chore: update CI workflows to use ubuntu-latest runner
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

Fix/runner-tools-path (#2795)
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

refactor: remove HashiCorp Vault integration
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
  infra/charts/tools/values.yaml
  infra/charts/vault/Chart.yaml
  infra/charts/vault/values.yaml
  infra/gitops/applications/vault-config.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/vault/README.md
  infra/vault/secrets/api-keys.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/github-apps.yaml
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/linear.yaml
  infra/vault/secrets/minio.yaml
  infra/vault/secrets/notifications.yaml
  infra/vault/secrets/providers.yaml
  infra/vault/secrets/research.yaml
  infra/vault/secrets/tools.yaml
  infra/vault/vault-auth.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: update secret store integration in values.yaml
  infra/charts/tools/values.yaml
Due: none

chore: update comments for secret management in research.yaml and platform-project.yaml
  infra/charts/pm/values.yaml
  infra/gitops/applications/cto/pm.yaml
  infra/gitops/applications/cto/research.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: update secret management references in values.yaml
  infra/charts/controller/values.yaml
Due: none

chore: rename Vault references to OpenBao and version bump
  Cargo.lock
  crates/controller/src/tasks/security/tokens.rs
  crates/healer/src/k8s.rs
  crates/healer/src/main.rs
Due: none

chore: rename Vault references to OpenBao and version bump (#2796)
  Cargo.lock
  crates/controller/src/tasks/security/tokens.rs
  crates/healer/src/k8s.rs
  crates/healer/src/main.rs
Due: none

feat: add External Secrets Operator for OpenBao secret sync
  infra/charts/openbao/scripts/create-eso-token.sh
  infra/gitops/applications/external-secrets-config.yaml
  infra/gitops/applications/external-secrets.yaml
  infra/gitops/resources/external-secrets/README.md
  infra/gitops/resources/external-secrets/cluster-secret-store.yaml
  infra/gitops/resources/external-secrets/cto-secrets.yaml
  infra/gitops/resources/external-secrets/infra-secrets.yaml
  infra/gitops/resources/external-secrets/minio-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add External Secrets Operator for OpenBao secret sync (#2797)
  infra/charts/openbao/scripts/create-eso-token.sh
  infra/gitops/applications/external-secrets-config.yaml
  infra/gitops/applications/external-secrets.yaml
  infra/gitops/resources/external-secrets/README.md
  infra/gitops/resources/external-secrets/cluster-secret-store.yaml
  infra/gitops/resources/external-secrets/cto-secrets.yaml
  infra/gitops/resources/external-secrets/infra-secrets.yaml
  infra/gitops/resources/external-secrets/minio-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update metal CLI vault references to openbao
  crates/metal/src/bin/metal.rs
  crates/metal/src/stack.rs
Due: none

Update README.md to include details about argocd-secrets.yaml and ArgoCD repository credentials management
  infra/gitops/resources/external-secrets/README.md
  infra/gitops/resources/external-secrets/argocd-secrets.yaml
Due: no-hardcoded-passwords

2025 12 08 2cqn ff8ea (#2798)
  crates/metal/src/bin/metal.rs
  crates/metal/src/stack.rs
  infra/gitops/resources/external-secrets/README.md
  infra/gitops/resources/external-secrets/argocd-secrets.yaml
Due: no-hardcoded-passwords

fix: add ignoreDifferences for ESO server-side defaults
  infra/gitops/applications/external-secrets-config.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add ignoreDifferences for ESO server-side defaults (#2800)
  infra/gitops/applications/external-secrets-config.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add tweakcn to CTO chart, remove universal-app
  infra/charts/cto/templates/tweakcn/deployment.yaml
  infra/charts/cto/templates/tweakcn/service.yaml
  infra/charts/cto/values.yaml
  infra/charts/universal-app/.helmignore
  infra/charts/universal-app/Chart.yaml
  infra/charts/universal-app/templates/NOTES.txt
  infra/charts/universal-app/templates/_helpers.tpl
  infra/charts/universal-app/templates/configmap.yaml
  infra/charts/universal-app/templates/deployment.yaml
  infra/charts/universal-app/templates/hpa.yaml
  infra/charts/universal-app/templates/ingress.yaml
  infra/charts/universal-app/templates/networkpolicy.yaml
  infra/charts/universal-app/templates/pvc.yaml
  infra/charts/universal-app/templates/service.yaml
  infra/charts/universal-app/templates/serviceaccount.yaml
  infra/charts/universal-app/values-task-example.yaml
  infra/charts/universal-app/values.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/applications/workloads/tweakcn.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(gitops): consolidate RBAC and remove unnecessary Kustomize files
  infra/gitops/CLEANUP-STRATEGY.md
  infra/gitops/applications/platform/rbac-configs.yaml
  infra/gitops/manifests/cloudflare-tunnel/kustomization.yaml
  infra/gitops/manifests/external-dns/README.md
  infra/gitops/manifests/kilo/kustomization.yaml
  infra/gitops/manifests/rbac/arc-runner-cto-access.yaml
  infra/gitops/manifests/rbac/argo-workflow-permissions.yaml
  infra/gitops/manifests/rbac/github-runner-rbac.yaml
  infra/gitops/manifests/rbac/github-runner-secret-access.yaml
  infra/gitops/manifests/rbac/github-webhooks-networking.yaml
  infra/gitops/manifests/rbac/runner-argocd-permissions.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(cto-chart): correct webhook conditional from githubWebhooks to webhooks
  infra/charts/cto/templates/webhooks/networking/service.yaml
Due: none

fix(cto-chart): add controller RBAC and fix healer command
  .shellcheckrc
  crates/cli/src/adapter.rs
  crates/cli/src/adapters/claude.rs
  crates/cli/src/adapters/cursor.rs
  crates/cli/src/adapters/factory.rs
  crates/cli/src/adapters/gemini.rs
  crates/cli/src/adapters/mod.rs
  crates/cli/src/adapters/opencode.rs
  crates/cli/src/base_adapter.rs
  crates/cloud/src/lib.rs
  crates/cloud/src/providers/aws/mod.rs
  crates/cloud/src/providers/aws/models.rs
  crates/cloud/src/providers/gcp/mod.rs
  crates/cloud/src/providers/gcp/models.rs
  crates/cloud/src/providers/mod.rs
  crates/cloud/src/providers/traits.rs
  crates/metal/src/providers/onprem/mod.rs
  crates/metal/src/providers/onprem/models.rs
  crates/metal/src/providers/vultr/models.rs
  crates/tasks/tasks-mcp-config.json
  crates/tasks/tests/test-prd.md
  infra/charts/cto/templates/_helpers.tpl
  infra/charts/cto/templates/cloudflare/cluster-tunnel.yaml
  infra/charts/cto/templates/cloudflare/pm-binding.yaml
  infra/charts/cto/templates/cloudflare/webhook-binding.yaml
  infra/charts/cto/templates/controller/rbac.yaml
  infra/charts/cto/templates/healer/deployment.yaml
  infra/gitops/manifests/rbac/arc-runner-cto-access.yaml
  infra/gitops/manifests/rbac/argo-workflow-permissions.yaml
  infra/gitops/manifests/rbac/github-runner-rbac.yaml
  infra/gitops/manifests/rbac/github-runner-secret-access.yaml
  infra/gitops/manifests/rbac/github-webhooks-networking.yaml
  infra/gitops/manifests/rbac/runner-argocd-permissions.yaml
  tests/kind/healer-values.yaml
  tests/kind/start-bridges.sh
  tests/kind/uninstall.sh
Due: no-hardcoded-passwords
