Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: address bug-bot comments for Grafana stack migration
  crates/installer/src/installer/components.rs
  infra/gitops/applications/prometheus.yaml
  infra/telemetry/values/prometheus.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(telemetry): migrate from Victoria Metrics/Logs to Grafana stack (#2571)
  Cargo.lock
  crates/installer/QUICKSTART.md
  crates/installer/README.md
  crates/installer/src/commands/install.rs
  crates/installer/src/installer/components.rs
  crates/installer/src/installer/mod.rs
  docs/engineering/debugging-tools-reference.md
  docs/telemetry/LOG_QUERYING_GUIDE.md
  infra/charts/tools/values.yaml
  infra/gitops/applications/alertmanager.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/loki.yaml
  infra/gitops/applications/prometheus.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/monitoring/grafana/victoria-logs-datasource.yaml
  infra/scripts/test-telemetry-pipeline-v2.sh
  infra/scripts/test-telemetry-pipeline.sh
  infra/scripts/validate-telemetry-metrics.sh
  infra/telemetry/alerts/alerting-rules-configmap.yaml
  infra/telemetry/values/alertmanager.yaml
  infra/telemetry/values/grafana.yaml
  infra/telemetry/values/loki.yaml
  infra/telemetry/values/otel-collector.yaml
  infra/telemetry/values/prometheus.yaml
  infra/telemetry/values/victoria-logs.yaml
  infra/telemetry/values/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

🔧 Auto-format Rust code
  crates/installer/src/commands/install.rs
Due: none

fix(telemetry): fix alertmanager security context, loki caching, and otel-collector exporters
  infra/gitops/applications/alertmanager.yaml
  infra/gitops/applications/loki.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/telemetry/values/alertmanager.yaml
  infra/telemetry/values/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(telemetry): fix alertmanager security context, loki caching, and otel-collector exporters (#2588)
  infra/gitops/applications/alertmanager.yaml
  infra/gitops/applications/loki.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/telemetry/values/alertmanager.yaml
  infra/telemetry/values/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(grafana): use correct Prometheus service port (80)
  infra/gitops/applications/grafana.yaml
  infra/telemetry/values/grafana.yaml
  infra/telemetry/values/prometheus.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(heal): address Loki client edge cases from code review
  crates/heal/src/loki.rs
Due: none

chore: update dependencies to version 0.12.29 in Cargo.lock
  Cargo.lock
Due: none

fix(grafana): use correct Prometheus service port (80) (#2595)
  infra/gitops/applications/grafana.yaml
  infra/telemetry/values/grafana.yaml
  infra/telemetry/values/prometheus.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(grafana): remove orphaned Victoria datasources and fix Prometheus port
  infra/charts/tools/values.yaml
  infra/gitops/applications/grafana.yaml
  infra/telemetry/values/grafana.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix(grafana): remove orphaned Victoria datasources and fix Prometheus port (#2608)
  infra/charts/tools/values.yaml
  infra/gitops/applications/grafana.yaml
  infra/telemetry/values/grafana.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(heal): Docker sidecar detection and graceful shutdown
  templates/heal/claude/container.sh.hbs
  templates/heal/factory/container.sh.hbs
Due: none

fix(heal): take most recent log entries to match kubectl --tail behavior
  crates/heal/src/main.rs
Due: none

fix(atlas): increase TTL and add pod deletion delay for atlas-guardian workflows
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(loki): increase ingestion rate limits for high-volume logging
  infra/gitops/applications/loki.yaml
  infra/telemetry/values/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(loki): increase ingestion rate limits for high-volume logging (#2645)
  infra/gitops/applications/loki.yaml
  infra/telemetry/values/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: add comprehensive MCP tools documentation for observability stack
  AGENTS.md
  templates/heal/claude/agents.md.hbs
Due: none

docs: add comprehensive MCP tools documentation for observability stack (#2655)
  AGENTS.md
  templates/heal/claude/agents.md.hbs
Due: none

fix(alertmanager): add ignoreDifferences for StatefulSet API defaults
  infra/gitops/applications/alertmanager.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(heal): enhance LokiClient documentation with panic and error handling notes
  crates/heal/src/loki.rs
  crates/heal/src/main.rs
  infra/gitops/applications/alertmanager.yaml
  infra/gitops/applications/loki.yaml
  infra/gitops/applications/prometheus.yaml
  infra/telemetry/values/alertmanager.yaml
  infra/telemetry/values/loki.yaml
  infra/telemetry/values/prometheus.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(heal): improve A2 alert handling for specific pod conditions
  docs/cto-platform-research/01-competitive-landscape.md
  docs/cto-platform-research/02-bare-metal-providers.md
  docs/cto-platform-research/03-cloud-repatriation-marketing.md
  docs/cto-platform-research/04-startup-positioning.md
  docs/cto-platform-research/05-pricing-business-model.md
  docs/cto-platform-research/06-product-overview.md
  docs/cto-platform-research/07-competitive-differentiation.md
  docs/cto-platform-research/README.md
Due: none

style: apply rustfmt to heal and notify crates
  crates/heal/src/loki.rs
  crates/heal/src/main.rs
  crates/notify/src/channels/mod.rs
  crates/notify/src/error.rs
Due: none

Feat/heal-stream-output (#2570)
  crates/heal/src/loki.rs
  crates/heal/src/main.rs
  docs/cto-platform-research/01-competitive-landscape.md
  docs/cto-platform-research/02-bare-metal-providers.md
  docs/cto-platform-research/03-cloud-repatriation-marketing.md
  docs/cto-platform-research/04-startup-positioning.md
  docs/cto-platform-research/05-pricing-business-model.md
  docs/cto-platform-research/06-product-overview.md
  docs/cto-platform-research/07-competitive-differentiation.md
  docs/cto-platform-research/README.md
  infra/charts/controller/templates/agent-templates-factory.yaml
  templates/heal/claude/container.sh.hbs
  templates/heal/factory/container.sh.hbs
Due: none

fix(alertmanager): add ignoreDifferences for StatefulSet API defaults (#2657)
  infra/gitops/applications/alertmanager.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): allow SARIF upload to fail without GHAS
  .github/workflows/codeql.yaml
  .github/workflows/infra-ci.yaml
Due: none

chore: remove atlas-conflict-monitor-sensor
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix(ci): allow SARIF upload to fail without GHAS (#2662)
  .github/workflows/codeql.yaml
  .github/workflows/infra-ci.yaml
Due: none

fix(ci): allow SARIF upload failures when Advanced Security is disabled
  .github/workflows/codeql.yaml
  .github/workflows/infra-ci.yaml
Due: none

feat(utils): add checks module for PR CI status management
  crates/utils/src/checks.rs
  crates/utils/src/lib.rs
  crates/utils/src/main.rs
Due: none

chore: also remove atlas-pr-monitor-sensor
  crates/utils/src/main.rs
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

feat(remediate): add CI check verification to remediation workflow
  templates/remediate/claude/agents.md.hbs
  templates/remediate/claude/container.sh.hbs
  templates/remediate/factory/agents.md.hbs
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-review.yaml
Due: none

chore: remove atlas-conflict-monitor-sensor (#2663)
  crates/utils/src/checks.rs
  crates/utils/src/lib.rs
  crates/utils/src/main.rs
  infra/charts/controller/templates/agent-templates-review.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
  templates/remediate/claude/agents.md.hbs
  templates/remediate/claude/container.sh.hbs
  templates/remediate/factory/agents.md.hbs
Due: no-hardcoded-passwords

🔧 Auto-format Rust code
  crates/utils/src/main.rs
Due: none

chore: restore local changes after merge
  crates/metal/src/bin/metal.rs
  crates/metal/src/lib.rs
  crates/metal/src/state.rs
  crates/metal/src/talos/bootstrap.rs
  docs/bare-metal/07-competitive-differentiation.md
  docs/bare-metal/bare-metal-validation.plan.md
  docs/bare-metal/compass_artifact_wf-8948daf9-b320-4ddd-85fe-614b224de25d_text_markdown.md
  docs/bare-metal/cto-mirror-deployment-plan.md
  docs/bare-metal/mayastor-nvme-storage.md
  docs/bare-metal/provider-research-2024.md
  docs/bare-metal/provider-research-prompt.md
  docs/latitude-bug-report.md
  scripts/log-snapshot.sh
Due: none
