Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(play): embed dependency graph builder script inline
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
Due: no-hardcoded-passwords

fix(play): use base64 encoding for inline Python script
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
Due: no-hardcoded-passwords

fix(intake): generate per-task docs in CLI mode
  templates/agents/morgan/intake.sh.hbs
Due: none

fix(intake): replace inline heredocs with tasks CLI for doc generation
  infra/charts/cto/templates/controller/agent-templates.yaml
  templates/_shared/partials/expo-env.sh.hbs
Due: none

fix(deploy): use develop tag for controller image and fix Handlebars escaping
  infra/charts/cto/values.yaml
  templates/_shared/partials/expo-env.sh.hbs
Due: none

fix: correct CLI invoke template path lookup
  crates/controller/src/tasks/code/templates.rs
Due: none

fix: improve error logging and formatting in CodeResourceManager and bootstrap interface detection
  alert-hub/.tasks/state.json
  alert-hub/.tasks/tasks/tasks.json
  alert-hub/architecture.md
  alert-hub/prd.md
  crates/controller/src/tasks/code/resources.rs
  crates/metal/src/talos/bootstrap.rs
Due: none

fix: correct CLI invoke template path lookup (#3360)
  alert-hub/.tasks/state.json
  alert-hub/.tasks/tasks/tasks.json
  alert-hub/architecture.md
  alert-hub/prd.md
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/code/templates.rs
  crates/metal/src/talos/bootstrap.rs
Due: none

ci(research): add auto-approve workflow for research PRs
  .github/workflows/research-auto-approve.yaml
Due: none

feat(networking): add Kilo WireGuard VPN and disable HeadScale
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/networking/README.md
  infra/gitops/applications/networking/headscale-namespace.yaml
  infra/gitops/applications/networking/headscale.yaml
  infra/gitops/applications/networking/kilo.yaml
  infra/gitops/applications/networking/tailscale-subnet-router.yaml
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/kilo/daemonset.yaml
  infra/gitops/manifests/kilo/kustomization.yaml
  infra/gitops/manifests/kilo/namespace.yaml
  infra/gitops/manifests/kilo/peer.yaml
  infra/gitops/manifests/kilo/rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(networking): add Kilo WireGuard VPN and disable HeadScale (#3363)
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/networking/README.md
  infra/gitops/applications/networking/headscale-namespace.yaml
  infra/gitops/applications/networking/headscale.yaml
  infra/gitops/applications/networking/kilo.yaml
  infra/gitops/applications/networking/tailscale-subnet-router.yaml
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/kilo/daemonset.yaml
  infra/gitops/manifests/kilo/kustomization.yaml
  infra/gitops/manifests/kilo/namespace.yaml
  infra/gitops/manifests/kilo/peer.yaml
  infra/gitops/manifests/kilo/rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(kilo): add privileged PodSecurity labels to namespace
  infra/gitops/manifests/kilo/namespace.yaml
Due: no-hardcoded-passwords

fix(kilo): use correct Kilo configuration for Talos + Cilium
  infra/gitops/manifests/kilo/daemonset.yaml
Due: no-hardcoded-passwords

fix(kilo): add CRD access permission to RBAC
  infra/gitops/manifests/kilo/rbac.yaml
Due: no-hardcoded-passwords

feat(intake): update default mode to CLI and enhance intake configuration
  crates/tasks/src/domain/cto_config.rs
  cto-config.json
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix(git-setup): enhance repository fetching and cleanup process
  templates/_shared/partials/git-setup.sh.hbs
Due: none

fix: intake label creation and git stale state handling (#3383)
  crates/tasks/src/domain/cto_config.rs
  cto-config.json
  infra/charts/cto/templates/controller/agent-templates.yaml
  templates/_shared/partials/git-setup.sh.hbs
Due: none

fix(argocd): add GHCR credentials ExternalSecret for Image Updater
  infra/gitops/manifests/external-secrets/argocd-secrets.yaml
Due: no-hardcoded-passwords

fix(argocd): add GHCR credentials ExternalSecret for Image Updater (#3385)
  infra/gitops/manifests/external-secrets/argocd-secrets.yaml
Due: no-hardcoded-passwords

fix: correct Claude Opus model ID from 20250929 to 20251101
  AGENTS.md
  crates/controller/src/cli/adapters/code.rs
  crates/healer/src/ci/types.rs
  crates/tasks/src/domain/cto_config.rs
  crates/tasks/src/domain/platform_config.rs
  cto-config.template.json
  infra/charts/cto/values.yaml
  platform-config.json
Due: none

fix(healer): use develop tag instead of latest for image
  infra/charts/cto/values.yaml
Due: none

feat(automation): add intake PR merge handler to trigger play workflow
  infra/gitops/manifests/argo-workflows/sensors/kustomization.yaml
  infra/gitops/manifests/argo-workflows/sensors/play-workflow-pr-merged-sensor.yaml
Due: no-hardcoded-passwords

fix(sensor): add template.name to fix argo-events validation
  infra/gitops/manifests/argo-workflows/sensors/play-workflow-pr-merged-sensor.yaml
Due: no-hardcoded-passwords

feat(intake): improve task prompt quality with richer context
  crates/tasks/src/domain/docs.rs
  templates/agents/morgan/intake.md.hbs
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

