Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: use linear-secrets for PM deployment
  infra/gitops/applications/cto/pm.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use linear-secrets for PM deployment (#2778)
  infra/gitops/applications/cto/pm.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update ClickHouse operator configuration and RBAC settings
  infra/charts/database-operators/test-instances/clickhouse-cluster.yaml
  infra/charts/database-operators/test-instances/kafka-cluster.yaml
  infra/charts/database-operators/test-instances/opensearch-cluster.yaml
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/opensearch-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add OpenBao ArgoCD application for secrets management (#2776)
  infra/images/dexter/Dockerfile
Due: none

fix: use jqPathExpressions for ClickHouse operator ignoreDifferences
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use jqPathExpressions for ClickHouse operator ignoreDifferences (#2779)
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update clickhouse-operator.yaml to ignore divisor fields in resourceFieldRef for Kubernetes compatibility
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: gracefully exit stage-resume workflow when PR params missing
  infra/gitops/resources/github-webhooks/stage-aware-pr-created.yaml
Due: no-hardcoded-passwords

fix: update RBAC settings and improve ClickHouse operator deployment
  infra/vault/secrets/linear.yaml
Due: none

fix: enhance ClickHouse operator deployment and RBAC settings
  infra/gitops/resources/github-webhooks/stage-aware-pr-created.yaml
Due: no-hardcoded-passwords

Fix/operator sync issues (#2780)
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: gracefully exit stage-resume workflow when PR params missing (#2781)
  infra/vault/secrets/linear.yaml
Due: none

fix: update service name and target in Cloudflare tunnel configuration
  infra/gitops/resources/cloudflare-tunnel/pm-binding.yaml
Due: no-hardcoded-passwords

Fix/stage resume graceful exit (#2782)
  infra/gitops/resources/cloudflare-tunnel/pm-binding.yaml
Due: no-hardcoded-passwords

fix: resolve argo-events sensor syntax errors blocking github-webhooks
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

fix: resolve argo-events sensor syntax errors blocking github-webhooks (#2785)
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

fix: add 'v' prefix to Docker image semver tags for ArgoCD Image Updater
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

fix: enable proper CodeQL SARIF upload now that GHAS is enabled
  .github/workflows/codeql.yaml
Due: none

Cleanup ci b9924 (#2788)
  .github/workflows/agent-templates-check.yaml
  .github/workflows/agent-templates-update.yaml
  .github/workflows/argocd-sync.yaml
  .github/workflows/codeql.yaml
  .github/workflows/markdown-lint.yaml
  .github/workflows/update-helm-templates.yaml
  test-prd.txt
Due: none

Cleanup-ci-b9924 (#2791)
  .github/actions/docker-build-push/action.yaml
  .github/actions/rust-build/action.yaml
  .github/actions/rust-lint/action.yaml
  .github/actions/rust-test/action.yaml
  .github/actions/setup-rust-k8s/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/agent-templates-check.yaml
  .github/workflows/agent-templates-update.yaml
  .github/workflows/argocd-sync.yaml
  .github/workflows/cli-tests.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/markdown-lint.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/update-helm-templates.yaml
  .mcp.json
  CHANGELOG.md
  Makefile
  ROADMAP.md
  package-lock.json
  test-prd.txt
Due: none

chore: update CI workflows and Actionlint configuration
  .github/actionlint.yaml
  .github/workflows/binaries-release.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/release-please.yaml
  .github/workflows/tools-ci.yaml
  crates/healer/docs/README.md
  crates/healer/docs/ci-remediation-design.md
  crates/healer/docs/current-functionality.md
  crates/healer/docs/desired-functionality.md
Due: none

chore: add shellcheck config and update actionlint docs
  .github/actionlint.yaml
  .shellcheckrc
Due: none

chore: enhance CI workflows with Helm setup and update Actionlint configuration
  .github/actionlint.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

chore: update clippy configuration in research CI workflow
  .github/workflows/research-ci.yaml
Due: none

chore: migrate all CI jobs to k8s-runner
  .github/workflows/binaries-release.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/release-please.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

Cleanup-ci-b9924 (#2792)
  .github/actionlint.yaml
  .github/workflows/binaries-release.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/release-please.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/tools-ci.yaml
  .shellcheckrc
  crates/healer/docs/README.md
  crates/healer/docs/ci-remediation-design.md
  crates/healer/docs/current-functionality.md
  crates/healer/docs/desired-functionality.md
Due: none

Cleanup (#2793)
  .github/actionlint.yaml
  .github/actions/docker-build-push/action.yaml
  .github/actions/rust-build/action.yaml
  .github/actions/rust-lint/action.yaml
  .github/actions/rust-test/action.yaml
  .github/actions/setup-rust-k8s/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/binaries-release.yaml
  .github/workflows/cli-tests.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/release-please.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/tools-ci.yaml
  .mcp.json
  .shellcheckrc
  CHANGELOG.md
  Makefile
  ROADMAP.md
  crates/healer/docs/README.md
  crates/healer/docs/ci-remediation-design.md
  crates/healer/docs/current-functionality.md
  crates/healer/docs/desired-functionality.md
  package-lock.json
Due: none

fix: improve k8s-runner toolchain reliability
  .github/actions/setup-rust-k8s/action.yaml
  .github/workflows/controller-ci.yaml
  infra/runners/platform-org-runners.yaml
Due: none

fix: improve k8s-runner toolchain reliability (#2794)
  .github/actions/setup-rust-k8s/action.yaml
  .github/workflows/controller-ci.yaml
  infra/runners/platform-org-runners.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

