Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

docs(research): add 3 new research entries
  docs/research/1997341226111320109.md
  docs/research/1997405403987222642.md
  docs/research/1997501354168729874.md
Due: none

docs(research): add 2 new research entries
  docs/research/1997396961016897680.md
  docs/research/1997579188128391455.md
Due: none

docs(research): add 2 new research entries
  docs/research/1997357794027336007.md
  docs/research/1997418851869274330.md
Due: none

docs(research): add 1 new research entries
  docs/research/1997643423059259826.md
Due: none

feat: migrate from Redis to Valkey for license compliance
  infra/gitops/applications/database-instances.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/resources/test-databases/kustomization.yaml
  infra/gitops/resources/test-databases/valkey-standalone.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor: update Gemini model references in CLI provider and tests
  crates/tasks/Cargo.toml
  crates/tasks/src/ai/cli_provider.rs
  crates/tasks/src/ai/mod.rs
  crates/tasks/src/bin/cli_comparison_test.rs
Due: none

refactor: update Gemini model references in CLI provider and tests (#2751)
  crates/tasks/Cargo.toml
  crates/tasks/src/ai/cli_provider.rs
  crates/tasks/src/ai/mod.rs
  crates/tasks/src/bin/cli_comparison_test.rs
Due: none

🔧 Auto-format Rust code
  crates/tasks/src/ai/cli_provider.rs
Due: none

chore: update Cargo.lock and enhance AI provider configuration
  Cargo.lock
  crates/tasks/src/ai/provider.rs
  infra/charts/controller/templates/project-intake-template.yaml
  infra/charts/database-operators/README.md
  infra/charts/database-operators/clickhouse/Chart.yaml
  infra/charts/database-operators/clickhouse/values-kind.yaml
  infra/charts/database-operators/install-operators.sh
  infra/charts/database-operators/opensearch/Chart.yaml
  infra/charts/database-operators/opensearch/values-kind.yaml
  infra/charts/database-operators/strimzi/Chart.yaml
  infra/charts/database-operators/strimzi/values-kind.yaml
  infra/charts/database-operators/test-instances/clickhouse-cluster.yaml
  infra/charts/database-operators/test-instances/kafka-cluster.yaml
  infra/charts/database-operators/test-instances/opensearch-cluster.yaml
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/opensearch-operator.yaml
  infra/gitops/applications/strimzi-kafka-operator.yaml
  tests/cli-comparison/REPORT.md
  tests/cli-comparison/claude/tasks.json
  tests/cli-comparison/claude/tasks.md
  tests/cli-comparison/codex/tasks.json
  tests/cli-comparison/codex/tasks.md
  tests/cli-comparison/cursor/tasks.json
  tests/cli-comparison/cursor/tasks.md
  tests/cli-comparison/factory/tasks.json
  tests/cli-comparison/factory/tasks.md
  tests/cli-comparison/opencode/tasks.json
  tests/cli-comparison/opencode/tasks.md
  tests/cli-comparison/summary.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

🔧 Auto-format Rust code
  crates/tasks/src/ai/provider.rs
Due: none

feat: enhance model normalization and CLI token configuration
  .docs-archive/docs/platform-packaging/distribution-strategy.md
  crates/tasks/src/ai/anthropic.rs
  crates/tasks/src/ai/cli_provider.rs
  crates/tasks/src/ai/comparison.rs
  crates/tasks/src/bin/compare_providers.rs
  docs/tasks-cli-integration.md
  tests/cli-comparison/REPORT.md
  tests/cli-comparison/gemini/tasks.json
  tests/cli-comparison/gemini/tasks.md
  tests/cli-comparison/summary.json
Due: none

docs(research): add 1 new research entries (#2750)
  docs/research/1997643423059259826.md
Due: none

🔧 Auto-format Rust code
  crates/cli/src/adapter.rs
  crates/cli/src/adapters/claude.rs
  crates/cli/src/adapters/cursor.rs
  crates/cli/src/adapters/factory.rs
  crates/cli/src/adapters/gemini.rs
  crates/cli/src/adapters/mod.rs
  crates/cli/src/adapters/opencode.rs
  crates/cli/src/base_adapter.rs
  crates/cloud/src/lib.rs
  crates/cloud/src/providers/aws/mod.rs
  crates/cloud/src/providers/aws/models.rs
  crates/cloud/src/providers/gcp/mod.rs
  crates/cloud/src/providers/gcp/models.rs
  crates/cloud/src/providers/mod.rs
  crates/cloud/src/providers/traits.rs
Due: none

docs(research): add 2 new research entries (#2749)
  docs/research/1997357794027336007.md
  docs/research/1997418851869274330.md
Due: none

docs(research): add 2 new research entries (#2748)
  docs/research/1997396961016897680.md
  docs/research/1997579188128391455.md
Due: none

docs(research): add 3 new research entries (#2747)
  docs/research/1997341226111320109.md
  docs/research/1997405403987222642.md
  docs/research/1997501354168729874.md
Due: none

feat(gitops): add ArgoCD application for PM service and update CloudFlare tunnel
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/cto/pm.yaml
  infra/gitops/resources/cloudflare-tunnel/kustomization.yaml
  infra/gitops/resources/cloudflare-tunnel/linear-binding.yaml
  infra/gitops/resources/cloudflare-tunnel/pm-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(gitops): add ArgoCD application for PM service and update CloudFlare tunnel (#2752)
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/cto/pm.yaml
  infra/gitops/resources/cloudflare-tunnel/kustomization.yaml
  infra/gitops/resources/cloudflare-tunnel/linear-binding.yaml
  infra/gitops/resources/cloudflare-tunnel/pm-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): update CloudFlare tunnel path for PM service webhook handling
  infra/gitops/resources/cloudflare-tunnel/pm-binding.yaml
Due: no-hardcoded-passwords

fix(gitops): remove path matching for PM service webhook handling in CloudFlare tunnel
  infra/gitops/resources/cloudflare-tunnel/pm-binding.yaml
Due: no-hardcoded-passwords

chore: update .gitignore and improve JSON parsing in CLI tasks
  .gitignore
  crates/pm/Cargo.toml
  crates/pm/src/bin/pm-server.rs
  crates/pm/src/bin/status-sync.rs
  crates/pm/src/handlers/callbacks.rs
  crates/pm/src/handlers/intake.rs
  crates/pm/src/lib.rs
  crates/pm/src/server.rs
  crates/pm/src/webhooks.rs
  crates/tasks/src/ai/anthropic.rs
  crates/tasks/src/ai/cli_provider.rs
  crates/tasks/src/bin/cli_comparison_test.rs
  crates/tasks/src/bin/compare_content.rs
  docs/pm-webhooks.md
Due: none

fix(tasks): resolve clippy pedantic warnings
  crates/tasks/src/ai/cli_provider.rs
  crates/tasks/src/bin/cli_comparison_test.rs
  crates/tasks/src/bin/compare_content.rs
  test-results/CLI-TEST-RESULTS.md
  tests/cli-comparison/REPORT.md
  tests/cli-comparison/claude/tasks.json
  tests/cli-comparison/claude/tasks.md
  tests/cli-comparison/cursor/tasks.json
  tests/cli-comparison/cursor/tasks.md
  tests/cli-comparison/gemini/tasks.json
  tests/cli-comparison/gemini/tasks.md
  tests/cli-comparison/opencode/tasks.json
  tests/cli-comparison/opencode/tasks.md
  tests/cli-comparison/reference-prd.md
  tests/cli-comparison/summary.json
Due: none

fix(tasks): resolve clippy pedantic warnings (#2754)
  crates/tasks/src/bin/cli_comparison_test.rs
  crates/tasks/src/bin/compare_content.rs
  test-results/CLI-TEST-RESULTS.md
  tests/cli-comparison/REPORT.md
  tests/cli-comparison/claude/tasks.json
  tests/cli-comparison/claude/tasks.md
  tests/cli-comparison/cursor/tasks.json
  tests/cli-comparison/cursor/tasks.md
  tests/cli-comparison/gemini/tasks.json
  tests/cli-comparison/gemini/tasks.md
  tests/cli-comparison/opencode/tasks.json
  tests/cli-comparison/opencode/tasks.md
  tests/cli-comparison/reference-prd.md
  tests/cli-comparison/summary.json
Due: none

fix(pre-commit): remove defunct kube-score hook
  .pre-commit-config.yaml
Due: none

chore: update CLI template validation to focus on invoke templates
  .github/workflows/cli-tests.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

