Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(marketing): add 9 bare metal providers to infrastructure section
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
Due: none

feat(marketing): add 9 bare metal providers to infrastructure section (#4446)
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
Due: none

fix(marketing): customer-facing provider copy, remove implementation details
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
Due: none

fix(marketing): customer-facing provider copy, remove implementation details (#4447)
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
Due: none

fix(marketing): improve Telegram social preview rendering
  apps/marketing/src/app/layout.tsx
  apps/marketing/src/app/opengraph-image.tsx
  apps/marketing/src/app/twitter-image.tsx
Due: none

fix(marketing): improve Telegram social preview rendering (#4448)
  apps/marketing/src/app/layout.tsx
  apps/marketing/src/app/opengraph-image.tsx
  apps/marketing/src/app/twitter-image.tsx
Due: none

fix(marketing): make social image routes static-export compatible
  apps/marketing/src/app/opengraph-image.tsx
  apps/marketing/src/app/twitter-image.tsx
Due: none

fix(marketing): make social image routes static-export compatible (#4449)
  apps/marketing/src/app/opengraph-image.tsx
  apps/marketing/src/app/twitter-image.tsx
Due: none

fix(marketing): remove on-premises provider listing
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
Due: none

fix(marketing): remove on-premises provider listing (#4450)
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
Due: none

fix(intake-agent): fix error_type, Operation union, dependencies type, add expand-task retry
  apps/intake-agent/src/operations/expand-task.ts
  apps/intake-agent/src/operations/generate-prompts.ts
  apps/intake-agent/src/types.ts
Due: none

fix(deliberation): add dmPolicy=block to optimist/pessimist agents
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix: restore lifecycle-test dir and enable deliberation for alerthub e2e
  lifecycle-test/.gitignore
  lifecycle-test/monitor-prompt.md
  lifecycle-test/observe/state.json
  lifecycle-test/prompt.md
  lifecycle-test/ralph-coordination.json
  lifecycle-test/ralph-cto.json
  lifecycle-test/ralph-cto.state.json
  lifecycle-test/remediation-prompt.md
  tests/intake/alerthub-e2e-test/config.json
Due: none

fix: accumulate token usage across all retry attempts
  apps/intake-agent/src/operations/expand-task.ts
Due: none

fix(deliberation): fix dmPolicy from invalid 'block' to 'disabled'
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix(intake): respect design_brief_path when deliberate=true; hard error on missing brief
  crates/intake/src/domain/intake.rs
  crates/intake/src/errors.rs
Due: none

fix(deliberation): close critical gaps in committee voting and prompts
  apps/intake-agent/src/operations/deliberation.ts
  intake/prompts/optimist-soul.md
  intake/prompts/pessimist-soul.md
  intake/workflows/deliberation.lobster.yaml
Due: none

fix: correct logic bugs in ralph-cto lifecycle gates
  lifecycle-test/ralph-cto.json
Due: none

fix(intake-agent): error_type, Operation union, dependencies, expand-task retry (#4451)
  apps/intake-agent/src/operations/expand-task.ts
  apps/intake-agent/src/operations/generate-prompts.ts
  apps/intake-agent/src/types.ts
Due: none

fix: restore lifecycle-test dir and enable deliberation for alerthub e2e (#4452)
  lifecycle-test/.gitignore
  lifecycle-test/monitor-prompt.md
  lifecycle-test/observe/state.json
  lifecycle-test/prompt.md
  lifecycle-test/ralph-coordination.json
  lifecycle-test/ralph-cto.json
  lifecycle-test/ralph-cto.state.json
  lifecycle-test/remediation-prompt.md
  tests/intake/alerthub-e2e-test/config.json
Due: none

fix(intake-agent): resolve all 53 TypeScript type errors
  apps/intake-agent/src/index.ts
  apps/intake-agent/src/operations/analyze.ts
  apps/intake-agent/src/operations/deliberation.ts
  apps/intake-agent/src/operations/expand-task.ts
  apps/intake-agent/src/operations/generate-prompts.ts
  apps/intake-agent/src/operations/generate-with-debate.ts
  apps/intake-agent/src/operations/parse-prd-iterative.ts
  apps/intake-agent/src/operations/parse-prd.ts
  apps/intake-agent/src/orchestration/critic-validator.ts
  apps/intake-agent/src/providers/anthropic.ts
  apps/intake-agent/src/providers/claude.ts
  apps/intake-agent/src/providers/types.ts
  apps/intake-agent/src/types.ts
  apps/intake-agent/src/utils/fileAnalyzer.ts
  apps/intake-agent/src/utils/json-parser.ts
  apps/intake-agent/src/utils/logger.ts
Due: none

fix(deliberation): set heartbeat=30s on all 7 debate agents
  infra/gitops/agents/committee-1-values.yaml
  infra/gitops/agents/committee-2-values.yaml
  infra/gitops/agents/committee-3-values.yaml
  infra/gitops/agents/committee-4-values.yaml
  infra/gitops/agents/committee-5-values.yaml
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix(controller-template): fix REPOSITORY_URL set-u crash, workspace persistence, intake-files fallback
  templates/agents/morgan/intake.sh.hbs
Due: none

Fix task prompt bugs: remove circular dependencies, delete duplicates, move misplaced files, correct dependency wiring
  tests/intake/alerthub-e2e-test/.tasks/docs/task-1/subtasks/task-1.4/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-1/subtasks/task-1.6/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-10/subtasks/task-10.8/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-11/subtasks/task-11.11.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-12/subtasks/task-12.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-18/subtasks/task-18.18.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-18/subtasks/task-18.18.2/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-18/subtasks/task-18.8/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-2/subtasks/task-2.2.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-2/subtasks/task-2.2.2/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-20/subtasks/task-20.8/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-5/subtasks/task-5.4/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-8/subtasks/task-8.2/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-8/subtasks/task-8.3/prompt.md
Due: none

Fix subtask dependency references and remove duplicate subtask
  tests/intake/alerthub-e2e-test/.tasks/docs/task-1/subtasks/task-1.2/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-1/subtasks/task-1.3/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-10/subtasks/task-10.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-12/subtasks/task-12.14/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-12/subtasks/task-12.4/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-12/subtasks/task-12.5/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-12/subtasks/task-12.8/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-13/subtasks/task-13.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-2/subtasks/task-2.1/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-20/subtasks/task-20.6/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-20/subtasks/task-20.7/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-23/subtasks/task-23.4/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-4/subtasks/task-4.3/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-5/subtasks/task-5.2/prompt.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-7/subtasks/task-7.1/prompt.md
Due: none

chore: add decision docs and update Cargo.lock
  Cargo.lock
  tests/intake/alerthub-e2e-test/.tasks/docs/task-1/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-10/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-11/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-12/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-13/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-14/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-15/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-16/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-17/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-18/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-19/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-2/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-20/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-21/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-22/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-23/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-24/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-25/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-26/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-27/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-28/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-29/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-3/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-30/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-4/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-5/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-6/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-7/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-8/decisions.md
  tests/intake/alerthub-e2e-test/.tasks/docs/task-9/decisions.md
Due: none

feat(deliberation): one meeting room architecture
  apps/intake-agent/src/operations/deliberation.ts
  intake/workflows/deliberation.lobster.yaml
Due: none

fix: remove broken TwingateRemoteNetwork/CRD manifests, connector runs via Helm
  infra/gitops/applications/networking/twingate.yaml
  infra/gitops/manifests/twingate/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(template): make workspace cleanup non-fatal (permission denied fallback)
  templates/agents/morgan/intake.sh.hbs
Due: none

fix: remove invalid AllowEmpty sync option from twingate ArgoCD app
  infra/gitops/applications/networking/twingate.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(twingate): allowEmpty=true, ignoreDifferences for stale v1alpha1 resources
  infra/gitops/applications/networking/twingate.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(deliberation): AgentMessage format, NATS reply inbox, bedrock→claude model configs
  apps/intake-agent/src/operations/deliberation.ts
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
Due: no-hardcoded-passwords

fix(twingate): allowEmpty=true, ignoreDifferences for stale v1alpha1 resources
  apps/intake-agent/src/operations/deliberation.ts
  infra/gitops/agents/optimist-values.yaml
  infra/gitops/agents/pessimist-values.yaml
  infra/gitops/applications/networking/twingate.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(pm): use claude as default intake CLI (was research→grok which has no configured image)
  infra/charts/cto/values.yaml
Due: none
