Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: add retry logic for gh api calls (webhook, branch protection)
  .secrets.baseline
  alerthub-e2e-test/.tasks/docs/prd.md
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/healer/src/play/behavior.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/gitops/manifests/kilo/ddns-cronjob.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  tests/intake/alerthub-e2e-test/LINEAR_ISSUE.md
Due: no-hardcoded-passwords

feat(healer): add platform-specific monitoring patterns
  crates/healer/src/play/behavior.rs
  crates/healer/src/scanner.rs
Due: none

fix(controller): write promptModification to prompt.md in ConfigMap
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/naming.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/workflow.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  crates/controller/tests/e2e_template_tests.rs
Due: none

fix(healer): add retry logic to GitHub Actions sensor for network resilience
  crates/healer/src/sensors/github_actions.rs
Due: none

fix(healer): add retry logic to GitHub Actions sensor for network resilience
  .secrets.baseline
  crates/healer/src/sensors/github_actions.rs
  crates/research/src/twitter/poller.rs
  infra/gitops/applications/observability/fluent-bit.yaml
  infra/gitops/manifests/kilo/ddns-cronjob.yaml
  scripts/setup-twitter-research-auth.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(twitter): update authentication setup script and browser configuration
  infra/gitops/manifests/argo-workflows/log-scanner-cronworkflow.yaml
Due: no-hardcoded-passwords

Enhance task file copying in script
  templates/_shared/partials/task-files.sh.hbs
Due: none

fix(healer): use output parameters for log-scanner CronWorkflow
  infra/gitops/manifests/argo-workflows/log-scanner-cronworkflow.yaml
Due: no-hardcoded-passwords

fix(healer): use output parameters for log-scanner CronWorkflow (#3120)
  infra/gitops/manifests/argo-workflows/log-scanner-cronworkflow.yaml
Due: no-hardcoded-passwords

fix(secrets): update .secrets.baseline with new hashed secrets and verification status
  .secrets.baseline
  crates/controller/src/tasks/code/templates.rs
  crates/healer/src/play/behavior.rs
  crates/healer/src/scanner.rs
  crates/healer/src/sensors/github_actions.rs
  crates/mcp/src/main.rs
  crates/mcp/src/tools.rs
  crates/pm/src/bin/status-sync.rs
  crates/pm/src/handlers/github.rs
  crates/tools/src/client.rs
  infra/charts/cto/templates/healer/deployment.yaml
  infra/charts/cto/templates/openmemory/deployment.yaml
  infra/charts/cto/templates/tools/deployment.yaml
  templates/_shared/container.sh.hbs
  templates/_shared/partials/expo-env.sh.hbs
  templates/_shared/partials/task-files.sh.hbs
Due: none

feat(controller): add acceptance criteria support to CodeRunSpec
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/naming.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/workflow.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  crates/controller/tests/e2e_template_tests.rs
  crates/healer/src/ci/spawner.rs
  crates/healer/src/main.rs
  crates/healer/src/scanner.rs
  crates/research/src/digest/email.rs
Due: none

fix(spawner): strip control characters from prompt for YAML compatibility
  crates/healer/src/ci/spawner.rs
Due: none

fix(spawner): sanitize workflow logs before truncation in prompt
  crates/healer/src/ci/spawner.rs
Due: none

fix(ci): use curl instead of wget and fix healer formatting
  .github/workflows/infra-ci.yaml
  crates/healer/src/play/behavior.rs
  crates/healer/src/sensors/github_actions.rs
Due: none

fix(ci): resolve intermittent GHCR connectivity issues in agent builds
  .github/workflows/agents-build.yaml
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(ci): clean up Docker Buildx setup in workflows
  .github/workflows/agents-build.yaml
  crates/mcp/src/main.rs
  crates/pm/src/bin/status-sync.rs
  crates/pm/src/handlers/github.rs
  crates/tools/src/client.rs
Due: none

fix(tests): lower default error threshold in ScannerConfig to improve early detection of platform issues
  crates/healer/src/scanner.rs
  templates/_shared/partials/expo-env.sh.hbs
Due: none

chore(ci): update Docker Buildx action version in workflow
  .github/workflows/agents-build.yaml
Due: none

feat(ci): add Trivy installation with retry logic in CI workflow
  .github/workflows/infra-ci.yaml
Due: none

refactor(ci): replace Trivy installation with action and update yq installation method
  .github/workflows/infra-ci.yaml
Due: none

fix(ci): add Trivy installation with proper retry and timeout handling
  .github/workflows/infra-ci.yaml
Due: none

chore(ci): enhance Trivy installation with retry logic and update scanning command
  .github/workflows/infra-ci.yaml
Due: none

Fix/log-scanner-cronworkflow-params (#3122)
  .secrets.baseline
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/naming.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/workflow.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  crates/controller/tests/e2e_template_tests.rs
  crates/healer/src/ci/spawner.rs
  crates/healer/src/main.rs
  crates/healer/src/scanner.rs
  crates/mcp/src/tools.rs
  crates/pm/src/bin/status-sync.rs
  crates/research/src/digest/email.rs
  infra/charts/cto/templates/healer/deployment.yaml
  infra/charts/cto/templates/openmemory/deployment.yaml
  infra/charts/cto/templates/tools/deployment.yaml
  templates/_shared/container.sh.hbs
  templates/_shared/partials/task-files.sh.hbs
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

