Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(play-workflow): correct when expression syntax for skip-stage checks (#1191)
  docs/engineering/frontend-agent/IMPLEMENTATION_COMPLETE.md
  docs/engineering/frontend-agent/IMPLEMENTATION_STATUS.md
  docs/engineering/frontend-agent/README.md
  docs/engineering/frontend-agent/THEMING_STRATEGY.md
  docs/engineering/frontend-agent/USAGE.md
  docs/engineering/frontend-agent/architecture.md
  docs/engineering/frontend-agent/blaze-complete-integration-summary.md
  docs/engineering/frontend-agent/cto-config-frontend-example.json
  docs/engineering/frontend-agent/prd.md
  docs/engineering/issues/cleo-pr-context-missing.md
  docs/engineering/issues/runtime-image-rust-setup.md
  docs/engineering/issues/sidecar-io-hang-2025-08-12.md
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(sensors): improve task ID extraction in approval sensors
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: remove trailing spaces from sensor YAML files
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: apply Bugbot feedback - use double quotes for template variables
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): prevent shell injection in PR title/branch extraction
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): improve task ID extraction in approval sensors (#1192)
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: ensure consistent GitHub label colors with --force flag
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/agents-rex.md.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix: ensure consistent GitHub label colors and improve sensor task correlation (#1193)
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/agents-rex.md.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: template variable substitution in sensor scripts
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: template variable substitution in sensor scripts (#1194)
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: improve Docker sidecar graceful shutdown
  controller/src/tasks/code/resources.rs
Due: none

fix: improve Docker sidecar graceful shutdown (#1195)
  controller/src/tasks/code/resources.rs
Due: none

fix: force discard local changes when recreating feature branch
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: Tess should review PRs in testing mode, not create new ones
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
Due: none

fix: Tess review mode and Rex branch recreation (#1197)
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix: bash syntax error in Tess conditional logic
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix: bash syntax error in Tess conditional logic (CRITICAL) (#1199)
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat: add merge conflict resolution to Tess QA workflow
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
Due: none

fix: compress Tess testing mode prompt to fit ConfigMap size limit
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix: regenerate ConfigMap with compressed Tess prompt
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
Due: none

feat: Tess resolves merge conflicts before PR approval (#1200)
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix: resolve Tess workflow stall by making PR verification non-fatal
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: resolve Tess workflow stall by making PR verification non-fatal (#1201)
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

feat: add Atlas and Bolt agent setup infrastructure
  .gitignore
  README.md
  docs/engineering/atlas-bolt-agent-setup.md
  scripts/create-agent-github-app.sh
  scripts/create-github-apps-local.sh
  scripts/process-agent-avatars.sh
  scripts/setup-atlas-bolt-quickstart.sh
  scripts/setup-new-agent.sh
  scripts/upload-agent-avatars.sh
Due: none

Fix/tess workflow stall resolution (#1202)
  .gitignore
  README.md
  docs/engineering/atlas-bolt-agent-setup.md
  scripts/create-agent-github-app.sh
  scripts/create-github-apps-local.sh
  scripts/process-agent-avatars.sh
  scripts/setup-atlas-bolt-quickstart.sh
  scripts/setup-new-agent.sh
  scripts/upload-agent-avatars.sh
Due: none

fix: increase controller memory limits to resolve OOM crashes
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix/tess workflow stall resolution (#1203)
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove controller memory limit to prevent OOM kills
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove controller memory limit to prevent OOM kills (#1205)
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
