Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(agents): prebake openclaw extension deps and chown tree to runtime uid (#4775)
  infra/images/agents/Dockerfile
Due: none

fix(morgan): enable code-server and tunnel config
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

feat(agents): unify Coder + Morgan as StatefulSets with shared infra baseline
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

feat(agents): unify Coder + Morgan as StatefulSets with shared infra baseline (#4776)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

feat(gitops): migrate Morgan to openclaw-agent chart
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/morgan-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(gitops): migrate Morgan to openclaw-agent chart (#4777)
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/morgan-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(networking): codify platform TunnelBindings in git
  infra/gitops/applications/networking/platform-tunnel-bindings.yaml
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
  infra/gitops/manifests/platform-tunnel-bindings/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(cto-lite): add Phantom Connect Tauri integration guide
  docs/phantom-connect-tauri.md
Due: none

docs(cto-lite): add Phantom Connect Tauri integration guide (#4779)
  docs/phantom-connect-tauri.md
Due: none

fix(networking): codify platform TunnelBindings in git (#4778)
  infra/gitops/applications/networking/platform-tunnel-bindings.yaml
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
  infra/gitops/manifests/platform-tunnel-bindings/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(cto): add Kimi K2.6 self-hosting cost analysis
  docs/kimi-k2-6-self-hosting.md
Due: none

Docs/kimi k2 6 self hosting (#4781)
  docs/kimi-k2-6-self-hosting.md
Due: none

fix(morgan): switch apiKeysSecret to cto-coder-api-keys; feat(coder): CRD-agent mem0 parity
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix(morgan): switch apiKeysSecret to cto-coder-api-keys; feat(coder): CRD-agent mem0 parity (#4782)
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

feat(openclaw-agent): add DigitalOcean Gradient provider to opencode.json
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
Due: none

feat(openclaw-agent): add DigitalOcean Gradient provider to opencode.json (#4784)
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
Due: none

docs: add Option A 3D avatar runtime implementation plan
  docs/plans/3d-avatar-runtime-plan.md
Due: none

docs: enhance Option A avatar plan with subagent technical briefs
  docs/plans/3d-avatar-runtime-plan.md
  infra/images/voice-bridge/app/__pycache__/__init__.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/agent_client.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/elevenlabs_client.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/main.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/voice_agents.cpython-312.pyc
  infra/images/voice-bridge/tests/__pycache__/test_voice_bridge.cpython-312-pytest-8.3.3.pyc
Due: none

chore: remove accidentally staged __pycache__ files
  infra/images/voice-bridge/app/__pycache__/__init__.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/agent_client.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/elevenlabs_client.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/main.cpython-312.pyc
  infra/images/voice-bridge/app/__pycache__/voice_agents.cpython-312.pyc
  infra/images/voice-bridge/tests/__pycache__/test_voice_bridge.cpython-312-pytest-8.3.3.pyc
Due: none

docs: enrich avatar plan with Copilot ACP technical details
  docs/plans/3d-avatar-runtime-plan.md
Due: none

docs: add multi-avatar floor control risk
  docs/plans/3d-avatar-runtime-plan.md
Due: none

feat(avatar): add deterministic fallback avatar surface
  avatar/web/components/DeterministicAvatar.tsx
  avatar/web/components/Room.tsx
  avatar/web/public/morgan.jpg
  docs/plans/avatar-image-prompt-review.md
Due: none

fix(avatar-web): unblock build by removing placeholder drizzle adapter
  avatar/web/lib/auth.ts
Due: none

feat(avatar-web): add explicit avatar state protocol scaffold
  avatar/web/components/AvatarRuntimeSurface.tsx
  avatar/web/components/Room.tsx
  avatar/web/lib/avatar-state.ts
  docs/artifacts/avatar-prompts/README.md
Due: none

feat(avatar): add review artifact workflow and selected fallback asset
  avatar/design/prompts/v1/techno-organic-nebula.md
  avatar/design/samples/v1/morgan-cyberpunk-portrait/001.jpg
  avatar/design/samples/v1/morgan-cyberpunk-portrait/_selection.md
  avatar/design/samples/v1/morgan-cyberpunk-portrait/review-notes.md
  avatar/web/components/DeterministicAvatar.tsx
  avatar/web/public/images/fallback-avatar.jpg
Due: none

feat(avatar): wire runtime adapter seam into Room.tsx
  avatar/web/components/Room.tsx
  avatar/web/lib/avatar-runtime.ts
  avatar/web/lib/avatar-state.ts
Due: none

feat(avatar): wire voice-bridge frame ingestion into adapter
  avatar/web/components/Room.tsx
  avatar/web/components/VoiceBridgeIngestion.tsx
  avatar/web/lib/avatar-runtime.ts
Due: none

docs(avatar): add issue classification guide for recursive/runtime vs ACP/harness
  docs/artifacts/avatar-prompts/issue-classification.md
Due: none

feat(avatar): Phase 2 — voice-bridge frame ingestion + viseme adapter
  avatar/web/lib/avatar-runtime.ts
  avatar/web/lib/avatar-state.ts
  avatar/web/lib/runtimes/elevenlabs-alignment.ts
  infra/images/voice-bridge/app/elevenlabs_client.py
  infra/images/voice-bridge/app/main.py
Due: none

feat(avatar): add ElevenLabs alignment support to voice-bridge
  docs/artifacts/avatar-prompts/issue-classification.md
Due: none

feat(avatar): Phase 3 — avatar asset specification and import validation
  docs/specs/avatar-asset-spec.md
Due: none

feat(avatar): Phase 4 — avatar session protocol spec
  docs/specs/avatar-session-protocol.md
Due: none

feat(avatar): Phase 2 — voice-bridge frame ingestion + ElevenLabs alignment (#4787)
  avatar/design/prompts/v1/techno-organic-nebula.md
  avatar/design/samples/v1/morgan-cyberpunk-portrait/001.jpg
  avatar/design/samples/v1/morgan-cyberpunk-portrait/_selection.md
  avatar/design/samples/v1/morgan-cyberpunk-portrait/review-notes.md
  avatar/web/components/AvatarRuntimeSurface.tsx
  avatar/web/components/DeterministicAvatar.tsx
  avatar/web/components/Room.tsx
  avatar/web/components/VoiceBridgeIngestion.tsx
  avatar/web/lib/auth.ts
  avatar/web/lib/avatar-runtime.ts
  avatar/web/lib/avatar-state.ts
  avatar/web/lib/runtimes/elevenlabs-alignment.ts
  avatar/web/public/images/fallback-avatar.jpg
  avatar/web/public/morgan.jpg
  docs/artifacts/avatar-prompts/README.md
  docs/artifacts/avatar-prompts/issue-classification.md
  docs/plans/3d-avatar-runtime-plan.md
  docs/plans/avatar-image-prompt-review.md
  docs/specs/avatar-asset-spec.md
  docs/specs/avatar-session-protocol.md
  infra/images/voice-bridge/app/elevenlabs_client.py
  infra/images/voice-bridge/app/main.py
Due: none

docs(avatar): add Morgan image generation sample sets
  avatar/design/samples/v1/morgan-front-test/01-front-neutral.png
  avatar/design/samples/v1/morgan-front-test/01-front-neutral.prompt.txt
  avatar/design/samples/v1/morgan-front-test/02-front-corporate.png
  avatar/design/samples/v1/morgan-front-test/02-front-corporate.prompt.txt
  avatar/design/samples/v1/morgan-front-test/03-front-rig-test.png
  avatar/design/samples/v1/morgan-front-test/03-front-rig-test.prompt.txt
  avatar/design/samples/v1/morgan-generated-gemini/01-empathic-synthesist.png
  avatar/design/samples/v1/morgan-generated-gemini/01-empathic-synthesist.prompt.txt
  avatar/design/samples/v1/morgan-generated-gemini/02-artisan-of-code.png
  avatar/design/samples/v1/morgan-generated-gemini/02-artisan-of-code.prompt.txt
  avatar/design/samples/v1/morgan-generated-gemini/03-cosmic-navigator.png
  avatar/design/samples/v1/morgan-generated-gemini/03-cosmic-navigator.prompt.txt
  avatar/design/samples/v1/morgan-generated-gemini/04-biomimetic-guardian.png
  avatar/design/samples/v1/morgan-generated-gemini/04-biomimetic-guardian.prompt.txt
  avatar/design/samples/v1/morgan-generated-gemini/README.md
  avatar/design/samples/v1/morgan-prompt-adapted/01-morgan-strategist-core.png
  avatar/design/samples/v1/morgan-prompt-adapted/01-morgan-strategist-core.prompt.txt
  avatar/design/samples/v1/morgan-prompt-adapted/02-morgan-strategist-executive.png
  avatar/design/samples/v1/morgan-prompt-adapted/02-morgan-strategist-executive.prompt.txt
  avatar/design/samples/v1/morgan-prompt-adapted/03-morgan-strategist-operator.png
  avatar/design/samples/v1/morgan-prompt-adapted/03-morgan-strategist-operator.prompt.txt
  avatar/design/samples/v1/morgan-prompt-adapted/04-morgan-strategist-rig-friendly.png
  avatar/design/samples/v1/morgan-prompt-adapted/04-morgan-strategist-rig-friendly.prompt.txt
  avatar/design/samples/v1/morgan-prompt-adapted/README.md
Due: none

feat(morgan): add project-api sidecar and intake PRD workflow
  .github/workflows/project-api-publish.yml
  apps/project-api/Dockerfile
  apps/project-api/README.md
  apps/project-api/bun.lock
  apps/project-api/package.json
  apps/project-api/src/config.ts
  apps/project-api/src/git.ts
  apps/project-api/src/github.ts
  apps/project-api/src/http.ts
  apps/project-api/src/index.ts
  apps/project-api/src/prd.ts
  apps/project-api/src/projects.ts
  apps/project-api/tsconfig.json
  infra/charts/openclaw-agent/skills/openclaw/intake-prd-authoring.md
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/service.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/morgan-values.yaml
  infra/manifests/morgan-support/project-api-tunnel-binding.yaml
Due: no-hardcoded-passwords

feat(project-api): create missing GitHub repos and log requests
  apps/project-api/src/github.ts
  apps/project-api/src/index.ts
  apps/project-api/src/projects.ts
Due: none

fix(project-api): redact credentials from remoteUrl responses
  apps/project-api/src/git.ts
Due: none

fix(project-api): harden create flow against clone propagation race
  apps/project-api/src/projects.ts
Due: none

fix(project-api): ensure new projects are never blank in workspace
  apps/project-api/src/github.ts
  apps/project-api/src/projects.ts
Due: none

feat(avatar): ship TalkingHead runtime with ElevenLabs lip-sync
  avatar/web/.env.local.example
  avatar/web/README.md
  avatar/web/components/AvatarRuntimeSurface.tsx
  avatar/web/components/Room.tsx
  avatar/web/components/TalkingHeadView.tsx
  avatar/web/components/VoiceBridgeIngestion.tsx
  avatar/web/lib/lipsync/elevenlabs-to-oculus.ts
  avatar/web/lib/runtimes/elevenlabs-alignment.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/types/talkinghead.d.ts
  infra/images/voice-bridge/app/main.py
  infra/manifests/voice-bridge/deployment.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

