Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(cipher): add explicit PR management restrictions
  infra/charts/controller/agent-templates/agents/cipher-system-prompt.md.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix(cleo): remove duplicate comment posting in Claude template (#1511)
  infra/charts/controller/agent-templates/agents/cipher-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

Addressing security advisories in GitHub
  controller/src/tasks/code/templates.rs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/gitops/archive/databases/redis-auth-secret.yaml
  infra/gitops/archive/databases/redis.yaml
  infra/gitops/databases/redis-auth-secret.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/rbac/test-db-access.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/postgres.yaml
  infra/gitops/resources/doc-server/redis.yaml
  package-lock.json
  scripts/blaze/resolve-theme.js
Due: check-resource-limits, no-hardcoded-passwords

Addressing security advisories in GitHub
  infra/charts/controller/templates/agent-templates-cursor.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-cursor.yaml
Due: none

Addressing security advisories in GitHub (#1513)
  infra/gitops/archive/databases/redis-auth-secret.yaml
  infra/gitops/archive/databases/redis.yaml
  infra/gitops/databases/redis-auth-secret.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/rbac/test-db-access.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/postgres.yaml
  infra/gitops/resources/doc-server/redis.yaml
  package-lock.json
  scripts/blaze/resolve-theme.js
Due: check-resource-limits, no-hardcoded-passwords

fix(cipher): post PR reviews ONCE after loop, not per iteration
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
Due: none

fix(agents): initialize COMMITS_MADE and move reviews outside loop
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
Due: none

fix(cipher): post PR reviews once, not per iteration (#1514)
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
Due: none

feat(ci): add ConfigMap verification to agent-templates-sync workflow
  .github/workflows/agent-templates-sync.yaml
Due: none

feat(ci): add ConfigMap verification to agent-templates-sync workflow (#1515)
  .github/workflows/agent-templates-sync.yaml
Due: none

Addressing security advisories in GitHub
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/doc-server.yaml
  infra/gitops/applications/github-webhooks-networking.yaml
  infra/gitops/rbac/doc-server-mcp-access.yaml
  infra/gitops/rbac/doc-server-networking.yaml
  infra/gitops/rbac/github-runner-rbac.yaml
  infra/gitops/rbac/github-runner-secret-access.yaml
  infra/gitops/rbac/github-webhooks-networking.yaml
  infra/gitops/resources/doc-server/networking/ingress.yaml
  infra/gitops/resources/doc-server/networking/kustomization.yaml
  infra/gitops/resources/doc-server/networking/service.yaml
  infra/gitops/resources/github-webhooks/eventsource.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/networking/httproute.yaml
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
  infra/gitops/resources/github-webhooks/networking/service.yaml
  infra/gitops/resources/github-webhooks/sa-rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Addressing security advisories in GitHub (#1516)
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/doc-server.yaml
  infra/gitops/applications/github-webhooks-networking.yaml
  infra/gitops/rbac/doc-server-mcp-access.yaml
  infra/gitops/rbac/doc-server-networking.yaml
  infra/gitops/rbac/github-runner-rbac.yaml
  infra/gitops/rbac/github-runner-secret-access.yaml
  infra/gitops/rbac/github-webhooks-networking.yaml
  infra/gitops/resources/doc-server/networking/ingress.yaml
  infra/gitops/resources/doc-server/networking/kustomization.yaml
  infra/gitops/resources/doc-server/networking/service.yaml
  infra/gitops/resources/github-webhooks/eventsource.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/networking/httproute.yaml
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
  infra/gitops/resources/github-webhooks/networking/service.yaml
  infra/gitops/resources/github-webhooks/sa-rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(doc-server): move redis-auth ExternalSecret into doc-server resources
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
Due: no-hardcoded-passwords

fix(doc-server): move redis-auth ExternalSecret into doc-server resources (#1517)
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
Due: no-hardcoded-passwords

fix: restore redis-auth-secret.yaml path in kustomization
  infra/gitops/resources/doc-server/kustomization.yaml
Due: no-hardcoded-passwords

fix(doc-server): remove namespace restriction to allow databases deployment
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(doc-server): remove namespace restriction to allow databases deployment (#1519)
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(platform): allow wildcard namespace destinations
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(platform): allow wildcard namespace destinations (#1520)
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(doc-server): disable service/ingress in Helm chart
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(doc-server): disable service/ingress in Helm chart (#1521)
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(doc-server): split databases into separate Application
  infra/gitops/applications/doc-server-databases.yaml
  infra/gitops/applications/doc-server.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(doc-server): split databases into separate Application (#1522)
  infra/gitops/applications/doc-server-databases.yaml
  infra/gitops/applications/doc-server.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: copy database manifests into doc-server-databases directory
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server-databases/postgres.yaml
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server-databases/redis.yaml
Due: no-hardcoded-passwords

fix: copy database manifests into doc-server-databases directory (#1523)
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server-databases/postgres.yaml
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server-databases/redis.yaml
Due: no-hardcoded-passwords

fix(postgres): add additional emptyDir mounts for read-only root
  infra/gitops/resources/doc-server-databases/postgres.yaml
Due: no-hardcoded-passwords

fix(postgres): add additional emptyDir mounts for read-only root (#1524)
  infra/gitops/resources/doc-server-databases/postgres.yaml
Due: no-hardcoded-passwords

fix(postgres): remove readOnlyRootFilesystem for Spilo compatibility
  infra/gitops/resources/doc-server-databases/postgres.yaml
Due: no-hardcoded-passwords

fix(postgres): remove readOnlyRootFilesystem for Spilo compatibility (#1525)
  infra/gitops/resources/doc-server-databases/postgres.yaml
Due: no-hardcoded-passwords

fix(redis-auth): add explicit remoteRef fields for ArgoCD sync
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
Due: no-hardcoded-passwords

fix(redis-auth): add explicit remoteRef fields for ArgoCD sync (#1526)
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
Due: no-hardcoded-passwords

chore: remove duplicate redis-auth-secret.yaml
  infra/gitops/databases/redis-auth-secret.yaml
Due: check-resource-limits, no-hardcoded-passwords

chore: remove duplicate redis-auth-secret.yaml (#1527)
  infra/gitops/databases/redis-auth-secret.yaml
Due: check-resource-limits, no-hardcoded-passwords
