Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(platform): fix questdb-operator branch and ARC controller RBAC (#2820)
  infra/gitops/applications/operators/questdb-operator.yaml
  infra/gitops/manifests/rbac/arc-controller-cross-namespace.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: clarify two-file config approach for MCP compatibility
  README.md
Due: none

docs: clarify two-file config approach for MCP compatibility (#2821)
  README.md
Due: none

fix(argocd): add external-secrets repo and upgrade alertmanager chart
  infra/gitops/applications/observability/alertmanager.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(alertmanager): change secret mount path to avoid ConfigMap conflict
  infra/gitops/applications/observability/alertmanager.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(deployment): enhance tools deployment with logging and security features
  infra/charts/cto/templates/tools/deployment.yaml
Due: none

fix(deployment): update initContainers and volume mounts for improved caching and data persistence
  crates/notify/src/channels/mod.rs
  crates/notify/src/error.rs
  infra/gitops/manifests/rbac/arc-controller-cross-namespace.yaml
Due: no-hardcoded-passwords

fix(deployment): refine initContainers and volume mounts for improved directory structure and permissions
  infra/charts/cto/templates/tools/deployment.yaml
Due: none

refactor(http_server): improve Docker readiness checks and add verification for functionality
  crates/tools/src/server/http_server.rs
Due: none

refactor(http_server): improve Docker readiness checks and add verification for functionality (#2823)
  crates/tools/src/server/http_server.rs
Due: none

feat(tools): add MCP server configuration via ConfigMap
  infra/charts/cto/templates/tools/configmap.yaml
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
Due: none

feat(tools): add MCP server configuration via ConfigMap (#2824)
  infra/charts/cto/templates/tools/configmap.yaml
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
Due: none

fix(argocd): add external-secrets.io to platform project resource whitelist
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

chore: clean up code by removing unnecessary blank lines in various files
  crates/notify/src/channels/mod.rs
  crates/notify/src/error.rs
  infra/charts/cto/templates/buildkit/configmap.yaml
  infra/charts/cto/templates/buildkit/service.yaml
  infra/charts/cto/templates/buildkit/statefulset.yaml
  infra/charts/cto/templates/tools/configmap.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/rbac/arc-controller-cross-namespace.yaml
  infra/gitops/projects/platform-project.yaml
  scripts/DISTRIBUTED-BUILDS.md
  scripts/benchmark/README.md
  scripts/benchmark/REMOTE-BENCHMARK-PROMPT.md
  scripts/benchmark/benchmark-docker-runtimes.sh
  scripts/benchmark/run-remote-benchmark.sh
  scripts/benchmark/setup-remote-runtimes.sh
  scripts/setup-cluster-builder.sh
Due: no-hardcoded-passwords

fix(buildkit): update nodePort to 30502 for consistency across configurations
  infra/charts/cto/values.yaml
  scripts/setup-cluster-builder.sh
Due: none

fix(buildkit): correct syntax for garbage collection policy in configmap.yaml
  infra/charts/cto/templates/buildkit/configmap.yaml
Due: none

Fix/argocd external secrets permissions (#2825)
  crates/notify/src/channels/mod.rs
  crates/notify/src/error.rs
  infra/charts/cto/templates/buildkit/configmap.yaml
  infra/charts/cto/templates/buildkit/service.yaml
  infra/charts/cto/templates/buildkit/statefulset.yaml
  infra/charts/cto/templates/tools/configmap.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/rbac/arc-controller-cross-namespace.yaml
  infra/gitops/projects/platform-project.yaml
  scripts/DISTRIBUTED-BUILDS.md
  scripts/benchmark/README.md
  scripts/benchmark/REMOTE-BENCHMARK-PROMPT.md
  scripts/benchmark/benchmark-docker-runtimes.sh
  scripts/benchmark/run-remote-benchmark.sh
  scripts/benchmark/setup-remote-runtimes.sh
  scripts/setup-cluster-builder.sh
Due: no-hardcoded-passwords

feat(cloudflare): add email to ClusterTunnel and credential sync script
  infra/charts/cto/templates/cloudflare/cluster-tunnel.yaml
  infra/charts/cto/values.yaml
  scripts/sync-credentials-from-1password.sh
Due: none

docs(research): add 2 new research entries (#2815)
  docs/research/1997588721135452446.md
  docs/research/1998152318190227693.md
Due: none

feat(research): add AI-powered email digest for research entries
  Cargo.lock
  crates/research/Cargo.toml
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/generator.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  crates/research/src/lib.rs
  crates/research/src/main.rs
  crates/research/src/pipeline.rs
Due: none

feat(ci): add Depot.dev POC for faster Docker builds
  .github/docs/depot-setup.md
  .github/workflows/controller-ci-depot.yaml
  .secrets.baseline
  depot.json
Due: none

ci: enable Depot POC workflow on feature branch for testing
  .github/workflows/controller-ci-depot.yaml
Due: none

feat: intake for Simple API Project
  simple-api-project/.tasks/docs/prd.txt
  simple-api-project/.tasks/tasks/tasks.json
Due: none

feat(research): add AI-powered email digest for research entries (#2827)
  .github/docs/depot-setup.md
  .github/workflows/controller-ci-depot.yaml
  .secrets.baseline
  Cargo.lock
  crates/research/Cargo.toml
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/generator.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  crates/research/src/lib.rs
  crates/research/src/main.rs
  crates/research/src/pipeline.rs
  depot.json
Due: none

feat(cloudflare): add email to ClusterTunnel and credential sync script (#2826)
  infra/charts/cto/templates/cloudflare/cluster-tunnel.yaml
  infra/charts/cto/values.yaml
  scripts/sync-credentials-from-1password.sh
Due: none

perf(ci): add cargo-nextest for ~35% faster Rust tests
  .github/actions/rust-test/action.yaml
Due: none

Enhance intake workflow and documentation
  README.md
  Tiltfile
  crates/controller/src/main.rs
  crates/pm/src/handlers/intake.rs
  crates/research/src/digest/generator.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/controller/workflow-secrets.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/gitops/applications/operators/keycloak-operator.yaml
  infra/gitops/applications/operators/nats.yaml
  infra/gitops/applications/operators/percona-mongodb-operator.yaml
  infra/gitops/applications/operators/percona-mysql-operator.yaml
  infra/gitops/applications/operators/rabbitmq-operator.yaml
  infra/images/runtime/Dockerfile.kind-tasks
  templates/intake/unified-intake.sh
  test-research/index.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

perf(ci): add cargo-nextest for ~35% faster Rust tests (#2829)
  .github/actions/rust-test/action.yaml
  README.md
  Tiltfile
  crates/controller/src/main.rs
  crates/pm/src/handlers/intake.rs
  crates/research/src/digest/generator.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/controller/workflow-secrets.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/gitops/applications/operators/keycloak-operator.yaml
  infra/gitops/applications/operators/nats.yaml
  infra/gitops/applications/operators/percona-mongodb-operator.yaml
  infra/gitops/applications/operators/percona-mysql-operator.yaml
  infra/gitops/applications/operators/rabbitmq-operator.yaml
  infra/images/runtime/Dockerfile.kind-tasks
  templates/intake/unified-intake.sh
  test-research/index.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

