Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(ci): have copilot-ci-fix handle push failures via issues
  .github/workflows/copilot-ci-fix.yaml
Due: none

docs(prds): Coder PRD for Phase 4 GPU + MuseTalk deployment (#4645)
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

fix(ci): have copilot-ci-fix handle push failures via issues (#4647)
  .github/workflows/copilot-ci-fix.yaml
Due: none

fix(openclaw): unify thread-bound session config across CodeRun template
  templates/harness-agents/openclaw-config.json.hbs
Due: none

feat(coder): mobile-optimized code-server defaults (SCM view, inline diffs)
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(rbac): grant openclaw-agent cluster-admin-equivalent rights
  infra/charts/openclaw-agent/templates/rbac.yaml
Due: none

feat(rbac): grant openclaw-agent cluster-admin-equivalent rights (#4651)
  infra/charts/openclaw-agent/templates/rbac.yaml
Due: none

fix(ci): add --plaintext and secret preflight to argocd-sync
  .github/workflows/argocd-sync.yaml
Due: none

fix(runners): add kube-dns to arc-runner nameservers
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(colosseum): persist Trading Infrastructure naming + unify session thread-binding config
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(arc-runners): limit dnsConfig.nameservers to 3 (k8s hard limit)
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(prd): patch Coder Phase 4 PRD — GHCR registry + kaniko/kubectl build env notes
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

docs(prd): patch Coder Phase 4 PRD — GHCR registry + kaniko/kubectl build env notes (#4654)
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

fix(ci): use ARGOCD env vars instead of argocd login
  .github/workflows/argocd-sync.yaml
Due: none

fix(ci): argocd-sync auth uses --plaintext + secret preflight (#4653)
  .github/workflows/argocd-sync.yaml
  infra/gitops/applications/workloads/platform-runners.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(ci): reusable intake GitHub Actions workflow (self-hosted)
  .github/workflows/intake-smoke.yaml
  .github/workflows/intake.yaml
  intake/docs/github-actions-intake.md
Due: none

feat(crds): add PRD and ManagedRepo CRDs for intake-as-action
  Cargo.lock
  crates/controller/src/crds/managedrepo.rs
  crates/controller/src/crds/mod.rs
  crates/controller/src/crds/prd.rs
  infra/charts/cto/crds/managedrepo-crd.yaml
  infra/charts/cto/crds/prd-crd.yaml
  infra/charts/cto/templates/intake-runner-rbac.yaml
  infra/charts/cto/values.yaml
Due: none

fix(openclaw-agent): restore in-cluster kube auth for all agents
  infra/charts/openclaw-agent/Chart.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(openclaw-agent): restore in-cluster kube auth for all agents (#4660)
  infra/charts/openclaw-agent/Chart.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(rbac): expand cto-agent ClusterRole for Coder infra work
  infra/gitops/manifests/agent-rbac/agent-rbac.yaml
Due: no-hardcoded-passwords

fix(rbac): expand cto-agent ClusterRole for Coder infra work (#4662)
  infra/gitops/manifests/agent-rbac/agent-rbac.yaml
Due: no-hardcoded-passwords

feat(crds): add PRD and ManagedRepo CRDs for intake-as-action (#4659)
  Cargo.lock
  crates/controller/src/crds/managedrepo.rs
  crates/controller/src/crds/mod.rs
  crates/controller/src/crds/prd.rs
  infra/charts/cto/crds/managedrepo-crd.yaml
  infra/charts/cto/crds/prd-crd.yaml
  infra/charts/cto/templates/intake-runner-rbac.yaml
  infra/charts/cto/values.yaml
Due: none

feat(ci): reusable intake GitHub Actions workflow (self-hosted) (#4658)
  .github/workflows/intake-smoke.yaml
  .github/workflows/intake.yaml
  intake/docs/github-actions-intake.md
Due: none

feat(coder): mobile-optimized code-server defaults (SCM view, inline diffs) (#4650)
  infra/charts/openclaw-agent/templates/deployment.yaml
  templates/harness-agents/openclaw-config.json.hbs
Due: none

docs(prd): expand Coder PRD to full self-hosted avatar autonomy
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

docs(prd): expand Coder PRD to full self-hosted avatar autonomy (#4663)
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

fix(openclaw-agent): seed BOOT.md on init to auto-resume all agents on pod restart
  infra/charts/openclaw-agent/Chart.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(colosseum): switch swarm agent to ChatGPT Pro OAuth (gpt-5.4)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(colosseum): switch swarm agent to ChatGPT Pro OAuth (gpt-5.4) (#4666)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw-agent): seed BOOT.md on init to auto-resume all agents on pod restart (#4665)
  infra/charts/openclaw-agent/Chart.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(swarm): add proper system prompt to fix identity crisis
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw-agent): default delivery recipient fallback via postStart patch
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

Feat/colosseum oauth gpt54 (#4669)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw-agent): default delivery recipient fallback via postStart patch (#4668)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(openclaw-agent): move delivery+mem0 patches to init container
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(avatar): harden livekit phase 1 gitops
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/manifests/livekit/livekit-keys-secret.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar): bootstrap musetalk phase 4 worker
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/tests/test_config.py
  avatar/docs/gpu-provisioning.md
  avatar/web/.env.local.example
  avatar/web/README.md
  infra/charts/musetalk-worker/templates/deployment.yaml
  infra/charts/musetalk-worker/templates/service-metrics.yaml
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
  infra/images/musetalk-worker/Dockerfile
  infra/images/musetalk-worker/download_models.py
  infra/images/musetalk-worker/render.py
  infra/images/musetalk-worker/requirements.txt
  infra/images/musetalk-worker/worker.py
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: harden livekit phase 1 gitops (#4672)
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/tests/test_config.py
  avatar/docs/gpu-provisioning.md
  avatar/web/.env.local.example
  avatar/web/README.md
  infra/charts/musetalk-worker/templates/deployment.yaml
  infra/charts/musetalk-worker/templates/service-metrics.yaml
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/images/musetalk-worker/Dockerfile
  infra/images/musetalk-worker/download_models.py
  infra/images/musetalk-worker/render.py
  infra/images/musetalk-worker/requirements.txt
  infra/images/musetalk-worker/worker.py
  infra/manifests/livekit/livekit-keys-secret.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

