Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: use Morgan Discord token key
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

Fix Morgan Discord token key
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

fix: correct EchoMimic demo status context
  avatar/web/app/api/echo-turn/chat/route.ts
Due: none

fix: correct EchoMimic demo status context (#4848)
  avatar/web/app/api/echo-turn/chat/route.ts
Due: none

feat: harden Morgan avatar bridge for production
  .gitignore
  avatar/docs/provider-spikes.md
  avatar/web/app/api/echo-turn/avatar/route.ts
  avatar/web/app/echo-turn/page.tsx
  cto-config.template.json
  docs/avatar-architecture.md
  docs/avatar/provider-switch.md
  docs/avatar/validation.md
  docs/plans/avatar-provider-failover.md
  infra/charts/openclaw-agent/values.yaml
  model-providers.json
  scripts/avatar-log-validation.sh
Due: none

Harden Morgan avatar bridge for production (#4849)
  .gitignore
  avatar/docs/provider-spikes.md
  avatar/web/app/api/echo-turn/avatar/route.ts
  avatar/web/app/echo-turn/page.tsx
  cto-config.template.json
  docs/avatar-architecture.md
  docs/avatar/provider-switch.md
  docs/avatar/validation.md
  docs/plans/avatar-provider-failover.md
  infra/charts/openclaw-agent/values.yaml
  model-providers.json
  scripts/avatar-log-validation.sh
Due: none

fix: remove OpenAI GitOps defaults
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix: remove OpenAI GitOps defaults (#4850)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix: preserve GitOps OpenClaw config after doctor
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: rerender OpenClaw config after doctor
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: finalize OpenClaw config after init
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: cache avatar tts responses
  avatar/web/app/api/echo-turn/tts/route.ts
Due: none

fix: cache avatar TTS responses
  avatar/web/app/api/echo-turn/tts/route.ts
Due: none

fix: avoid unused LiveKit turn detector preload
  avatar/agent/README.md
  avatar/agent/morgan_avatar_agent/providers.py
  avatar/agent/pyproject.toml
  avatar/agent/tests/test_config.py
Due: none

fix: avoid unused LiveKit turn detector preload (#4854)
  avatar/agent/README.md
  avatar/agent/morgan_avatar_agent/providers.py
  avatar/agent/pyproject.toml
  avatar/agent/tests/test_config.py
Due: none

docs: add Morgan Meet Hermes adapter design (CTO cross-reference)
  docs/morgan-meet-hermes-design.md
Due: none

docs: add generic Agent Presence Hub design
  docs/agent-presence-hub.md
Due: none

docs: add avatar agent platform inventory
  docs/avatar-agent-platform-inventory.md
Due: none

Wire Morgan Avatar LemonSlice secret
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

Use public Morgan image for LemonSlice avatar
  infra/gitops/agents/morgan-avatar-values.yaml
Due: no-hardcoded-passwords

feat(avatar): expose Morgan LiveKit frontend route
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/app/api/avatar/token/route.ts
  apps/web/src/app/morgan/avatar/embed/page.tsx
  apps/web/src/app/morgan/avatar/page.tsx
  apps/web/src/components/morgan-avatar/morgan-avatar-room.tsx
  apps/website/src/app/cto/morgan/page.tsx
Due: none

chore(livekit): persist direct media path
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/manifests/livekit/tunnel-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Persist LiveKit direct media path
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/manifests/livekit/tunnel-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): publish web image on Docker runner
  .github/workflows/web-ci.yaml
Due: none

fix(ci): publish web image on Docker runner (#4860)
  .github/workflows/web-ci.yaml
Due: none

fix(avatar): use ElevenLabs Scribe STT for Morgan
  avatar/agent/README.md
  avatar/agent/morgan_avatar_agent/providers.py
  avatar/agent/tests/test_config.py
  avatar/docs/provider-spikes.md
  infra/gitops/agents/morgan-avatar-values.yaml
Due: no-hardcoded-passwords

fix(avatar): use ElevenLabs Scribe STT for Morgan (#4861)
  avatar/agent/README.md
  avatar/agent/morgan_avatar_agent/providers.py
  avatar/agent/tests/test_config.py
  avatar/docs/provider-spikes.md
  infra/gitops/agents/morgan-avatar-values.yaml
Due: no-hardcoded-passwords

fix(website): default Morgan landing page to LemonSlice
  apps/website/src/app/cto/morgan/page.tsx
Due: none

fix(website): default Morgan landing page to LemonSlice (#4862)
  apps/website/src/app/cto/morgan/page.tsx
Due: none

docs: trim avatar strategy whitespace
  docs/agent-presence-hub.md
  docs/morgan-meet-hermes-design.md
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

