Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore: consolidate CI Dockerfiles under infra/images
  .github/workflows-archive/gitops-publish.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/dex-api-build.yaml
  .github/workflows/dex-indexer-build.yaml
  .github/workflows/gitops-publish.yaml
  .gitlab/ci/jobs/images.yml
  infra/images/agents-adapter-patched/Dockerfile
  infra/images/controller/.gitignore
  infra/images/controller/Dockerfile.minimal
  infra/images/dex-api/Dockerfile
  infra/images/dex-indexer/Dockerfile
Due: none

chore: consolidate CI Dockerfiles under infra/images (#4867)
  .github/workflows-archive/gitops-publish.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/dex-api-build.yaml
  .github/workflows/dex-indexer-build.yaml
  .github/workflows/gitops-publish.yaml
  .gitlab/ci/jobs/images.yml
  infra/images/agents-adapter-patched/Dockerfile
  infra/images/controller/.gitignore
  infra/images/controller/Dockerfile.minimal
  infra/images/dex-api/Dockerfile
  infra/images/dex-indexer/Dockerfile
Due: none

chore: remove duplicate repair-doc-links.py (keep scripts/2026-04 copy)
  scripts/repair-doc-links.py
Due: none

feat: add headless blender to agent runtime
  infra/images/runtime/Dockerfile
Due: none

feat: add avatar openclaw agent
  infra/gitops/agents/avatar-openclaw-values.yaml
  infra/gitops/applications/workloads/avatar-openclaw-agent.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: route avatar openclaw ide hostname
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

chore: align avatar tunnel binding defaults
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

fix: preserve openclaw rendered secrets
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: support headless glb preview renders
  avatar/scripts/render-glb-turntable.py
  infra/images/runtime/Dockerfile
Due: none

feat: layer OpenClaw from official image
  .github/workflows/agents-build.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/images/agents/Dockerfile
  infra/images/openclaw-platform/Dockerfile
Due: none

feat: add beta agents image
  .github/workflows/agents-build.yaml
  infra/gitops/agents/avatar-openclaw-values.yaml
  infra/images/agents/Dockerfile
  infra/images/agents/Dockerfile.beta
Due: no-hardcoded-passwords

fix: persist avatar gpu observability
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/observability/metrics-server.yaml
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/manifests/datadog/datadog-agent.yaml
  infra/gitops/manifests/metrics-server/kustomization.yaml
  infra/gitops/manifests/metrics-server/rke2-helmchartconfig.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: persist avatar gpu runtime
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/avatar-openclaw-values.yaml
Due: no-hardcoded-passwords

Support headless avatar renders and GPU observability (#4868)
  avatar/scripts/render-glb-turntable.py
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/observability/metrics-server.yaml
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/manifests/datadog/datadog-agent.yaml
  infra/gitops/manifests/metrics-server/kustomization.yaml
  infra/gitops/manifests/metrics-server/rke2-helmchartconfig.yaml
  infra/images/runtime/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: route OpenClaw through Codex GPT-5.5
  infra/gitops/agents/avatar-openclaw-values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix: expose avatar render artifacts
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

fix: render avatar GLB forward-facing
  avatar/scripts/render-glb-turntable.py
Due: none

feat: enhance Copilot ACP defaults
  infra/charts/openclaw-agent/skills/openclaw/tools-client.md
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/templates/configmap-promtail.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
  templates/cli-configs/copilot-config.json.hbs
Due: no-hardcoded-passwords

fix: use copilot gpt-5.5 for avatar openclaw
  infra/gitops/agents/avatar-openclaw-values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

docs: pivot avatar plan to Scenario
  .avatar-docs/available-models.md
  docs/2026-04/avatar/model-dag-plan.md
  docs/2026-04/specs/avatar-runtime-validator-contract.md
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/external-secrets/openclaw-secrets.yaml
Due: no-hardcoded-passwords

fix: split copilot auth secret key
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: use copilot cli backend for avatar
  infra/gitops/agents/avatar-openclaw-values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

docs: add avatar OpenClaw standing orders
  docs/2026-04/avatar-autonomy-policy.md
  docs/2026-04/avatar/openclaw-fleet-topology.md
  docs/2026-04/openclaw-cli-provider-routing.md
  docs/2026-04/openclaw-subagent-resource-strategy.md
  infra/charts/openclaw-agent/skills/openclaw/autonomy-policy.md
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

docs: add avatar OpenClaw standing orders and fleet topology
  docs/2026-04/avatar-autonomy-policy.md
  docs/2026-04/avatar/openclaw-fleet-topology.md
  docs/2026-04/openclaw-cli-provider-routing.md
  docs/2026-04/openclaw-subagent-resource-strategy.md
  infra/charts/openclaw-agent/skills/openclaw/autonomy-policy.md
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

chore: wire avatar OpenClaw service keys
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/external-secrets/openclaw-secrets.yaml
Due: no-hardcoded-passwords

fix: teach avatar acp cli aliases
  infra/gitops/agents/avatar-openclaw-values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

docs: add cute dog Scenario refinement path
  .avatar-docs/available-models.md
  docs/2026-04/avatar/model-dag-plan.md
Due: none

docs: add Scenario cute dog refinement path
  .avatar-docs/available-models.md
  docs/2026-04/avatar/model-dag-plan.md
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

