Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

refactor: consolidate namespaces - operators + move Atlas alerts to CTO (#1733)
  .github/workflows/tools.yaml
  .gitignore
  infra/charts/tools/templates/deployment-mcp-servers.yaml
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
  infra/cluster-config/operators-namespace.yaml
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/applications/cert-manager.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/ingress-nginx.yaml
  infra/gitops/applications/ngrok-operator.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/applications/vault-config.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/rbac/github-runner-rbac.yaml
  infra/gitops/rbac/github-runner-secret-access.yaml
  infra/vault/secrets/api-keys.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/github-apps.yaml
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/tools.yaml
  infra/vault/vault-auth.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(tools): integrate k8s-mcp as deployment within tools chart (#1732)
  infra/charts/k8s-mcp/Chart.yaml
  infra/charts/k8s-mcp/templates/deployment.yaml
  infra/charts/k8s-mcp/templates/service.yaml
  infra/charts/k8s-mcp/values.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/k8s-mcp.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: arc-controller use OCI registry for Helm chart
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: arc-controller use OCI registry for Helm chart (#1734)
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct OCI URL format for arc-controller
  infra/gitops/applications/arc-controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct OCI URL format for arc-controller (#1735)
  cli/src/installer/mod.rs
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  controller/src/cli/adapters/opencode.rs
  controller/src/cli/bridge.rs
  infra/gitops/applications/arc-controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

🔧 Auto-format Rust code
  cli/src/installer/mod.rs
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  controller/src/cli/adapters/opencode.rs
  controller/src/cli/bridge.rs
Due: none

fix: ingress-nginx sync conflicts with existing deployment
  infra/gitops/applications/ingress-nginx.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ingress-nginx sync conflicts with existing deployment (#1736)
  infra/gitops/applications/ingress-nginx.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor: move external-dns to operators namespace
  infra/gitops/applications/external-dns.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: cloudflare credentials namespace + update comments
  infra/vault/secrets/infrastructure.yaml
Due: none

fix: update hardcoded DNS references from telemetry to observability
  infra/charts/controller/agent-templates/code/claude/settings.json.hbs
  infra/charts/controller/templates/task-controller-config.yaml
  infra/gitops/applications/fluent-bit.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/monitoring/README.md
  infra/monitoring/VIEWING_CLI_LOGS.md
  infra/monitoring/fluent-bit/config.yaml
  infra/monitoring/grafana/victoria-logs-datasource.yaml
  infra/monitoring/otel-collector/config.yaml
  infra/monitoring/otel-collector/values.yaml
  infra/telemetry/values/claude-code-telemetry.yaml
  infra/telemetry/values/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

fix: update hardcoded namespace labels in Prometheus alert expressions
  infra/telemetry/alerts/alerting-rules-configmap.yaml
  infra/telemetry/alerts/atlas-alerting-rules-configmap.yaml
  infra/telemetry/alerts/claude-code-alerts.yaml
Due: none

fix: correct OCI Helm chart format for arc-controller
  infra/gitops/applications/arc-controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: eventbus maxAge quoting and platform-runners namespace
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/resources/github-webhooks/eventbus.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove maxAge config from eventbus to fix NATS type error
  infra/gitops/resources/github-webhooks/eventbus.yaml
Due: no-hardcoded-passwords

fix: remove maxAge config from eventbus to fix NATS type error (#1742)
  infra/gitops/resources/github-webhooks/eventbus.yaml
Due: no-hardcoded-passwords

fix: remove trader namespace and duplicate entries from ghcr.yaml
  infra/vault/secrets/ghcr.yaml
Due: none

fix: remove trader namespace and duplicate entries from ghcr.yaml (#1743)
  infra/vault/secrets/ghcr.yaml
Due: none

fix: remove duplicate cto app-of-apps causing SharedResourceWarning
  infra/gitops/applications/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove duplicate cto app-of-apps causing SharedResourceWarning (#1744)
  infra/gitops/applications/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(monitor): add multi-watch infrastructure for comprehensive E2E monitoring (#1698)
  docs/prompts/play-remediation-loop.md
  monitor/src/main.rs
Due: none

fix: replace hardcoded agent-platform namespace references
  mcp/src/main.rs
Due: none

fix: replace hardcoded agent-platform namespace references (#1745)
  mcp/src/main.rs
Due: none

chore: trigger controller image rebuild for namespace fix
  controller/src/bin/agent_controller.rs
Due: none

🔧 Auto-format Rust code
  mcp/src/main.rs
Due: none

fix: use cto namespace for Argo workflow URLs and CLI commands
  mcp/src/main.rs
Due: none

fix: use cto namespace for Argo workflow URLs and CLI commands (#1747)
  cli/src/installer/mod.rs
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  controller/src/cli/adapters/opencode.rs
  controller/src/cli/bridge.rs
  mcp/src/main.rs
Due: none

fix: update CI deploy namespace from agent-platform to cto
  .github/workflows/develop-deploy.yaml
Due: none

fix: switch ARC controller from OCI to Git repo source
  infra/gitops/applications/arc-controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update CI workflows for cto namespace refactor
  .github/workflows/agent-templates-sync.yaml
  .github/workflows/develop-deploy.yaml
  CLUSTER_STATE_SNAPSHOT.md
  docs/architecture/e2e-watch-system.md
  docs/vpn/kilo-client-setup.md
  infra/images/runtime/Dockerfile
  infra/images/runtime/README.md
  scripts/kilo-vpn.sh
Due: none

fix: switch ARC controller from OCI to Git repo source (#1749)
  infra/gitops/applications/arc-controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update CI workflows for cto namespace refactor (#1750)
  .github/workflows/agent-templates-sync.yaml
  .github/workflows/develop-deploy.yaml
  CLUSTER_STATE_SNAPSHOT.md
  cli/src/installer/mod.rs
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  controller/src/cli/adapters/opencode.rs
  controller/src/cli/bridge.rs
  docs/architecture/e2e-watch-system.md
  docs/vpn/kilo-client-setup.md
  infra/images/runtime/Dockerfile
  infra/images/runtime/README.md
  scripts/kilo-vpn.sh
Due: none

fix: update tools install URL to CTO monorepo
  ROADMAP.md
  docs/engineering/toolman-mcp-architecture.md
  infra/images/runtime/Dockerfile
Due: none

fix: update tools install URL to CTO monorepo (#1751)
  ROADMAP.md
  docs/engineering/toolman-mcp-architecture.md
  infra/images/runtime/Dockerfile
Due: none
