Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(stitch): Add Factory and Anthropic API keys (#1925)
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(ci): replace play-monitor with heal/controller in binaries-release
  .github/workflows/binaries-release.yaml
Due: none

fix(stitch): Add GH_TOKEN from tools-github-secrets PAT
  Cargo.lock
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): Add GH_TOKEN from tools-github-secrets PAT (#1926)
  Cargo.lock
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(ci): replace play-monitor with heal/controller in binaries-release (#1927)
  .github/workflows/binaries-release.yaml
Due: none

refactor(ci): consolidate controller workflows into single CI pipeline
  .github/workflows/controller-ci.yaml
  .github/workflows/develop-deploy.yaml
  Cargo.lock
Due: none

refactor(ci): consolidate controller workflows into single CI pipeline (#1929)
  .github/workflows/controller-ci.yaml
  .github/workflows/develop-deploy.yaml
  Cargo.lock
Due: none

fix(heal): add initContainer to fix PVC permissions on startup
  infra/charts/universal-app/templates/deployment.yaml
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(heal): add initContainer to fix PVC permissions on startup
  infra/charts/universal-app/templates/deployment.yaml
  infra/charts/universal-app/values.yaml
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(lint): remove trailing spaces from stitch-pr-review-sensor.yaml
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(heal): add initContainer to fix PVC permissions on startup (#1931)
  infra/charts/universal-app/templates/deployment.yaml
  infra/charts/universal-app/values.yaml
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): fix controller build target directory and rename workflow
  .github/workflows/controller-ci.yaml
Due: none

fix(ci): fix controller build target directory and rename workflow (#1932)
  .github/workflows/controller-ci.yaml
Due: none

fix(stitch): use GitHub App token instead of PAT for reviews
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

feat(stitch): add GitHub Check Runs for PR review status
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): use GitHub App token instead of PAT for reviews (#1934)
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

feat(stitch): add inline PR review comments like Cursor Bot
  infra/charts/controller/agent-templates/review/factory/agents.md.hbs
  infra/charts/controller/agent-templates/review/factory/post_review.py
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): use position-based comments like Cursor Bot
  infra/charts/controller/agent-templates/review/factory/post_review.py
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

feat(stitch): add inline PR review comments like Cursor Bot (#1936)
  infra/charts/controller/agent-templates/review/factory/agents.md.hbs
  infra/charts/controller/agent-templates/review/factory/post_review.py
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

test: add file with intentional issues for Stitch review demo
  test-file-for-stitch.rs
Due: none

fix(stitch): use jq instead of grep for JSON parsing
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

test: trigger stitch review
  test-file-for-stitch.rs
Due: none

fix(stitch): use jq instead of grep for JSON parsing (#1939)
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

test: Stitch inline review demo (#1938)
  test-file-for-stitch.rs
Due: none

fix(play): add guard to prevent update-to-waiting-merge when resuming
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

feat(docs): add Mintlify documentation configuration
  docs/.mintignore
  docs/docs.json
  docs/index.mdx
Due: none

fix(play): add guard to prevent update-to-waiting-merge when resuming (#1941)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

feat(docs): add Mintlify documentation configuration (#1943)
  docs/.mintignore
  docs/docs.json
  docs/index.mdx
Due: none

fix(ci): build cto-mcp binary for tools Docker image
  .github/workflows/tools-ci.yaml
Due: none

fix(ci): consolidate Docker builds and standardize tagging
  .github/workflows/controller-ci.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/infrastructure-build.yaml
Due: none

fix(ci): consolidate Docker builds and standardize tagging (#1946)
  .github/workflows/controller-ci.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/infrastructure-build.yaml
Due: none

feat(heal): add A9 alert for stuck CodeRuns
  heal/prompts/a9-stuck-coderun.md
  heal/src/alerts/a9_stuck_coderun.rs
  heal/src/alerts/mod.rs
  heal/src/alerts/types.rs
  heal/src/main.rs
Due: none

fix(ci): handle rustup concurrent cache conflicts on k8s-runner
  .github/workflows/controller-ci.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

feat(heal): add A9 alert for stuck CodeRuns (#1944)
  heal/prompts/a9-stuck-coderun.md
  heal/src/alerts/a9_stuck_coderun.rs
  heal/src/alerts/mod.rs
  heal/src/alerts/types.rs
  heal/src/main.rs
Due: none

fix(ci): check both rustc AND cargo before skipping toolchain install
  .github/workflows/controller-ci.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

🔧 Auto-format Rust code
  heal/src/alerts/a9_stuck_coderun.rs
  heal/src/main.rs
Due: none

fix(ci): remove --force-non-host flag that breaks cargo installation
  .github/workflows/controller-ci.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none

fix(ci): uninstall broken toolchain before reinstalling
  .github/workflows/controller-ci.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/tools-ci.yaml
Due: none
