Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(musetalk): use Ubuntu 22.04 + Python 3.11 + CUDA 11.8 for livekit-rtc compatibility
  infra/images/musetalk-worker/Dockerfile
Due: none

fix(gitops): remove duplicate annotations key in musetalk-worker
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(code-server): extract shared config to shared/code-server-config/
  .github/workflows/parity-check.yaml
  crates/controller/src/tasks/code/resources.rs
  infra/charts/openclaw-agent/files/code-server-config
  infra/charts/openclaw-agent/templates/deployment.yaml
  shared/code-server-config/README.md
  shared/code-server-config/settings.json
  shared/code-server-config/storage.json
Due: none

chore: trigger GitHub Actions workflow for musetalk-worker image build
  infra/images/musetalk-worker/Dockerfile
Due: none

fix(coder): persist stable code-server URL in boot config
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): persist stable code-server URL in boot config (#4687)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(yamllint): strip trailing whitespace + add final newline in clusterpolicy.yaml
  infra/gitops/manifests/gpu-operator/clusterpolicy.yaml
Due: no-hardcoded-passwords

fix(yamllint): merge duplicate annotations + strip clusterpolicy whitespace
  infra/gitops/applications/workloads/musetalk-worker.yaml
  infra/gitops/manifests/gpu-operator/clusterpolicy.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(coder): install kaniko docker shim via agent postStart hook (#4686)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
  infra/gitops/manifests/gpu-operator/clusterpolicy.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Parity Stream B: VSIX release pipeline (#4680)
  .github/workflows/cto-sidebar-release.yaml
Due: none

refactor(code-server): extract shared config to shared/code-server-config/ (#4684)
  .github/workflows/parity-check.yaml
  crates/controller/src/tasks/code/resources.rs
  infra/charts/openclaw-agent/files/code-server-config
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/manifests/gpu-operator/clusterpolicy.yaml
  shared/code-server-config/README.md
  shared/code-server-config/settings.json
  shared/code-server-config/storage.json
Due: no-hardcoded-passwords

ci: gate mirror-to-gitlab on MIRROR_TO_GITLAB var
  .github/workflows/mirror-to-gitlab.yml
Due: none

docs(coder): note GHCR quota exhausted, build images locally
  .codex/agents/coder-expert.md
Due: none

docs: PRD for self-hosted GitLab cutover + CTO app parity
  docs/self-hosted-gitlab-cutover.md
Due: none

fix(musetalk): use ubuntu:22.04 base with manual CUDA install
  infra/images/musetalk-worker/Dockerfile
Due: none

fix(musetalk): resolve unresolved merge conflict markers in Dockerfile
  infra/images/musetalk-worker/Dockerfile
Due: none

fix(musetalk): resolve unresolved merge conflict markers in Dockerfile (#4690)
  infra/images/musetalk-worker/Dockerfile
Due: none

fix(gitlab): ignore SSA-defaulted fields on gitaly StatefulSet
  infra/gitops/applications/platform/gitlab.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

ci(mirror): add workflow_dispatch trigger for manual mirror runs
  .github/workflows/mirror-to-gitlab.yml
Due: none

feat(gitlab-mirror): in-cluster CronJob mirroring GitHub→GitLab via SSH
  .github/workflows/mirror-to-gitlab.yml
  docs/self-hosted-gitlab-cutover.md
  infra/charts/gitlab-mirror/Chart.yaml
  infra/charts/gitlab-mirror/templates/cronjob.yaml
  infra/charts/gitlab-mirror/values.yaml
  infra/docs/gitlab-mirror.md
  infra/gitops/applications/platform/gitlab-mirror.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(gitlab-mirror): inject GH PAT for private cto clone
  infra/charts/gitlab-mirror/Chart.yaml
  infra/charts/gitlab-mirror/templates/cronjob.yaml
  infra/charts/gitlab-mirror/values.yaml
Due: none

ci: add GitHub Actions workflow for musetalk-worker image
  .github/workflows/musetalk-worker-docker.yml
Due: none

fix(musetalk-worker): pre-install chumpy without build isolation; fix livekit package name; add gnupg/ca-certificates for apt
  infra/images/musetalk-worker/Dockerfile
  infra/images/musetalk-worker/requirements.txt
Due: none

ci(security): allow_failure=true for semgrep-sast (221 baseline findings)
  .gitlab/ci/jobs/security.yml
Due: none

ci(gitlab): fix semantic-release plugins and make semgrep a real gate
  .gitlab/ci/jobs/release.yml
  .gitlab/ci/jobs/security.yml
  .gitlab/ci/templates/security-scan.yml
  .semgrepignore
Due: none

fix(musetalk): correct NATS URL to openclaw-nats service
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(musetalk): correct NATS URL to openclaw-nats service (#4692)
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

ci(gitlab): pass explicit target path to semgrep to avoid /src docker auto-detect
  .gitlab/ci/templates/security-scan.yml
Due: none

fix(musetalk): dedicated NATS with JetStream in cto namespace
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/manifests/cto/musetalk-nats/configmap.yaml
  infra/gitops/manifests/cto/musetalk-nats/kustomization.yaml
  infra/gitops/manifests/cto/musetalk-nats/service.yaml
  infra/gitops/manifests/cto/musetalk-nats/statefulset.yaml
Due: no-hardcoded-passwords

fix(musetalk): dedicated NATS with JetStream in cto namespace (#4693)
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/manifests/cto/musetalk-nats/configmap.yaml
  infra/gitops/manifests/cto/musetalk-nats/kustomization.yaml
  infra/gitops/manifests/cto/musetalk-nats/service.yaml
  infra/gitops/manifests/cto/musetalk-nats/statefulset.yaml
Due: no-hardcoded-passwords

fix(musetalk): point ArgoCD app inline values at dedicated NATS
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitlab-ci): remove RUSTUP_HOME override so rust:latest toolchain is found
  .gitlab/ci/templates/rust-build.yml
Due: none

fix(musetalk): point ArgoCD app inline values at dedicated NATS (#4694)
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(semgrep): exclude skills/ and bundled third-party package dirs
  .semgrepignore
Due: none

ci(gitlab): mark security scans as advisory (allow_failure)
  .gitlab/ci/jobs/security.yml
Due: none

ci(musetalk-worker): free disk space before Docker build
  .github/workflows/musetalk-worker-docker.yml
Due: none

fix(musetalk): add einops dependency for MuseTalk utils
  infra/images/musetalk-worker/requirements.txt
Due: none

fix(code-server): remove password requirement
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

ci(gitlab): guard sccache + apply cargo fmt
  .gitlab/ci/templates/rust-build.yml
  crates/controller/src/cli/adapters/claude.rs
  crates/controller/src/cli/adapters/code.rs
  crates/controller/src/cli/adapters/codex.rs
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/naming.rs
  crates/controller/src/tasks/code/skills_cache.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/code/watcher.rs
  crates/controller/tests/e2e_template_tests.rs
  crates/play-launcher/src/config.rs
  crates/play-launcher/src/launcher.rs
  crates/play-launcher/src/main.rs
Due: none
