Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

fix: Add required taskId field to Atlas batch integration sensor
  infra/gitops/resources/github-webhooks/atlas-batch-integration-sensor.yaml
Due: no-hardcoded-passwords

feat: Add smart Atlas activation with proper SERVICE extraction
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

feat: add MCP tools validation across all CLI agents and fix Gemini build pipeline
  .github/workflows/agents-build.yaml
  MCP_TOOLS_VALIDATION_IMPLEMENTATION.md
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/images/gemini/Dockerfile
  infra/images/gemini/README.md
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix(atlas): remove Task 0 default and standardize service names
  ATLAS_TASK_ZERO_FIX.md
  client-config.json
  infra/gitops/resources/github-webhooks/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
  infra/secret-store/toolman-external-secrets.yaml
Due: no-hardcoded-passwords

fix: add missing Toolman secrets for context7 and GitHub in agent-platform namespace
  client-config.json
  infra/secret-store/toolman-external-secrets.yaml
Due: none

fix(atlas): use GitHub API instead of gh CLI and handle UNKNOWN mergeable status
  ATLAS_TASK_ZERO_FIX.md
  PR_CONTEXT7_PLATFORM_SECRETS.md
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: add missing Toolman secrets for context7 and GitHub in agent-platform namespace
  infra/secret-store/toolman-external-secrets.yaml
Due: none

fix(atlas): use GitHub API instead of gh CLI and handle UNKNOWN mergeable status
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(lint): remove trailing spaces and add newline at EOF
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): query both mergeable and mergeable_state fields
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: mount Context7 and GitHub secrets as environment variables in Toolman
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: add PR description for Toolman Context7 and GitHub fix
  PR_TOOLMAN_CONTEXT7_FIX.md
Due: none

fix(atlas): exact label matching and proper boolean handling
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): exact label matching and proper boolean false handling
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: remove empty env overrides for Context7 and GitHub in Toolman config
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove empty env overrides for Context7 and GitHub in Toolman config (#1589)
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve pip rich conflict in semgrep installation
  infra/images/runtime/Dockerfile
Due: none

fix(atlas): sanitize SERVICE regex and count current PR
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): case-insensitive label matching and exclude current PR
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix(docker): install rich separately to avoid unnecessary semgrep reinstall
  infra/images/runtime/Dockerfile
Due: none

feat: Add smart Atlas activation with proper SERVICE extraction (#1585)
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
  infra/images/runtime/Dockerfile
Due: no-hardcoded-passwords

fix(mcp): use docsProjectDirectory instead of workingDirectory for tasks.json lookup
  dist/cto-mcp
  mcp/src/main.rs
Due: none

fix(mcp): add helpful error message when tasks.json not in local workspace
  dist/cto-mcp
  mcp/src/main.rs
Due: none

fix(mcp): handle missing tasks.json gracefully in play_status
  dist/cto-mcp
  mcp/src/main.rs
Due: none

fix(mcp): prefer current dir over first workspace entry
  dist/cto-mcp
  mcp/src/main.rs
Due: none

fix(mcp): revert path resolution priority to favor WORKSPACE_FOLDER_PATHS
  PATH_RESOLUTION_ANALYSIS.md
Due: none

fix(mcp): add repository_path parameter and fix misleading status messages
  CIPHER_CONTAINER_ENHANCEMENTS.md
  PATH_RESOLUTION_ANALYSIS.md
  PR_TOOLMAN_CONTEXT7_FIX.md
  cto-config.json
  dist/cto-mcp
  infra/charts/controller/agent-templates/security/.semgrep.yaml
  infra/charts/controller/agent-templates/security/CIPHER_QUICK_REFERENCE.md
  infra/charts/controller/agent-templates/security/CIPHER_SECURITY_GUIDELINES.md
  infra/charts/controller/agent-templates/security/README.md
  infra/images/gemini/Dockerfile
  infra/images/gemini/README.md
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

fix(mcp): improve workspace resolution and error handling
  dist/cto-mcp
  mcp/src/main.rs
Due: none

fix(mcp): resolve cursor bot issues and Clippy warnings
  dist/cto-mcp
  mcp/src/main.rs
Due: none

fix(mcp): use docsProjectDirectory for tasks.json lookup (#1591)
  CIPHER_CONTAINER_ENHANCEMENTS.md
  PATH_RESOLUTION_ANALYSIS.md
  PR_TOOLMAN_CONTEXT7_FIX.md
  cto-config.json
  dist/cto-mcp
  infra/charts/controller/agent-templates/security/.semgrep.yaml
  infra/charts/controller/agent-templates/security/CIPHER_QUICK_REFERENCE.md
  infra/charts/controller/agent-templates/security/CIPHER_SECURITY_GUIDELINES.md
  infra/charts/controller/agent-templates/security/README.md
  infra/images/gemini/Dockerfile
  infra/images/gemini/README.md
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

🔧 Auto-format Rust code
  mcp/src/main.rs
Due: none

feat: add MCP validation to all Claude agent-specific scripts
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
Due: none

docs: update implementation doc with all Claude agent scripts
  MCP_TOOLS_VALIDATION_IMPLEMENTATION.md
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

