Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(avatar): pivot to HeadAudio audio-driven lip-sync
  avatar/web/.env.local.example
  avatar/web/README.md
  avatar/web/components/LiveKitAudioBridge.tsx
  avatar/web/components/Room.tsx
  avatar/web/components/TalkingHeadView.tsx
  avatar/web/components/VoiceBridgeIngestion.tsx
  avatar/web/lib/avatar-runtime.ts
  avatar/web/lib/lipsync/elevenlabs-to-oculus.ts
  avatar/web/lib/runtimes/elevenlabs-alignment.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/public/headaudio/headworklet.min.mjs
  avatar/web/public/headaudio/model-en-mixed.bin
  avatar/web/types/headaudio.d.ts
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
  infra/manifests/livekit/tunnel-binding.yaml
  infra/manifests/morgan-support/project-api-tunnel-binding.yaml
  infra/manifests/voice-bridge/deployment.yaml
Due: no-hardcoded-passwords

feat(avatar): TalkingHead runtime + HeadAudio audio-driven lip-sync (#4790)
  avatar/web/.env.local.example
  avatar/web/README.md
  avatar/web/components/AvatarRuntimeSurface.tsx
  avatar/web/components/LiveKitAudioBridge.tsx
  avatar/web/components/Room.tsx
  avatar/web/components/TalkingHeadView.tsx
  avatar/web/components/VoiceBridgeIngestion.tsx
  avatar/web/lib/avatar-runtime.ts
  avatar/web/lib/runtimes/elevenlabs-alignment.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/public/headaudio/headworklet.min.mjs
  avatar/web/public/headaudio/model-en-mixed.bin
  avatar/web/types/headaudio.d.ts
  avatar/web/types/talkinghead.d.ts
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
  infra/images/voice-bridge/app/main.py
  infra/manifests/livekit/tunnel-binding.yaml
  infra/manifests/morgan-support/project-api-tunnel-binding.yaml
  infra/manifests/voice-bridge/deployment.yaml
Due: no-hardcoded-passwords

docs(avatar): HeadAudio verification checklist + smoke script (WS-A)
  avatar/web/docs/headaudio-verification.md
  avatar/web/scripts/smoke-headaudio.sh
Due: none

fix(avatar): publicly expose avatar dev server for demos (WS-C)
  avatar/web/package.json
  infra/charts/openclaw-agent/templates/service.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

fix(infra): LiveKit ExternalSecret reconciliation + Inference STT auth (WS-E)
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

docs(avatar): Phase 4 session protocol disposition (WS-F)
  docs/avatar/phase4-disposition.md
Due: none

feat(avatar): Ready Player Me stand-in for Morgan (WS-B1)
  avatar/web/.env.local.example
  avatar/web/components/Room.tsx
  avatar/web/config/morgan.ts
Due: none

fix(gitlab-sync): make cto Mirror-to-GitLab action clear Cloudflare 100MB cap
  .github/workflows/mirror-to-gitlab.yml
  infra/charts/gitlab-mirror/values.yaml
  infra/docs/gitlab-mirror.md
Due: none

feat: add DigitalOcean Gradient AI as OpenCode provider (Claude Opus 4.7)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

docs: archive MuseTalk Phase 4 PRD (superseded by #4790)
  docs/archive/prds/coder-gpu-musetalk-phase4.md
Due: none

docs(avatar): refresh session protocol spec to match shipped cto-avatar-state/v1
  docs/specs/avatar-session-protocol.md
Due: none

docs(avatar): Phase 4 session protocol disposition (WS-F) (#4794)
  docs/avatar/phase4-disposition.md
Due: none

feat(avatar): Ready Player Me stand-in for Morgan (WS-B1) (#4795)
  avatar/web/.env.local.example
  avatar/web/components/Room.tsx
  avatar/web/config/morgan.ts
Due: none

docs: archive MuseTalk Phase 4 PRD (superseded by #4790) (#4797)
  docs/archive/prds/coder-gpu-musetalk-phase4.md
Due: none

docs(avatar): refresh session protocol spec to match shipped cto-avatar-state/v1 (#4798)
  docs/specs/avatar-session-protocol.md
Due: none

fix(avatar): smoke-headaudio alignment check and non-empty asset verification
  avatar/web/scripts/smoke-headaudio.sh
Due: none

feat(avatar): gate avatar.5dlabs.ai behind Cloudflare Access
  docs/runbooks/cloudflare-access-avatar-demo.md
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

fix(avatar): smoke-headaudio alignment check and non-empty asset verification (#4801)
  avatar/web/scripts/smoke-headaudio.sh
Due: none

feat(avatar): gate avatar.5dlabs.ai behind Cloudflare Access (#4802)
  docs/runbooks/cloudflare-access-avatar-demo.md
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

WS-B2: canine rig blendshape spec + config stub
  avatar/web/config/morgan.ts
  avatar/web/docs/canine-rig-spec.md
Due: none

WS-B2: canine rig blendshape spec + config stub (#4800)
  avatar/web/config/morgan.ts
  avatar/web/docs/canine-rig-spec.md
Due: none

feat(avatar): add SESSION_STATE and ERROR frame types to avatar-session/v1 protocol
  avatar/web/lib/__tests__/avatar-session-frames.test.ts
  avatar/web/lib/avatar-state.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/vitest.config.ts
Due: none

feat(avatar): add SESSION_STATE and ERROR frame types to avatar-session/v1 protocol (#4804)
  avatar/web/lib/__tests__/avatar-session-frames.test.ts
  avatar/web/lib/avatar-state.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/vitest.config.ts
Due: none

feat(avatar): pure mapping layer for agent state → avatar state
  avatar/web/lib/__tests__/avatar-state-mapping.test.ts
  avatar/web/lib/avatar-state-mapping.ts
Due: none

feat(avatar): pure mapping layer for agent state → avatar state (#4805)
  avatar/web/lib/__tests__/avatar-state-mapping.test.ts
  avatar/web/lib/avatar-state-mapping.ts
Due: none

feat(avatar): instrument 6 protocol metrics (connection/audio/viseme/frames/recovery/memory)
  avatar/web/lib/__tests__/avatar-metrics.test.ts
  avatar/web/lib/avatar-metrics.ts
  avatar/web/lib/avatar-runtime.ts
  infra/images/voice-bridge/app/protocol_metrics.py
Due: none

feat(avatar): instrument 6 protocol metrics (connection/audio/viseme/frames/recovery/memory) (#4806)
  avatar/web/lib/__tests__/avatar-metrics.test.ts
  avatar/web/lib/avatar-metrics.ts
  avatar/web/lib/avatar-runtime.ts
  infra/images/voice-bridge/app/protocol_metrics.py
Due: none

feat(avatar): structured ERROR frames with recoverable reconnect handler
  avatar/web/lib/__tests__/avatar-error-handler.test.ts
  avatar/web/lib/avatar-error-handler.ts
  infra/images/voice-bridge/app/main.py
  infra/images/voice-bridge/app/session_errors.py
  infra/images/voice-bridge/tests/test_voice_bridge.py
Due: none

feat(avatar): structured ERROR frames with recoverable reconnect handler (#4807)
  avatar/web/lib/__tests__/avatar-error-handler.test.ts
  avatar/web/lib/avatar-error-handler.ts
  infra/images/voice-bridge/app/main.py
  infra/images/voice-bridge/app/session_errors.py
  infra/images/voice-bridge/tests/test_voice_bridge.py
Due: none

feat(avatar): emit and consume SESSION_STATE frames (cto-avatar-session/v1)
  avatar/web/components/AvatarRuntimeSurface.tsx
  avatar/web/lib/__tests__/avatar-session-subscriber.test.ts
  avatar/web/lib/avatar-session-subscriber.ts
  infra/images/voice-bridge/app/main.py
  infra/images/voice-bridge/app/session_state.py
  infra/images/voice-bridge/tests/test_voice_bridge.py
Due: none

feat(avatar): emit and consume SESSION_STATE frames (cto-avatar-session/v1) (#4808)
  avatar/web/components/AvatarRuntimeSurface.tsx
  avatar/web/lib/__tests__/avatar-session-subscriber.test.ts
  avatar/web/lib/avatar-session-subscriber.ts
  infra/images/voice-bridge/app/main.py
  infra/images/voice-bridge/app/session_state.py
  infra/images/voice-bridge/tests/test_voice_bridge.py
Due: none

feat(skills): per-session ACP backend color reactions
  infra/charts/openclaw-agent/skills/openclaw/acp-sessions.md
  infra/charts/openclaw-agent/skills/openclaw/status-reactions.md
Due: none

feat(openclaw): enable TokenJuice plugin on morgan + coder
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix(livekit): pin server image to v1.9.12 for /rtc/v1 signalling path
  infra/gitops/applications/workloads/livekit-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(livekit): pin server image to v1.9.12 for /rtc/v1 signalling path (#4810)
  infra/gitops/applications/workloads/livekit-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(skills): per-session ACP backend color reactions (#4809)
  infra/charts/openclaw-agent/skills/openclaw/acp-sessions.md
  infra/charts/openclaw-agent/skills/openclaw/status-reactions.md
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

chore(gitops): enable ServerSideApply on all cto-namespace Applications
  infra/gitops/applications/workloads/coder-agent.yaml
  infra/gitops/applications/workloads/morgan-agent.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar): add GLB blendshape validation script for canine rig
  scripts/validate-avatar-glb.py
Due: none
