Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat(opencode): implement container runtime templates
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-rex-remediation.sh.hbs
Due: none

chore(chart): regenerate agent templates static ConfigMap
  infra/charts/controller/templates/agent-templates-static.yaml
Due: none

docs(readme): major update - 7 MCP tools, multi-CLI support, tool profiles
  README.md
Due: none

Update sensors.
  docs/label-system-analysis/all-cli-verification.md
  docs/label-system-analysis/cli-comparison-audit.md
  docs/label-system-analysis/harmonization-complete.md
  docs/label-system-analysis/label-system-analysis.md
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-static.yaml
Due: none

fix(factory): add git safe.directory for REPO_ROOT
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-static.yaml
Due: none

fix(cursor): add git safe.directory for REPO_ROOT
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-static.yaml
Due: none

fix(cli): handle local changes before branch checkout with git stash
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-static.yaml
Due: none

fix(cli): stash untracked files before branch checkout
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-static.yaml
Due: none

fix(claude): update output format from stream-json to text
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

feat(controller): enhance Docker sidecar management and security context
  controller/src/tasks/code/resources.rs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

feat(controller): enhance security context and permissions handling in container templates
  controller/src/tasks/code/resources.rs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

feat(gitops): enhance workflow resumption with Argo CLI integration
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

refactor(gitops): streamline workflow processing logic in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

refactor(gitops): improve kubeconfig generation in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

refactor(gitops): enhance kubeconfig generation in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

feat(gitops): add stage label advancement for workflow management in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(gitops): improve error handling and stage advancement logic in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(gitops): clarify stage update logging in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

feat(gitops): add detection for summary, testing, and PR sections in task completion logic
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

feat(gitops): add jq installation check in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

feat(gitops): implement retry logic for waiting workflows in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(gitops): correct wait interval logging in play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(gitops): enhance task ID extraction logic in stage-aware-resume-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

feat(gitops): add PR metadata update function in workflow sensors
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(gitops): improve error handling for PR metadata patching in stage-aware-resume-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(gitops): enhance error handling for PR metadata patching in play-workflow-sensors.yaml and stage-aware-resume-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(gitops): refine error handling for jq command in workflow sensors
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

feat(github): enhance PR detection logic by branch pattern matching
  controller/src/tasks/github.rs
Due: none

feat(github): improve PR origin validation in GitHub integration
  controller/src/tasks/github.rs
Due: none

feat(gitops): add Rust development tools and installation to toolman.yaml and Dockerfile
  infra/gitops/applications/toolman.yaml
  infra/images/runtime/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(docs): enhance code quality guidelines with CLI tools and automated checks
  infra/charts/controller/agent-templates/agents/cleo-system-prompt.md.hbs
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/images/runtime/Dockerfile
Due: none

feat(security): integrate security scanning tools into agent templates and Dockerfile
  infra/charts/controller/agent-templates/agents/cleo-system-prompt.md.hbs
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/images/runtime/Dockerfile
Due: no-hardcoded-passwords

feat(docs): expand security tool usage guidelines in agent templates
  infra/charts/controller/agent-templates/agents/cleo-system-prompt.md.hbs
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/docs/claude/prompt.md.hbs
Due: none

chore(docs): remove Mermaid CLI diagram generation instructions from Rex system prompt documentation
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

