Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat(gitlab): add dual-publish artifact mirror workflow template
  .github/workflows/gitlab-artifact-mirror.yml
Due: none

ci(musetalk): delete dead workflow and add concurrency guard
  .github/workflows/musetalk-worker-build.yaml
  .github/workflows/musetalk-worker-docker.yml
Due: none

feat(musetalk-worker): add BuildKit-optimized Dockerfile
  infra/images/musetalk-worker/Dockerfile.optimized
Due: none

fix(musetalk-worker): use working image tag d36038d32
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

ci(gitlab-mirror): add cto dual-publish config + trigger list
  .github/gitlab-mirror.yml
  .github/workflows/gitlab-artifact-mirror.yml
Due: none

fix(musetalk-worker): pin to existing GHCR tag 60556388
  infra/charts/musetalk-worker/values.yaml
Due: none

ci(gitlab-mirror): dual-publish template + cto POC config (#4711)
  .github/gitlab-mirror.yml
  .github/workflows/gitlab-artifact-mirror.yml
Due: none

fix(musetalk-worker): pin argocd app inline tag override to 60556388
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(musetalk): disable argocd-image-updater until CI builds resume
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(musetalk-worker): fix dpkg statoverride issue and model path resolution
  infra/images/musetalk-worker/Dockerfile
  infra/images/musetalk-worker/render.py
Due: none

fix(musetalk-worker): more aggressive dpkg fix for container builds
  infra/images/musetalk-worker/Dockerfile
Due: none

fix(research-ci): resolve clippy and docker-lint failures
  .github/workflows/research-ci.yaml
  crates/research/src/storage/markdown.rs
  crates/research/src/twitter/poller.rs
Due: none

fix(pm-ci): resolve clippy and docker-lint failures
  .github/workflows/pm-ci.yaml
  crates/pm/src/config.rs
  crates/pm/src/handlers/agent_comms.rs
  crates/pm/src/server.rs
  crates/pm/src/state/session_tracker.rs
Due: none

fix(healer-ci): resolve clippy map_unwrap_or warnings
  crates/healer/src/play/types.rs
Due: none

musetalk-worker: ignore PVC spec.volumeName to unblock ArgoCD sync
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(coder): add agentDefaults.heartbeat 2m + openai-api fallback
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(research-ci): resolve clippy duration_suboptimal_units and hadolint install
  .github/workflows/research-ci.yaml
  crates/research/src/enrichment/firecrawl.rs
  crates/research/src/enrichment/tavily.rs
  crates/research/src/twitter/poller.rs
Due: none

fix(musetalk): enable model download to populate PVC
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(healer): resolve clippy duration_suboptimal_units in main.rs
  crates/healer/src/main.rs
Due: none

feat(musetalk-worker): add nvidia runtimeClassName for GPU binding
  infra/charts/musetalk-worker/templates/workload.yaml
  infra/charts/musetalk-worker/values.yaml
Due: none

fix(musetalk-worker): add diagnostics to fetch loop to debug silent hang
  infra/images/musetalk-worker/worker.py
Due: none

fix(controller-ci): add missing shared/ directory to Docker build context
  controller-build.Dockerfile
Due: none

ci(musetalk-worker): drop raw phase4-bootstrap tag to unblock GHCR push
  .github/workflows/musetalk-worker-docker.yml
Due: none

musetalk: bump image to phase4-8215f76 (NATS diagnostics)
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(musetalk-worker): support file:// scheme and local paths in download_file
  infra/images/musetalk-worker/worker.py
Due: none

chore(gitops): bump musetalk-worker to phase4-9ee9ce307
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(pm-ci): resolve clippy::map_unwrap_or and duration_suboptimal_units
  crates/pm/src/config.rs
  crates/pm/src/state/session_tracker.rs
Due: none

fix(openclaw-agent): remove OPENAI_API_KEY env clobber
  .github/workflows/musetalk-test-harness-docker.yml
  infra/charts/musetalk-test-harness/templates/job.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(musetalk-harness): add ghcr-secret imagePullSecret
  infra/charts/musetalk-test-harness/templates/job.yaml
  infra/charts/musetalk-test-harness/values.yaml
Due: none

fix(musetalk-harness): tolerate pre-existing NATS stream
  infra/images/musetalk-test-harness/test_harness.py
Due: none

fix(musetalk-test-harness): use real MuseTalk repo assets
  infra/images/musetalk-test-harness/test_harness.py
Due: none

fix(musetalk-harness): use yongen assets + pullPolicy Always
  infra/charts/musetalk-test-harness/values.yaml
Due: none

fix(musetalk-test-harness): correct inline ArgoCD values key to referenceImageURL
  infra/gitops/applications/workloads/musetalk-test-harness.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(musetalk-test-harness): handle Phase 4 bootstrap-only validation
  infra/images/musetalk-test-harness/test_harness.py
Due: none

feat(musetalk): wire upstream v1.5 inference into render_avatar
  infra/images/musetalk-worker/render.py
  infra/images/musetalk-worker/worker.py
Due: none

chore(musetalk-worker): bump image to phase4-bf9d906 (real inference)
  infra/charts/musetalk-worker/values.yaml
Due: none

musetalk: bump ArgoCD inline tag to phase4-bf9d906
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

musetalk: symlink /models into /models/musetalk for preprocessing relative paths
  infra/images/musetalk-worker/render.py
Due: none

fix(musetalk): replace mmcv-lite with full mmcv for CUDA ops
  infra/images/musetalk-worker/Dockerfile.optimized
  infra/images/musetalk-worker/requirements.txt
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

