Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

chore: Remove claude-agent and paper-trader from Argo apps (#1217)
  infra/charts/claude-agent/Chart.yaml
  infra/charts/claude-agent/templates/_helpers.tpl
  infra/charts/claude-agent/templates/service.yaml
  infra/charts/claude-agent/templates/statefulset.yaml
  infra/charts/claude-agent/values.yaml
  infra/gitops/applications/claude-agent.yaml
  infra/gitops/applications/paper_trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove excessive checksum annotations causing 262KB annotation limit error
  infra/charts/controller/templates/deployment.yaml
Due: none

fix: remove excessive checksum annotations causing 262KB annotation limit error (#1218)
  infra/charts/controller/templates/deployment.yaml
Due: none

fix: ignore last-applied-configuration on large ConfigMaps to prevent 262KB annotation limit
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ignore large ConfigMap annotations to prevent 262KB limit errors (#1219)
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(monitoring): Add Kubernetes metrics-server for performance metrics
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/projects/platform-project.yaml
  infra/telemetry/values/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct metrics-server prometheus port annotation from 10250 to 4443
  infra/gitops/applications/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(monitoring): Correct metrics-server prometheus port annotation from 10250 to 4443
  infra/gitops/applications/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct metrics-server prometheus port annotation (#1221)
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/projects/platform-project.yaml
  infra/telemetry/values/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argocd): add apiregistration.k8s.io permission for metrics-server
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(argocd): add apiregistration.k8s.io permission for metrics-server (#1223)
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

chore: resolve merge conflicts with main
  infra/gitops/applications/metrics-server.yaml
  infra/telemetry/values/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve YAML lint errors in sensor and application files
  infra/gitops/applications/atlas-batch-sensor.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: reorganize agent teams and update Morgan's role
  README.md
Due: none

docs: Reorganize agent teams and update Morgan's role (#1224)
  README.md
Due: none

fix: align Implementation Squad agents vertically
  README.md
Due: none

refactor: position Morgan as overseer at the top
  README.md
Due: none

docs: Reorganize agent teams with Morgan as overseer (#1225)
  README.md
Due: none

fix(sensors): relocate Atlas and Bolt sensors to argo namespace
  infra/gitops/applications/atlas-batch-sensor.yaml
  infra/gitops/applications/atlas-sensor.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(sensors): relocate Atlas and Bolt sensors to argo namespace (#1226)
  infra/gitops/applications/atlas-batch-sensor.yaml
  infra/gitops/applications/atlas-sensor.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(workflow): correct morgan-project-manager template to use script instead of container
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix: Atlas/Bolt sensor configuration and Morgan workflow template (#1227)
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix(workflow): install envsubst for Morgan PM template rendering
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

feat(morgan-pm): add Atlas and Bolt to agent assignment tracking
  infra/charts/controller/agent-templates/pm/github-projects-helpers.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
Due: none

fix(sensors): correct GitHub event header casing to X-GitHub-Event
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(workflow): install envsubst for Morgan PM template rendering (#1228)
  infra/charts/controller/agent-templates/pm/github-projects-helpers.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-cleo-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-pr-created.yaml
  infra/gitops/resources/github-webhooks/stage-aware-pr-merged-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(workflow): use sed instead of envsubst for template rendering
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix(morgan-pm): add complete GitHub App authentication flow
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
Due: none

fix(helm): escape template placeholders in Morgan PM sed commands
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix(morgan-pm): complete authentication and sensor header fixes (#1229)
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix(morgan-pm): support both short and full repository formats
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
Due: none

fix(morgan-pm): allow dots in repository names
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
Due: none

GitHub events for new functionality
  package-lock.json
Due: none

fix: remove accidental empty package-lock.json file
  package-lock.json
Due: none

fix(morgan-pm): repository format parsing and final fixes (#1230)
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
Due: none

fix(morgan): support both URL and owner/repo repository formats
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
Due: none
