Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(heal): implement fetch-logs and spawn-remediation commands
  docs/engineering/heal-remediation-flow.md
  heal/src/main.rs
Due: none

feat(heal): add Rust caching for faster builds
  .gitignore
  controller/.github/workflows/heal-ci.yaml
  controller/.github/workflows/infrastructure-build.yaml
  infra/images/heal/Dockerfile
Due: none

feat(heal): add Rust caching for faster builds (#1879)
  .gitignore
  controller/.github/workflows/heal-ci.yaml
  controller/.github/workflows/infrastructure-build.yaml
  infra/images/heal/Dockerfile
Due: none

fix(heal): wrap CodeRun in backticks for clippy doc_markdown
  heal/src/main.rs
Due: none

fix(heal): wrap CodeRun in backticks for clippy doc_markdown (#1880)
  heal/src/main.rs
Due: none

feat(heal): add debug logging for A2 silent failure detection
  heal/src/main.rs
Due: none

feat(heal): add filebrowser sidecar for PVC inspection
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(heal): add filebrowser sidecar for PVC inspection (#1881)
  infra/gitops/applications/cto/heal.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(heal): add debug logging for A2 silent failure detection (#1882)
  heal/src/main.rs
Due: none

feat(heal): add filebrowser service for direct cluster access
  infra/gitops/resources/heal/filebrowser-service.yaml
Due: no-hardcoded-passwords

feat(heal): add filebrowser service for direct cluster access (#1883)
  infra/gitops/resources/heal/filebrowser-service.yaml
Due: no-hardcoded-passwords

fix(heal): add filebrowser-service to kustomization
  infra/gitops/resources/heal/kustomization.yaml
Due: no-hardcoded-passwords

fix(heal): add filebrowser-service to kustomization (#1884)
  infra/gitops/resources/heal/kustomization.yaml
Due: no-hardcoded-passwords

test: Add utils crate with intentional lint failures for testing
  Cargo.lock
  Cargo.toml
  utils/Cargo.toml
  utils/README.md
  utils/clippy.toml
  utils/src/alerts.rs
  utils/src/comment.rs
  utils/src/lib.rs
  utils/src/main.rs
  utils/src/test_lint_failures.rs
Due: none

feat(heal): echo Factory analysis to logs and add heal-config.json
  heal/heal-config.json
  heal/src/main.rs
Due: none

fix(ci): Restore accidentally deleted controller-ci.yaml workflow
  .github/workflows/controller-ci.yaml
Due: none

feat(heal): echo Factory analysis to logs and add heal-config.json (#1886)
  heal/heal-config.json
  heal/src/main.rs
Due: none

feat(heal): add ConfigMap mount and agent coordination
  infra/charts/controller/agent-templates/heal/claude/agents.md.hbs
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/resources/heal/heal-config.yaml
  infra/gitops/resources/heal/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(heal): add ConfigMap mount and agent coordination (#1889)
  infra/charts/controller/agent-templates/heal/claude/agents.md.hbs
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/resources/heal/heal-config.yaml
  infra/gitops/resources/heal/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(heal): use heal-config.json path and custom Claude template
  controller/src/tasks/code/templates.rs
  heal/src/main.rs
Due: none

fix(heal): use heal-config.json path and custom Claude template (#1890)
  controller/src/tasks/code/templates.rs
  heal/src/main.rs
Due: none

fix: restore .github/workflows/ directory
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/codeql/codeql-config.yml
  .github/kind-config.yaml
  .github/secret-scanning.yml
  .github/workflows/agent-templates-check.yml
  .github/workflows/agent-templates-sync.yaml
  .github/workflows/agent-templates-update.yml
  .github/workflows/agents-build.yaml
  .github/workflows/argocd-sync.yaml
  .github/workflows/binaries-release.yaml
  .github/workflows/codeql.yml
  .github/workflows/controller-ci.yaml
  .github/workflows/develop-deploy.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/infrastructure-build.yaml
  .github/workflows/markdown-lint.yaml
  .github/workflows/runner-builld.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/update-helm-templates.yml
Due: none

fix: restore .github/workflows/ directory (#1891)
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/codeql/codeql-config.yml
  .github/kind-config.yaml
  .github/secret-scanning.yml
  .github/workflows/agent-templates-check.yml
  .github/workflows/agent-templates-sync.yaml
  .github/workflows/agent-templates-update.yml
  .github/workflows/agents-build.yaml
  .github/workflows/argocd-sync.yaml
  .github/workflows/binaries-release.yaml
  .github/workflows/codeql.yml
  .github/workflows/controller-ci.yaml
  .github/workflows/develop-deploy.yaml
  .github/workflows/heal-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/infrastructure-build.yaml
  .github/workflows/markdown-lint.yaml
  .github/workflows/runner-builld.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/update-helm-templates.yml
Due: none

feat(cd): add ArgoCD Image Updater and Release Please for automated deployments
  .github/workflows/release-please.yaml
  .release-please-manifest.json
  docs/cd-pipeline.md
  infra/charts/controller/Chart.yaml
  infra/gitops/applications/argocd-image-updater.yaml
  infra/gitops/applications/cto/controller.yaml
  infra/vault/secrets/ghcr.yaml
  release-please-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(cd): add ArgoCD Image Updater and Release Please for automated deployments (#1892)
  .github/workflows/release-please.yaml
  .release-please-manifest.json
  docs/cd-pipeline.md
  infra/charts/controller/Chart.yaml
  infra/gitops/applications/argocd-image-updater.yaml
  infra/gitops/applications/cto/controller.yaml
  infra/vault/secrets/ghcr.yaml
  release-please-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add Stitch PR Review Bot
  Cargo.lock
  Cargo.toml
  controller/src/crds/mod.rs
  controller/src/crds/reviewrun.rs
  infra/charts/controller/agent-templates/review/factory/agents.md.hbs
  infra/charts/controller/agent-templates/review/factory/container.sh.hbs
  infra/charts/controller/crds/reviewrun-crd.yaml
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/tools/values.yaml
  infra/gitops/resources/argo-events/sensors/stitch-pr-review-sensor.yaml
  utils/Cargo.toml
  utils/README.md
  utils/clippy.toml
  utils/src/alerts.rs
  utils/src/comment.rs
  utils/src/lib.rs
  utils/src/main.rs
Due: no-hardcoded-passwords

fix(heal): fix CI test command and Dockerfile lint warnings
  .github/workflows/heal-ci.yaml
  infra/images/heal/Dockerfile
Due: none

fix(heal): fix CI test command and Dockerfile lint warnings (#1894)
  .github/workflows/heal-ci.yaml
  infra/images/heal/Dockerfile
Due: none

fix(cd): use simple release type and add Image Updater to tools/heal
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/applications/cto/tools.yaml
  release-please-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: address review feedback
  controller/src/crds/reviewrun.rs
  utils/src/comment.rs
  utils/src/lib.rs
  utils/src/main.rs
Due: none

fix(cd): use simple release type and add Image Updater to tools/heal (#1895)
  infra/gitops/applications/cto/heal.yaml
  infra/gitops/applications/cto/tools.yaml
  release-please-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct CLI flag position and env var name in Stitch templates
  infra/charts/controller/agent-templates/review/factory/agents.md.hbs
  infra/charts/controller/agent-templates/review/factory/container.sh.hbs
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

feat: add Stitch PR Review Bot (#1893)
  Cargo.lock
  Cargo.toml
  controller/src/crds/mod.rs
  controller/src/crds/reviewrun.rs
  infra/charts/controller/agent-templates/review/factory/agents.md.hbs
  infra/charts/controller/agent-templates/review/factory/container.sh.hbs
  infra/charts/controller/crds/reviewrun-crd.yaml
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/tools/values.yaml
  infra/gitops/resources/argo-events/sensors/stitch-pr-review-sensor.yaml
  utils/Cargo.toml
  utils/README.md
  utils/clippy.toml
  utils/src/alerts.rs
  utils/src/comment.rs
  utils/src/lib.rs
  utils/src/main.rs
Due: no-hardcoded-passwords

🔧 Auto-format Rust code
  controller/src/crds/reviewrun.rs
  utils/src/comment.rs
  utils/src/main.rs
Due: none

fix: move Stitch sensor to correct location and namespace
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

feat: add ArgoCD Application for Stitch PR review sensor
  infra/gitops/applications/stitch-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
