Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(cto): add ignoreDifferences for second volumeClaimTemplate (cargo-cache) (#2853)
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(healer): add backticks to doc comments for clippy pedantic
  crates/healer/src/main.rs
Due: none

fix(temporal-operator): disable cert-manager to resolve certificate conflict
  infra/gitops/applications/operators/temporal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(healer): add backticks to doc comments for clippy pedantic (#2854)
  crates/healer/src/main.rs
  infra/gitops/applications/operators/temporal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argocd): remove default directory.recurse values
  infra/gitops/applications/observability/observability-namespace.yaml
  infra/gitops/applications/operators/keycloak-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argocd): remove default directory.recurse values (#2855)
  infra/gitops/applications/observability/observability-namespace.yaml
  infra/gitops/applications/operators/keycloak-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

perf(buildkit): remove resource limits for unrestricted builds
  infra/charts/cto/values.yaml
Due: none

feat(pm): add activity emitter and update plan management
  crates/pm/Cargo.toml
  crates/pm/src/bin/pm-activity.rs
  crates/pm/src/emitter.rs
  crates/pm/src/lib.rs
  crates/pm/src/server.rs
Due: none

Update dependencies and add new lines for clarity in various files
  Cargo.lock
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/sync-credentials-from-1password.sh
  test-research/index.json
Due: none

Cli usage c94a4 (#2857)
  Cargo.lock
  crates/pm/Cargo.toml
  crates/pm/src/bin/pm-activity.rs
  crates/pm/src/emitter.rs
  crates/pm/src/lib.rs
  crates/pm/src/server.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/sync-credentials-from-1password.sh
  test-research/index.json
Due: none

perf(buildkit): remove resource limits for unrestricted builds (#2856)
  infra/charts/cto/values.yaml
Due: none

feat: add pm-activity binary to runtime image
  infra/images/runtime/Dockerfile.kind-tasks
Due: none

fix: add detailed logging for Linear activity emissions
  crates/pm/src/server.rs
Due: none

feat: add pm-activity binary to runtime image (#2859)
  crates/pm/src/server.rs
  infra/images/runtime/Dockerfile.kind-tasks
Due: none

fix(research): schedule digest cronjob and harden bookmark polling
  .secrets.baseline
  crates/research/src/main.rs
  crates/research/src/twitter/parser.rs
  crates/research/src/twitter/poller.rs
  infra/charts/cto/templates/research/cronjob.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat(intake): stream workflow progress to Linear activity
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
Due: no-hardcoded-passwords

chore: fix pedantic lints and gitops security check
  crates/controller/src/bin/agent_controller.rs
  crates/metal/src/bin/metal.rs
  crates/pm/src/bin/pm-activity.rs
  crates/pm/src/emitter.rs
  crates/pm/src/server.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/generator.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  crates/research/src/main.rs
  infra/gitops/Makefile
Due: none

fix(research): schedule digest cronjob and harden bookmark polling (#2860)
  .secrets.baseline
  crates/research/src/main.rs
  crates/research/src/twitter/parser.rs
  crates/research/src/twitter/poller.rs
  infra/charts/cto/templates/research/cronjob.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat(intake): emit workflow progress to Linear activity (#2861)
  crates/controller/src/bin/agent_controller.rs
  crates/metal/src/bin/metal.rs
  crates/pm/src/bin/pm-activity.rs
  crates/pm/src/emitter.rs
  crates/pm/src/server.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/generator.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/gitops/Makefile
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
Due: no-hardcoded-passwords

feat(intake): enhance workflow progress reporting to Linear activity
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(operators): add OpenTelemetry Operator for Kubernetes
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(operators): add OpenTelemetry Operator for Kubernetes (#2863)
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Revert "feat(operators): add OpenTelemetry Operator for Kubernetes (#2863)"
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Revert "feat(operators): add OpenTelemetry Operator for Kubernetes (#2863)" (#2864)
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(operators): expand Kubernetes operator suite with Apache 2.0 licensed components
  infra/gitops/applications/operators/README.md
  infra/gitops/applications/operators/harbor-operator.yaml
  infra/gitops/applications/operators/jaeger-operator.yaml
  infra/gitops/applications/operators/kubeai.yaml
  infra/gitops/applications/operators/longhorn.yaml
  infra/gitops/applications/operators/minio-operator.yaml
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(intake): resolve github-prep + large PRD intake failures
  crates/tasks/src/domain/ai.rs
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

feat(ai-models): add pre-configured AI model catalog for KubeAI
  infra/gitops/applications/ai-models/README.md
  infra/gitops/applications/ai-models/kubeai-models.yaml
  infra/gitops/applications/operators/kubeai.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
