Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

Ensure CodeQL is enabled for Cipher
  .github/workflows/codeql.yml
Due: none

Ensure CodeQL is enabled for Cipher
  docs/engineering/cipher-agent-implementation.md
  infra/charts/controller/agent-templates/agents/cipher-system-prompt.md.hbs
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix: inline doc server helm values
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Investigating Cypher PR comments and issues
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/agent-templates/shared/task-setup-functions.sh
Due: none

fix: use correct images for doc-server postgres and redis
  infra/gitops/resources/doc-server/postgres.yaml
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

Investigating Cypher PR comments and issues
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/agent-templates/shared/task-setup-functions.sh
Due: none

fix: add pvc retention policy to redis statefulset
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

fix: add k8s defaults to redis statefulset
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

fix: add updateStrategy to redis statefulset
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

fix: add probe defaults to redis statefulset
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

fix: add argo ignore annotation to redis sts
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

fix: add apiVersion and kind to volumeClaimTemplates
  infra/gitops/resources/doc-server/redis.yaml
Due: no-hardcoded-passwords

fix(atlas): prevent implementation work, clarify integration-only role
  infra/charts/controller/agent-templates/agents/atlas-system-prompt.md.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

feat(atlas): implement long-running PR guardian + merge coordinator
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix(cipher): block Tess handoff when security issues found
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

Investigating Cypher PR comments and issues
  infra/charts/controller/agent-templates/agents/atlas-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-atlas-integration.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

Investigating Cypher PR comments and issues
  controller/src/tasks/code/templates.rs
Due: none

fix(controller): route Atlas to PR guardian template, not implementation
  controller/src/tasks/code/templates.rs
Due: none

Add feature for main branch protection
  docs/engineering/morgan-branch-protection.md
  infra/charts/controller/agent-templates/pm/github-projects-helpers.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  package-lock.json
Due: none

fix: add branch protection to intake workflow
  docs/engineering/morgan-branch-protection.md
  infra/charts/controller/agent-templates/intake/intake.sh
Due: none

Revert "fix: add branch protection to intake workflow"
  docs/engineering/morgan-branch-protection.md
  infra/charts/controller/agent-templates/intake/intake.sh
Due: none

fix(controller): use cascade delete to prevent orphan pods
  controller/src/tasks/code/resources.rs
Due: none

fix(cleo): run actual quality checks and block handoff on failure
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

Investigating Cypher PR comments and issues
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix(controller): prevent duplicate job versions with cascade delete + wait
  controller/src/tasks/code/controller.rs
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/controller.rs
Due: none

fix(atlas): prevent infinite Task 0 loop + duplicate jobs
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(cleo): don't fail if GitHub approval API fails
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none
