Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(agents): add Context7 instructions with pre-resolved library IDs (#1695)
  AGENTS.md
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/codex/agents-blaze.md.hbs
  infra/charts/controller/agent-templates/code/codex/agents-rex.md.hbs
  infra/charts/controller/agent-templates/code/coding-guidelines.md.hbs
  infra/charts/controller/agent-templates/code/cursor/agents-blaze.md.hbs
  infra/charts/controller/agent-templates/code/factory/agents-blaze.md.hbs
  infra/charts/controller/agent-templates/code/factory/agents-rex.md.hbs
  infra/charts/controller/agent-templates/context7-instructions-snippet.md
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

feat(monitor): add full E2E command with GitHub token auth
  docs/prompts/play-remediation-loop.md
  monitor/src/main.rs
Due: none

Refactor: Use async runtime and update URLs
  monitor/src/main.rs
Due: none

fix(monitor): only check workflow phase for failure detection
  monitor/src/main.rs
Due: none

refactor(monitor): change OpenMemory from remediation to verification
  docs/prompts/play-remediation-loop.md
  monitor/src/main.rs
Due: none

Refactor loop logic and improve error handling
  monitor/src/main.rs
Due: none

feat(vault): implement HashiCorp Vault for secret management (#1694)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  Cargo.lock
  Cargo.toml
  docs/prompts/play-remediation-loop.md
  docs/rules/context7-rust-best-practices.md
  docs/runbooks/vault-operations.md
  infra/charts/vault/Chart.yaml
  infra/charts/vault/values.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
  infra/gitops/resources/github-webhooks/externalsecret.yaml
  infra/scripts/migrate-secrets-to-vault.sh
  infra/scripts/vault-cleanup-old-secret-store.sh
  infra/scripts/vault-init.sh
  infra/secret-store/README.md
  infra/secret-store/agent-secrets-external-secrets.yaml
  infra/secret-store/arc-external-secrets.yaml
  infra/secret-store/argocd-repositories-external-secrets.yaml
  infra/secret-store/cloudflare-external-secrets.yaml
  infra/secret-store/cluster-secret-store.yaml
  infra/secret-store/doc-server-external-secrets.yaml
  infra/secret-store/ghcr-external-secrets.yaml
  infra/secret-store/namespace-and-rbac.yaml
  infra/secret-store/ngrok-operator-external-secrets.yaml
  infra/secret-store/toolman-external-secrets.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  infra/secret-store/vault-cluster-secret-store.yaml
  monitor/Cargo.toml
  monitor/clippy.toml
  monitor/src/main.rs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use global cto-mcp binary in test template MCP config
  testing/cto-parallel-test-template/.cursor/mcp.json
Due: none

fix: use global cto-mcp binary in test template MCP config (#1696)
  testing/cto-parallel-test-template/.cursor/mcp.json
Due: none

fix(metrics-server): increase kubelet scrape timeout to 30s
  infra/gitops/applications/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(metrics-server): increase kubelet scrape timeout to 30s (#1697)
  infra/gitops/applications/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(monitor): unconditionally reset consecutive_failures on successful status
  monitor/src/main.rs
Due: none

fix(monitor): enhance failure tracking in monitoring loop
  monitor/src/main.rs
Due: none

fix(monitor): refine failure counter reset logic in monitoring loop
  monitor/src/main.rs
Due: none

chore(telemetry): deprecate otel-collector-metrics service and update documentation
  infra/README.md
  infra/cluster-config/otel-collector-metrics-service.yaml
Due: none

chore: update .gitignore and remove obsolete cto-mcp binary
  .gitignore
  dist/cto-mcp
  monitor/src/main.rs
Due: none

feat: add E2E play feedback loop with play-monitor CLI (#1691)
  .github/codeql/codeql-config.yml
  .gitignore
  dist/cto-mcp
  infra/README.md
  infra/cluster-config/otel-collector-metrics-service.yaml
  infra/cluster-config/otel-prometheus-service.yaml
  infra/telemetry/values/victoria-metrics.yaml
  monitor/src/main.rs
Due: none

feat(monitor): add multi-watch infrastructure for comprehensive E2E monitoring
  monitor/src/main.rs
Due: none

docs: update play-remediation-loop prompt for multi-watch events
  docs/prompts/play-remediation-loop.md
Due: none

fix(monitor): fix consecutive_failures reset and implement GitHub event emission
  monitor/src/main.rs
Due: none

fix(monitor): make pod failures informational and poll GitHub immediately
  monitor/src/main.rs
Due: none

fix(monitor): handle multi-line JSON from kubectl --watch
  monitor/src/main.rs
Due: none

fix(monitor): add --request-timeout=0 to prevent kubectl watch timeouts
  monitor/src/main.rs
Due: none

fix(secrets): revert ExternalSecrets to use secret-store instead of vault-secret-store
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
  infra/gitops/resources/github-webhooks/externalsecret.yaml
  infra/secret-store/agent-secrets-external-secrets.yaml
  infra/secret-store/arc-external-secrets.yaml
  infra/secret-store/argocd-repositories-external-secrets.yaml
  infra/secret-store/cloudflare-external-secrets.yaml
  infra/secret-store/doc-server-external-secrets.yaml
  infra/secret-store/ghcr-external-secrets.yaml
  infra/secret-store/ngrok-operator-external-secrets.yaml
  infra/secret-store/toolman-external-secrets.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  monitor/cto-config.json
Due: no-hardcoded-passwords

fix(secrets): revert ExternalSecrets to use secret-store instead of vault-secret-store (#1699)
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
  infra/gitops/resources/github-webhooks/externalsecret.yaml
  infra/secret-store/agent-secrets-external-secrets.yaml
  infra/secret-store/arc-external-secrets.yaml
  infra/secret-store/argocd-repositories-external-secrets.yaml
  infra/secret-store/cloudflare-external-secrets.yaml
  infra/secret-store/doc-server-external-secrets.yaml
  infra/secret-store/ghcr-external-secrets.yaml
  infra/secret-store/ngrok-operator-external-secrets.yaml
  infra/secret-store/toolman-external-secrets.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  monitor/cto-config.json
Due: no-hardcoded-passwords

fix: resolve metrics-server panic and remove vault setup
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/applications/vault.yaml
  infra/secret-store/vault-cluster-secret-store.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve metrics-server panic and remove vault setup (#1700)
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/applications/vault.yaml
  infra/secret-store/vault-cluster-secret-store.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(vault): implement Vault Secrets Operator (VSO)
  infra/gitops/applications/vault-config.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
  infra/gitops/resources/github-webhooks/externalsecret.yaml
  infra/scripts/vault-init.sh
  infra/secret-store/README.md
  infra/secret-store/agent-secrets-external-secrets.yaml
  infra/secret-store/arc-external-secrets.yaml
  infra/secret-store/argocd-repositories-external-secrets.yaml
  infra/secret-store/cloudflare-external-secrets.yaml
  infra/secret-store/cluster-secret-store.yaml
  infra/secret-store/doc-server-external-secrets.yaml
  infra/secret-store/ghcr-external-secrets.yaml
  infra/secret-store/github-webhooks-external-secrets.yaml
  infra/secret-store/namespace-and-rbac.yaml
  infra/secret-store/ngrok-operator-external-secrets.yaml
  infra/secret-store/toolman-external-secrets.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  infra/vault/README.md
  infra/vault/secrets/api-keys.yaml
  infra/vault/secrets/doc-server.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/github-apps.yaml
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/toolman.yaml
  infra/vault/vault-auth.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(vault): implement Vault Secrets Operator (VSO) (#1701)
  infra/gitops/applications/vault-config.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/doc-server-databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server/redis-auth-secret.yaml
  infra/gitops/resources/github-webhooks/externalsecret.yaml
  infra/scripts/vault-init.sh
  infra/secret-store/README.md
  infra/secret-store/agent-secrets-external-secrets.yaml
  infra/secret-store/arc-external-secrets.yaml
  infra/secret-store/argocd-repositories-external-secrets.yaml
  infra/secret-store/cloudflare-external-secrets.yaml
  infra/secret-store/cluster-secret-store.yaml
  infra/secret-store/doc-server-external-secrets.yaml
  infra/secret-store/ghcr-external-secrets.yaml
  infra/secret-store/github-webhooks-external-secrets.yaml
  infra/secret-store/namespace-and-rbac.yaml
  infra/secret-store/ngrok-operator-external-secrets.yaml
  infra/secret-store/toolman-external-secrets.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  infra/vault/README.md
  infra/vault/secrets/api-keys.yaml
  infra/vault/secrets/doc-server.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/github-apps.yaml
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/toolman.yaml
  infra/vault/vault-auth.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(toolman): add pg-aiguide tool configuration and update client config
  infra/gitops/applications/toolman.yaml
  toolman-client/client-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(argo): enable enhanced workflow garbage collection
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(vault): use default service account for cross-namespace auth
  infra/scripts/vault-init.sh
  infra/vault/vault-auth.yaml
Due: none

fix(vault): use default service account for cross-namespace auth (#1704)
  infra/scripts/vault-init.sh
  infra/vault/vault-auth.yaml
Due: none

fix(vault): ignore StatefulSet volumeClaimTemplates diff
  infra/gitops/applications/vault.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(vault): ignore StatefulSet volumeClaimTemplates diff (#1705)
  infra/gitops/applications/vault.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix: Update toolman pg-aiguide url to mcp
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Refactor: Configure workflow garbage collector period
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add mobile agent configuration for Spark and update workflow templates
  .gitignore
  infra/charts/controller/agent-templates/code/claude/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/codex/agents-blaze.md.hbs
  infra/charts/controller/agent-templates/code/codex/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/cursor/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/factory/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/factory/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/gemini/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/opencode/container-spark.sh.hbs
  infra/charts/controller/scripts/generate-spark-scripts-configmap.sh
  infra/charts/controller/templates/agent-scripts-spark.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/charts/controller/values.yaml
  infra/vault/secrets/github-apps.yaml
  scripts/spark/init-bare-rn-project.sh
  scripts/spark/init-expo-project.sh
  scripts/spark/run-detox-tests.sh
  scripts/spark/setup-eas-build.sh
Due: none

Feat/vault-secrets-operator (#1702)
  infra/gitops/applications/toolman.yaml
  toolman-client/client-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(workflow): escape dots in mobile detection regex pattern
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none
