Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

perf(ci): add cargo-nextest for ~35% faster Rust tests (#2829)
  .github/actions/rust-test/action.yaml
  README.md
  Tiltfile
  crates/controller/src/main.rs
  crates/pm/src/handlers/intake.rs
  crates/research/src/digest/generator.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/controller/workflow-secrets.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/gitops/applications/operators/keycloak-operator.yaml
  infra/gitops/applications/operators/nats.yaml
  infra/gitops/applications/operators/percona-mongodb-operator.yaml
  infra/gitops/applications/operators/percona-mysql-operator.yaml
  infra/gitops/applications/operators/rabbitmq-operator.yaml
  infra/images/runtime/Dockerfile.kind-tasks
  templates/intake/unified-intake.sh
  test-research/index.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Refactor intake workflow and enhance documentation
  README.md
Due: none

Feat/cargo nextest (#2830)
  README.md
Due: none

fix(ci): restore --all-targets default for consistent test coverage
  .github/actions/rust-test/action.yaml
Due: none

feat(operators): add Temporal and ScyllaDB operators for full cloud parity
  README.md
  infra/gitops/applications/operators/scylladb-operator.yaml
  infra/gitops/applications/operators/temporal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(operators): add Temporal and ScyllaDB operators for full cloud parity (#2832)
  README.md
  infra/gitops/applications/operators/scylladb-operator.yaml
  infra/gitops/applications/operators/temporal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): restore --all-targets default for consistent test coverage (#2831)
  .github/actions/rust-test/action.yaml
Due: none

fix(argocd): add source repos and CRD permissions for new operators
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(argocd): add source repos and CRD permissions for new operators (#2833)
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(operators): correct Helm chart URLs for Temporal, ScyllaDB, and Keycloak
  infra/gitops/applications/operators/keycloak-operator.yaml
  infra/gitops/applications/operators/scylladb-operator.yaml
  infra/gitops/applications/operators/temporal-operator.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(operators): correct Helm chart URLs for Temporal, ScyllaDB, and Keycloak (#2834)
  infra/gitops/applications/operators/keycloak-operator.yaml
  infra/gitops/applications/operators/scylladb-operator.yaml
  infra/gitops/applications/operators/temporal-operator.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(operators): correct Temporal operator version to v0.22.0
  infra/gitops/applications/operators/temporal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(operators): correct Temporal operator version to v0.22.0 (#2835)
  infra/gitops/applications/operators/temporal-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(operators): update RabbitMQ chart to 4.4.34 (fix missing images)
  infra/gitops/applications/operators/rabbitmq-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(operators): update RabbitMQ chart to 4.4.34 (fix missing images) (#2836)
  infra/gitops/applications/operators/rabbitmq-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(helm): use nil-safe access for secrets in workflow-secrets template
  infra/charts/cto/templates/controller/workflow-secrets.yaml
Due: none

fix(helm): use nil-safe access for secrets in workflow-secrets template (#2837)
  infra/charts/cto/templates/controller/workflow-secrets.yaml
Due: none

fix(charts): handle nil secrets in workflow-secrets template
  infra/charts/cto/templates/controller/workflow-secrets.yaml
Due: none

fix(charts): handle nil secrets in workflow-secrets template (#2838)
  infra/charts/cto/templates/controller/workflow-secrets.yaml
Due: none

fix(operators): switch RabbitMQ to official operator manifest
  infra/gitops/applications/operators/rabbitmq-operator.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: decouple github prep from intake workflow
  crates/pm/src/handlers/intake.rs
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
Due: no-hardcoded-passwords

feat: add local CI hooks with Claude auto-fix
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
Due: none

fix(server): enhance issue handling in session creation
  crates/pm/src/server.rs
Due: none

feat(kilo): enhance directory structure and DNS configuration in README
  infra/gitops/applications/platform/kilo.yaml
  infra/gitops/manifests/kilo/README.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update runtime image in intake workflow and clean up code formatting across multiple files
  crates/pm/src/handlers/intake.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/sync-credentials-from-1password.sh
  test-research/index.json
Due: no-hardcoded-passwords

Fix/operator sync issues (#2839)
  crates/pm/src/handlers/intake.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/gitops/applications/platform/kilo.yaml
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
  infra/gitops/manifests/kilo/README.md
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/sync-credentials-from-1password.sh
  test-research/index.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

