Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat(ci): improve ArgoCD sync to trigger on any push to main
  .github/workflows/argocd-sync.yaml
Due: none

Fix: Use platform-appropriate md5 command
  docs/runbooks/cnpg-webhook-certificate-fix.md
  scripts/fix-cnpg-webhook-certs.sh
Due: none

fix: prevent ArgoCD from overwriting CNPG webhook CA bundles
  infra/gitops/applications/cloudnative-pg-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: prevent ArgoCD from overwriting CNPG webhook CA bundles (#1784)
  infra/gitops/applications/cloudnative-pg-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: normalize md5 output across Linux and macOS in CNPG webhook script
  docs/runbooks/cnpg-webhook-certificate-fix.md
  scripts/fix-cnpg-webhook-certs.sh
Due: none

fix: prevent ArgoCD from overwriting CNPG webhook CA bundles (#1782)
  .github/workflows/argocd-sync.yaml
  docs/runbooks/cnpg-webhook-certificate-fix.md
  infra/gitops/applications/cloudnative-pg-operator.yaml
  scripts/fix-cnpg-webhook-certs.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(monitor): add Cargo Dist config and runtime image support for play-monitor
  infra/images/runtime/Dockerfile
  monitor/dist-workspace.toml
Due: none

fix(controller): add watch templates to ConfigMap and mount for watch workflows
  controller/src/bin/agent_controller.rs
  controller/src/tasks/code/resources.rs
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/charts/controller/templates/agent-templates-watch.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/charts/controller/templates/agent-templates-watch.yaml
Due: none

fix(controller): add watch templates to ConfigMap and mount for watch workflows (#1785)
  controller/src/bin/agent_controller.rs
  controller/src/tasks/code/resources.rs
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-watch.yaml
Due: none

fix(ci): respect wait_for_sync input and avoid redundant waits
  .github/workflows/argocd-sync.yaml
Due: none

fix(ci): fix race condition in sync completion check
  .github/workflows/argocd-sync.yaml
Due: none

ci(monitor): add GitHub Actions release workflow for play-monitor
  .github/workflows/play-monitor-release.yaml
Due: none

fix(tools): initialize tracing subscriber for server logging
  tools/src/server/http_server.rs
Due: none

fix(tools): initialize tracing subscriber for server logging (#1787)
  tools/src/server/http_server.rs
Due: none

fix: unreachable error handling in start-watch.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/start-watch.sh
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-watch.yaml
Due: none

feat(telemetry): add Victoria Logs ingestion for all platform services
  infra/charts/controller/templates/deployment.yaml
  infra/charts/openmemory/templates/deployment.yaml
  infra/charts/tools/templates/deployment-mcp-servers.yaml
  infra/charts/tools/templates/deployment.yaml
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/cert-manager.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/fluent-bit.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/ingress-nginx.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
  infra/gitops/resources/github-webhooks/eventsource.yaml
  infra/gitops/resources/kilo/daemonset.yaml
  infra/monitoring/LOG_COLLECTION.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add ServerSideApply=true to all ArgoCD applications
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/applications/ci-remediation-sensor.yaml
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/cto/controller.yaml
  infra/gitops/applications/cto/tools.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/fluent-bit.yaml
  infra/gitops/applications/gateway-api.yaml
  infra/gitops/applications/github-webhooks.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/monitoring-stack.yaml
  infra/gitops/applications/observability-namespace.yaml
  infra/gitops/applications/openmemory.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/runner-cache-pvc.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/gitops/applications/workspace-maintenance.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: remove stale ConfigMap ignore rule from controller app
  infra/gitops/applications/cto/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add ServerSideApply=true to all ArgoCD applications
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/applications/ci-remediation-sensor.yaml
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/cto/controller.yaml
  infra/gitops/applications/cto/tools.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/fluent-bit.yaml
  infra/gitops/applications/gateway-api.yaml
  infra/gitops/applications/github-webhooks.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/monitoring-stack.yaml
  infra/gitops/applications/observability-namespace.yaml
  infra/gitops/applications/openmemory.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/runner-cache-pvc.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/gitops/applications/workspace-maintenance.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(telemetry): add missing Fluent-Bit filter for kube-state-metrics
  infra/gitops/applications/fluent-bit.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tools): clean up Clippy pedantic lint exclusions
  tools/src/bin/client.rs
  tools/src/client.rs
  tools/src/config.rs
  tools/src/health_monitor.rs
  tools/src/lib.rs
  tools/src/recovery.rs
  tools/src/server/http_server.rs
  tools/tests/integration.rs
  tools/tests/integration/common/mcp_test_client.rs
  tools/tests/integration/common/mod.rs
  tools/tests/integration/common/protocol_validator.rs
  tools/tests/integration/common/server_lifecycle.rs
  tools/tests/integration/common/test_helpers.rs
  tools/tests/integration/http_transport_tests.rs
  tools/tests/integration/mod.rs
  tools/tests/integration/real_servers/docker_servers.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/integration/real_servers/mod.rs
  tools/tests/integration/real_servers/npx_servers.rs
  tools/tests/integration/real_servers/uvx_servers.rs
  tools/tests/integration/simple_forwarding_test.rs
  tools/tests/integration/tools_server_tests.rs
  tools/tests/unit/http_transport_detection.rs
Due: none

Remove Reddit MCP server from tools config
  infra/charts/tools/values.yaml
Due: none

feat(watch): E2E Watch system with Cargo Dist for play-monitor (#1786)
  .github/workflows/play-monitor-release.yaml
  infra/charts/controller/agent-templates/watch/scripts/actions/start-watch.sh
  infra/charts/controller/templates/agent-templates-watch.yaml
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/applications/ci-remediation-sensor.yaml
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/cto/controller.yaml
  infra/gitops/applications/cto/tools.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/fluent-bit.yaml
  infra/gitops/applications/gateway-api.yaml
  infra/gitops/applications/github-webhooks.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/monitoring-stack.yaml
  infra/gitops/applications/observability-namespace.yaml
  infra/gitops/applications/openmemory.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/runner-cache-pvc.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/gitops/applications/workspace-maintenance.yaml
  infra/images/runtime/Dockerfile
  monitor/dist-workspace.toml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(telemetry): add Victoria Logs ingestion for all platform services (#1788)
  infra/charts/controller/templates/deployment.yaml
  infra/charts/openmemory/templates/deployment.yaml
  infra/charts/tools/templates/deployment-mcp-servers.yaml
  infra/charts/tools/templates/deployment.yaml
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/cert-manager.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/fluent-bit.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/ingress-nginx.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
  infra/gitops/resources/github-webhooks/eventsource.yaml
  infra/gitops/resources/kilo/daemonset.yaml
  infra/monitoring/LOG_COLLECTION.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Remove Reddit MCP server from tools config (#1791)
  infra/charts/tools/values.yaml
Due: none

feat(tools): add 8 new MCP servers for expanded AI capabilities
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
Due: none

fix(ci): exclude Rust cleartext-transmission query from CodeQL
  .github/codeql/codeql-config.yml
Due: none

feat(tools): add Nano-Banana & Vault MCP servers, cleanup local concept
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
  tools/src/config.rs
  tools/src/server/http_server.rs
Due: none

fix(tools): clean up Clippy pedantic lint exclusions (#1790)
  .github/codeql/codeql-config.yml
  tools/src/bin/client.rs
  tools/src/client.rs
  tools/src/config.rs
  tools/src/health_monitor.rs
  tools/src/lib.rs
  tools/src/recovery.rs
  tools/src/server/http_server.rs
  tools/tests/integration.rs
  tools/tests/integration/common/mcp_test_client.rs
  tools/tests/integration/common/mod.rs
  tools/tests/integration/common/protocol_validator.rs
  tools/tests/integration/common/server_lifecycle.rs
  tools/tests/integration/common/test_helpers.rs
  tools/tests/integration/http_transport_tests.rs
  tools/tests/integration/mod.rs
  tools/tests/integration/real_servers/docker_servers.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/integration/real_servers/mod.rs
  tools/tests/integration/real_servers/npx_servers.rs
  tools/tests/integration/real_servers/uvx_servers.rs
  tools/tests/integration/simple_forwarding_test.rs
  tools/tests/integration/tools_server_tests.rs
  tools/tests/unit/http_transport_detection.rs
Due: none

feat(tools): add 8 new MCP servers for expanded AI capabilities (#1792)
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
  tools/src/config.rs
  tools/src/server/http_server.rs
Due: none

fix: add ServerSideApply=true to all ArgoCD applications (#1789)
  infra/charts/controller/agent-templates/watch/scripts/actions/start-watch.sh
  infra/charts/controller/templates/agent-templates-watch.yaml
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

🔧 Auto-format Rust code
  tools/src/client.rs
  tools/src/health_monitor.rs
  tools/src/lib.rs
  tools/src/server/http_server.rs
  tools/tests/integration/common/protocol_validator.rs
  tools/tests/integration/real_servers/docker_servers.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/integration/real_servers/npx_servers.rs
  tools/tests/integration/tools_server_tests.rs
Due: none

fix(tools): add command directive for vault-mcp-server binary
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

