Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(intake): resolve github-prep + large PRD intake failures (#2865)
  crates/tasks/src/domain/ai.rs
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

feat(operators): expand Kubernetes operator suite with Apache 2.0 licensed components (#2866)
  infra/gitops/applications/ai-models/README.md
  infra/gitops/applications/ai-models/kubeai-models.yaml
  infra/gitops/applications/operators/README.md
  infra/gitops/applications/operators/harbor-operator.yaml
  infra/gitops/applications/operators/jaeger-operator.yaml
  infra/gitops/applications/operators/kubeai.yaml
  infra/gitops/applications/operators/longhorn.yaml
  infra/gitops/applications/operators/minio-operator.yaml
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tasks): cap max_tokens at 64k (Claude Opus limit)
  crates/tasks/src/domain/ai.rs
Due: none

fix(lint): remove trailing spaces from kubeai-models.yaml
  infra/gitops/applications/ai-models/kubeai-models.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(lint): remove trailing spaces from kubeai-models.yaml (#2867)
  infra/gitops/applications/ai-models/kubeai-models.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(lint): address YAML formatting issues in kubeai-models.yaml (#2868)
  infra/gitops/applications/ai-models/ai-ingress.yaml
  infra/gitops/applications/ai-models/ingress/kubeai-ingress.yaml
  infra/gitops/applications/ai-models/ingress/llamastack-ingress.yaml
  infra/gitops/applications/ai-models/ingress/ollama-ingress.yaml
  infra/gitops/applications/ai-models/llamastack-distributions.yaml
  infra/gitops/applications/ai-models/llamastack-distributions/glm-4.5-vllm.yaml
  infra/gitops/applications/ai-models/llamastack-distributions/ollama.yaml
  infra/gitops/applications/ai-models/llamastack-distributions/starter.yaml
  infra/gitops/applications/ai-models/llamastack-distributions/vllm.yaml
  infra/gitops/applications/ai-models/ollama-model-crds/deepseek-r1-8b.yaml
  infra/gitops/applications/ai-models/ollama-model-crds/glm-4.5-air.yaml
  infra/gitops/applications/ai-models/ollama-model-crds/llama3.2-3b.yaml
  infra/gitops/applications/ai-models/ollama-model-crds/nomic-embed-text.yaml
  infra/gitops/applications/ai-models/ollama-model-crds/phi4.yaml
  infra/gitops/applications/ai-models/ollama-model-crds/qwen2.5-coder.yaml
  infra/gitops/applications/ai-models/ollama-models.yaml
  infra/gitops/applications/operators/llamastack-operator.yaml
  infra/gitops/applications/operators/ollama-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(lint): correct YAML formatting in kubeai-models.yaml (#2869)
  infra/gitops/applications/ai-models/ingress/README.md
Due: none

feat(ai): add GLM-4.5 model configurations and update README
  infra/gitops/applications/ai-models/README.md
  infra/gitops/applications/ai-models/kubeai-models.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(sidecar): add Claude stream-json activity parsing for Linear
  crates/pm/src/bin/status-sync.rs
  infra/images/linear-sidecar/Dockerfile.build
  templates/clis/claude/invoke.sh.hbs
Due: none

feat(sidecar): add Claude stream-json activity parsing for Linear (#2868)
  crates/pm/src/bin/status-sync.rs
  infra/images/linear-sidecar/Dockerfile.build
  templates/clis/claude/invoke.sh.hbs
Due: none

fix(sidecar): use Unicode-safe truncation to avoid panics
  crates/pm/src/bin/status-sync.rs
Due: none

ci(agents): add linear-sidecar build to agent images workflow
  .github/workflows/agents-build.yaml
Due: none

chore(argocd): add AI operator resources to platform project whitelist
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(claude): use unbuffered tee for real-time stream output
  .secrets.baseline
  Cargo.lock
  crates/metal/Cargo.toml
  crates/metal/src/bin/metal.rs
  crates/metal/src/cilium.rs
  crates/metal/src/clustermesh.rs
  crates/metal/src/lib.rs
  crates/metal/src/stack.rs
  crates/metal/src/talos/bootstrap.rs
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/platform/kilo.yaml
  infra/gitops/manifests/cilium/README.md
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/kilo/README.md
  infra/talos/config/simple/controlplane.yaml
  infra/talos/config/simple/worker.yaml
  scripts/local-ci.sh
  templates/clis/claude/invoke.sh.hbs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(sidecar): use accumulated total_cost in completion summary
  crates/pm/src/bin/status-sync.rs
Due: none

fix(sidecar): use Unicode-safe truncation to avoid panics (#2869)
  .github/workflows/agents-build.yaml
  .secrets.baseline
  Cargo.lock
  crates/metal/Cargo.toml
  crates/metal/src/bin/metal.rs
  crates/metal/src/cilium.rs
  crates/metal/src/clustermesh.rs
  crates/metal/src/lib.rs
  crates/metal/src/stack.rs
  crates/metal/src/talos/bootstrap.rs
  crates/pm/src/bin/status-sync.rs
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/platform/kilo.yaml
  infra/gitops/manifests/cilium/README.md
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/kilo/README.md
  infra/talos/config/simple/controlplane.yaml
  infra/talos/config/simple/worker.yaml
  scripts/local-ci.sh
  templates/clis/claude/invoke.sh.hbs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(argocd): add nvidia.com to platform project whitelist
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

feat(metal): enhance CLI with 1Password integration for Latitude credentials
  crates/metal/src/bin/metal.rs
  crates/metal/src/providers/latitude/client.rs
  crates/metal/src/providers/latitude/models.rs
  crates/metal/src/stack.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/sync-credentials-from-1password.sh
  test-research/index.json
Due: none

Fix/unicode safe truncation (#2872)
  crates/metal/src/bin/metal.rs
  crates/metal/src/providers/latitude/client.rs
  crates/metal/src/providers/latitude/models.rs
  crates/metal/src/stack.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  scripts/sync-credentials-from-1password.sh
  test-research/index.json
Due: none

fix(gitops): resolve sync issues for longhorn, gpu-operator, harbor, and external-secrets
  .secrets.baseline
  infra/cluster-config/gpu-operator-namespace.yaml
  infra/cluster-config/longhorn-namespace.yaml
  infra/gitops/applications/operators/gpu-operator-namespace.yaml
  infra/gitops/applications/operators/harbor-operator.yaml
  infra/gitops/applications/operators/longhorn-namespace.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(otel): move serviceAccount under manager in helm values
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(argocd): add cilium helm repo to platform project
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords
