Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: configure gh CLI auth via config file, not env vars
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: wire Hermes harness agent into template generation
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/template_paths.rs
Due: none

feat: add cto-agents repo to monitored workspace
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: complete Hermes harness integration
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/code/watcher.rs
  infra/charts/cto-lite/crds/coderun-crd.yaml
  infra/charts/cto/crds/coderun-crd.yaml
  templates/harness-agents/hermes.sh.hbs
Due: none

feat: pre-install Lobster CLI in agent image for Hermes
  infra/images/agents/Dockerfile
  templates/harness-agents/hermes.sh.hbs
  templates/harness-agents/openclaw.sh.hbs
Due: none

feat: Hermes harness agent integration (#4630)
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/code/watcher.rs
  crates/controller/src/tasks/template_paths.rs
  infra/charts/cto-lite/crds/coderun-crd.yaml
  infra/charts/cto/crds/coderun-crd.yaml
  infra/images/agents/Dockerfile
  templates/harness-agents/hermes.sh.hbs
Due: none

fix(intake): pipeline resilience — run_id propagation, quality-gate fallback, gateway restart (#4629)
  intake/scripts/openclaw-invoke-retry.sh
  intake/scripts/quality-gate.sh
  intake/scripts/workflow-step-audio.sh
  intake/scripts/workflow-step-log.sh
  intake/workflows/pipeline.lobster.yaml
Due: none

fix(intake): skip workspace PR when target_repo_local_path is set
  .intake/design/stitch/screenshots/5dlabs.github.io-cto-pay-6aa6fc71.png
  intake/workflows/intake.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
Due: none

fix(intake): skip workspace PR when target_repo_local_path is set (#4632)
  .intake/design/stitch/screenshots/5dlabs.github.io-cto-pay-6aa6fc71.png
  intake/workflows/intake.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
Due: none

chore: update cron comments — daily-digest registered and enabled at 5 PM PST
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: disable xAI plugin + web search, add SWARM path hints
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use plugins.deny to block xAI plugin at runtime level
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: set node user homedir to /workspace in /etc/passwd
  infra/images/agents/Dockerfile
Due: none

fix: add token leak prevention + absolute path rules to AGENTS.md
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: permanent home dir fix in init container + Dockerfile
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/images/agents/Dockerfile
Due: none

fix: teach agent to use gh CLI for any repo, not just cloned ones
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: chown git-credentials so agent can clone repos
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat: switch swarm ArgoCD to public chart (5dlabs/swarm-openclaw-agent)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Fireworks-only providers, embeddings, IfNotPresent pullPolicy
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(swarm): align ArgoCD values with OpenClaw schema
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(swarm): correct cliBackends schema (command+args+output)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(swarm): move discord config to chart's expected path
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(swarm): map provider API key secret keys to actual secret names
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw-agent): fix git auth and mem0 telemetry for long-running agents
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(swarm): enable SWARM CLI pre-auth + profile config
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(swarm): add Colosseum PAT env vars + sigma-1, lab-eco, big-balls repos
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add tool usage rules + missing repos to swarm AGENTS.md
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: qdrant client version override + git awareness instructions
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix: remove duplicate COLOSSEUM_COPILOT_API_BASE from extraSecretEnv
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add cto-play launcher utility + Morgan skill
  Cargo.lock
  Cargo.toml
  crates/play-launcher/Cargo.toml
  crates/play-launcher/src/config.rs
  crates/play-launcher/src/launcher.rs
  crates/play-launcher/src/main.rs
  infra/images/agents/Dockerfile
  skills/play-launcher/SKILL.md
Due: none

fix: simplify cto-play Docker build stage
  infra/images/agents/Dockerfile
Due: none

feat: enable daily-digest cron job at 8:45 PM PDT (test)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: move BASE_IMAGE ARG before first FROM for Docker multi-stage
  infra/images/agents/Dockerfile
Due: none

feat(swarm): enable memory, session maintenance, compaction model
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(play-launcher): pass agentHarness, openclaw, acp from CTO config
  .github/workflows/binaries-release.yaml
  crates/play-launcher/src/config.rs
  crates/play-launcher/src/main.rs
Due: none

fix(swarm): remove memory block from config (not in openclaw schema)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): add cto-play to binaries release, fix job skip cascade
  .github/workflows/binaries-release.yaml
Due: none

feat: add Coder agent deployment with Claude Code teams
  .codex/agents/coder-expert.md
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/coder-agent.yaml
  model-providers.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use GitHub URL for coder ArgoCD app source
  infra/gitops/applications/workloads/coder-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

