Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix: ensure cipher defers approvals to Tess
  docs/engineering/cipher-agent-implementation.md
  infra/charts/controller/agent-templates/agents/cipher-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/values.yaml
Due: none

fix(agents): Make Cleo post PR reviews instead of comments
  CLEO_REVIEW_FIX.md
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix(morgan): mirror status into legacy stage
  docs/engineering/morgan-github-projects-agent-columns-fix.md
  infra/charts/controller/agent-templates/pm/github-projects-helpers.sh.hbs
  scripts/test-morgan-pm-comprehensive.sh
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

feat(atlas): complete integration architecture with all 5 phases
  Atlas_Findings_2025-11-22.md
  docs/atlas-integration-architecture.md
  docs/runbooks/atlas-operations.md
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/charts/controller/values.yaml
  infra/gitops/resources/github-webhooks/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  infra/scripts/test-atlas-sensors.sh
  infra/telemetry/atlas-dashboard.json
  infra/telemetry/atlas-prometheus-rules.yaml
Due: no-hardcoded-passwords

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-integration.yaml
Due: none

fix(morgan): detect running agents by pod name pattern
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
Due: none

fix: critical Tess-Atlas handoff failure causing workflow deadlocks
  Atlas_Integration_Fix_Implementation.md
  Atlas_Integration_Test_Failure_Analysis.md
  Atlas_Integration_Test_Failure_Analysis_Composer.md
  infra/charts/controller/agent-templates/code/integration/container-tess.sh.hbs
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/tess-label-fallback-sensor.yaml
  infra/scripts/diagnose-tess-atlas-handoff.sh
Due: no-hardcoded-passwords

fix: remove trailing spaces from tess-label-fallback-sensor.yaml
  infra/gitops/resources/github-webhooks/tess-label-fallback-sensor.yaml
Due: no-hardcoded-passwords

fix: Bugbot issue and add GitHub App permissions documentation
  Atlas_Integration_Fix_Implementation.md
  docs/atlas-integration-architecture.md
  docs/github-app-permissions.md
  docs/runbooks/atlas-operations.md
  infra/charts/controller/agent-templates/code/integration/container-tess.sh.hbs
  infra/gitops/resources/github-webhooks/tess-label-fallback-sensor.yaml
  infra/scripts/diagnose-tess-atlas-handoff.sh
  infra/scripts/test-atlas-sensors.sh
  infra/telemetry/atlas-dashboard.json
  infra/telemetry/atlas-prometheus-rules.yaml
Due: no-hardcoded-passwords

fix: remove duplicate Atlas sensors and add template version tracking
  infra/charts/controller/templates/deployment.yaml
  infra/charts/controller/values.yaml
  infra/gitops/applications/atlas-batch-sensor.yaml
  infra/gitops/applications/atlas-pr-guardian-sensor.yaml
  infra/gitops/applications/atlas-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  infra/scripts/diagnose-tess-atlas-handoff.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add Context7 and shadcn integration with comprehensive documentation
  cto-config.json
  docs/adding-context7-to-agent-prompts.md
  docs/context7-agent-usage-guide.md
  docs/context7-prompt-instructions.md
  docs/context7-setup-complete.md
  docs/cursor-cli-available-models.md
  docs/shadcn-agent-instructions.md
  infra/charts/controller/agent-templates/context7-instructions-snippet.md
  infra/charts/controller/agent-templates/shadcn-instructions-snippet.md
  infra/gitops/applications/toolman.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  scripts/add-context7-secret.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: Add deployment instructions to .gitignore
  .gitignore
Due: none

fix: convert PrometheusRule to ConfigMap for VictoriaMetrics compatibility
  infra/gitops/applications/monitoring-stack.yaml
  infra/telemetry/alerts/atlas-alerting-rules-configmap.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add shadcn to Toolman and expand Kubernetes tools for Tess/Bolt
  infra/gitops/applications/toolman.yaml
  toolman-client/client-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add GitHub MCP to Toolman for all agents
  infra/gitops/applications/toolman.yaml
  infra/secret-store/toolman-mcp-external-secrets.yaml
  scripts/add-github-mcp-secret.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Use npx for GitHub MCP instead of Docker
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(cipher): Add comprehensive security scanning tools and guidelines
  CIPHER_CONTAINER_ENHANCEMENTS.md
  CIPHER_SECURITY_ENHANCEMENTS.md
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/security/.semgrep.yaml
  infra/charts/controller/agent-templates/security/CIPHER_QUICK_REFERENCE.md
  infra/charts/controller/agent-templates/security/CIPHER_SECURITY_GUIDELINES.md
  infra/charts/controller/agent-templates/security/README.md
  infra/charts/controller/values.yaml
  infra/images/runtime/Dockerfile
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat: Mount Context7 API key to all agent containers
  controller/src/tasks/code/resources.rs
  docs/context7-agent-secret-mounting.md
  infra/secret-store/agent-context7-external-secrets.yaml
Due: none

feat: Add tool verification to Factory container initialization
  docs/agent-tool-verification.md
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/resources.rs
Due: none

fix(runtime): Resolve Semgrep installation conflict with system rich package
  infra/images/runtime/Dockerfile
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

fix(morgan): fix syntax errors in pod detection logic
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
Due: none

fix: separate workingDirectory and docsProjectDirectory in play workflow
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: Separate workingDirectory and docsProjectDirectory in play workflow
  PR_DESCRIPTION.md
Due: none

fix: Add Context7 API key to agent-platform-secrets
  controller/src/tasks/code/resources.rs
  infra/secret-store/agent-context7-external-secrets.yaml
  infra/secret-store/agent-secrets-external-secrets.yaml
Due: none

feat: List all available tools in Factory verification output
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

feat: Add MCP tools listing to Factory initialization
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

fix: Correct grep pattern for tool listing
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

fix: Disable Atlas PR monitor and remove Task 0
  infra/gitops/resources/github-webhooks/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml.disabled
Due: no-hardcoded-passwords

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

