Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(gitlab-mirror): push from refs/remotes/origin to avoid stale local branch
  infra/charts/gitlab-mirror/templates/cronjob.yaml
Due: none

ci(gitlab): pin rust to 1.94 and drop cto-mcp from release
  .gitlab/ci/jobs/release.yml
  .gitlab/ci/templates/rust-build.yml
Due: none

fix(pm): resolve pedantic clippy errors to green pm-ci
  crates/pm/src/config.rs
  crates/pm/src/handlers/intake.rs
  crates/pm/src/handlers/oauth.rs
  crates/pm/src/morgan_hooks.rs
  crates/pm/src/server.rs
  crates/pm/src/state/token_health.rs
Due: none

fix(intake): clippy option_as_ref_cloned
  crates/intake/src/domain/intake.rs
Due: none

fix(research): resolve clippy pedantic errors
  crates/research/src/anthropic.rs
  crates/research/src/main.rs
  crates/research/src/publish/github.rs
Due: none

fix(research): cargo fmt anthropic.rs
  crates/research/src/anthropic.rs
Due: none

fix(agents): patch acpx to pass --allow-all to copilot ACP
  infra/images/agents/Dockerfile
Due: none

ci(gitlab): install jq + python3 in intake-step-tests
  .gitlab/ci/jobs/quality.yml
Due: none

ci(gitlab): auto-retry docker builds on transient gitaly failures
  .gitlab/ci/templates/docker-build.yml
Due: none

ci(gitlab): push images under project path for JWT scope
  .gitlab-ci.yml
Due: none

ci(gitlab): reduce gitaly load on parallel docker builds
  .gitlab/ci/templates/docker-build.yml
Due: none

deploy(musetalk-worker): update image to 54a31af7 with real inference
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(musetalk): add test harness and SeaweedFS integration
  infra/charts/musetalk-test-harness/Chart.yaml
  infra/charts/musetalk-test-harness/templates/_helpers.tpl
  infra/charts/musetalk-test-harness/values.yaml
  infra/gitops/applications/workloads/musetalk-test-harness.yaml
  infra/images/musetalk-test-harness/Dockerfile
  infra/images/musetalk-test-harness/test_harness.py
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar-agent): wire MuseTalk NATS client + LiveKit video publication
  avatar/agent/agent.py
  avatar/agent/contract.md
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/musetalk_avatar.py
  avatar/agent/morgan_avatar_agent/musetalk_inference.py
  avatar/agent/morgan_avatar_agent/musetalk_nats_client.py
  avatar/agent/pyproject.toml
  avatar/agent/tests/test_musetalk_nats_client.py
Due: none

ci(gitlab): use local target for Rust+grok Dockerfiles
  .gitlab/ci/jobs/images.yml
Due: none

fix(acpx): plumb permissionMode + nonInteractivePermissions into plugin config
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none

ci(gitlab): global shallow clone + retry to mitigate gitaly EOFs
  .gitlab-ci.yml
Due: none

ci(gitlab): serialize docker-builds via resource_group
  .gitlab/ci/templates/docker-build.yml
Due: none

fix(acpx): plumb permissionMode + nonInteractivePermissions into plugin config (#4707)
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none

feat(avatar-agent): wire MuseTalk NATS client + LiveKit video publication (#4706)
  avatar/agent/agent.py
  avatar/agent/contract.md
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/musetalk_avatar.py
  avatar/agent/morgan_avatar_agent/musetalk_inference.py
  avatar/agent/morgan_avatar_agent/musetalk_nats_client.py
  avatar/agent/pyproject.toml
  avatar/agent/tests/test_musetalk_nats_client.py
Due: none

fix(codex): replace invalid model gpt-5.4-pro with gpt-5.3-codex
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
  intake/workflows/decision-voting.lobster.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(codex): replace invalid model gpt-5.4-pro with gpt-5.3-codex (#4708)
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
  intake/workflows/decision-voting.lobster.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw-agent): install acpx globally, bump 0.1.16 → 0.5.3
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

chore(coder): mount OVH API credentials into agent pod
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

ci(gitlab): route Docker Hub pulls through GitLab dependency proxy
  .gitlab-ci.yml
  .gitlab/ci/jobs/images.yml
  .gitlab/ci/templates/docker-build.yml
  AGENTS.md
  Cargo.lock
  apps/discord-bridge/Dockerfile
  apps/linear-bridge/Dockerfile
  crates/dex-indexer/Cargo.toml
  infra/charts/gitlab/values.yaml
  infra/images/agents/Dockerfile
  infra/images/controller/Dockerfile
  infra/images/grok/Dockerfile
  infra/images/healer/Dockerfile
  infra/images/linear-sidecar/Dockerfile
  infra/images/musetalk-test-harness/Dockerfile
  infra/images/musetalk-worker/Dockerfile
  infra/images/openmemory/Dockerfile
  infra/images/pm-server/Dockerfile
  infra/images/research/Dockerfile
  infra/images/runtime/Dockerfile
  infra/images/tools/Dockerfile
  infra/images/tweakcn/Dockerfile
  infra/images/web/Dockerfile
  skills/trader/docker/Dockerfile.dex-indexer
Due: none

ci(gitlab): allow_failure on skills-security-scan for GH parity
  .gitlab/ci/jobs/security.yml
Due: none

deploy(musetalk-worker): update image to d36038d32 (GPU bootstrap build)
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

deploy(musetalk-worker): update image tag in values.yaml to d36038d32
  infra/charts/musetalk-worker/values.yaml
Due: none

ci(gitlab): bypass Cloudflare tunnel for Docker pushes via in-cluster registry
  .gitlab-ci.yml
  .gitlab/ci/jobs/images.yml
  .gitlab/ci/templates/docker-build.yml
Due: none

ci(gitlab): add 7 parity jobs for full GH image coverage
  .gitlab/ci/jobs/images.yml
Due: none

ci: GitLab mirror rollout tooling
  .github/workflows/mirror-to-gitlab.yml
  .gitlab/ci/templates/smoke.yml
  scripts/activate-github-mirror-secrets.sh
  scripts/gitlab-mirror-rollout.sh
Due: none

ci(mirror): make rollout resilient to per-repo failures
  scripts/gitlab-mirror-rollout.sh
Due: none

fix(musetalk-worker): disable download init container - models already on PVC
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

coder: add autonomous iteration directive to customInstructions
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

coder: add autonomous iteration directive to customInstructions (#4709)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): move autonomy directive to heartbeat.prompt (actually renders)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): move autonomy directive to heartbeat.prompt (actually renders) (#4710)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): move kimi to last-resort fallback
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

chore(gitlab): extend mirror rollout TARGETS with 11 backfill repos
  scripts/gitlab-mirror-rollout.sh
Due: none
