Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: route Colosseum through ACPX Copilot
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: route Colosseum through ACPX Copilot (#4941)
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: align coder context and setup provider titles
  crates/cto-lite/ui/src/components/SetupWizard/index.tsx
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

fix: keep git credentials active during agent repo bootstrap
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

fix: extend avatar coder copilot timeout
  infra/gitops/agents/code-avatar-openclaw-values.yaml
Due: no-hardcoded-passwords

fix: extend coder-class copilot timeout
  infra/gitops/agents/code-forge-values.yaml
  infra/gitops/agents/code-keeper-values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

feat: advance control plane fleet wave
  apps/agent-coordination-plane/src/index.ts
  apps/agent-coordination-plane/src/store.test.ts
  apps/agent-coordination-plane/src/store.ts
  apps/discord-bridge/src/hosted-presence-worker.contract.test.ts
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/config.rs
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-05-control-plane-autonomy-analysis-and-fleet-plan.md
Due: none

fix: export kubeconfig for agent runtimes
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: add coder clone autonomy watchdog
  infra/gitops/agents/code-forge-values.yaml
  infra/gitops/agents/code-keeper-values.yaml
Due: no-hardcoded-passwords

fix: satisfy controller lint for coder watchdog
  crates/controller/src/tasks/code/resources.rs
Due: none

fix: add coder clone autonomy watchdog
  crates/controller/src/tasks/code/resources.rs
  infra/gitops/agents/code-forge-values.yaml
  infra/gitops/agents/code-keeper-values.yaml
Due: no-hardcoded-passwords

fix: quiet acpx copilot output in agents
  infra/gitops/agents/code-avatar-openclaw-values.yaml
  infra/gitops/agents/code-forge-values.yaml
  infra/gitops/agents/code-keeper-values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: quiet acpx copilot output in agents (#4944)
  infra/gitops/agents/code-avatar-openclaw-values.yaml
  infra/gitops/agents/code-forge-values.yaml
  infra/gitops/agents/code-keeper-values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ignore normalized swarm statefulset pvc drift
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ignore openclaw swarm statefulset drift
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add coordination plane http service
  apps/agent-coordination-plane/src/http.test.ts
  apps/agent-coordination-plane/src/http.ts
  apps/agent-coordination-plane/src/index.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

fix: export kubeconfig for agent runtimes (#4942)
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

docs: hand off OVH VM deployment work
  apps/lobster-voice/src/index.ts
  crates/metal/src/bin/metal.rs
  crates/metal/src/providers/ovh/client.rs
  crates/metal/src/providers/ovh/models.rs
  docs/2026-05/hermes-coder-handoff/README.md
  infra/charts/hermes-agent/skills/openclaw/provider-ovh.md
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/hermes-agent/templates/service.yaml
  infra/charts/hermes-agent/values.yaml
  infra/charts/openclaw-agent/skills/openclaw/provider-ovh.md
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
  intake/scripts/render-deliberation-audio.sh
  intake/scripts/validate-deliberation-audio.sh
  intake/tests/audio-safety-tests.sh
  intake/workflows/pipeline.lobster.yaml
Due: no-hardcoded-passwords

docs: hand off OVH VM deployment work (#4950)
  apps/lobster-voice/src/index.ts
  crates/metal/src/bin/metal.rs
  crates/metal/src/providers/ovh/client.rs
  crates/metal/src/providers/ovh/models.rs
  docs/2026-05/hermes-coder-handoff/README.md
  infra/charts/hermes-agent/skills/openclaw/provider-ovh.md
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/hermes-agent/templates/service.yaml
  infra/charts/hermes-agent/values.yaml
  infra/charts/openclaw-agent/skills/openclaw/provider-ovh.md
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
  intake/scripts/render-deliberation-audio.sh
  intake/scripts/validate-deliberation-audio.sh
  intake/tests/audio-safety-tests.sh
  intake/workflows/pipeline.lobster.yaml
Due: no-hardcoded-passwords

fix: make hermes coder schedulable
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords
