Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

docs(control-plane): record Morgan Hermes policy evidence
  docs/2026-04/design/morgan-hermes-agent.md
  docs/2026-04/design/morgan-memory-skills-policy.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

test(control-plane): preserve Discord reply references
  apps/discord-bridge/src/discord-normalizer.test.ts
  apps/discord-bridge/src/discord-normalizer.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/src/hermes-client.ts
  apps/hermes-presence-adapter/src/index.test.ts
  apps/hermes-presence-adapter/src/types.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): reconcile smoke and roadmap artifacts
  docs/2026-04/plans/control-plane-completion-roadmap.md
  docs/2026-04/plans/hermes-parity-centralized-discord-control-plane.md
  docs/2026-04/research/hermes-control-plane-behavior-inventory.md
  docs/2026-04/research/hermes-github-source-supply.md
  docs/2026-04/validation/hermes-presence-coderun-e2e.md
  scripts/presence-morgan-task-smoke.py
  scripts/presence-smoke-hermes-coderun.py
Due: none

test(control-plane): preserve attachment-only Discord text
  apps/discord-bridge/src/discord-normalizer.test.ts
  apps/discord-bridge/src/presence-types.test.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/src/index.test.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

test(presence): propagate addressing provenance
  apps/discord-bridge/src/presence-router.test.ts
  apps/discord-bridge/src/presence-router.ts
  apps/hermes-presence-adapter/src/hermes-client.ts
  apps/hermes-presence-adapter/src/index.test.ts
  apps/hermes-presence-adapter/src/types.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): record branch reconciliation handoff
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): refresh reconciliation safety branch evidence
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): publish reconciliation branch handoff
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): record PR mergeability evidence
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): refresh PR and RBAC heartbeat evidence
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
Due: none

fix(control-plane): restore builder RBAC prerequisite
  docs/2026-04/validation/control-plane-validation-matrix.md
  infra/manifests/hermes-control-plane-builder/rbac.yaml
Due: none

docs(control-plane): refresh live RBAC blocker evidence
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
Due: none

docs(control-plane): refresh PR and RBAC handoff
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
Due: none

control-plane: land presence hardening and validation handoff
  .github/workflows/hermes-presence-adapter-publish.yml
  apps/agent-coordination-plane/package-lock.json
  apps/agent-coordination-plane/package.json
  apps/agent-coordination-plane/src/index.test.ts
  apps/agent-coordination-plane/src/index.ts
  apps/agent-coordination-plane/src/types.ts
  apps/agent-coordination-plane/tsconfig.json
  apps/discord-bridge/src/discord-normalizer.test.ts
  apps/discord-bridge/src/discord-normalizer.ts
  apps/discord-bridge/src/presence-router.test.ts
  apps/discord-bridge/src/presence-router.ts
  apps/discord-bridge/src/presence-types.test.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/src/hermes-client.ts
  apps/hermes-presence-adapter/src/index.test.ts
  apps/hermes-presence-adapter/src/index.ts
  apps/hermes-presence-adapter/src/types.ts
  docs/2026-04/design/agent-coordination-plane.md
  docs/2026-04/design/morgan-hermes-agent.md
  docs/2026-04/design/morgan-memory-skills-policy.md
  docs/2026-04/plans/control-plane-completion-roadmap.md
  docs/2026-04/plans/hermes-parity-centralized-discord-control-plane.md
  docs/2026-04/research/hermes-control-plane-behavior-inventory.md
  docs/2026-04/research/hermes-github-source-supply.md
  docs/2026-04/validation/control-plane-branch-reconciliation-2026-05-04.md
  docs/2026-04/validation/control-plane-operator-runbook.md
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-04/validation/hermes-presence-coderun-e2e.md
  infra/manifests/hermes-control-plane-builder/rbac.yaml
  scripts/presence-morgan-task-smoke.py
  scripts/presence-smoke-hermes-coderun.py
Due: none

docs(control-plane): record builder PR merge authority
  infra/manifests/hermes-control-plane-builder/configmap.yaml
Due: none

docs(control-plane): record live Hermes smoke evidence
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-04/validation/hermes-presence-coderun-live-2026-05-04.md
Due: none

test(control-plane): strengthen Hermes live smoke pod evidence
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-04/validation/hermes-presence-coderun-live-2026-05-04.md
  scripts/presence-smoke-hermes-coderun.py
Due: none

docs(control-plane): refresh live Hermes smoke evidence
  docs/2026-04/validation/hermes-presence-coderun-live-2026-05-04.md
Due: none

docs(control-plane): refresh live Hermes smoke evidence (#4929)
  docs/2026-04/validation/hermes-presence-coderun-live-2026-05-04.md
Due: none

docs(control-plane): refresh live Hermes smoke evidence
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-04/validation/hermes-presence-coderun-live-2026-05-04.md
Due: none

docs(control-plane): refresh live Hermes smoke evidence (#4930)
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-04/validation/hermes-presence-coderun-live-2026-05-04.md
Due: none

docs(control-plane): record Morgan task routing smoke
  docs/2026-04/validation/control-plane-validation-matrix.md
  docs/2026-04/validation/morgan-task-routing-smoke-2026-05-04.md
Due: none

docs(control-plane): decide Morgan sidecar source
  docs/2026-04/design/morgan-sidecar-source-decision.md
  docs/2026-04/plans/control-plane-completion-roadmap.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

feat(control-plane): add Morgan sidecar stub package
  apps/morgan-agent-sidecar/Dockerfile
  apps/morgan-agent-sidecar/package-lock.json
  apps/morgan-agent-sidecar/package.json
  apps/morgan-agent-sidecar/src/index.test.ts
  apps/morgan-agent-sidecar/src/index.ts
  apps/morgan-agent-sidecar/tsconfig.json
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

ci(control-plane): add Morgan sidecar image workflow
  .github/workflows/morgan-agent-sidecar-publish.yml
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): record Morgan sidecar image publish evidence
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

fix: route hermes coder through copilot gpt-5.5
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

chore: upgrade control-plane Hermes agent image
  infra/manifests/hermes-control-plane-builder/deployment.yaml
Due: none

fix hermes coder discord plugin repair
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

fix: route hermes coder through acpx copilot
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

feat: add three coder-class discord agents
  infra/gitops/agents/code-avatar-openclaw-values.yaml
  infra/gitops/agents/code-metal-values.yaml
  infra/gitops/agents/code-morgan-values.yaml
  infra/gitops/applications/workloads/code-avatar-openclaw-agent.yaml
  infra/gitops/applications/workloads/code-metal-agent.yaml
  infra/gitops/applications/workloads/code-morgan-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: retarget coder bots off metal and morgan tokens
  infra/gitops/agents/code-metal-values.yaml
  infra/gitops/agents/code-morgan-values.yaml
  infra/gitops/applications/workloads/code-metal-agent.yaml
  infra/gitops/applications/workloads/code-morgan-agent.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: pause bclaws hermes gateway
  infra/gitops/agents/bclaws-hermes-gateway-values.yaml
Due: no-hardcoded-passwords

fix: allow empty bclaws gateway render
  infra/gitops/applications/workloads/bclaws-hermes-gateway.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: retarget coder bots off metal and morgan tokens
  infra/gitops/agents/code-metal-values.yaml
  infra/gitops/agents/code-morgan-values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

fix: extend Hermes Coder ACPX timeout
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

fix: align coder-class agents with generalist context
  infra/gitops/agents/code-forge-values.yaml
  infra/gitops/agents/code-keeper-values.yaml
  infra/gitops/agents/code-metal-values.yaml
  infra/gitops/agents/code-morgan-values.yaml
  infra/gitops/applications/workloads/code-forge-agent.yaml
  infra/gitops/applications/workloads/code-keeper-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
