Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat: Establish BetterAuth as Standard Authentication Solution (#1611)
  docs/engineering/better-auth-integration-summary.md
  docs/engineering/better-auth-standard.md
  infra/charts/controller/agent-templates/auth/better-auth-backend.ts.hbs
  infra/charts/controller/agent-templates/auth/better-auth-frontend.tsx.hbs
  infra/charts/controller/agent-templates/auth/better-auth-setup.md.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/values.yaml
Due: none

fix: Move OpenMemory application to correct ArgoCD applications directory
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: Add OpenMemory deployment validation and status documentation
  docs/OPENMEMORY_INTEGRATION_STATUS.md
  docs/engineering/better-auth-standard.md
  docs/openmemory-deployment-validation.md
  docs/openmemory-integration-guide.md
Due: none

feat: restore E2E reset tooling
  .gitmodules
  Makefile
  scripts/E2E_RESET_README.md
  scripts/Makefile.e2e
  scripts/e2e-reset-config.yaml
  scripts/quick-e2e-reset.sh
  scripts/reset-e2e-advanced.sh
  scripts/reset-e2e-environment.sh
Due: none

fix: Resolve YAML linting and Helm validation errors
  infra/charts/openmemory/templates/deployment.yaml
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add OpenMemory to infrastructure image CI builds
  .github/workflows/infrastructure-build.yaml
Due: none

fix: correct path for extracting remote tools in generate_mcp_config
  controller/src/tasks/code/templates.rs
Due: none

fix: Use local-path storage class for OpenMemory PVC
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update OpenCode test for new exec-based config format
  controller/src/cli/adapters/opencode.rs
Due: none

fix: Change submodule URL from HTTPS to SSH for Argo CD compatibility
  .gitmodules
Due: none

🔧 Auto-format Rust code
  controller/src/cli/adapters/opencode.rs
Due: none

fix: Use HTTPS for submodule to match main repo authentication
  .gitmodules
Due: none

fix: Remove cto-parallel-test submodule (not needed for deployments)
  .gitmodules
  CIPHER_CONTAINER_ENHANCEMENTS.md
  CLEO_RESUME_FIX_SUMMARY.md
  PR_TOOLMAN_CONTEXT7_FIX.md
  TELEMETRY_IMPLEMENTATION_PLAN.md
  docs/engineering/better-auth-integration-summary.md
  docs/engineering/better-auth-standard.md
  docs/telemetry/LOG_QUERYING_GUIDE.md
  infra/charts/controller/agent-templates/auth/better-auth-setup.md.hbs
  infra/charts/controller/agent-templates/security/.semgrep.yaml
  infra/charts/controller/agent-templates/security/CIPHER_QUICK_REFERENCE.md
  infra/charts/controller/agent-templates/security/CIPHER_SECURITY_GUIDELINES.md
  infra/charts/controller/agent-templates/security/README.md
  package-lock.json
Due: none

fix: add dist/ to gitignore
  .gitignore
Due: none

fix: correct CodeRun format in Atlas sensors for merge conflict detection
  infra/gitops/resources/github-webhooks/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-tess-approval-sensor.yaml
Due: no-hardcoded-passwords

fix: resolve merge conflict markers in factory container script
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

fix(controller): resolve clippy boolean assertion warning
  controller/src/cli/adapters/opencode.rs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

fix: generate client-config.json from cto-config.json in cloned repo
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: add client-config.json generation to Claude agent scripts
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

fix: convert Atlas sensors environment variables from array to map format
  infra/gitops/resources/github-webhooks/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/atlas-pr-monitor-sensor.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix: properly add client-config generation to Cleo without deleting retry loop
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
Due: none

fix: add client-config generation to remaining Claude agent scripts
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

fix: properly restore Cleo script with retry loop and fix label command
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
Due: none

fix: restore missing httproute.yaml to github-webhooks kustomization
  infra/gitops/resources/github-webhooks/httproute.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix: move HTTPRoute to networking subdirectory for github-webhooks-networking app
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/networking/httproute.yaml
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
Due: no-hardcoded-passwords

feat: Configure monitoring stack for CLI container logs
  infra/monitoring/README.md
  infra/monitoring/VIEWING_CLI_LOGS.md
  infra/monitoring/fluent-bit/config.yaml
  infra/monitoring/fluent-bit/custom_parsers.conf
  infra/monitoring/grafana/victoria-logs-datasource.yaml
  infra/monitoring/otel-collector/config.yaml
  infra/monitoring/otel-collector/values.yaml
Due: none

fix: add missing apiVersion and kind to github-webhooks networking kustomization
  infra/gitops/resources/github-webhooks/networking/httproute.yaml
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
Due: no-hardcoded-passwords

docs(e2e): improve quick-e2e-reset script with permission requirements
  scripts/quick-e2e-reset.sh
Due: none

fix: restore missing httproute.yaml to github-webhooks kustomization (#1630)
  infra/gitops/resources/github-webhooks/httproute.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix: add missing apiVersion and kind to github-webhooks networking kustomization (#1631)
  infra/gitops/resources/github-webhooks/networking/httproute.yaml
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
Due: no-hardcoded-passwords

fix: resolve Bugbot issues in monitoring stack configuration
  infra/monitoring/fluent-bit/config.yaml
  infra/monitoring/otel-collector/values.yaml
Due: none

fix: implement ephemeral E2E template workflow to prevent submodule crosstalk
  .gitignore
  scripts/E2E_TEMPLATE_WORKFLOW.md
  scripts/quick-e2e-reset.sh
  scripts/reset-e2e-advanced.sh
Due: none

fix: resolve three bugs in Cleo container script
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix: resolve three bugs in Cleo container script (#1634)
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

docs(e2e): improve quick-e2e-reset script with permission requirements (#1632)
  scripts/quick-e2e-reset.sh
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

