Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: correct resource naming in agent-templates-sync workflow
  .github/workflows/agent-templates-sync.yaml
  infra/gitops/applications/cto/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tools): add command directive for vault-mcp-server binary (#1793)
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

fix: correct resource naming in agent-templates-sync workflow (#1794)
  .github/workflows/agent-templates-sync.yaml
  infra/gitops/applications/cto/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(gitops): enable ServerSideApply for staging app-of-apps
  infra/gitops/app-of-apps-staging.yaml
Due: no-hardcoded-passwords

feat(gitops): enable ServerSideApply for staging app-of-apps (#1795)
  infra/gitops/app-of-apps-staging.yaml
Due: no-hardcoded-passwords

fix(tools): configure cargo-dist for proper tools release
  .github/workflows/tools.yaml
  tools/dist-workspace.toml
Due: none

feat(ci): unify binary releases into single workflow
  .github/workflows/binaries-release.yaml
  .github/workflows/tools-release.yaml
  .github/workflows/tools.yaml
Due: none

fix(tools): correct vault-mcp-server binary path to /bin/vault-mcp-server
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

feat(mcp): add MCP server management tools
  infra/charts/controller/agent-templates/code/claude/container-rex-mcp-server.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-mcp-verify.sh.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/gitops/resources/github-webhooks/mcp-server-verification-sensor.yaml
  mcp/src/doc_proxy.rs
  mcp/src/main.rs
  mcp/src/tools.rs
Due: no-hardcoded-passwords

fix(mcp): correct removal verification logic
  infra/charts/controller/agent-templates/code/claude/container-rex-mcp-verify.sh.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

fix(tools): correct vault-mcp-server binary path to /bin/vault-mcp-server (#1799)
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

fix(mcp): handle jq null string in PR check
  infra/charts/controller/agent-templates/code/claude/container-rex-mcp-server.sh.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

fix(tools): configure cargo-dist for proper tools release (#1796)
  .github/workflows/tools.yaml
  tools/dist-workspace.toml
Due: none

fix(ci): use correct Cargo package names in binaries workflow
  .github/workflows/binaries-release.yaml
Due: none

feat(mcp): add MCP server management tools (#1797)
  infra/charts/controller/agent-templates/code/claude/container-rex-mcp-server.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-mcp-verify.sh.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/gitops/resources/github-webhooks/mcp-server-verification-sensor.yaml
  mcp/src/doc_proxy.rs
  mcp/src/main.rs
  mcp/src/tools.rs
Due: no-hardcoded-passwords

feat(ci): unify binary releases into single workflow (#1798)
  .github/workflows/binaries-release.yaml
  .github/workflows/tools-release.yaml
Due: none

fix(ci): remove helm-publish workflow that conflicted with tools releases
  .github/workflows/helm-publish.yaml
Due: none

fix(ci): remove helm-publish workflow that conflicted with tools releases (#1800)
  .github/workflows/helm-publish.yaml
Due: none

chore: update README and configuration files to remove Windows support
  README.md
  mcp/dist-workspace.toml
  tools/dist-workspace.toml
Due: none

fix(tools): increase vault-mcp-server probe timeout to 5 seconds
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

fix(mcp): resolve clippy pedantic lints
  mcp/src/main.rs
Due: none

fix(tools): increase vault-mcp-server probe timeout to 5 seconds (#1802)
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
  mcp/src/main.rs
Due: none

fix(mcp): resolve clippy pedantic lint errors
  mcp/src/main.rs
Due: none

fix(ci): remove helm-publish workflow that conflicted with tools releases (#1801)
  README.md
  mcp/dist-workspace.toml
  tools/dist-workspace.toml
Due: none

fix(tools): allow unused variable in sync_file for Windows builds
  tools/src/config.rs
Due: none

fix(tools): remove unnecessary secretRef from HTTP MCP servers
  infra/charts/tools/values.yaml
Due: none

fix(tools): deduplicate env vars from server secretRefs
  infra/charts/tools/templates/deployment.yaml
Due: none

fix(tools): use /health endpoint for vault-mcp-server probes
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

fix(tools): lint fixes and remove unnecessary secretRefs from HTTP MCP servers (#1803)
  infra/charts/tools/templates/deployment.yaml
  infra/charts/tools/values.yaml
  tools/src/config.rs
Due: none

fix(tools): use /health endpoint for vault-mcp-server probes (#1804)
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
Due: none

fix(release): add tools-client to binary releases and fix Windows lint
  .github/workflows/binaries-release.yaml
  tools/src/config.rs
Due: none

fix(release): add tools-client to binary releases and fix Windows lint (#1805)
  .github/workflows/binaries-release.yaml
  tools/src/config.rs
Due: none

fix(ci): correct Docker build artifact name to match upload
  .github/workflows/binaries-release.yaml
Due: none

fix(tools): use Docker for grafana and victoriametrics MCP servers
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
  scripts/validate-tools-server.sh
Due: none

fix(ci): correct Docker build artifact name to match upload (#1806)
  .github/workflows/binaries-release.yaml
Due: none

fix(tools): use Docker for grafana and victoriametrics MCP servers (#1807)
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
  scripts/validate-tools-server.sh
Due: none

fix(gitops): remove app.kubernetes.io/component overrides from podLabels
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/cert-manager.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/ingress-nginx.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): remove app.kubernetes.io/component overrides from podLabels (#1808)
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/applications/cert-manager.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/external-dns.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/ingress-nginx.yaml
  infra/gitops/applications/kube-state-metrics.yaml
  infra/gitops/applications/metrics-server.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/applications/victoria-logs.yaml
  infra/gitops/applications/victoria-metrics.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tools): remove OAuth Cloudflare servers, fix Firecrawl to use stdio
  infra/charts/tools/values.yaml
Due: none

fix(tools): remove OAuth Cloudflare servers, fix Firecrawl to use stdio (#1809)
  infra/charts/tools/values.yaml
Due: none
