Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat(nats): add NATS inter-agent messaging plugin and infrastructure
  apps/nats-messenger/actions.ts
  apps/nats-messenger/client.ts
  apps/nats-messenger/config.ts
  apps/nats-messenger/index.ts
  apps/nats-messenger/openclaw.plugin.json
  apps/nats-messenger/package.json
  apps/nats-messenger/processor.ts
  apps/nats-messenger/service.ts
  apps/nats-messenger/tool.ts
  apps/nats-messenger/types.ts
  infra/charts/openclaw-agent/extensions/nats-messenger
  infra/charts/openclaw-agent/templates/configmap-nats-plugin.yaml
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/messaging/nats.yaml
  infra/gitops/manifests/nats/configmap.yaml
  infra/gitops/manifests/nats/deployment.yaml
  infra/gitops/manifests/nats/kustomization.yaml
  infra/gitops/manifests/nats/pvc.yaml
  infra/gitops/manifests/nats/service.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(nats): NATS inter-agent messaging plugin and infrastructure (#4387)
  apps/nats-messenger/actions.ts
  apps/nats-messenger/client.ts
  apps/nats-messenger/config.ts
  apps/nats-messenger/index.ts
  apps/nats-messenger/openclaw.plugin.json
  apps/nats-messenger/package.json
  apps/nats-messenger/processor.ts
  apps/nats-messenger/service.ts
  apps/nats-messenger/tool.ts
  apps/nats-messenger/types.ts
  infra/charts/openclaw-agent/extensions/nats-messenger
  infra/charts/openclaw-agent/templates/configmap-nats-plugin.yaml
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/messaging/nats.yaml
  infra/gitops/manifests/nats/configmap.yaml
  infra/gitops/manifests/nats/deployment.yaml
  infra/gitops/manifests/nats/kustomization.yaml
  infra/gitops/manifests/nats/pvc.yaml
  infra/gitops/manifests/nats/service.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(keeper): add keeper agent configuration and identity
  test-mcp-servers.json
Due: none

fix(nats): align plugin with OpenClaw SDK conventions
  apps/nats-messenger/actions.ts
  apps/nats-messenger/index.ts
  apps/nats-messenger/service.ts
  apps/nats-messenger/tool.ts
Due: none

chore: archive Argo Workflows and Argo Events infrastructure
  archived/argo-workflows-events/README.md
  archived/argo-workflows-events/applications/platform/argo-events.yaml
  archived/argo-workflows-events/applications/platform/argo-workflows.yaml
  archived/argo-workflows-events/applications/platform/cto-workflows.yaml
  archived/argo-workflows-events/applications/platform/github-webhooks.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/configmap.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/controller.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/crd.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/server.yaml
  archived/argo-workflows-events/manifests/argo-workflows/controller-templates-pm-configmap.yaml
  archived/argo-workflows-events/manifests/argo-workflows/eventsources/eventbus.yaml
  archived/argo-workflows-events/manifests/argo-workflows/eventsources/github-eventsource.yaml
  archived/argo-workflows-events/manifests/argo-workflows/eventsources/kustomization.yaml
  archived/argo-workflows-events/manifests/argo-workflows/log-scanner-cronworkflow.yaml
  archived/argo-workflows-events/manifests/argo-workflows/morgan-mcp-config.yaml
  archived/argo-workflows-events/manifests/argo-workflows/play-project-workflow-template.yaml
  archived/argo-workflows-events/manifests/argo-workflows/play-workflow-template.yaml
  archived/argo-workflows-events/manifests/argo-workflows/project-intake-template.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/agent-mention-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/ci-failure-button-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/kustomization.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/play-workflow-pr-merged-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/remediation-button-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/stitch-pr-review-sensor.yaml
  archived/argo-workflows-events/manifests/rbac/argo-events-cto.yaml
  archived/argo-workflows-events/manifests/rbac/argo-workflow-permissions.yaml
  archived/argo-workflows-events/manifests/rbac/github-webhooks-networking.yaml
  infra/charts/cto-app/templates/configmaps/tools.yaml
  infra/charts/cto-app/values.yaml
  infra/charts/cto-lite/values.yaml
  infra/charts/cto/templates/cloudflare/platform-bindings.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/observability/fluent-bit.yaml
  infra/gitops/manifests/ingress/certificates-fra.yaml
  infra/gitops/manifests/ingress/certificates-home.yaml
  infra/gitops/manifests/ingress/certificates.yaml
  infra/gitops/manifests/ingress/platform-ingress-fra.yaml
  infra/gitops/manifests/ingress/platform-ingress-home.yaml
  infra/gitops/manifests/ingress/platform-ingress.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: archive Argo Workflows and Argo Events infrastructure (#4389)
  archived/argo-workflows-events/README.md
  archived/argo-workflows-events/applications/platform/argo-events.yaml
  archived/argo-workflows-events/applications/platform/argo-workflows.yaml
  archived/argo-workflows-events/applications/platform/cto-workflows.yaml
  archived/argo-workflows-events/applications/platform/github-webhooks.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/configmap.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/controller.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/crd.yaml
  archived/argo-workflows-events/charts/cto-app/templates/argo-workflows/server.yaml
  archived/argo-workflows-events/manifests/argo-workflows/controller-templates-pm-configmap.yaml
  archived/argo-workflows-events/manifests/argo-workflows/eventsources/eventbus.yaml
  archived/argo-workflows-events/manifests/argo-workflows/eventsources/github-eventsource.yaml
  archived/argo-workflows-events/manifests/argo-workflows/eventsources/kustomization.yaml
  archived/argo-workflows-events/manifests/argo-workflows/log-scanner-cronworkflow.yaml
  archived/argo-workflows-events/manifests/argo-workflows/morgan-mcp-config.yaml
  archived/argo-workflows-events/manifests/argo-workflows/play-project-workflow-template.yaml
  archived/argo-workflows-events/manifests/argo-workflows/play-workflow-template.yaml
  archived/argo-workflows-events/manifests/argo-workflows/project-intake-template.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/agent-mention-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/ci-failure-button-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/kustomization.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/play-workflow-pr-merged-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/remediation-button-sensor.yaml
  archived/argo-workflows-events/manifests/argo-workflows/sensors/stitch-pr-review-sensor.yaml
  archived/argo-workflows-events/manifests/rbac/argo-events-cto.yaml
  archived/argo-workflows-events/manifests/rbac/argo-workflow-permissions.yaml
  archived/argo-workflows-events/manifests/rbac/github-webhooks-networking.yaml
  infra/charts/cto-app/templates/configmaps/tools.yaml
  infra/charts/cto-app/values.yaml
  infra/charts/cto-lite/values.yaml
  infra/charts/cto/templates/cloudflare/platform-bindings.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/observability/fluent-bit.yaml
  infra/gitops/manifests/ingress/certificates-fra.yaml
  infra/gitops/manifests/ingress/certificates-home.yaml
  infra/gitops/manifests/ingress/certificates.yaml
  infra/gitops/manifests/ingress/platform-ingress-fra.yaml
  infra/gitops/manifests/ingress/platform-ingress-home.yaml
  infra/gitops/manifests/ingress/platform-ingress.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(nats): add discovery protocol, agent roster, and ping-pong guard
  apps/nats-messenger/client.ts
  apps/nats-messenger/config.ts
  apps/nats-messenger/index.ts
  apps/nats-messenger/openclaw.plugin.json
  apps/nats-messenger/service.ts
  apps/nats-messenger/tool.ts
  apps/nats-messenger/types.ts
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

chore: upgrade OpenClaw to 2026.2.6-3 and set imagePullPolicy Always
  infra/charts/openclaw-agent/values.yaml
  infra/images/openclaw/Dockerfile
Due: none

fix: metrics-server worker node scraping + OpenClaw Dockerfile cleanup
  infra/gitops/applications/observability/metrics-server.yaml
  infra/images/openclaw/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: upgrade OpenClaw to 2026.2.6-3, set imagePullPolicy Always (#4391)
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/observability/metrics-server.yaml
  infra/images/openclaw/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: metrics-server port conflict with kubelet on hostNetwork
  infra/gitops/applications/observability/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: metrics-server port conflict on hostNetwork (#4392)
  infra/gitops/applications/observability/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: metrics-server containerPort and defaultArgs for port 4443
  infra/gitops/applications/observability/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: metrics-server containerPort and defaultArgs for port 4443 (#4393)
  infra/gitops/applications/observability/metrics-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(nats): add nats tool to agent allowlists and update skill guidance
  infra/charts/openclaw-agent/skills/openclaw/orchestrator.md
  infra/charts/openclaw-agent/skills/openclaw/tools-client.md
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-stitch.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(nats): use standalone createInbox() import from nats module
  apps/nats-messenger/client.ts
Due: none

fix: enable Cilium socket LB for hostNetwork pods to reach services
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

docs: document Cilium hostNetwork connectivity fix and Mayastor setup
  infra/gitops/manifests/cilium/README.md
  infra/talos/README.md
Due: none

feat: add Mayastor disk pools for control plane storage
  infra/gitops/manifests/storage/kustomization.yaml
  infra/gitops/manifests/storage/mayastor-diskpools.yaml
Due: no-hardcoded-passwords

Infrastructure fixes: archive Argo, upgrade OpenClaw, fix metrics & networking (#4394)
  infra/gitops/manifests/cilium/README.md
  infra/gitops/manifests/cilium/values.yaml
  infra/gitops/manifests/storage/kustomization.yaml
  infra/gitops/manifests/storage/mayastor-diskpools.yaml
  infra/talos/README.md
Due: no-hardcoded-passwords

fix: switch Cilium from tunnel to native routing for hostNetwork pods
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

feat(helm): add cloud provider support (Bedrock, Vertex AI, Foundry)
  infra/charts/openclaw-agent/templates/configmap-claude-settings.yaml
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

fix: enable Cilium native routing for hostNetwork pod connectivity (#4395)
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix: add ipv4NativeRoutingCIDR for Cilium native routing mode
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix: add ipv4NativeRoutingCIDR for Cilium native routing (#4397)
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix: disable WireGuard encryption to unblock Mayastor hostNetwork connectivity
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix: disable WireGuard to unblock Mayastor hostNetwork connectivity (#4398)
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

docs: add Talos firewall configuration for Mayastor hostNetwork connectivity
  infra/talos/config/simple/MAYASTOR-SETUP.md
  infra/talos/config/simple/mayastor-network-patch.yaml
Due: none

docs: reference Mayastor setup guide in Talos README
  infra/talos/README.md
Due: none

feat(helm): add cloud provider support (Bedrock, Vertex AI, Foundry) (#4396)
  infra/charts/openclaw-agent/templates/configmap-claude-settings.yaml
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

Infrastructure: Complete Mayastor storage setup with Talos networking fixes (#4399)
  infra/talos/README.md
  infra/talos/config/simple/MAYASTOR-SETUP.md
  infra/talos/config/simple/mayastor-network-patch.yaml
Due: none

ci: add skills security scanning via mcp-scan on every push
  .github/workflows/skills-security-scan.yaml
Due: none

fix(dns): switch CoreDNS to public DNS after Talos firewall blocked port 53
  CLUSTER-DNS-INCIDENT.md
  infra/gitops/applications/platform/coredns-config.yaml
  infra/gitops/manifests/coredns/configmap.yaml
  infra/talos/DNS-FIX.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ci): stop redirecting stderr into scan-results.json
  .github/workflows/skills-security-scan.yaml
Due: none

Update diskpool apiVersion to v1beta
  infra/gitops/manifests/storage/mayastor-diskpools.yaml
  infra/talos/MAYASTOR-FIREWALL-BLOCKER.md
  infra/talos/config/simple/apply-mayastor-firewall.sh
Due: no-hardcoded-passwords

Chore/remove argo workflows events (#4400)
  infra/gitops/manifests/storage/mayastor-diskpools.yaml
  infra/talos/MAYASTOR-FIREWALL-BLOCKER.md
  infra/talos/config/simple/apply-mayastor-firewall.sh
Due: no-hardcoded-passwords

feat(security): add Talos firewall for admin-cto cluster
  infra/talos/config/admin-cto-firewall-patch.yaml
Due: none

feat(cilium): enable host firewall for cluster security
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

feat(security): add Cilium host firewall policies for VPN-only access
  infra/gitops/applications/platform/cilium-policies.yaml
  infra/gitops/manifests/cilium/policies/host-firewall-policy.yaml
  infra/gitops/manifests/cilium/policies/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(security): remove external DNS targets for VPN-only access
  infra/gitops/manifests/ingress/platform-ingress-fra.yaml
Due: no-hardcoded-passwords

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

