Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: scripts/check-argocd-apps.sh
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: scripts/check-resource-limits.sh
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: scripts/check-passwords.sh
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: scripts/check-required-labels.sh
  language: system
  pass_filenames: false

🔧 Auto-format Rust code
  controller/src/tasks/code/agent.rs
Due: none

feat(controller): implement actual workflow resumption API calls
  controller/Cargo.toml
  controller/src/tasks/workflow.rs
Due: none

chore(controller): remove unused chrono dependency from Cargo.toml
  controller/Cargo.toml
Due: none

fix(controller): fix compilation errors in workflow resumption
  controller/src/tasks/workflow.rs
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/workflow.rs
Due: none

feat(controller): ultra-simple workflow resumption detection
  controller/src/tasks/workflow.rs
Due: none

fix(controller): fix clippy linting issues and test failures
  controller/src/tasks/github.rs
  controller/src/tasks/workflow.rs
Due: none

chore(task-1): add HELLO-1.md
  task/HELLO-1.md
Due: none

fix(rex): add CodeRun status update with PR URL
  controller/src/tasks/code/resources.rs
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): use target repository for PR operations
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(argo-workflows): add controller parallelism to resolve throttling
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(templates): align Cleo/Tess with Rex enterprise settings approach
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(templates): align Cleo/Tess container patterns with working Rex approach
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

Configure Argo Workflows with parallelism, NodePort, and server auth mode
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(yaml): remove trailing spaces in argo-workflows.yaml
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(helm): reduce ConfigMap annotation size to avoid 262KB limit
  infra/charts/controller/templates/claude-templates-configmap.yaml
Due: none

fix(templates): correct claude.md.hbs template reference path
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(architecture): align Cleo/Tess with Rex's proven file-copying pattern
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(critical): resolve CLAUDE.md file path mismatch in Cleo/Tess
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(agents): align Cleo/Tess container templates with Rex patterns
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(agents): align Cleo/Tess container templates with Rex patterns (#319)
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(cleo): replace claude-cli exec with proper Claude execution pattern
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

hotfix(cleo): fix claude-cli exec command (#320)
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

fix(rex): improve FIFO file descriptor handling to prevent script hangs
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): improve FIFO file descriptor handling to prevent script hangs (#321)
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(workflows): add CodeRun completion detection to create-coderun-resource
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(workflows): add CodeRun completion detection to create-coderun-resource (#322)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(rex): add git repository verification before Claude execution
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): add git repository verification before Claude execution (#323)
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): implement permanent Claude process timeout and cleanup
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): permanent Claude process timeout and cleanup solution (#324)
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

feat: add Jupiter external secrets configuration
  .gitignore
  infra/secret-store/jupiter-external-secrets.yaml
Due: none

feat: add jupiter namespace to platform project destinations
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

chore: update .gitignore to include charts repository for local development
  .gitignore
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update jupiter.yaml
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Remove redundant rpcEndpoint from Jupiter Argo CD config - handled by deployment template
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix YAML linting issues - remove trailing spaces
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Add charts repository to platform project sourceRepos for Jupiter deployment
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

Fix Jupiter Argo CD app to use correct GitHub repository URL instead of invalid Helm repo URL
  infra/gitops/applications/jupiter.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README)\..*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

