Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(toolman): correct pg-aiguide MCP server URL
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

feat(argo): enable enhanced workflow garbage collection (#1703)
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(toolman): correct pg-aiguide MCP server URL (#1706)
  .gitignore
  infra/charts/controller/agent-templates/code/claude/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/codex/agents-blaze.md.hbs
  infra/charts/controller/agent-templates/code/codex/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/cursor/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/factory/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/factory/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/gemini/container-spark.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/agents-spark.md.hbs
  infra/charts/controller/agent-templates/code/opencode/container-spark.sh.hbs
  infra/charts/controller/scripts/generate-spark-scripts-configmap.sh
  infra/charts/controller/templates/agent-scripts-spark.yaml
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/charts/controller/values.yaml
  infra/vault/secrets/github-apps.yaml
  scripts/spark/init-bare-rn-project.sh
  scripts/spark/init-expo-project.sh
  scripts/spark/run-detox-tests.sh
  scripts/spark/setup-eas-build.sh
Due: none

fix(toolman): correct pg-aiguide MCP server URL (#1707)
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add Kilo WireGuard VPN as open source alternative to Twingate
  infra/gitops/applications/kilo.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/crds.yaml
  infra/gitops/resources/kilo/daemonset.yaml
  infra/gitops/resources/kilo/kustomization.yaml
  infra/gitops/resources/kilo/peers/developer-workstation.yaml
  infra/gitops/resources/kilo/rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: move peer template to examples/ to prevent invalid deployment
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
  infra/gitops/resources/kilo/kustomization.yaml
Due: no-hardcoded-passwords

feat: add Kilo WireGuard VPN (open source Twingate alternative) (#1709)
  infra/gitops/applications/kilo.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/crds.yaml
  infra/gitops/resources/kilo/daemonset.yaml
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
  infra/gitops/resources/kilo/kustomization.yaml
  infra/gitops/resources/kilo/rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(controller): align Claude ConfigMap naming with generated templates
  .github/workflows/agent-templates-update.yml
  controller/src/bin/agent_controller.rs
  controller/src/tasks/docs/resources.rs
  infra/charts/controller/templates/_helpers.tpl
Due: none

fix: use Talos kubeconfig-in-cluster ConfigMap for Kilo
  infra/gitops/resources/kilo/daemonset.yaml
Due: no-hardcoded-passwords

fix: add claude-docs to startup verification
  controller/src/bin/agent_controller.rs
Due: none

fix: use Talos kubeconfig-in-cluster ConfigMap for Kilo (#1711)
  infra/gitops/resources/kilo/daemonset.yaml
Due: no-hardcoded-passwords

fix(controller): align Claude ConfigMap naming with generated templates (#1710)
  .github/workflows/agent-templates-update.yml
  controller/src/bin/agent_controller.rs
  controller/src/tasks/docs/resources.rs
  infra/charts/controller/templates/_helpers.tpl
Due: none

fix(gitops): remove references to deleted ExternalSecret files in kustomization
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix(gitops): remove references to deleted ExternalSecret files in kustomization (#1712)
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix(gitops): remove invalid serviceAccountName field from Application specs
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/github-webhooks-networking.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): remove allowEmpty: false from vault-config
  infra/gitops/applications/vault-config.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: improve Kilo DNS setup instructions
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
Due: no-hardcoded-passwords

fix(gitops): remove invalid serviceAccountName field from Application specs (#1713)
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/github-webhooks-networking.yaml
  infra/gitops/applications/vault-config.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): remove External Secrets Operator in favor of Vault Secrets Operator
  infra/charts/controller/templates/task-controller-config.yaml
  infra/charts/controller/values.schema.json
  infra/charts/controller/values.yaml
  infra/charts/universal-app/templates/externalsecret.yaml
  infra/charts/universal-app/values-task-example.yaml
  infra/charts/universal-app/values.yaml
  infra/charts/vault/values.yaml
  infra/gitops/applications/external-secrets.yaml
  infra/gitops/applications/github-webhooks.yaml
  infra/gitops/applications/secret-store.yaml
  infra/gitops/applications/toolman.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/archive/databases/README.md
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/external-dns/README.md
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/scripts/migrate-secrets-to-vault.sh
  infra/scripts/setup-agent-secrets-external.sh
  infra/scripts/vault-cleanup-old-secret-store.sh
  infra/secret-store/README.md
  infra/secret-store/namespace-and-rbac.yaml
  infra/vault/secrets/github-apps.yaml
  scripts/add-context7-secret.sh
  scripts/add-github-mcp-secret.sh
  scripts/store-atlas-bolt-vault-credentials.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add Spark mobile agent config, remove Reddit toolman, cleanup
  .github/workflows/agent-templates-update.yml
  .gitignore
  controller/src/bin/agent_controller.rs
  controller/src/tasks/docs/resources.rs
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/controller/agent-templates/pg-aiguide-instructions-snippet.md
  infra/charts/controller/templates/_helpers.tpl
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/github-webhooks-networking.yaml
  infra/gitops/applications/kilo.yaml
  infra/gitops/applications/toolman.yaml
  infra/gitops/applications/vault-config.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/crds.yaml
  infra/gitops/resources/kilo/daemonset.yaml
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
  infra/gitops/resources/kilo/kustomization.yaml
  infra/gitops/resources/kilo/rbac.yaml
  infra/scripts/migrate-secrets-to-vault.sh
  infra/vault/README.md
  infra/vault/secrets/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-codex.yaml
Due: none

docs: improve Kilo DNS setup instructions (#1714)
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
Due: no-hardcoded-passwords

fix(gitops): remove allowEmpty: false from openmemory
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Refactor: Use VaultStaticSecrets instead of ExternalSecrets
  scripts/apply-agent-credentials.sh
  scripts/create-agent-github-app.sh
  scripts/create-github-apps-local.sh
  scripts/setup-atlas-bolt-quickstart.sh
  scripts/setup-new-agent.sh
Due: none

feat: replace Twingate with Kilo WireGuard VPN
  README.md
  docs/engineering/RESOURCE_OPTIMIZATION_SUMMARY.md
  docs/vpn/kilo-client-setup.md
  infra/gitops/applications/twingate-pastoral.yaml
  infra/gitops/applications/twingate-therapeutic.yaml
  infra/gitops/resources/kilo/kustomization.yaml
  infra/gitops/resources/kilo/peers/jonathon-workstation.yaml
  mcp/src/main.rs
  mcp/src/tools.rs
  scripts/disable-optional-services.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: replace Twingate with Kilo WireGuard VPN (#1718)
  README.md
  docs/engineering/RESOURCE_OPTIMIZATION_SUMMARY.md
  docs/vpn/kilo-client-setup.md
  infra/gitops/applications/twingate-pastoral.yaml
  infra/gitops/applications/twingate-therapeutic.yaml
  infra/gitops/resources/kilo/kustomization.yaml
  infra/gitops/resources/kilo/peers/jonathon-workstation.yaml
  mcp/src/main.rs
  mcp/src/tools.rs
  scripts/disable-optional-services.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): remove allowEmpty: false from openmemory (#1717)
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): remove External Secrets Operator in favor of Vault (#1715)
  infra/charts/controller/templates/task-controller-config.yaml
  infra/charts/controller/values.schema.json
  infra/charts/controller/values.yaml
  infra/charts/universal-app/templates/externalsecret.yaml
  infra/charts/universal-app/values-task-example.yaml
  infra/charts/universal-app/values.yaml
  infra/charts/vault/values.yaml
  infra/gitops/applications/external-secrets.yaml
  infra/gitops/applications/github-webhooks.yaml
  infra/gitops/applications/secret-store.yaml
  infra/gitops/applications/toolman.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/archive/databases/README.md
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/external-dns/README.md
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/scripts/migrate-secrets-to-vault.sh
  infra/scripts/setup-agent-secrets-external.sh
  infra/scripts/vault-cleanup-old-secret-store.sh
  infra/secret-store/README.md
  infra/secret-store/namespace-and-rbac.yaml
  infra/vault/secrets/github-apps.yaml
  scripts/add-context7-secret.sh
  scripts/add-github-mcp-secret.sh
  scripts/apply-agent-credentials.sh
  scripts/create-agent-github-app.sh
  scripts/create-github-apps-local.sh
  scripts/setup-atlas-bolt-quickstart.sh
  scripts/setup-new-agent.sh
  scripts/store-atlas-bolt-vault-credentials.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(infra): remove doc-server and associated database infrastructure
  infra/gitops/applications/doc-server-databases.yaml
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/doc-server.yaml
  infra/gitops/applications/toolman.yaml
  infra/gitops/rbac/doc-server-mcp-access.yaml
  infra/gitops/rbac/doc-server-networking.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server-databases/postgres-pvc.yaml
  infra/gitops/resources/doc-server-databases/postgres.yaml
  infra/gitops/resources/doc-server-databases/redis.yaml
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/networking/ingress.yaml
  infra/gitops/resources/doc-server/networking/kustomization.yaml
  infra/gitops/resources/doc-server/networking/service.yaml
  infra/gitops/resources/doc-server/postgres.yaml
  infra/gitops/resources/doc-server/redis.yaml
  infra/vault/secrets/doc-server.yaml
  scripts/test-doc-server-ingress.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(infra): remove doc-server and associated database infrastructure (#1720)
  infra/gitops/applications/doc-server-databases.yaml
  infra/gitops/applications/doc-server-networking.yaml
  infra/gitops/applications/doc-server.yaml
  infra/gitops/applications/toolman.yaml
  infra/gitops/rbac/doc-server-mcp-access.yaml
  infra/gitops/rbac/doc-server-networking.yaml
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server-databases/postgres-pvc.yaml
  infra/gitops/resources/doc-server-databases/postgres.yaml
  infra/gitops/resources/doc-server-databases/redis.yaml
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/networking/ingress.yaml
  infra/gitops/resources/doc-server/networking/kustomization.yaml
  infra/gitops/resources/doc-server/networking/service.yaml
  infra/gitops/resources/doc-server/postgres.yaml
  infra/gitops/resources/doc-server/redis.yaml
  infra/vault/secrets/doc-server.yaml
  scripts/test-doc-server-ingress.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add tools MCP server binary and Docker image to release workflow
  .github/workflows/release.yaml
  controller/src/cli/adapters/opencode.rs
Due: none

feat: add dedicated tools CI and release workflows
  .github/workflows/release.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/tools-release.yaml
Due: none

refactor: implement App of Apps pattern for CTO platform
  .github/workflows/tools-release.yaml
  infra/gitops/applications/cto.yaml
  infra/gitops/applications/cto/controller.yaml
  infra/gitops/applications/cto/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

perf: use ARC runners for tools-release Docker build and release steps
  .github/workflows/tools-release.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

