Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat: Configure monitoring stack for CLI container logs (#1629)
  infra/monitoring/README.md
  infra/monitoring/VIEWING_CLI_LOGS.md
  infra/monitoring/fluent-bit/config.yaml
  infra/monitoring/fluent-bit/custom_parsers.conf
  infra/monitoring/grafana/victoria-logs-datasource.yaml
  infra/monitoring/otel-collector/config.yaml
  infra/monitoring/otel-collector/values.yaml
Due: none

fix: resolve Bugbot issues in client-config generation
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

feat: integrate OpenMemory for all agents via Toolman
  .mcp.json
  OPENMEMORY_CONFIGURATION_COMPLETE.md
  OPENMEMORY_DEPLOYMENT_NEEDED.md
  cto-config.json
  infra/charts/controller/agent-templates/code/client-config.json.hbs
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix(sensors): replace unsupported !~ comparator in CI remediation sensor
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

feat: add monitoring stack and improve E2E scripts
  .cursorignore
  .gitignore
  scripts/quick-e2e-reset.sh
  scripts/reset-e2e-advanced.sh
Due: none

fix: generate client-config.json from cto-config.json in cloned repo
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: properly add client-config generation to Cleo without deleting retry loop
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
Due: none

fix: add client-config generation to remaining Claude agent scripts
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

fix: move HTTPRoute to networking subdirectory for github-webhooks-networking app
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix: implement ephemeral E2E template workflow to prevent submodule crosstalk
  .gitignore
  scripts/E2E_TEMPLATE_WORKFLOW.md
  scripts/quick-e2e-reset.sh
  scripts/reset-e2e-advanced.sh
Due: none

fix(gitops): remove duplicate HTTPRoute from github-webhooks directory
  infra/gitops/resources/github-webhooks/httproute.yaml
Due: no-hardcoded-passwords

fix: resolve ALL remaining Bugbot issues and merge with main
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: update generation script wrapper to use split ConfigMaps
  .github/workflows/agent-templates-check.yml
  infra/charts/controller/scripts/generate-templates-configmap.sh
Due: none

fix: resolve OpenTelemetry collector YAML syntax error in ArgoCD application
  infra/gitops/applications/otel-collector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve CI failure - ConfigMap exceeds 1MB and restore kustomization
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix: ConfigMap size reduction - exclude duplicate agent partials
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix: increase external-dns memory to 2Gi to prevent OOM crashes
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: replace undefined FACTORY_WORK_DIR with CLAUDE_WORK_DIR in Claude container templates
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-code-shared.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix: resolve 3 Bugbot issues
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  scripts/quick-e2e-reset.sh
  scripts/reset-e2e-advanced.sh
Due: none

fix: split claude ConfigMap to resolve 1MB limit CI failures
  infra/charts/controller/scripts/generate-agent-templates-configmaps-split.sh
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-code-shared.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-docs.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-intake.yaml
  infra/charts/controller/templates/agent-templates-pm.yaml
Due: none

fix: enable Atlas Guardian CI failure monitoring (#1635)
  .cursorignore
  .github/workflows/agent-templates-check.yml
  .gitignore
  infra/charts/controller/scripts/generate-templates-configmap.sh
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
  scripts/quick-e2e-reset.sh
  scripts/reset-e2e-advanced.sh
Due: no-hardcoded-passwords

fix: update scripts to use split claude ConfigMaps
  scripts/apply-agent-templates-configmap.sh
Due: none

Refactor OTel collector ingress config to exclude HTTP endpoint
  infra/gitops/applications/otel-collector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

Fix: Copy client-config.json from CLAUDE_WORK_DIR to workspace
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
Due: none
