Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

docs: hand off OAuth model routing reserves (#4917)
  .github/workflows/intake.yaml
  crates/cli/src/adapters/dexter.rs
  crates/controller/src/cli/adapters/code.rs
  crates/controller/src/cli/adapters/dexter.rs
  crates/controller/src/cli/adapters/gemini.rs
  crates/controller/src/cli/types.rs
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  cto-config.template.json
  docs/2026-04/morgan-oauth-model-routing-reserves.md
  docs/2026-04/openclaw-cli-provider-routing.md
  infra/charts/hermes-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
  intake/scripts/compute-gaps.py
  intake/scripts/quality-gate.sh
  intake/scripts/real-llm-invoke.py
  intake/scripts/resume-task-refinement.sh
  intake/scripts/simple-rest-smoke-llm-stub.py
  intake/workflows/codebase-analysis.lobster.yaml
  intake/workflows/decision-voting.lobster.yaml
  intake/workflows/deliberation.lobster.yaml
  intake/workflows/intake.lobster.yaml
  intake/workflows/pipeline.lobster.yaml
  intake/workflows/task-refinement.lobster.yaml
  intake/workflows/voting.lobster.yaml
  model-providers.json
  templates/harness-agents/openclaw-config.json.hbs
  test/cli-matrix/harness-rex-gemini.yaml
  test/cli-matrix/neon-gauntlet/README.md
  test/cli-matrix/skills-e2e/e2e-skills-cursor.yaml
  test/cli-matrix/skills-e2e/e2e-skills-gemini.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: wire Hermes control CLI OAuth secrets
  infra/manifests/hermes-control-plane-builder/deployment.yaml
Due: none

fix: register shared partials for coding guidelines
  crates/controller/src/tasks/code/templates.rs
Due: none

fix: allow Hermes sethome in Discord DMs
  infra/manifests/hermes-control-plane-builder/deployment.yaml
  infra/manifests/hermes-control-plane-builder/kustomization.yaml
  infra/manifests/hermes-control-plane-builder/patch-discord-sethome.py
Due: none

fix: align Hermes builder ExternalSecret defaults
  infra/manifests/hermes-control-plane-builder/secret.yaml
Due: none

feat: add runtime-neutral Discord presence control plane
  apps/discord-bridge/package.json
  apps/discord-bridge/src/config.ts
  apps/discord-bridge/src/discord-client.ts
  apps/discord-bridge/src/discord-normalizer.test.ts
  apps/discord-bridge/src/discord-normalizer.ts
  apps/discord-bridge/src/http-server.test.ts
  apps/discord-bridge/src/http-server.ts
  apps/discord-bridge/src/index.ts
  apps/discord-bridge/src/presence-router.test.ts
  apps/discord-bridge/src/presence-router.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/package.json
  apps/hermes-presence-adapter/src/config.ts
  crates/controller/src/tasks/code/resources.rs
  docs/2026-04/plans/runtime-neutral-discord-control-plane.md
Due: none

fix: register shared partials for github guidelines
  crates/controller/src/tasks/code/templates.rs
Due: none

feat: route Hermes workers through presence bridge
  .github/workflows/controller-ci.yaml
  .github/workflows/discord-bridge-publish.yml
  apps/discord-bridge/Dockerfile
  apps/discord-bridge/src/config.ts
  apps/discord-bridge/src/discord-client.ts
  apps/discord-bridge/src/elicitation-handler.ts
  apps/discord-bridge/src/http-server.ts
  apps/discord-bridge/src/index.ts
  apps/discord-bridge/src/presence-fabric.ts
  apps/discord-bridge/src/presence-router.test.ts
  apps/discord-bridge/src/presence-router.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/Dockerfile
  apps/hermes-presence-adapter/package-lock.json
  apps/hermes-presence-adapter/package.json
  apps/hermes-presence-adapter/src/config.ts
  apps/hermes-presence-adapter/src/hermes-client.ts
  apps/hermes-presence-adapter/src/index.test.ts
  apps/hermes-presence-adapter/src/index.ts
  apps/hermes-presence-adapter/src/types.ts
  apps/hermes-presence-adapter/tsconfig.json
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/config.rs
  infra/charts/cto/templates/controller/task-controller-config.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/manifests/discord-bridge/deployment.yaml
  scripts/presence-smoke.sh
Due: no-hardcoded-passwords

feat: add Hermes control-plane builder manifests
  infra/gitops/applications/workloads/hermes-control-plane-builder.yaml
  infra/manifests/hermes-control-plane-builder/configmap.yaml
  infra/manifests/hermes-control-plane-builder/deployment.yaml
  infra/manifests/hermes-control-plane-builder/kustomization.yaml
  infra/manifests/hermes-control-plane-builder/rbac.yaml
  infra/manifests/hermes-control-plane-builder/secret.yaml
  infra/manifests/hermes-control-plane-builder/storage.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(intake): add real model smoke adapter
  intake/scripts/real-llm-invoke.py
Due: none

feat(intake): add ACPX llm-task backend
  docs/2026-04/acp-llm-invoke-standard.md
  docs/2026-04/plans/universal-acp-llm-invoke.md
  intake/scripts/acpx-llm-task.py
  intake/scripts/llm-invoke.sh
  intake/tests/acpx-llm-task-tests.sh
  intake/tests/llm-invoke-backend-tests.sh
Due: none

feat(intake): standardize LLM calls on ACPX backend
  docs/2026-04/acp-llm-invoke-standard.md
  docs/2026-04/plans/universal-acp-llm-invoke.md
  intake/scripts/acpx-llm-task.py
  intake/scripts/llm-invoke.sh
  intake/tests/acpx-llm-task-tests.sh
  intake/tests/llm-invoke-backend-tests.sh
Due: none

fix(intake): resolve ACP adapter path independent of WORKSPACE
  intake/scripts/llm-invoke.sh
  intake/tests/llm-invoke-backend-tests.sh
Due: none

fix(intake): persist Copilot ACP routing via GitOps
  cto-config.template.json
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  intake/tests/harness-agnostic-tests.sh
  intake/workflows/pipeline.lobster.yaml
Due: no-hardcoded-passwords

fix(intake): persist Copilot ACP routing via GitOps (#4921)
  cto-config.template.json
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  intake/tests/harness-agnostic-tests.sh
  intake/workflows/pipeline.lobster.yaml
Due: no-hardcoded-passwords

feat(hermes): enable ElevenLabs TTS for Coder voice
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

feat(hermes): enable ElevenLabs TTS for Coder voice (#4922)
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

feat(hermes): add Coder voice slash command
  infra/charts/hermes-gateway/scripts/patch-discord-coder-voice.py
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

feat(hermes): add Coder voice slash command (#4923)
  infra/charts/hermes-gateway/scripts/patch-discord-coder-voice.py
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/values.yaml
Due: none

fix(hermes): sync Coder voice command to CTO guild
  infra/charts/hermes-gateway/scripts/patch-discord-coder-voice.py
Due: none

Harden Hermes control-plane gateway health probes
  infra/manifests/hermes-control-plane-builder/deployment.yaml
  infra/manifests/hermes-control-plane-builder/kustomization.yaml
  infra/manifests/hermes-control-plane-builder/scripts/gateway-health.sh
Due: none

Use runtime state for Hermes gateway health
  infra/manifests/hermes-control-plane-builder/scripts/gateway-health.sh
Due: none

Add Bclaws Hermes gateway
  infra/charts/hermes-gateway/scripts/gateway-health.py
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/templates/headless-service.yaml
  infra/charts/hermes-gateway/templates/pvc.yaml
  infra/gitops/agents/bclaws-hermes-gateway-values.yaml
  infra/gitops/applications/workloads/bclaws-hermes-gateway.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: enable Hermes coder Discord gateway
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

fix: include Discord plugin when channel is enabled
  infra/charts/hermes-agent/templates/configmap.yaml
Due: none

fix: install Hermes coder Discord plugin
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

fix: run Hermes coder gateway as main process
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/hermes-agent/values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

fix: remove stale codex plugin from Hermes coder gateway
  infra/gitops/agents/hermes-coder-values.yaml
Due: no-hardcoded-passwords

feat(control-plane): preserve Hermes presence home metadata
  apps/discord-bridge/src/presence-router.test.ts
  apps/discord-bridge/src/presence-router.ts
  apps/discord-bridge/src/presence-types.test.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/src/hermes-client.ts
  apps/hermes-presence-adapter/src/index.test.ts
  apps/hermes-presence-adapter/src/index.ts
  apps/hermes-presence-adapter/src/types.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

ci: add Hermes presence adapter image publish workflow
  .github/workflows/hermes-presence-adapter-publish.yml
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

feat(control-plane): add agent coordination contract skeleton
  apps/agent-coordination-plane/package-lock.json
  apps/agent-coordination-plane/package.json
  apps/agent-coordination-plane/src/index.test.ts
  apps/agent-coordination-plane/src/index.ts
  apps/agent-coordination-plane/src/types.ts
  apps/agent-coordination-plane/tsconfig.json
  docs/2026-04/design/agent-coordination-plane.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

fix: disable duplicate Coder Discord gateway
  infra/charts/hermes-gateway/templates/configmap.yaml
  infra/charts/hermes-gateway/templates/deployment.yaml
  infra/charts/hermes-gateway/templates/headless-service.yaml
  infra/charts/hermes-gateway/templates/pvc.yaml
  infra/charts/hermes-gateway/templates/rbac.yaml
  infra/charts/hermes-gateway/templates/serviceaccount.yaml
  infra/charts/hermes-gateway/values.yaml
  infra/gitops/agents/cto-hermes-gateway-values.yaml
Due: no-hardcoded-passwords

test(control-plane): harden agent coordination envelope enums
  apps/agent-coordination-plane/src/index.test.ts
  apps/agent-coordination-plane/src/index.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): record Hermes CodeRun dry-run smoke evidence
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

test(control-plane): harden attachment metadata contract
  apps/discord-bridge/src/discord-normalizer.test.ts
  apps/discord-bridge/src/discord-normalizer.ts
  apps/discord-bridge/src/presence-types.test.ts
  apps/discord-bridge/src/presence-types.ts
  apps/hermes-presence-adapter/src/index.test.ts
  apps/hermes-presence-adapter/src/index.ts
  apps/hermes-presence-adapter/src/types.ts
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none

docs(control-plane): add operator runbook skeleton
  docs/2026-04/validation/control-plane-operator-runbook.md
  docs/2026-04/validation/control-plane-validation-matrix.md
Due: none
