Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

Fix/cleo morgan workflow issues (#1329)
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: comprehensive workflow and daemon fixes
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

fix: remove merge conflict markers from play-workflow-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: comprehensive workflow and daemon fixes for DAG and pod failures (#1330)
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: stop-code-pr-creation hook should only check for open PRs
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix: additional workflow fixes - merge conflicts and PR creation hook (#1332)
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps with stop-code-pr-creation fix
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

Investigate test play failures
  package-lock.json
Due: none

fix: increase Toolman memory limit to prevent OOMKilled
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: increase Toolman memory limit to prevent OOMKilled (#1335)
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor: remove broken remediation loop from play workflow
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  package-lock.json
Due: none

refactor: remove broken remediation loop from play workflow (#1338)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  package-lock.json
Due: none

Fix: Correct indentation in stop-code-pr-creation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
Due: none

Implementing constant monitoring for CTO project
  ATLAS_PR_GUARDIAN_SUMMARY.md
  docs/engineering/atlas-pr-guardian.md
  infra/charts/controller/templates/prompts/atlas-pr-guardian-system-prompt.md
  infra/charts/controller/values.yaml
  infra/gitops/applications/atlas-pr-guardian-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  package-lock.json
  scripts/test-atlas-pr-guardian.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(atlas): address Bugbot comments on PR guardian sensor
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(helm): remove invalid .md file from templates directory
  ATLAS_PR_GUARDIAN_SUMMARY.md
  infra/charts/controller/templates/prompts/atlas-pr-guardian-system-prompt.md
  infra/gitops/applications/atlas-pr-guardian-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(yaml): remove extra blank lines to pass yamllint
  infra/gitops/applications/atlas-pr-guardian-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argocd): restore atlas-pr-guardian-sensor application manifest
  infra/gitops/applications/atlas-pr-guardian-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(sensor): restore atlas-pr-guardian sensor configuration
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(sensor): remove status events to avoid payload schema mismatch
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(test): update validation script for removed status-event dependency
  scripts/test-atlas-pr-guardian.sh
Due: none

fix(sensor): use conditional templates to prevent parameter conflicts
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

feat(atlas): Add PR Guardian Automation (#1339)
  ATLAS_PR_GUARDIAN_SUMMARY.md
  docs/engineering/atlas-pr-guardian.md
  infra/charts/controller/values.yaml
  infra/gitops/applications/atlas-pr-guardian-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(sensor): merge dependencies to fix Argo Events constraint
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(yaml): remove trailing spaces and blank lines
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(test): update validation for refactored sensor dependencies
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: no-hardcoded-passwords

fix(atlas): Fix Argo Events sensor deployment error (#1340)
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: no-hardcoded-passwords

fix(workflow): handle merged PRs to prevent infinite retry loops
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(sensor): revert to two dependencies to fix expr filtering errors
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: no-hardcoded-passwords

fix(sensor): add conditional templates to prevent parameter overwrites
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(workflow): Handle merged PRs to prevent infinite retry loops (#1341)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: no-hardcoded-passwords

fix(sensor): use single dependency for Argo Events v1.9.7 compatibility
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: no-hardcoded-passwords

feat(ci): implement automated CI failure remediation system
  PR_CI_REMEDIATION.md
  docs/engineering/ci-failure-remediation-system.md
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/gitops/applications/ci-remediation-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
  package-lock.json
  scripts/test-ci-remediation.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(yaml): remove trailing blank lines
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords
