Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: use local dev registry for workflow runtime image
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
Due: no-hardcoded-passwords

fix: use local dev registry for workflow runtime image (#2901)
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
Due: no-hardcoded-passwords

fix: disable enforce_admins in branch protection
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix: disable enforce_admins in branch protection (#2902)
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix: disable etcd JWT auth to fix CrashLoopBackOff
  infra/gitops/applications/storage/mayastor.yaml
  infra/gitops/manifests/external-secrets/mayastor-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: disable etcd JWT auth to fix CrashLoopBackOff (#2903)
  infra/gitops/applications/storage/mayastor.yaml
  infra/gitops/manifests/external-secrets/mayastor-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(pm): create Linear issues from tasks when intake PR is merged
  .secrets.baseline
  Cargo.lock
  crates/pm/Cargo.toml
  crates/pm/src/handlers/callbacks.rs
  crates/pm/src/handlers/github.rs
  crates/pm/src/server.rs
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat(pm): create Linear issues from tasks when intake PR is merged (#2904)
  .secrets.baseline
  Cargo.lock
  crates/pm/Cargo.toml
  crates/pm/src/handlers/callbacks.rs
  crates/pm/src/handlers/github.rs
  crates/pm/src/server.rs
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

Talos agent webhook 7325b (#2905)
  .github/workflows/agents-build.yaml
  README.md
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/config.rs
  crates/controller/src/tasks/template_paths.rs
  cto-config.template.json
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  templates/_shared/partials/shadcn-stack.md.hbs
  templates/_shared/partials/tanstack-stack.md.hbs
  templates/agents/blaze/coder/system-prompt.md.hbs
  templates/agents/bolt/infra/container.sh.hbs
  templates/agents/bolt/infra/system-prompt.md.hbs
  templates/agents/morgan/intake/system-prompt.md.hbs
Due: none

Fix syntax error in UserSearch component by correcting closing brace in onChange handler
  templates/_shared/partials/shadcn-stack.md.hbs
Due: none

Add frontend_stack field to task configurations in templates and config
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/config.rs
Due: none

Fix syntax error in UserSearch component by correcting closing brace in onChange handler
  crates/healer/src/main.rs
Due: none

Talos agent webhook 7325b (#2905)
  templates/_shared/partials/shadcn-stack.md.hbs
Due: none

Fix formatting issue in UserSearch component by removing unnecessary merge conflict markers.
  templates/_shared/partials/shadcn-stack.md.hbs
Due: none

Add infrastructure operators partial and refactor user search component
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/template_paths.rs
  templates/_shared/partials/shadcn-stack.md.hbs
Due: none

Add infrastructure operators partial and refactor user search component (#2908)
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/template_paths.rs
  templates/_shared/partials/shadcn-stack.md.hbs
Due: none

Gha docker perms 46d61 (#2909)
  templates/agents/morgan/intake/system-prompt.md.hbs
Due: none

fix: resolve merge conflict markers in templates and Rust code
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/template_paths.rs
  templates/_shared/partials/shadcn-stack.md.hbs
  templates/_shared/partials/tanstack-stack.md.hbs
  templates/agents/bolt/infra/system-prompt.md.hbs
  templates/agents/morgan/intake/system-prompt.md.hbs
Due: none

feat(blaze): add TanStack frontend stack support for Blaze agent (#2907)
  templates/_shared/partials/tanstack-stack.md.hbs
  templates/agents/bolt/infra/system-prompt.md.hbs
Due: none
