Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

chore: remove agent templates sync workflow from version control
  .github/workflows/agent-templates-sync.yaml
Due: none

chore: remove agent templates sync workflow from version control (#2759)
  .github/workflows/agent-templates-sync.yaml
Due: none

feat(gitops): add multi-environment setup (dev, staging, prod)
  infra/gitops/README.md
  infra/gitops/app-of-apps-dev.yaml
  infra/gitops/applications/dev/controller.yaml
  infra/gitops/applications/dev/tools.yaml
  infra/gitops/applications/staging/controller.yaml
  infra/gitops/applications/staging/healer.yaml
  infra/gitops/applications/staging/pm.yaml
  infra/gitops/applications/staging/tools.yaml
  infra/gitops/environments/README.md
  infra/gitops/environments/dev/values.yaml
  infra/gitops/environments/prod/values.yaml
  infra/gitops/environments/staging/values.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(gitops): add multi-environment setup (dev, staging, prod) (#2761)
  infra/gitops/README.md
  infra/gitops/app-of-apps-dev.yaml
  infra/gitops/applications/dev/controller.yaml
  infra/gitops/applications/dev/tools.yaml
  infra/gitops/applications/staging/controller.yaml
  infra/gitops/applications/staging/healer.yaml
  infra/gitops/applications/staging/pm.yaml
  infra/gitops/applications/staging/tools.yaml
  infra/gitops/environments/README.md
  infra/gitops/environments/dev/values.yaml
  infra/gitops/environments/prod/values.yaml
  infra/gitops/environments/staging/values.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): remove duplicate ConfigMap templates and unused env apps
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-healer.yaml
  infra/charts/controller/templates/agent-templates-intake.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/gitops/app-of-apps-dev.yaml
  infra/gitops/app-of-apps-staging.yaml
  infra/gitops/applications/dev/controller.yaml
  infra/gitops/applications/dev/tools.yaml
  infra/gitops/applications/staging/controller.yaml
  infra/gitops/applications/staging/healer.yaml
  infra/gitops/applications/staging/pm.yaml
  infra/gitops/applications/staging/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): remove duplicate ConfigMap templates and unused env apps (#2763)
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-healer.yaml
  infra/charts/controller/templates/agent-templates-intake.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/gitops/app-of-apps-dev.yaml
  infra/gitops/app-of-apps-staging.yaml
  infra/gitops/applications/dev/controller.yaml
  infra/gitops/applications/dev/tools.yaml
  infra/gitops/applications/staging/controller.yaml
  infra/gitops/applications/staging/healer.yaml
  infra/gitops/applications/staging/pm.yaml
  infra/gitops/applications/staging/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(dexter): switch from pip to uv sync for installation
  infra/images/dexter/Dockerfile
  infra/images/dexter/Dockerfile.local
Due: none

chore: remove staging and dev environment configurations
  infra/gitops/README.md
  infra/gitops/environments/README.md
  infra/gitops/environments/dev/values.yaml
  infra/gitops/environments/staging/values.yaml
  infra/gitops/projects/platform-project.yaml
  infra/scripts/kind-setup.sh
Due: no-hardcoded-passwords

fix(dexter): switch from pip to uv sync for installation (#2764)
  infra/images/dexter/Dockerfile
  infra/images/dexter/Dockerfile.local
Due: none

chore: remove staging and dev environment configurations (#2765)
  infra/gitops/README.md
  infra/gitops/environments/README.md
  infra/gitops/environments/dev/values.yaml
  infra/gitops/environments/staging/values.yaml
  infra/gitops/projects/platform-project.yaml
  infra/scripts/kind-setup.sh
Due: no-hardcoded-passwords

chore: remove deprecated scripts from version control
  infra/scripts/comprehensive-test.sh
  infra/scripts/configure-grafana-alerts.sh
  infra/scripts/create-all-dashboards.sh
  infra/scripts/diagnose-tess-atlas-handoff.sh
  infra/scripts/fix-postgres-argocd-visibility.sh
  infra/scripts/fix-yaml-lint.sh
  infra/scripts/install-argo-workflows.sh
  infra/scripts/install-argocd.sh
  infra/scripts/install-workflow-templates.sh
  infra/scripts/kind-setup.sh
  infra/scripts/migrate-to-gitops.sh
  infra/scripts/package-crds.sh
  infra/scripts/scrape-otlp-metrics.sh
  infra/scripts/setup-agent-secrets.sh
  infra/scripts/setup-all-agents.sh
  infra/scripts/setup-argocd-access.sh
  infra/scripts/test-all-dashboard-metrics.sh
  infra/scripts/test-argocd-local.sh
  infra/scripts/test-atlas-sensors.sh
  infra/scripts/test-play-workflow.sh
  infra/scripts/test-telemetry-pipeline-v2.sh
  infra/scripts/test-telemetry-pipeline.sh
  infra/scripts/validate-play-workflow-structure.sh
  infra/scripts/validate-telemetry-metrics.sh
  infra/scripts/vault-init.sh
Due: none

Cleanup/remove-staging-dev-environments (#2766)
  infra/scripts/comprehensive-test.sh
  infra/scripts/configure-grafana-alerts.sh
  infra/scripts/create-all-dashboards.sh
  infra/scripts/diagnose-tess-atlas-handoff.sh
  infra/scripts/fix-postgres-argocd-visibility.sh
  infra/scripts/fix-yaml-lint.sh
  infra/scripts/install-argo-workflows.sh
  infra/scripts/install-argocd.sh
  infra/scripts/install-workflow-templates.sh
  infra/scripts/migrate-to-gitops.sh
  infra/scripts/package-crds.sh
  infra/scripts/scrape-otlp-metrics.sh
  infra/scripts/setup-agent-secrets.sh
  infra/scripts/setup-all-agents.sh
  infra/scripts/setup-argocd-access.sh
  infra/scripts/test-all-dashboard-metrics.sh
  infra/scripts/test-argocd-local.sh
  infra/scripts/test-atlas-sensors.sh
  infra/scripts/test-play-workflow.sh
  infra/scripts/test-telemetry-pipeline-v2.sh
  infra/scripts/test-telemetry-pipeline.sh
  infra/scripts/validate-play-workflow-structure.sh
  infra/scripts/validate-telemetry-metrics.sh
  infra/scripts/vault-init.sh
Due: none

feat: add OpenBao ArgoCD application for secrets management
  infra/gitops/applications/openbao.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add OpenBao ArgoCD application for secrets management (#2767)
  infra/gitops/applications/openbao.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openbao): add missing port parameter to readinessProbe
  infra/gitops/applications/openbao.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct namespace for operator applications (argo -> argocd)
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/opensearch-operator.yaml
  infra/gitops/applications/strimzi-kafka-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openbao): include RBAC for kubernetes service registration
  infra/gitops/applications/openbao.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(dexter): update Dockerfile for improved installation process
  infra/images/dexter/Dockerfile
Due: none

fix: correct ArgoCD Application namespace from 'argo' to 'argocd'
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/opensearch-operator.yaml
  infra/gitops/applications/strimzi-kafka-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Feat/openbao secrets management (#2768)
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/openbao.yaml
  infra/gitops/applications/opensearch-operator.yaml
  infra/gitops/applications/strimzi-kafka-operator.yaml
  infra/images/dexter/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use Helm chart for ClickHouse operator to fix manifest parsing
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add Cloudflare tunnel CRDs to clusterResourceWhitelist
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix: update OpenBao RBAC for service registration and improve Dockerfile installation process
  infra/gitops/applications/cto/pm.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use Helm chart for ClickHouse operator to fix manifest parsing (#2770)
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/cto/pm.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: move ClickHouse operator to platform project with proper ignoreDifferences
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update OpenBao RBAC and Dockerfile for improved service registration
  infra/charts/openbao/scripts/migrate-vault-to-openbao.sh
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update ClickHouse operator configuration and RBAC settings
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/vault.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: change ClickHouse operator to platform project
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix/clickhouse operator helm chart (#2775)
  infra/charts/openbao/scripts/migrate-vault-to-openbao.sh
  infra/charts/tools/templates/deployment-vault-mcp-server.yaml
  infra/gitops/applications/clickhouse-operator.yaml
  infra/gitops/applications/vault.yaml
  infra/gitops/projects/platform-project.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(dexter): combine git clone and uv sync into single layer
  infra/images/dexter/Dockerfile
Due: none

fix(dexter): enhance Dockerfile for improved installation process
  infra/gitops/applications/clickhouse-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
