Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: scripts/check-argocd-apps.sh
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: scripts/check-resource-limits.sh
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: scripts/check-passwords.sh
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: scripts/check-required-labels.sh
  language: system
  pass_filenames: false

Update jupiter.yaml to specify chart path instead of chart name for Argo CD configuration
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix Jupiter Argo CD app: use path instead of chart and add HPA permissions
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

Fix Jupiter image to use official jup-ag repository
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Reduce Jupiter replicas to 1 to avoid rate limiting
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Make Jupiter probes much more patient - 5min initial delay, 60 failures before restart
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Disable all probes for Jupiter to prevent restarts during initialization
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(task-1): add HELLO-1.md
  task/HELLO-1.md
Due: none

fix(rex): remove artificial timeout and fix sidecar shutdown hang
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): resolve FIFO deadlock causing Claude processes to hang
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(rex): enhance FIFO handling to prevent deadlocks
  claude-hanging-analysis-review.md
  claude-hanging-analysis.md
  claude-hanging-recommendations-gpt5.md
  gemini-claude-hanging-analysis.md
  grok-claude-hang-analysis.md
Due: none

delete: remove obsolete hanging analysis documents
  claude-hanging-analysis-review.md
  claude-hanging-analysis.md
  claude-hanging-recommendations-gpt5.md
  gemini-claude-hanging-analysis.md
  grok-claude-hang-analysis.md
Due: none

Update play-workflow-template.yaml and argo-workflows.yaml for versioning and cleanup
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update play-workflow-template.yaml and argo-workflows.yaml for versioning and cleanup (#339)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Refactor code quality checks and workflow retry strategies
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

Fix critical Cleo container issues and workflow timeouts
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

Remove all workflow timeouts for unlimited development cycles
  infra/charts/controller/templates/coderun-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

Complete timeout removal - no activeDeadlineSeconds at all
  docs/engineering/issues/cleo-container-issues.md
  infra/charts/controller/templates/coderun-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: resolve YAML linting issue in jupiter.yaml
  infra/gitops/applications/jupiter.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Delete docs/engineering/issues/cleo-container-issues.md
  docs/engineering/issues/cleo-container-issues.md
Due: none

Fix BugBot issues from PR #340
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

Delete scripts/.pr-comments/pr_340_comments.json
  scripts/.pr-comments/pr_340_comments.json
Due: none

Delete scripts/.pr-comments/pr_340_status.json
  scripts/.pr-comments/pr_340_status.json
Due: none

Delete scripts/.pr-comments/last_pr
  scripts/.pr-comments/last_pr
Due: none

Refactor code quality checks and workflow retry strategies (#340)
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/templates/coderun-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/applications/jupiter.yaml
  scripts/.pr-comments/last_pr
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: change backoff factor from 1.5 to 2 to resolve workflow submission error
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: change backoff factor from 1.5 to 2 to resolve workflow submission error (#341)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: source Rust environment in all container scripts
  docs/engineering/issues/runtime-image-rust-setup.md
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

feat: enhance PR checkout process for quality review
  docs/engineering/issues/cleo-pr-context-missing.md
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

fix: enable Cleo PR context awareness and repository checkout
  infra/charts/controller/claude-templates/code/container.sh.hbs
Due: none

fix: resolve Cleo working directory and git repository alignment
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

Fix/general-improvements (#342)
  docs/engineering/issues/cleo-pr-context-missing.md
  docs/engineering/issues/runtime-image-rust-setup.md
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
  infra/charts/controller/claude-templates/code/container.sh.hbs
Due: none

fix: robust Rust environment setup across all container scripts
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix: resolve Rust environment issues in runtime image
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
  infra/images/runtime/Dockerfile
Due: none

Fix/general-improvements (#343)
  infra/images/runtime/Dockerfile
Due: none

fix: initialize workflow stage tracking to prevent stage update failures
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(tess): align working directory and add PR checkout logic
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix(tess): use specialized QA system prompt instead of task prompt.md
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix: resolve workflow stage transition validation issues
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: resolve pending transition rejection in workflow initialization
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: initialize workflow stage tracking to prevent stage update failures (#344)
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README)\..*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

