Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README)\..*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: scripts/check-argocd-apps.sh
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: scripts/check-resource-limits.sh
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README)\..*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: scripts/check-passwords.sh
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: scripts/check-required-labels.sh
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: restore PR parameter passing to quality and testing agents
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: restore PR parameter passing to quality and testing agents (#345)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(cleo): add missing git credential helper configuration
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

fix(cleo): add missing git credential helper configuration (#346)
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

fix: enhance repository cloning logic and update workflow sensor configurations
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

fix: update workflow sensor configurations and namespace references
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: update workflow sensor configurations and namespace references (#348)
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: add play-workflow-sensors.yaml to kustomization for GitOps deployment
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

Fix/sensor-namespace-targeting (#350)
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

cleanup: remove obsolete individual sensor files
  infra/gitops/resources/github-webhooks/enhanced-correlation-sensor.yaml
  infra/gitops/resources/github-webhooks/implementation-agent-remediation-sensor.yaml
  infra/gitops/resources/github-webhooks/multi-agent-workflow-resume-sensor.yaml
  infra/gitops/resources/github-webhooks/pr-approval-sensor.yaml
  infra/gitops/resources/github-webhooks/ready-for-qa-label-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): resolve multi-agent workflow resumption failures
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): resolve multi-agent workflow resumption failures (#352)
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): update play-workflow-ready-for-qa with proper resumption logic
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

refactor(sensors): update play-workflow-sensors for improved webhook handling
  infra/gitops/resources/github-webhooks/SENSORS-README.md
  infra/gitops/resources/github-webhooks/TASK-5-FINAL-REPORT.md
  infra/gitops/resources/github-webhooks/TASK-5-IMPLEMENTATION-SUMMARY.md
  infra/gitops/resources/github-webhooks/TASK-5-VERIFICATION.md
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/test-output.txt
Due: no-hardcoded-passwords

fix(sensors): resolve yamllint issues
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

security(sensors): fix template injection and patch overwrite issues
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(rex): add missing task-ID label to PRs for webhook correlation
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

fix(cleo): add missing environment variable exports for task correlation
  infra/charts/controller/claude-templates/code/container-cleo.sh.hbs
Due: none

fix(sensors): update GitHub bot login patterns to match actual webhook payloads
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(workflow): remove race condition in testing work dependencies
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(sensors): convert regex filter values to array format
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

hotfix: fix critical sensor array format issue blocking webhook processing
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: complete sensor array format fixes for all regex filters
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(sensors): correct template structure for PR created webhook processing
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix(sensors): complete webhook template structure overhaul
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

feat: enable comprehensive auto-sync and auto-heal project-wide
  infra/gitops/applications/argo-events.yaml
  infra/gitops/applications/external-secrets.yaml
  infra/gitops/applications/gateway-api.yaml
  infra/gitops/applications/github-webhooks.yaml
  infra/gitops/applications/grafana.yaml
  infra/gitops/applications/ngrok-gateway.yaml
  infra/gitops/applications/otel-collector.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
  infra/gitops/applications/telemetry-namespace.yaml
  infra/gitops/applications/twingate-pastoral.yaml
  infra/gitops/applications/twingate-therapeutic.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: apply comprehensive webhook sensor template structure fixes
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: apply comprehensive webhook sensor template structure fixes (#365)
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: change webhook sensor triggers from argoWorkflow to k8s type
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: change webhook sensor triggers from argoWorkflow to k8s type (#366)
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: remove template variables from webhook sensor to fix knockout
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

Fix: Remove webhook template variables causing knockout (#367)
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: resolve Tess workspace directory setup issue
  infra/charts/controller/claude-templates/code/container-tess.sh.hbs
Due: none

feat: add play workflow support and configuration
  cto-config.json
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

feat: enhance README with multi-agent play workflows
  README.md
Due: none

refactor: simplify string formatting in handle_send_job_input
  mcp/src/main.rs
Due: none

feat(task-1): initialize Rust HTTP API project
  Cargo.toml
  README.md
  src/main.rs
Due: none

feat: add support for stopping Play workflows
  mcp/src/main.rs
  mcp/src/tools.rs
  task/HELLO-1.md
Due: none
