Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(sensors): properly handle null mergeable status in conflict monitor
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): enable Atlas Guardian CI and conflict monitoring
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): enable Atlas Guardian CI and conflict monitoring (#1642)
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix: add parameter passing to atlas-conflict-monitor-sensor
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix: enable CodeRun creation in atlas-conflict-monitor webhook flow (#1643)
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

feat: add intelligent Bugbot comment resolution to Atlas Guardian
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  scripts/test-atlas-bugbot.sh
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-integration.yaml
Due: none

feat: add intelligent Bugbot comment resolution to Atlas Guardian (#1644)
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
  scripts/test-atlas-bugbot.sh
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

Feature/atlas bugbot resolution (#1645)
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

feat: make Atlas Bugbot resolution support all CLIs with better prompting
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/values.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

feat: implement intelligent conflict resolution using AI
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
Due: none

feat: add comprehensive merge gate validation before auto-merge
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
Due: none

feat: make Atlas Bugbot resolution support all CLIs with better promp… (#1646)
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/values.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

feat: implement structured prompting pattern for Atlas Guardian
  ATLAS_STRUCTURED_PROMPTING_DESIGN.md
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
Due: none

feat: implement structured prompting pattern for Atlas Guardian (#1648)
  ATLAS_STRUCTURED_PROMPTING_DESIGN.md
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
Due: none

fix: replace undefined FACTORY_WORK_DIR with CLAUDE_WORK_DIR in Claude container templates (#1640)
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

fix: configure aggressive event retention cleanup for EventBus
  infra/gitops/resources/github-webhooks/eventbus.yaml
Due: no-hardcoded-passwords

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

fix: configure aggressive event retention cleanup for EventBus (#1650)
  infra/gitops/resources/github-webhooks/eventbus.yaml
Due: no-hardcoded-passwords

fix: use official CaviraOSS OpenMemory image instead of non-existent 5dlabs image
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Integrate OpenMemory for all agents via Toolman (#1637)
  .mcp.json
  OPENMEMORY_CONFIGURATION_COMPLETE.md
  OPENMEMORY_DEPLOYMENT_NEEDED.md
  cto-config.json
  infra/charts/controller/agent-templates/code/client-config.json.hbs
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/gitops/applications/openmemory.yaml
  infra/gitops/applications/toolman.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use projected volume to mount integration templates and add PR labels
  controller/src/tasks/code/resources.rs
Due: none

fix: resolve OpenTelemetry collector YAML syntax error in ArgoCD appl… (#1638)
  infra/gitops/applications/otel-collector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use projected volume to mount integration templates and add PR labels (#1651)
  controller/src/tasks/code/resources.rs
Due: none

fix: resolve Atlas Guardian documentation cascade and sensor syntax error
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix: resolve Atlas Guardian documentation cascade and sensor syntax error (#1658)
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix: resolve YAML parsing error in otel-collector ArgoCD application
  infra/gitops/applications/otel-collector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(controller): add PR number to job names and fix session cleanup pattern
  controller/src/tasks/code/naming.rs
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
Due: none

fix(controller): add PR number to job names and fix session cleanup pattern (#1663)
  controller/src/tasks/code/naming.rs
  infra/charts/controller/agent-templates/code/integration/container-atlas.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/naming.rs
Due: none

fix: Generate client-config.json from cto-config.json for all agents (#1627)
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

