Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

Remove emoji bullet points from Development Status section for cleaner formatting
  README.md
Due: none

Fix: Keep emojis, remove bullet point dashes from Development Status section
  README.md
Due: none

Replace bullet points with emoji status indicators in Development Status section
  README.md
Due: none

feat: Add external-dns with Cloudflare integration for NGrok Gateway
  .gitignore
  infra/gitops/applications/external-dns.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/external-dns/README.md
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/secret-store/cloudflare-external-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Add external-dns Helm repository to platform project sourceRepos
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix: Remove unsupported Gateway API route types from external-dns sources
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Remove unsupported Gateway API route types from external-dns sources (#438)
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Add CF_API_TOKEN environment variable for external-dns Cloudflare authentication
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix/external-dns-gateway-api-routes (#439)
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Modernize NGrok Gateway configuration with latest best practices
  infra/gitops/resources/ngrok-gateway/README.md
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/gitops/resources/ngrok-gateway/kustomization.yaml
  infra/gitops/resources/ngrok-gateway/traffic-policy.yaml
Due: no-hardcoded-passwords

fix: Remove trailing spaces from YAML files to pass yamllint
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Fix/external-dns-gateway-api-routes (#440)
  infra/gitops/applications/external-dns.yaml
  infra/gitops/resources/ngrok-gateway/README.md
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/gitops/resources/ngrok-gateway/kustomization.yaml
  infra/gitops/resources/ngrok-gateway/traffic-policy.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Change external-dns policy to prevent pod crashes
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Change external-dns policy to prevent pod crashes (#441)
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add ignoreDifferences for external-dns Deployment drift
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add ignoreDifferences for external-dns Deployment drift (#442)
  infra/gitops/applications/external-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add NGrok resource permissions to platform project
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix: add NGrok resource permissions to platform project (#443)
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix: remove invalid TLS mode from NGrok Gateway
  infra/gitops/resources/ngrok-gateway/gateway.yaml
Due: no-hardcoded-passwords

fix: remove TLS configuration from NGrok Gateway completely
  infra/gitops/resources/ngrok-gateway/gateway.yaml
Due: no-hardcoded-passwords

fix: correct NGrok TrafficPolicy rate limit configuration
  infra/gitops/resources/ngrok-gateway/traffic-policy.yaml
Due: no-hardcoded-passwords

feat(mailu): add namespace, RBAC, and ArgoCD application setup
  infra/gitops/applications/mailu-namespace.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/mailu/kustomization.yaml
  infra/gitops/resources/mailu/namespace.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(mailu): add PostgreSQL cluster using Zalando operator
  infra/gitops/resources/mailu/kustomization.yaml
  infra/gitops/resources/mailu/postgres-cluster.yaml
Due: no-hardcoded-passwords

feat(mailu): enhance PostgreSQL cluster configuration
  docs/engineering/mailu.md
  docs/engineering/modern-application-exposure.md
Due: none

feat(rbac): add policy and storage.k8s.io permissions for Mailu
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

feat(mailu): add YAML document separators to configuration files
  infra/gitops/applications/mailu-namespace.yaml
  infra/gitops/resources/mailu/kustomization.yaml
  infra/gitops/resources/mailu/namespace.yaml
  infra/gitops/resources/mailu/postgres-cluster.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(mailu): consolidate into single application
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): resolve PostgreSQL schema creation permissions
  infra/gitops/resources/mailu/postgres-cluster.yaml
Due: no-hardcoded-passwords

feat(mailu): add Helm chart configuration for email server
  infra/gitops/resources/mailu/kustomization.yaml
  infra/gitops/resources/mailu/values.yaml
Due: no-hardcoded-passwords

fix(mailu): grant SUPERUSER permissions to resolve schema creation
  infra/gitops/resources/mailu/postgres-cluster.yaml
Due: no-hardcoded-passwords

refactor(mailu): follow project patterns for Helm and database deployment
  infra/gitops/applications/mailu.yaml
  infra/gitops/databases/mailu-postgres.yaml
  infra/gitops/resources/mailu/kustomization.yaml
  infra/gitops/resources/mailu/namespace.yaml
  infra/gitops/resources/mailu/values.yaml
Due: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

fix(mailu): update PostgreSQL permissions for Mailu deployment
  infra/gitops/applications/mailu-infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu-postgres): remove problematic schemas configuration
  infra/gitops/databases/mailu-postgres.yaml
Due: check-resource-limits, no-hardcoded-passwords

fix(mailu-postgres): remove preparedDatabases to resolve permissions
  infra/gitops/databases/mailu-postgres.yaml
Due: check-resource-limits, no-hardcoded-passwords

fix(mailu): update to non-deprecated Helm chart configuration
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): use correct Helm chart configuration format
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): resolve DNSSEC validation issue
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): add DISABLE_DNSSEC_VALIDATION environment variable
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): add additional DNSSEC disable environment variables
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(mailu-postgres): add roundcube database and user
  infra/gitops/databases/mailu-postgres.yaml
Due: check-resource-limits, no-hardcoded-passwords
