Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(infra): add MinIO for headless visual testing screenshot storage
  docs/engineering/headless-visual-testing-spec.md
  infra/gitops/applications/minio-operator.yaml
  infra/gitops/applications/minio-tenant.yaml
  infra/vault/secrets/minio.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(tools): add StreamableHTTP session support for MCP servers
  tools/src/server/http_server.rs
Due: none

feat: add tasks crate - Rust clone of Taskmaster with AI integration
  Cargo.lock
  Cargo.toml
  docs/engineering/tasks-crate-design.md
  tasks/Cargo.toml
  tasks/clippy.toml
  tasks/src/ai/anthropic.rs
  tasks/src/ai/mod.rs
  tasks/src/ai/openai.rs
  tasks/src/ai/prompts/add_task.rs
  tasks/src/ai/prompts/analyze_complexity.rs
  tasks/src/ai/prompts/expand_task.rs
  tasks/src/ai/prompts/mod.rs
  tasks/src/ai/prompts/parse_prd.rs
  tasks/src/ai/prompts/update_subtask.rs
  tasks/src/ai/prompts/update_task.rs
  tasks/src/ai/prompts/update_tasks.rs
  tasks/src/ai/provider.rs
  tasks/src/ai/registry.rs
  tasks/src/ai/schemas.rs
  tasks/src/bin/cli.rs
  tasks/src/domain/ai.rs
  tasks/src/domain/config.rs
  tasks/src/domain/deps.rs
  tasks/src/domain/mod.rs
  tasks/src/domain/tags.rs
  tasks/src/domain/tasks.rs
  tasks/src/entities/config.rs
  tasks/src/entities/mod.rs
  tasks/src/entities/subtask.rs
  tasks/src/entities/tag.rs
  tasks/src/entities/task.rs
  tasks/src/errors.rs
  tasks/src/lib.rs
  tasks/src/mcp/mod.rs
  tasks/src/mcp/server.rs
  tasks/src/storage/file.rs
  tasks/src/storage/mod.rs
  tasks/src/storage/traits.rs
  tasks/src/ui/mod.rs
Due: none

feat(tools): add StreamableHTTP session support for MCP servers (#1811)
  tools/src/server/http_server.rs
Due: none

fix(infra): correct MinIO service endpoint to match tenant name
  docs/engineering/headless-visual-testing-spec.md
  infra/gitops/applications/minio-tenant.yaml
  infra/vault/secrets/minio.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

🔧 Auto-format Rust code
  tools/src/server/http_server.rs
Due: none

fix(gitops): resolve ArgoCD sync issues for Grafana and Cloudflare Tunnel
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/grafana.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add sync-wave annotations for MinIO deployment ordering
  infra/gitops/applications/minio-operator.yaml
  infra/gitops/applications/minio-tenant.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: fix trailing spaces in MinIO YAML files
  infra/gitops/applications/minio-operator.yaml
  infra/gitops/applications/minio-tenant.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): resolve ArgoCD sync issues for Grafana and Cloudflare Tunnel (#1813)
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/grafana.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): add MinIO for headless visual testing screenshot storage (#1810)
  docs/engineering/headless-visual-testing-spec.md
  infra/gitops/applications/minio-operator.yaml
  infra/gitops/applications/minio-tenant.yaml
  infra/vault/secrets/minio.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(tools): add ClusterRole for kubernetes and argocd MCP servers
  infra/charts/tools/templates/clusterrole.yaml
  infra/charts/tools/templates/clusterrolebinding.yaml
  infra/charts/tools/values.yaml
Due: none

feat(tools): add ClusterRole for kubernetes and argocd MCP servers (#1814)
  infra/charts/tools/templates/clusterrole.yaml
  infra/charts/tools/templates/clusterrolebinding.yaml
  infra/charts/tools/values.yaml
Due: none

fix(tools): use HTTP for internal ArgoCD URL
  infra/charts/tools/values.yaml
Due: none

Refactor: Update dependencies and improve AI prompts
  Cargo.lock
  tasks/src/ai/anthropic.rs
  tasks/src/ai/mod.rs
  tasks/src/ai/openai.rs
  tasks/src/ai/prompts/add_task.rs
  tasks/src/ai/prompts/analyze_complexity.rs
  tasks/src/ai/prompts/expand_task.rs
  tasks/src/ai/prompts/mod.rs
  tasks/src/ai/prompts/parse_prd.rs
  tasks/src/ai/prompts/update_subtask.rs
  tasks/src/ai/prompts/update_task.rs
  tasks/src/ai/prompts/update_tasks.rs
  tasks/src/ai/provider.rs
  tasks/src/ai/registry.rs
  tasks/src/ai/schemas.rs
  tasks/src/bin/cli.rs
  tasks/src/domain/ai.rs
  tasks/src/domain/config.rs
  tasks/src/domain/deps.rs
  tasks/src/domain/mod.rs
  tasks/src/domain/tags.rs
  tasks/src/domain/tasks.rs
  tasks/src/entities/config.rs
  tasks/src/entities/mod.rs
  tasks/src/entities/subtask.rs
  tasks/src/entities/tag.rs
  tasks/src/entities/task.rs
  tasks/src/errors.rs
  tasks/src/lib.rs
  tasks/src/mcp/server.rs
  tasks/src/storage/file.rs
  tasks/src/storage/mod.rs
  tasks/src/storage/traits.rs
  tasks/src/ui/mod.rs
Due: none

fix(tools): use HTTP for internal ArgoCD URL (#1815)
  infra/charts/tools/values.yaml
Due: none

fix(gitops): add MinIO Operator repo and namespaces to platform project
  infra/gitops/projects/platform-project.yaml
  infra/images/tools/Dockerfile
Due: no-hardcoded-passwords

fix(infra): use configSecret instead of deprecated configuration in MinIO tenant
  infra/gitops/applications/minio-tenant.yaml
  monitor/src/main.rs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tasks): resolve clippy lints and append_mode json_mode bug
  infra/charts/workflow-templates/Chart.yaml
  infra/charts/workflow-templates/templates/play-workflow-template.yaml
  infra/charts/workflow-templates/values.yaml
  infra/gitops/applications/workflow-templates.yaml
  tasks/src/ai/anthropic.rs
  tasks/src/ai/openai.rs
  tasks/src/ai/provider.rs
  tasks/src/domain/ai.rs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argo): add managed-namespace for cto to see WorkflowTemplates
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argo): add managed-namespace for cto to see WorkflowTemplates (#1817)
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argo): watch both automation and cto namespaces
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argo): watch both automation and cto namespaces (#1819)
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add ignoreDifferences for operator-managed fields
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/minio-tenant.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add configSecret and project settings for MinIO
  infra/gitops/applications/minio-tenant.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add configSecret and project settings for MinIO (#1820)
  infra/gitops/applications/minio-tenant.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add ignoreDifferences for operator-managed fields (#1818)
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/minio-tenant.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: add code scanning security report
  docs/security/CODE_SCANNING_REPORT.md
Due: none

fix(argo): use cluster-scoped config instead of managed-namespace
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(argo): use cluster-scoped config instead of managed-namespace (#1822)
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add ignoreDifferences for operator-managed fields
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/applications/minio-tenant.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
  infra/images/tools/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): add ignoreDifferences for operator-managed fields (#1823)
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
  infra/images/tools/Dockerfile
Due: no-hardcoded-passwords

chore: clean up trailing whitespace in various YAML and shell template files
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/tools/templates/clusterrole.yaml
  infra/charts/tools/templates/clusterrolebinding.yaml
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
Due: none

Fix/argocd-operator-ignore-differences (#1824)
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/tools/templates/clusterrole.yaml
  infra/charts/tools/templates/clusterrolebinding.yaml
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-codex.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-codex.yaml
Due: none

feat: update cto-config and Cargo files for enhanced functionality
  Cargo.lock
  cto-config.json
  monitor/Cargo.toml
  monitor/src/main.rs
Due: none

Fix/argocd-operator-ignore-differences (#1826)
  Cargo.lock
  cto-config.json
  monitor/Cargo.toml
  monitor/src/main.rs
Due: none
