Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(templates): remove conflicting --skip-permissions-unsafe from factory CLI
  templates/clis/factory/invoke.sh.hbs
Due: none

fix(templates): install Claude Code CLI if not available
  templates/clis/claude/invoke.sh.hbs
Due: none

fix(templates): handle busybox tee without -u flag
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/healer/src/play/behavior.rs
  crates/healer/src/play/monitor.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  templates/clis/claude/invoke.sh.hbs
Due: none

fix(templates): support acceptance.md and prompt.xml, fix MCP config paths
  templates/_shared/partials/task-files.sh.hbs
  templates/clis/claude/invoke.sh.hbs
Due: none

fix: acceptance.md duplicate bug, simplify claude CLI detection
  templates/_shared/partials/task-files.sh.hbs
  templates/clis/claude/invoke.sh.hbs
Due: none

fix(templates): validate MCP config is JSON before passing to Claude CLI
  templates/clis/claude/invoke.sh.hbs
Due: none

fix: MCP config and tools client config loading
  crates/controller/src/tasks/template_paths.rs
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/gpu/Cargo.toml
  crates/gpu/src/bin/gpu.rs
  crates/gpu/src/lib.rs
  crates/gpu/src/providers/latitude/client.rs
  crates/gpu/src/providers/latitude/mod.rs
  crates/gpu/src/providers/latitude/models.rs
  crates/gpu/src/providers/mod.rs
  crates/gpu/src/providers/traits.rs
  crates/healer/src/play/behavior.rs
  crates/healer/src/play/monitor.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  crates/tools/src/client.rs
  infra/charts/cto/WORKFLOW-SETUP.md
  infra/charts/cto/templates/controller/workflow-rbac.yaml
  infra/charts/cto/templates/healer/rbac.yaml
  infra/charts/cto/templates/healer/reconciler-cronjob.yaml
  infra/charts/cto/templates/pm/rbac.yaml
  infra/cluster-config/mayastor-namespace.yaml
  infra/talos/config/simple/fix-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-controlplane-patch.yaml
  infra/talos/config/simple/mayastor-worker-patch.yaml
  infra/talos/config/simple/reset-admission-patch.yaml
  infra/talos/config/simple/worker-arm64.yaml
  scripts/hooks/pre-push
  scripts/install-hooks.sh
  scripts/local-ci.sh
  templates/_shared/partials/frontend-toolkits.md.hbs
  templates/_shared/partials/infrastructure-operators.md.hbs
  templates/code/mcp.json.hbs
Due: none

feat: add External Secrets for all agent GitHub Apps
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat: fix model propagation and enable Linear sidecar integration
  crates/mcp/src/main.rs
  crates/mcp/src/tools.rs
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
  templates/clis/claude/invoke.sh.hbs
Due: no-hardcoded-passwords

refactor(tools): simplify config loading to only use tools-config.json
  crates/tools/src/client.rs
  tools-config.json
Due: none

chore: add sanitized Cursor MCP config template
  .cursor/mcp.json
  .secrets.baseline
Due: none

chore: add sanitized Cursor MCP config template
  .secrets.baseline
Due: none

fix(openmemory): correct service port from 3000 to 8080
  infra/charts/cto/values.yaml
Due: none

feat(tools): add tracing and fix local server spawning
  .secrets.baseline
  crates/tools/src/bin/client.rs
  crates/tools/src/client.rs
  infra/gitops/manifests/kilo/ddns-cronjob.yaml
  tools-config.json
Due: no-hardcoded-passwords

feat(tools): add tracing and fix local server spawning
  .cursor/mcp.json
  .secrets.baseline
  crates/tools/src/bin/client.rs
  crates/tools/src/client.rs
  infra/gitops/manifests/kilo/ddns-cronjob.yaml
  tools-config.json
Due: no-hardcoded-passwords

feat(agents): update agent specifications and enhance documentation
  AGENTS.md
  crates/healer/src/play/behavior.rs
  templates/agents/atlas/integration/system-prompt.md.hbs
  templates/agents/blaze/coder/system-prompt.md.hbs
  templates/agents/bolt/infra/system-prompt.md.hbs
  templates/agents/cipher/security/system-prompt.md.hbs
  templates/agents/cleo/quality/system-prompt.md.hbs
  templates/agents/nova/coder/system-prompt.md.hbs
  templates/agents/rex/coder/system-prompt.md.hbs
  templates/agents/tess/test/system-prompt.md.hbs
  tests/intake/alerthub-e2e-test/architecture.md
  tests/intake/alerthub-e2e-test/prd.md
Due: none

feat(agents): update agent specifications and enhance documentation
  .cursor/mcp.json
  AGENTS.md
  crates/healer/src/play/behavior.rs
  templates/agents/atlas/integration/system-prompt.md.hbs
  templates/agents/blaze/coder/system-prompt.md.hbs
  templates/agents/bolt/infra/system-prompt.md.hbs
  templates/agents/cipher/security/system-prompt.md.hbs
  templates/agents/cleo/quality/system-prompt.md.hbs
  templates/agents/nova/coder/system-prompt.md.hbs
  templates/agents/rex/coder/system-prompt.md.hbs
  templates/agents/tess/test/system-prompt.md.hbs
  tests/intake/alerthub-e2e-test/architecture.md
  tests/intake/alerthub-e2e-test/prd.md
Due: none

fix: add --max-time 30 to curl commands in github_prep.sh
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix: add retry logic to curl commands in github_prep.sh
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix: improve retry_curl to handle set -e properly
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix: add retry_git for git clone in intake script
  infra/charts/cto/templates/controller/agent-templates.yaml
Due: none

fix: remove duplicate BuildKit insecure registry entry
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
