Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(coder): upgrade to fully autonomous agent config
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(avatar): wire self-hosted livekit phase 2
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/applications/workloads/avatar-agent-gpu.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar): add musetalk avatar pipeline stub
  avatar/agent/README.md
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/musetalk_avatar.py
  avatar/agent/morgan_avatar_agent/musetalk_inference.py
  avatar/agent/pyproject.toml
  avatar/agent/tests/test_config.py
  avatar/agent/tests/test_musetalk_avatar.py
Due: none

feat: wire self-hosted livekit and musetalk phase 3 stub (#4674)
  avatar/agent/README.md
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/musetalk_avatar.py
  avatar/agent/morgan_avatar_agent/musetalk_inference.py
  avatar/agent/pyproject.toml
  avatar/agent/tests/test_config.py
  avatar/agent/tests/test_musetalk_avatar.py
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/morgan-avatar-values.yaml
  infra/gitops/applications/workloads/avatar-agent-gpu.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(coder): 2m heartbeat with progress reporting and code-server URL
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(avatar): Phase 3.5 persona admin - upload, preprocess, Better Auth
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/persona_preprocess.py
  avatar/agent/tests/test_persona_preprocess.py
  avatar/web/app/admin/login/page.tsx
  avatar/web/app/admin/personas/page.tsx
  avatar/web/app/api/admin/personas/[id]/route.ts
  avatar/web/app/api/admin/personas/route.ts
  avatar/web/app/api/auth/[...all]/route.ts
  avatar/web/lib/auth.ts
  avatar/web/package.json
  infra/gitops/manifests/avatar/personas-pvc.yaml
Due: no-hardcoded-passwords

fix: move delivery patch to agent container startup
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: handle leading tab in delivery sed pattern
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(avatar): Phase 3.5 persona admin - upload, preprocess, Better Auth (#4675)
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/persona_preprocess.py
  avatar/agent/tests/test_persona_preprocess.py
  avatar/web/app/admin/login/page.tsx
  avatar/web/app/admin/personas/page.tsx
  avatar/web/app/api/admin/personas/[id]/route.ts
  avatar/web/app/api/admin/personas/route.ts
  avatar/web/app/api/auth/[...all]/route.ts
  avatar/web/lib/auth.ts
  avatar/web/package.json
  infra/gitops/manifests/avatar/personas-pvc.yaml
Due: no-hardcoded-passwords

fix: delivery patch via emptyDir dist overlay (root permissions)
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: auto-discover cloudflared tunnel URL via shared workspace file
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): disable quick tunnel for public code-server
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: stable tunnel URL for Coder, ephemeral for CRDs
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: add @cto chat participant extension for code-server
  apps/cto-chat/package.json
  apps/cto-chat/src/extension.ts
  apps/cto-chat/tsconfig.json
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/extensions/cto-chat-0.1.0.vsix
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: use repo path for cto-chat extension install (private repo)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: git pull before custom extension install (stale workspace)
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: switch extension install to pvPath (PV-cached vsix)
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: upgrade @cto extension to v0.2.0 — conversation history + default participant
  apps/cto-chat/package.json
  apps/cto-chat/src/extension.ts
  infra/extensions/cto-chat-0.1.0.vsix
  infra/extensions/cto-chat-0.2.0.vsix
Due: none

feat: v0.3.0 — dynamic agent discovery + 5dlabs CTO branding
  apps/cto-chat/package.json
  apps/cto-chat/src/extension.ts
  infra/extensions/cto-chat-0.2.0.vsix
  infra/extensions/cto-chat-0.3.0.vsix
Due: none

feat(cto-sidebar): add CTO sidebar extension + deploy to code-server
  apps/cto-sidebar/.gitignore
  apps/cto-sidebar/.vsixignore
  apps/cto-sidebar/media/cto-icon.svg
  apps/cto-sidebar/package.json
  apps/cto-sidebar/src/SidebarProvider.ts
  apps/cto-sidebar/src/extension.ts
  apps/cto-sidebar/tsconfig.json
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(coder): auto-open CTO sidebar + show activity bar on launch
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(coder): match live settings + only 5D in activity bar
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(controller): add enableCodeServer support to CodeRun CRD
  AGENTS.md
  Cargo.lock
  apps/cto-sidebar/package.json
  apps/cto-sidebar/src/SidebarProvider.ts
  apps/cto-sidebar/src/extension.ts
  crates/controller/src/crds/coderun.rs
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/code/watcher.rs
  infra/charts/cto-lite/crds/coderun-crd.yaml
  infra/charts/cto/crds/coderun-crd.yaml
Due: none

ci(cto-sidebar): publish VSIX to stable release URL
  .github/workflows/cto-sidebar-release.yaml
Due: none

ci(cto-sidebar): override tsc lib to include DOM for CI build
  .github/workflows/cto-sidebar-release.yaml
Due: none

docs(cto-sidebar): document activity-bar hiding limitation in code-server 4.116
  apps/cto-sidebar/src/extension.ts
  docs/known-limitations.md
Due: none

feat(sidebar): wire to OpenClaw gateway OpenAI-compat API
  apps/cto-sidebar/TESTING.md
  apps/cto-sidebar/package.json
  apps/cto-sidebar/src/SidebarProvider.ts
Due: none

fix(coder): disable quick tunnel for public code-server
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(phase4): Update MuseTalk worker nodeSelector for V100S GPU
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(agents): add parallel agent execution orchestrator pattern
  AGENTS.md
Due: none

feat(musetalk): add GitHub Actions workflow to build and push worker image
  .github/workflows/musetalk-worker-build.yaml
Due: none

feat(phase4): GPU provision progress - driver working, toolkit WIP
  HANDOFF.md
  avatar/agent/scripts/add_gpu_to_network.py
  avatar/agent/scripts/check_gpu_node.sh
  avatar/agent/scripts/check_rke2_server.sh
  avatar/agent/scripts/configure_netplan.sh
  avatar/agent/scripts/fix_network.sh
  avatar/agent/scripts/fix_port_security.py
  avatar/agent/scripts/join_rke2.sh
  avatar/agent/scripts/ovh_check_instance.py
  avatar/agent/scripts/ovh_debug.py
  avatar/agent/scripts/ovh_list_networks.py
  avatar/agent/scripts/ovh_provision.py
  avatar/agent/scripts/ovh_reprovision_gpu.py
  avatar/agent/scripts/ovh_test_create.py
  avatar/agent/scripts/provision_gpu_node.sh
  avatar/agent/scripts/reboot_and_verify.sh
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
  infra/gitops/applications/operators/nvidia-nfd.yaml
  infra/gitops/manifests/gpu-operator/clusterpolicy.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar): add GitHub Actions workflow for musetalk-worker image
  .github/workflows/musetalk-worker-docker.yml
Due: none

fix(musetalk): remove GPU product node selector requirement
  infra/charts/musetalk-worker/values.yaml
Due: none

ci(musetalk): use large runner + disk cleanup, drop legacy workflow
  .github/workflows/musetalk-worker-build.yaml
  .github/workflows/musetalk-worker-docker.yml
Due: none

ci(musetalk): use large runner + disk cleanup, drop legacy workflow (#4685)
  .github/workflows/musetalk-worker-build.yaml
  .github/workflows/musetalk-worker-docker.yml
Due: none

fix(coder): install kaniko docker shim via agent postStart hook
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

docs(cto-sidebar): document activity-bar hiding limitation in code-server 4.116 (#4682)
  apps/cto-sidebar/src/extension.ts
  docs/known-limitations.md
Due: none

feat(sidebar): wire to OpenClaw gateway OpenAI-compat API (#4683)
  apps/cto-sidebar/TESTING.md
  apps/cto-sidebar/package.json
  apps/cto-sidebar/src/SidebarProvider.ts
Due: none
