Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: relax performance test timings for CI compatibility
  controller/tests/task_3_comprehensive_tests.rs
Due: none

fix: relax performance test timings for CI compatibility (#1206)
  controller/tests/task_3_comprehensive_tests.rs
Due: none

fix(controller): increase health check timeouts to prevent spurious failures
  infra/charts/controller/values.yaml
Due: none

fix: resolve controller liveness probe timeout
  infra/charts/controller/templates/deployment.yaml
  infra/charts/controller/values.yaml
Due: none

feat: add Atlas and Bolt agents with full configuration
  cto-config.json
  docs/atlas-bolt-evaluation.md
  docs/atlas-bolt-secrets-complete.md
  docs/atlas-bolt-setup-summary.md
  images/Atlas.jpg
  images/Bolt.jpg
  images/processed/atlas-avatar-1024.png
  images/processed/atlas-avatar-180.png
  images/processed/atlas-avatar-512.png
  images/processed/atlas-avatar-64.png
  images/processed/atlas-avatar.png
  images/processed/bolt-avatar-1024.png
  images/processed/bolt-avatar-180.png
  images/processed/bolt-avatar-512.png
  images/processed/bolt-avatar-64.png
  images/processed/bolt-avatar.png
  infra/charts/controller/values.yaml
  infra/secret-store/agent-secrets-external-secrets.yaml
  scripts/store-atlas-bolt-vault-credentials.sh
Due: none

feat: add Morgan PM GitHub Projects integration
  docs/engineering/morgan-pm-github-projects-integration.md
  docs/engineering/morgan-pm-how-it-works.md
  docs/engineering/morgan-pm-implementation-summary.md
  infra/charts/controller/agent-templates/pm/github-projects-helpers.sh.hbs
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
  infra/charts/controller/templates/agent-templates-pm.yaml
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
  infra/charts/controller/values.yaml
  infra/gitops/resources/argo-events/sensors/morgan-issue-comment-sensor.yaml
Due: no-hardcoded-passwords

feat(atlas): implement merge conflict detection and resolution workflow
  controller/src/cli/adapter.rs
  controller/src/cli/adapter_factory.rs
  controller/src/tasks/code/templates.rs
  docs/atlas-workflow-design.md
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/gitops/applications/atlas-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat: add workflow metadata to GitHub issues for filtering
  infra/charts/controller/agent-templates/pm/morgan-pm.sh.hbs
Due: none

docs: update Atlas and Bolt documentation and setup scripts
  docs/atlas-bolt-evaluation.md
  docs/atlas-bolt-secrets-complete.md
  docs/atlas-bolt-setup-summary.md
  docs/engineering/atlas-bolt-agent-setup.md
  docs/engineering/morgan-pm-github-projects-integration.md
  docs/engineering/morgan-pm-how-it-works.md
  docs/engineering/morgan-pm-implementation-summary.md
  docs/frontend-workflow-verification.md
  infra/charts/controller/agent-templates/code/claude/agents-tess.md.hbs
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
  infra/gitops/resources/argo-events/sensors/morgan-issue-comment-sensor.yaml
  scripts/apply-agent-credentials.sh
  scripts/create-agent-github-app.sh
  scripts/create-github-apps-local.sh
  scripts/process-agent-avatars.sh
  scripts/setup-atlas-bolt-quickstart.sh
  scripts/setup-new-agent.sh
  scripts/store-atlas-bolt-vault-credentials.sh
Due: no-hardcoded-passwords

feat(atlas): add Handlebars template files for Atlas agent
  infra/charts/controller/agent-templates/agents/atlas-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-atlas.sh.hbs
Due: none

docs: clarify environment variables in Morgan issue comment processor
  infra/charts/controller/agent-templates/pm/process-issue-comment.sh.hbs
Due: none

fix(atlas): simplify container script to reduce ConfigMap size
  controller/src/tasks/code/templates.rs
  infra/charts/controller/agent-templates/code/claude/container-atlas-integration.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-atlas.sh.hbs
Due: none

chore: ignore docs/tasks-reference directory
  .gitignore
Due: none

feat(atlas): create separate integration ConfigMap to fix 1MB limit
  infra/charts/controller/agent-templates/code/claude/container-atlas-integration.sh.hbs
Due: none

feat(bolt): implement deployment monitoring and validation workflow
  controller/src/tasks/code/templates.rs
  infra/charts/controller/agent-templates/agents/bolt-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/integration/container-bolt.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/gitops/applications/bolt-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: add comprehensive Atlas and Bolt implementation summary
  docs/atlas-bolt-implementation-complete.md
Due: none

refactor(bolt): redesign to focus on public deployment via ArgoCD + ngrok
  infra/charts/controller/agent-templates/agents/bolt-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/integration/container-bolt.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
Due: none

docs: add comprehensive Bolt public deployment guide
  docs/bolt-public-deployment-guide.md
Due: none

feat: update workflow sequence and add Atlas batch integration
  docs/bolt-public-deployment-guide.md
  docs/engineering/atlas-bolt-agent-setup.md
  docs/engineering/morgan-pm-github-projects-integration.md
  docs/engineering/morgan-pm-how-it-works.md
  docs/frontend-workflow-verification.md
  infra/charts/controller/agent-templates/agents/bolt-system-prompt.md.hbs
  infra/charts/controller/agent-templates/code/claude/agents-tess.md.hbs
  infra/charts/controller/agent-templates/code/claude/container-atlas-integration.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-atlas-integration.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-tess.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/gitops/applications/atlas-batch-sensor.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
  scripts/apply-agent-credentials.sh
  scripts/create-agent-github-app.sh
  scripts/create-github-apps-local.sh
  scripts/process-agent-avatars.sh
  scripts/setup-atlas-bolt-quickstart.sh
  scripts/setup-new-agent.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: complete multi-CLI support for Atlas, Bolt, and Tess
  controller/src/tasks/code/templates.rs
Due: none

docs: add final comprehensive Atlas and Bolt implementation summary
  docs/atlas-bolt-final-implementation-summary.md
Due: none

fix: resolve Clippy wildcard pattern error and update MCP description
  controller/src/cli/adapter.rs
  mcp/src/tools.rs
Due: none

test: add Atlas and Bolt template selection tests
  controller/src/tasks/code/templates.rs
Due: none

fix: add 4Gi memory limit to controller to prevent cluster resource exhaustion
  infra/charts/controller/values.yaml
Due: none

fix(controller): resolve critical performance regression
  controller/src/bin/agent_controller.rs
  controller/src/tasks/code/controller.rs
  controller/src/tasks/docs/controller.rs
  controller/src/tasks/mod.rs
Due: none

fix(controller): resolve critical performance regression (#1212)
  controller/src/bin/agent_controller.rs
  controller/src/tasks/code/controller.rs
  controller/src/tasks/docs/controller.rs
  controller/src/tasks/mod.rs
Due: none

fix: EMERGENCY - disable controller to restore cluster stability
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: EMERGENCY - disable controller to restore cluster stability (#1213)
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: re-enable controller with worker node affinity and proper resource limits
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: re-enable controller with worker node affinity and proper resource limits (#1214)
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: increase controller memory limit from 4Gi to 8Gi
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: increase controller memory limit from 4Gi to 8Gi (#1215)
  infra/charts/controller/values.yaml
  infra/gitops/applications/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add ArgoCD repository secret for 5dlabs/cto to resolve git fetch timeouts
  infra/secret-store/argocd-repositories-external-secrets.yaml
Due: none

fix: add ArgoCD repository secret for 5dlabs/cto to resolve git fetch timeouts (#1216)
  infra/secret-store/argocd-repositories-external-secrets.yaml
Due: none

chore: remove claude-agent and paper-trader from Argo apps
  infra/charts/claude-agent/Chart.yaml
  infra/charts/claude-agent/templates/_helpers.tpl
  infra/charts/claude-agent/templates/service.yaml
  infra/charts/claude-agent/templates/statefulset.yaml
  infra/charts/claude-agent/values.yaml
  infra/gitops/applications/claude-agent.yaml
  infra/gitops/applications/paper_trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
