Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

refactor: remove unnecessary async keywords in OverrideDetector methods
  controller/src/tasks/label/override_detector.rs
Due: none

chore: remove Task 1 and Task 2 validation and integration tests
  task_1_validation_tests.rs
  task_2_comprehensive_tests.rs
  task_2_integration_tests.rs
Due: none

feat: add Claude configuration template for controller
  infra/charts/controller/claude-templates/code/claude-config.json.hbs
Due: none

feat: enhance CLI adapter system with template loading and Codex integration
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/mod.rs
  controller/src/cli/base_adapter.rs
  controller/src/cli/bridge.rs
  controller/src/cli/factory.rs
  cursor_implementing_cli_agnostic_codex.md
  task/acceptance-criteria.md
  task/architecture.md
  task/prompt.md
  task/task.md
Due: none

chore: auto-update claude-templates ConfigMap
  infra/charts/controller/templates/claude-templates-static.yaml
Due: none

feat: enhance CLI adapter functionality with template rendering and Codex support
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/base_adapter.rs
  controller/src/cli/bridge.rs
  controller/src/cli/factory.rs
  controller/tests/task_3_comprehensive_tests.rs
  infra/charts/controller/claude-templates/code/codex-agents.md.hbs
  infra/charts/controller/claude-templates/code/codex-config.toml.hbs
Due: none

feat: Add Argo CD application for trader service
  infra/gitops/applications/trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: enhance Codex support in CLI and template management
  controller/src/bin/test_templates.rs
  controller/src/cli/adapters/codex.rs
  controller/src/tasks/code/resources.rs
  controller/src/tasks/code/templates.rs
  infra/charts/controller/claude-templates/code/codex/agents-cleo.md.hbs
  infra/charts/controller/claude-templates/code/codex/agents-rex.md.hbs
  infra/charts/controller/claude-templates/code/codex/agents-tess.md.hbs
  infra/charts/controller/claude-templates/code/codex/agents.md.hbs
  infra/charts/controller/claude-templates/code/codex/config.toml.hbs
  infra/charts/controller/claude-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/claude-templates/code/codex/container-cleo.sh.hbs
  infra/charts/controller/claude-templates/code/codex/container-rex-remediation.sh.hbs
  infra/charts/controller/claude-templates/code/codex/container-rex.sh.hbs
  infra/charts/controller/claude-templates/code/codex/container-tess.sh.hbs
  infra/charts/controller/claude-templates/code/codex/container.sh.hbs
  infra/charts/controller/templates/claude-templates-static.yaml
  mcp/src/model_validation_tests.rs
Due: none

Checkpoint before follow-up message
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

Add trader application and namespace to platform project
  infra/gitops/applications/trader.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Refactor: Update trader namespace and project destinations
  infra/gitops/applications/trader.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: update Redis URL handling and improve task ID extraction in GitHub webhook sensor
  infra/gitops/databases/redis-auth-secret.yaml
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: check-resource-limits, no-hardcoded-passwords

Checkpoint before follow-up message
  LICENSE
Due: none

feat: enhance CLI secret management in controller configuration
  controller/src/tasks/code/resources.rs
  controller/src/tasks/config.rs
  infra/charts/controller/templates/secret.yaml
  infra/charts/controller/templates/task-controller-config.yaml
  infra/charts/controller/values.yaml
Due: none

Checkpoint before follow-up message
  infra/gitops/applications/trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add script to automate git add, commit, and push
  git_commit_push.sh
Due: none

Add commit script to automate Git workflow
  commit_and_push.sh
Due: none

feat: add unit test for secret binding resolution in CLI configuration
  controller/src/tasks/config.rs
Due: none

chore: format YAML files for improved readability
  infra/gitops/applications/trader.yaml
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: improve indentation in doc-server-worker-patcher.yaml for better readability
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
Due: no-hardcoded-passwords

fix: update Redis URL patching logic in doc-server-worker-patcher.yaml
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
Due: no-hardcoded-passwords

feat: add GHCR External Secret for reason namespace
  infra/secret-store/ghcr-external-secrets.yaml
Due: none

chore: update license from Apache 2.0 to GNU Affero GPL v3
  LICENSE
Due: none

chore: remove obsolete commit and push scripts
  commit_and_push.sh
  git_commit_push.sh
Due: none

chore: add imagePullSecrets configuration to trader.yaml
  infra/gitops/applications/trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: remove trader.yaml from GitOps configuration
  infra/gitops/applications/paper_trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add OpenAI API key support and enhance CLI secret configuration
  infra/README.md
  infra/charts/controller/values.schema.json
Due: none

chore: add GHCR External Secret for trader namespace
  infra/secret-store/ghcr-external-secrets.yaml
Due: none

chore: remove obsolete GHCR External Secret for reason namespace
  infra/secret-store/ghcr-external-secrets.yaml
Due: none

feat: update CLI configurations and templates for Codex integration
  controller/src/tasks/code/templates.rs
  cto-config-example.json
  cto-config.json
  cto-config.template.json
  infra/charts/controller/claude-templates/code/codex/agents-cleo.md.hbs
  infra/charts/controller/claude-templates/code/codex/agents-rex.md.hbs
  infra/charts/controller/claude-templates/code/codex/agents-tess.md.hbs
  infra/charts/controller/claude-templates/code/codex/agents.md.hbs
  infra/charts/controller/values.yaml
Due: none

chore: update liveness and readiness probe configurations in deployment.yaml
  infra/charts/universal-app/templates/deployment.yaml
  infra/gitops/applications/paper_trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: update README for CLI agent deployment and enhance task descriptions
  README.md
  infra/charts/controller/claude-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/templates/task-controller-config.yaml
Due: none
