Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(research): add missing installable_skill and installable_mcp_server fields in tests
  crates/research/src/analysis/relevance.rs
  crates/research/src/storage/markdown.rs
Due: none

fix(cloudflare): support existing tunnels in ClusterTunnel (#4065)
  .secrets.baseline
  docs/secrets-management.md
  infra/charts/cto/templates/cloudflare/cluster-tunnel.yaml
  infra/charts/cto/values.yaml
Due: none

feat(research): add pipeline integration for auto-install of skills and MCP servers
  crates/research/src/pipeline.rs
Due: none

fix(research): add installable skill and MCP server detection to AI prompts
  crates/research/src/analysis/prompts.rs
  crates/research/src/analysis/relevance.rs
Due: none

fix(research): add installable skill/MCP server detection to AI prompts
  Cargo.lock
  crates/research/src/analysis/relevance.rs
  crates/research/src/enrichment/octocode.rs
  crates/research/src/enrichment/tavily.rs
  crates/research/src/tooling/mod.rs
Due: none

feat(research): update AI prompt to detect installable skills and MCP servers
  crates/research/src/analysis/relevance.rs
Due: none

chore(deps): Also bump @vitest/coverage-v8 and @vitest/ui to 4.x
  apps/web/package-lock.json
  apps/web/package.json
Due: none

fix(research): address review comments for auto-install feature
  Cargo.lock
  crates/research/Cargo.toml
  crates/research/src/main.rs
  crates/research/src/pipeline.rs
  crates/research/src/tooling/mod.rs
Due: none

chore(infra): increase minRunners to 8 to avoid CI queue buildup
  infra/gitops/applications/workloads/platform-runners.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(research): auto-install skills and MCP servers from research items (#4066)
  Cargo.lock
  crates/research/Cargo.toml
  crates/research/src/analysis/mod.rs
  crates/research/src/analysis/prompts.rs
  crates/research/src/analysis/relevance.rs
  crates/research/src/enrichment/octocode.rs
  crates/research/src/enrichment/tavily.rs
  crates/research/src/lib.rs
  crates/research/src/main.rs
  crates/research/src/pipeline.rs
  crates/research/src/storage/markdown.rs
  crates/research/src/tooling/mod.rs
Due: none

fix: align kube derive and clean linting
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/controller/Cargo.toml
  crates/utils/src/main.rs
  pr-merge-loop/remediation-prompt.md
Due: none

feat: Add Twingate connector deployment via Argo CD
  infra/gitops/applications/networking/twingate-connector.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/twingate/COMPLETED.md
  infra/gitops/manifests/twingate/SETUP.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove trailing spaces from twingate-connector.yaml
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add Twingate connector deployment via Argo CD (#4082)
  infra/gitops/applications/networking/twingate-connector.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/twingate/COMPLETED.md
  infra/gitops/manifests/twingate/SETUP.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Use valid semver constraint for Twingate connector chart
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Use existingSecret format for Twingate connector tokens
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Move existingSecret to top level
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Use existingSecret as string (secret name only)
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Add extraEnv to explicitly set token env vars from secret
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Reduce CPU request to 50m for scheduling
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Use correct env var names for Twingate connector tokens
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat(ingress): add DNS namespace separation for home and Frankfurt clusters
  infra/gitops/manifests/ingress/certificates-fra.yaml
  infra/gitops/manifests/ingress/certificates-home.yaml
  infra/gitops/manifests/ingress/kustomization.yaml
  infra/gitops/manifests/ingress/platform-ingress-fra.yaml
  infra/gitops/manifests/ingress/platform-ingress-home.yaml
Due: no-hardcoded-passwords

fix: enable hostNetwork for Hubble Relay to access Cilium agents on Talos
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

docs: add DNS configuration guide for multi-cluster setup
  docs/dns-configuration.md
Due: none

fix(cilium): enable hostNetwork and ClusterFirstWithHostNet DNS for Hubble Relay on Talos
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix(ingress): enable external-dns for Frankfurt cluster
  infra/gitops/manifests/ingress/platform-ingress-fra.yaml
Due: no-hardcoded-passwords

fix: temporarily disable presync validation hook
  infra/gitops/manifests/external-secrets/presync-validation.yaml.disabled
Due: none

fix: temporarily disable presync validation hook (#4083)
  infra/gitops/manifests/external-secrets/presync-validation.yaml.disabled
Due: none

fix(seaweedfs): configure for single-node cluster
  infra/gitops/applications/operators/seaweedfs-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(seaweedfs): configure for single-node cluster (#4084)
  infra/gitops/applications/operators/seaweedfs-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tools): add missing env vars for MCP servers
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

fix(tools): add missing env vars for MCP servers (#4091)
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

fix(tools): use @iflow-mcp/firecrawl-mcp package
  infra/charts/cto/values.yaml
Due: none

feat(tools): add custom headers support and MiniMax/Cloudflare env vars
  crates/tools/src/config.rs
  crates/tools/src/server/http_server.rs
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
Due: none

feat(tools): add Tavily MCP server for web search
  infra/charts/cto/values.yaml
Due: none

feat: add CI remediation skill and subagent
  .claude/skills/ci-remediation/SKILL.md
  .codex/agents/ci-remediation.md
  .gitignore
  crates/mcp/src/main.rs
Due: none
