Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(tailscale): use internal URL, remove --reset to avoid race condition
  infra/gitops/manifests/headscale/subnet-router.yaml
Due: no-hardcoded-passwords

fix(tailscale): configure for internal HTTPS now that Headscale has TLS
  infra/gitops/manifests/headscale/subnet-router.yaml
Due: no-hardcoded-passwords

fix(headscale): update probes to use HTTPS port 443
  infra/gitops/applications/networking/headscale.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

revert(headscale): restore HTTP configuration
  infra/gitops/applications/networking/headscale.yaml
  infra/gitops/applications/observability/alertmanager.yaml
  infra/gitops/applications/observability/blackbox-exporter.yaml
  infra/gitops/applications/observability/fluent-bit.yaml
  infra/gitops/applications/observability/kube-state-metrics.yaml
  infra/gitops/applications/observability/loki.yaml
  infra/gitops/applications/observability/prometheus.yaml
  infra/gitops/applications/operators/clickhouse-operator.yaml
  infra/gitops/applications/operators/keycloak-operator.yaml
  infra/gitops/applications/operators/nats.yaml
  infra/gitops/applications/operators/opensearch-operator.yaml
  infra/gitops/applications/operators/percona-mongodb-operator.yaml
  infra/gitops/applications/operators/percona-mysql-operator.yaml
  infra/gitops/applications/operators/rabbitmq-operator.yaml
  infra/gitops/applications/operators/scylladb-operator.yaml
  infra/gitops/applications/operators/strimzi-kafka-operator.yaml
  infra/gitops/applications/operators/temporal-operator.yaml
  infra/gitops/applications/platform/argocd-image-updater.yaml
  infra/gitops/applications/platform/cto-workflows.yaml
  infra/gitops/manifests/headscale/subnet-router.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(headscale): revert to HTTP configuration for probe ports
  infra/gitops/manifests/argocd/argocd-application-controller-readiness.yaml
Due: no-hardcoded-passwords

fix(cloudflare): correct workflows tunnel target namespace
  infra/charts/cto/values.yaml
Due: none

fix(external-dns): exclude workflows from external-dns for remote access
  infra/gitops/manifests/ingress/platform-ingress.yaml
Due: no-hardcoded-passwords

fix(headscale): correct SERVER_URL for Cloudflare tunnel access
  infra/gitops/applications/networking/headscale.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(headscale): enable TLS via cert-manager
  infra/gitops/applications/networking/headscale.yaml
  infra/gitops/manifests/headscale/subnet-router.yaml
  scripts/tailscale-connect.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(cloudflare): update headscale tunnel to use HTTPS origin
  infra/charts/cto/values.yaml
Due: none

feat(pm): resolve intake CLI image from agent.cliImages
  infra/charts/cto/templates/pm/deployment.yaml
  infra/charts/cto/values.yaml
Due: none

feat(pm): update models to use Opus 4.5 for intake tasks
  crates/pm/src/config.rs
  crates/tasks/src/ai/cli_provider.rs
  infra/charts/cto/templates/pm/deployment.yaml
  infra/charts/cto/values.yaml
  infra/images/dexter/Dockerfile
Due: none

refactor(cli): remove unsupported CLI types and update memory strategy documentation
  crates/cli/src/adapter.rs
  crates/cli/src/factory.rs
  crates/cli/src/lib.rs
  crates/cli/src/types.rs
  crates/tasks/src/ai/cli_provider.rs
Due: none

refactor(cli): remove generic fallback for unsupported CLI types
  crates/tasks/src/ai/cli_provider.rs
Due: none

refactor(architecture): update notification services and enhance self-hosted documentation
  alerthub/architecture.md
  alerthub/prd.md
  crates/cli/src/factory.rs
  crates/tasks/src/ai/cli_provider.rs
  crates/tasks/src/bin/cli_comparison_test.rs
  infra/gitops/applications/messaging/mailpit.yaml
  infra/gitops/applications/messaging/ntfy.yaml
  infra/gitops/manifests/mailpit/deployment.yaml
  infra/gitops/manifests/mailpit/kustomization.yaml
  infra/gitops/manifests/mailpit/namespace.yaml
  infra/gitops/manifests/mailpit/service.yaml
  infra/gitops/manifests/ntfy/configmap.yaml
  infra/gitops/manifests/ntfy/kustomization.yaml
  infra/gitops/manifests/ntfy/namespace.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(infra): complete ntfy and mailpit self-hosted messaging manifests
  infra/gitops/applications/messaging/README.md
  infra/gitops/manifests/ntfy/deployment.yaml
  infra/gitops/manifests/ntfy/pvc.yaml
  infra/gitops/manifests/ntfy/service.yaml
Due: no-hardcoded-passwords

fix(argocd): use develop branch for messaging applications
  infra/gitops/applications/messaging/mailpit.yaml
  infra/gitops/applications/messaging/ntfy.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ntfy): remove ServiceMonitor until Prometheus Operator CRDs are installed
  infra/gitops/manifests/ntfy/service.yaml
Due: no-hardcoded-passwords

fix: increase Loki storage from 20Gi to 50Gi
  infra/gitops/applications/observability/loki.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs: add AMD64 cluster architecture requirement
  AGENTS.md
Due: none

docs(research): add 4 new research entries
  docs/research/2003734739169980782.md
  docs/research/2003905528456749210.md
  docs/research/2003987624021922102.md
  docs/research/2004227514928124281.md
Due: none
