Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

🔧 Auto-format Rust code
  controller/src/cli/bridge.rs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix(argocd): include projects/ in app-of-apps GitOps management
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

🔧 Auto-format Rust code
  cli/src/installer/mod.rs
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  controller/src/cli/adapters/opencode.rs
  controller/src/cli/bridge.rs
  mcp/src/main.rs
Due: none

Add Kilo WireGuard VPN CRDs to platform project
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(argocd): add kilo.squat.ai to namespaceResourceWhitelist (#1722)
  infra/gitops/app-of-apps.yaml
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

feat(mcp): add add_docs tool for doc ingestion via Firecrawl
  mcp/src/doc_proxy.rs
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

fix: use CONFIGMAP_PREFIX env var for all ConfigMap names
  controller/src/bin/agent_controller.rs
  controller/src/tasks/code/resources.rs
  controller/src/tasks/docs/resources.rs
  infra/charts/controller/templates/deployment.yaml
Due: none

fix(gitops): disable recurse in platform-apps to resolve SharedResourceWarning
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

fix(mcp): address clippy pedantic warnings in add_docs tool
  mcp/src/doc_proxy.rs
  mcp/src/main.rs
Due: none

fix(gitops): disable recurse in platform-apps to resolve SharedResourceWarning (#1726)
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

fix(gitops): add ServerSideApply to cto app-of-apps for ownership transfer
  infra/gitops/applications/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: temporarily use toolman image for tools deployment
  infra/gitops/applications/cto/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

ci: build Docker images on push to main
  .github/workflows/develop-deploy.yaml
  .github/workflows/tools-ci.yaml
Due: none

fix: use CONFIGMAP_PREFIX env var for ConfigMap names (#1725)
  .github/workflows/develop-deploy.yaml
  .github/workflows/tools-ci.yaml
  controller/src/bin/agent_controller.rs
  controller/src/tasks/code/resources.rs
  controller/src/tasks/docs/resources.rs
  infra/charts/controller/templates/deployment.yaml
  infra/gitops/applications/cto/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

🔧 Auto-format Rust code
  controller/src/bin/agent_controller.rs
Due: none

refactor: consolidate and clean up Kubernetes namespaces
  infra/gitops/applications/monitoring-stack.yaml
  infra/gitops/projects/platform-project.yaml
  infra/telemetry/alerts/atlas-alerting-rules-configmap.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

test: ignore test that requires pre-built binary
  tools/tests/integration/http_transport_tests.rs
Due: none

test: ignore test that requires pre-built binary (#1729)
  tools/tests/integration/http_transport_tests.rs
Due: none

fix(gitops): add ServerSideApply to cto app-of-apps for ownership transfer (#1727)
  infra/gitops/applications/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor: consolidate and clean up Kubernetes namespaces (#1728)
  infra/gitops/applications/monitoring-stack.yaml
  infra/gitops/projects/platform-project.yaml
  infra/telemetry/alerts/atlas-alerting-rules-configmap.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Refactor: Improve error messages and string handling
  mcp/src/doc_proxy.rs
  mcp/src/tools.rs
  tools/src/server/http_server.rs
  tools/tests/integration/common/mcp_test_client.rs
  tools/tests/integration/common/protocol_validator.rs
  tools/tests/integration/common/server_lifecycle.rs
  tools/tests/integration/common/test_helpers.rs
  tools/tests/integration/mod.rs
  tools/tests/integration/real_servers/docker_servers.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/integration/real_servers/npx_servers.rs
  tools/tests/integration/real_servers/uvx_servers.rs
Due: none

chore: remove doc-server references and docs_ingest tool
  README.md
  cto-config-example.json
  cto-config.json
  cto-config.template.json
  docs/engineering/RESOURCE_OPTIMIZATION_SUMMARY.md
  docs/engineering/shadcn-docs-ingestion-guide.md
  docs/examples/README.md
  docs/examples/example-requirements.yaml
  docs/requirements.yaml
  docs/runbooks/vault-operations.md
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/tools/values.yaml
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
  infra/vault/README.md
  mcp/src/main.rs
  mcp/src/tools.rs
  monitor/cto-config.json
Due: no-hardcoded-passwords

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-codex.yaml
Due: none

fix: transform github-pat secret key for ARC controller
  infra/vault/secrets/infrastructure.yaml
Due: none

fix: transform github-pat secret key for ARC controller (#1731)
  infra/vault/secrets/infrastructure.yaml
Due: none

refactor: rename agent-platform namespace to cto
  cli/src/installer/mod.rs
  controller/src/cli/adapters/claude.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  controller/src/cli/adapters/opencode.rs
  controller/src/cli/bridge.rs
  mcp/src/main.rs
Due: none

checkpoint before checking out add-docs-firecrawl
  .github/workflows/tools.yaml
Due: none

chore: remove doc-server references and docs_ingest tool (#1730)
  README.md
  cto-config-example.json
  cto-config.json
  cto-config.template.json
  docs/engineering/RESOURCE_OPTIMIZATION_SUMMARY.md
  docs/engineering/shadcn-docs-ingestion-guide.md
  docs/examples/README.md
  docs/examples/example-requirements.yaml
  docs/requirements.yaml
  docs/runbooks/vault-operations.md
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/tools/values.yaml
  infra/gitops/resources/kilo/README.md
  infra/gitops/resources/kilo/examples/developer-workstation.yaml
  infra/vault/README.md
  mcp/src/main.rs
  mcp/src/tools.rs
  monitor/cto-config.json
Due: no-hardcoded-passwords

feat(mcp): add add_docs tool for doc ingestion via Firecrawl (#1724)
  mcp/src/doc_proxy.rs
  mcp/src/main.rs
  mcp/src/tools.rs
  tools/src/server/http_server.rs
  tools/tests/integration/common/mcp_test_client.rs
  tools/tests/integration/common/protocol_validator.rs
  tools/tests/integration/common/server_lifecycle.rs
  tools/tests/integration/common/test_helpers.rs
  tools/tests/integration/mod.rs
  tools/tests/integration/real_servers/docker_servers.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/integration/real_servers/npx_servers.rs
  tools/tests/integration/real_servers/uvx_servers.rs
Due: none

feat(tools): integrate k8s-mcp as deployment within tools chart
  infra/charts/k8s-mcp/Chart.yaml
  infra/charts/k8s-mcp/templates/deployment.yaml
  infra/charts/k8s-mcp/templates/service.yaml
  infra/charts/k8s-mcp/values.yaml
  infra/charts/tools/templates/deployment-mcp-servers.yaml
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/k8s-mcp.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor: consolidate namespaces - operators + move Atlas alerts to CTO
  infra/cluster-config/operators-namespace.yaml
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/monitoring-stack.yaml
  infra/gitops/applications/ngrok-operator.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/applications/vault-config.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/telemetry/alerts/atlas-alerting-rules-configmap.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/tools.yaml
  infra/vault/vault-auth.yaml
  infra/vault/vault-connection.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add ARC controller to GitOps + version updates + RBAC fixes
  infra/gitops/applications/arc-controller.yaml
  infra/gitops/applications/ngrok-operator.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/applications/vault-secrets-operator.yaml
  infra/gitops/rbac/github-runner-rbac.yaml
  infra/gitops/rbac/github-runner-secret-access.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add ingress-nginx and cert-manager to GitOps
  infra/gitops/applications/cert-manager.yaml
  infra/gitops/applications/ingress-nginx.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update vaultAuthRef to operators namespace
  infra/vault/secrets/api-keys.yaml
  infra/vault/secrets/ghcr.yaml
  infra/vault/secrets/github-apps.yaml
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/tools.yaml
Due: none

chore: update .gitignore to exclude secrets backup directory
  .github/workflows/tools.yaml
  .gitignore
  infra/charts/tools/templates/deployment-mcp-servers.yaml
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
Due: none

fix: keep monitoring stack unified in telemetry namespace
  infra/gitops/applications/monitoring-stack.yaml
  infra/telemetry/alerts/atlas-alerting-rules-configmap.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

