Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: add timeout + fix-missing fallback to apt-get retry
  .github/actions/setup-rust-k8s/action.yaml
Due: none

fix(code-server): pre-seed Copilot hosts.json at correct XDG path
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(code-server): patch product.json to use MS Marketplace for Copilot Chat
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(coder): stable DNS via Cloudflare tunnel binding (coder.5dlabs.ai)
  infra/charts/cto/templates/cloudflare/platform-bindings.yaml
  infra/charts/cto/values.yaml
  infra/charts/musetalk-worker/Chart.yaml
  infra/charts/musetalk-worker/templates/_helpers.tpl
  infra/charts/musetalk-worker/templates/deployment.yaml
  infra/charts/musetalk-worker/templates/pvc.yaml
  infra/charts/musetalk-worker/templates/service-metrics.yaml
  infra/charts/musetalk-worker/templates/serviceaccount.yaml
  infra/charts/musetalk-worker/values.yaml
  infra/charts/openclaw-agent/templates/service.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
  infra/images/musetalk-worker/Dockerfile
  infra/images/musetalk-worker/download_models.py
  infra/images/musetalk-worker/render.py
  infra/images/musetalk-worker/requirements.txt
  infra/images/musetalk-worker/worker.py
  output/pm-audit/index.html
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve clippy map_unwrap_or lint in notify crate
  crates/notify/src/lib.rs
Due: none

feat: add Context7 catalog query and skill generation prompts/schemas
  intake/prompts/catalog-query-system.md
  intake/prompts/skill-generation-system.md
  intake/schemas/catalog-query-result.schema.json
  intake/schemas/skill-generation-result.schema.json
Due: none

feat: add _config/ file support to controller pipeline
  crates/controller/src/tasks/code/skills_cache.rs
  crates/controller/src/tasks/code/templates.rs
Due: none

feat: add Context7 catalog query and skill generation to intake workflow
  intake/workflows/intake.lobster.yaml
Due: none

test: add unit tests for _config/ file loading
  crates/controller/src/tasks/code/skills_cache.rs
Due: none

feat: enhance commit-agent-package to push generated skills and _config
  intake/workflows/intake.lobster.yaml
Due: none

feat(coder): upgrade Claude/Copilot ACP to Opus 4.7
  infra/charts/openclaw-agent/templates/configmap-claude-settings.yaml
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(avatar): self-hosted LiveKit SFU (Phase 1 — signaling only)
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
  infra/gitops/projects/platform-project.yaml
  infra/manifests/livekit/cluster-tunnel.yaml
  infra/manifests/livekit/livekit-keys-secret.yaml
  infra/manifests/livekit/tunnel-binding.yaml
  infra/manifests/livekit/valkey.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: upgrade all agents from Claude Opus 4.6 to Opus 4.7
  cto-config.json
  infra/gitops/agents/committee-4-values.yaml
  model-providers.json
Due: no-hardcoded-passwords

fix(openclaw-agent): add missing ssh/codeServer default values
  infra/charts/openclaw-agent/values.yaml
Due: none

feat: add Copilot CI auto-fix workflow
  .github/workflows/copilot-ci-fix.yaml
Due: none

feat(avatar): self-hosted LiveKit SFU (Phase 1 — signaling only) (#4640)
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
  infra/gitops/projects/platform-project.yaml
  infra/manifests/livekit/cluster-tunnel.yaml
  infra/manifests/livekit/livekit-keys-secret.yaml
  infra/manifests/livekit/tunnel-binding.yaml
  infra/manifests/livekit/valkey.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(avatar): unblock LiveKit GitOps sync
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/manifests/livekit/valkey.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(code-server): always download latest Copilot extensions on startup
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

refactor(livekit): consolidate into cto namespace
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
  infra/gitops/projects/platform-project.yaml
  infra/manifests/livekit/livekit-keys-secret.yaml
  infra/manifests/livekit/tunnel-binding.yaml
  infra/manifests/livekit/valkey.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(avatar): unblock LiveKit GitOps sync (valkey + nodeAffinity) (#4641)
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
  infra/gitops/projects/platform-project.yaml
  infra/manifests/livekit/livekit-keys-secret.yaml
  infra/manifests/livekit/tunnel-binding.yaml
  infra/manifests/livekit/valkey.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(livekit): set key_file and correct livekit-support repoURL
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar): self-hosted LiveKit + avatar stack foundation (#4642)
  infra/gitops/applications/workloads/livekit-server.yaml
  infra/gitops/applications/workloads/livekit-support.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(avatar): work around livekit-server chart v1.9.0 key_file bug
  infra/gitops/applications/workloads/livekit-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(avatar): work around livekit-server chart v1.9.0 key_file bug (#4643)
  infra/gitops/applications/workloads/livekit-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(openclaw-agent): add missing ssh defaults to values.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

livekit: reuse cto-main cloudflare tunnel for signaling
  infra/manifests/livekit/cluster-tunnel.yaml
  infra/manifests/livekit/tunnel-binding.yaml
Due: none

livekit: reuse cto-main cloudflare tunnel for signaling (#4644)
  infra/manifests/livekit/cluster-tunnel.yaml
  infra/manifests/livekit/tunnel-binding.yaml
Due: none

fix: resolve clippy 1.95 pedantic lints
  Cargo.lock
  crates/controller/src/cli/adapter_factory.rs
  crates/controller/src/cli/adapters/codex.rs
  crates/controller/src/cli/discovery.rs
  crates/controller/src/tasks/cancel/aware.rs
  crates/controller/src/tasks/code/skills_cache.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/label/client.rs
  crates/controller/src/tasks/label/schema.rs
  crates/controller/src/tasks/security/audit.rs
Due: none

feat(coder): add COPILOT_GITHUB_TOKEN env for Copilot CLI auth
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(openclaw-agent): add GH_TOKEN and COPILOT_GITHUB_TOKEN env vars
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(intake): Agent Package Provisioning — Phase 0 (#4639)
  .github/actions/setup-rust-k8s/action.yaml
  Cargo.lock
  apps/cto-tools/codegen.ts
  apps/cto-tools/codegen_test.ts
  apps/cto-tools/mcp.ts
  apps/cto-tools/mcp_test.ts
  crates/controller/src/cli/adapter_factory.rs
  crates/controller/src/cli/adapters/codex.rs
  crates/controller/src/cli/discovery.rs
  crates/controller/src/tasks/cancel/aware.rs
  crates/controller/src/tasks/code/skills_cache.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/label/client.rs
  crates/controller/src/tasks/label/schema.rs
  crates/controller/src/tasks/security/audit.rs
  crates/notify/src/lib.rs
  infra/charts/openclaw-agent/values.yaml
  intake/config/capability-registry.yaml
  intake/prompts/capability-analysis-system.md
  intake/prompts/catalog-query-system.md
  intake/prompts/skill-generation-system.md
  intake/prompts/tool-search-system.md
  intake/schemas/capability-analysis.schema.json
  intake/schemas/catalog-query-result.schema.json
  intake/schemas/gap-resolution.schema.json
  intake/schemas/package-manifest.schema.json
  intake/schemas/skill-generation-result.schema.json
  intake/scripts/compute-gaps.py
  intake/workflows/intake.lobster.yaml
  skills/cto-tools/SKILL.md
  templates/_shared/partials/cto-tools-setup.sh.hbs
Due: none

fix: clippy 1.95 lints in bin + tests
  crates/controller/src/bin/agent_controller.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  crates/controller/tests/e2e_template_tests.rs
Due: none

fix: clippy 1.95 lints in bin + tests (#4646)
  crates/controller/src/bin/agent_controller.rs
  crates/controller/tests/agent_cli_matrix_tests.rs
  crates/controller/tests/e2e_template_tests.rs
Due: none

docs(prds): Coder PRD for Phase 4 GPU + MuseTalk deployment
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

PRD: inline 1Password op read + ovh_call signer for Coder
  docs/prds/coder-gpu-musetalk-phase4.md
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

