Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

ci: add CodeQL scanning to controller CI
  .github/workflows/controller-ci.yaml
Due: none

ci: include rust target in CodeQL
  .github/workflows/controller-ci.yaml
Due: none

fix: scope security-approved label creation
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

ci: add rust CodeQL analysis
  .github/workflows/controller-ci.yaml
Due: none

Fix CodeQL and address security issues
  docs/engineering/storage-maintenance.md
  infra/gitops/applications/workspace-maintenance.yaml
  infra/runner-cache/runner-cache-pruner.yaml
  infra/workspace-maintenance/workspace-cleaner.yaml
  package-lock.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: harden workspace cleanup and pin rust action
  .github/workflows/controller-ci.yaml
  infra/workspace-maintenance/workspace-cleaner.yaml
  package-lock.json
Due: none

ci: run CodeQL only for rust using v4
  .github/workflows/controller-ci.yaml
Due: none

fix: address high severity CodeQL findings
  infra/gitops/databases/redis-auth-secret.yaml
  scripts/blaze/resolve-theme.js
Due: check-resource-limits, no-hardcoded-passwords

chore: pin workflow actions to commits
  .github/workflows/agent-templates-sync.yaml
  .github/workflows/agents-build.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/develop-deploy.yaml
  .github/workflows/helm-publish.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/infrastructure-build.yaml
  .github/workflows/release.yaml
  .github/workflows/update-helm-templates.yml
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix: cleanup Blaze temp dir after writing
  scripts/blaze/resolve-theme.js
Due: none

chore: archive database operators
  infra/gitops/archive/applications/postgres-operator.yaml
  infra/gitops/archive/applications/questdb-operator.yaml
  infra/gitops/archive/applications/redis-operator.yaml
Due: no-hardcoded-passwords

fix: enforce cleo→cipher→tess handoffs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: auto-create security-approved label before adding
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: tighten RBAC and harden doc-server patcher
  infra/gitops/rbac/doc-server-mcp-access.yaml
  infra/gitops/rbac/github-runner-rbac.yaml
  infra/gitops/rbac/test-db-access.yaml
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
Due: no-hardcoded-passwords

fix: add writable volume for doc-server patcher
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
Due: no-hardcoded-passwords

Troubleshooting workflows UI access
  infra/gitops/applications/argo-workflows.yaml
  package-lock.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: archive database instances
  infra/gitops/archive/applications/database-instances.yaml
  infra/gitops/archive/databases/README.md
  infra/gitops/archive/databases/redis-auth-secret.yaml
  infra/gitops/archive/databases/redis-operator-rolebinding.yaml
  infra/gitops/archive/databases/redis-service.yaml
  infra/gitops/archive/databases/redis.yaml
  infra/gitops/archive/databases/vector-postgres.yaml
Due: no-hardcoded-passwords

Troubleshooting workflows UI access
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Investigate PVC Cleaner regression issue
  infra/workspace-maintenance/workspace-cleaner.yaml
  package-lock.json
Due: none

Investigate PVC Cleaner regression issue
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
  infra/workspace-maintenance/workspace-cleaner.yaml
Due: no-hardcoded-passwords

Investigating Cypher PR comments and issues
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  package-lock.json
Due: none

Investigating Cypher PR comments and issues
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

Dock server sync issue investigation
  infra/gitops/applications/doc-server.yaml
  infra/gitops/resources/doc-server/kustomization.yaml
  infra/gitops/resources/doc-server/postgres.yaml
  infra/gitops/resources/doc-server/redis.yaml
  package-lock.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: reuse vector postgres pvc for doc server
  infra/gitops/resources/doc-server/postgres.yaml
Due: no-hardcoded-passwords

fix: map db secrets for doc server
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(controller): let cipher pods exit cleanly
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

Ensure CodeQL is enabled for Cipher
  .github/workflows/codeql.yml
  docs/engineering/cipher-agent-implementation.md
  infra/charts/controller/agent-templates/agents/cipher-system-prompt.md.hbs
  package-lock.json
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

