Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat: add cloud parity callout to services page hero
  apps/marketing/src/app/services/page.tsx
Due: none

feat: add cloud parity callout to services page hero (#4500)
  apps/marketing/src/app/services/page.tsx
Due: none

fix: rename Managed Foundation → 5D Runtime, rewrite cloud parity with confidence
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/services/page.tsx
Due: none

fix: rename Managed Foundation → 5D Runtime, rewrite cloud parity with confidence (#4501)
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/services/page.tsx
Due: none

fix: replace 'proprietary' with 'in-house', remove negative framing
  apps/marketing/src/app/page.tsx
  apps/splash/src/app/investors/page.tsx
  apps/splash/src/app/layout.tsx
  apps/splash/src/app/opportunities/page.tsx
  apps/splash/src/app/page.tsx
  apps/splash/src/app/trading/page.tsx
Due: none

fix: replace 'proprietary' with 'in-house', remove negative framing (#4502)
  apps/marketing/src/app/page.tsx
  apps/splash/src/app/investors/page.tsx
  apps/splash/src/app/layout.tsx
  apps/splash/src/app/opportunities/page.tsx
  apps/splash/src/app/page.tsx
  apps/splash/src/app/trading/page.tsx
Due: none

feat: v0-inspired 'Build at the Speed of Thought' hero rewrite
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/services/page.tsx
Due: none

feat: v0-inspired 'Build at the Speed of Thought' hero rewrite (#4503)
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/services/page.tsx
Due: none

feat(morgan): add lean Morgan agent for avatar PoC
  infra/gitops/agents/README.md
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/deliberation-agents.yaml
  infra/gitops/applications/workloads/morgan-support.yaml
  infra/manifests/morgan-support/cluster-tunnel.yaml
  infra/manifests/morgan-support/skills-configmap.yaml
  infra/manifests/morgan-support/tunnel-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove redundant Team nav link — agents already on homepage
  apps/marketing/src/components/header.tsx
Due: none

fix: remove redundant Team nav link — agents already on homepage (#4505)
  apps/marketing/src/components/header.tsx
Due: none

feat(morgan): add lean Morgan agent for avatar PoC (#4504)
  infra/gitops/agents/README.md
  infra/gitops/agents/morgan-values.yaml
  infra/gitops/applications/workloads/deliberation-agents.yaml
  infra/gitops/applications/workloads/morgan-support.yaml
  infra/manifests/morgan-support/cluster-tunnel.yaml
  infra/manifests/morgan-support/skills-configmap.yaml
  infra/manifests/morgan-support/tunnel-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: align vendored twingate chart defaults
  infra/charts/twingate-operator/values.yaml
Due: none

fix: reconcile twingate access resources
  .github/workflows/skills-security-scan.yaml
  infra/gitops/manifests/twingate/openclaw-tool-server-access.yaml
  infra/gitops/manifests/twingate/pod-network-access.yaml
  infra/gitops/manifests/twingate/service-network-access.yaml
Due: no-hardcoded-passwords

fix: stabilize trivy config scanning
  .github/workflows/infra-ci.yaml
Due: none

fix: install trivy from release tarball
  .github/workflows/infra-ci.yaml
Due: none

fix: add checkov fallback for security scan
  .github/workflows/infra-ci.yaml
Due: none

fix: harden security scan bootstrap
  .github/workflows/infra-ci.yaml
Due: none

fix: ignore normalized twingate access crd fields
  infra/gitops/applications/operators/twingate-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ignore normalized twingate access crd fields (#4506)
  infra/gitops/applications/operators/twingate-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(avatar): consolidate Morgan avatar PoC into CTO repo
  avatar/.gitignore
  avatar/README.md
  avatar/agent/README.md
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/__init__.py
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/latency.py
  avatar/agent/morgan_avatar_agent/providers.py
  avatar/agent/pyproject.toml
  avatar/agent/scripts/port_forward_openclaw_optimist.sh
  avatar/agent/scripts/summarize_latency.py
  avatar/agent/tests/test_config.py
  avatar/agent/tests/test_latency.py
  avatar/docs/HANDOFF.md
  avatar/docs/decision-review.md
  avatar/docs/elevenlabs-enhancement-plan.md
  avatar/docs/morgan-image.md
  avatar/docs/morgan-openclaw-setup.md
  avatar/docs/provider-spikes.md
  avatar/morgan.jpg
  avatar/web/.gitignore
  avatar/web/README.md
  avatar/web/app/api/token/route.ts
  avatar/web/app/favicon.ico
  avatar/web/app/globals.css
  avatar/web/app/layout.tsx
  avatar/web/app/page.tsx
  avatar/web/components/Room.tsx
  avatar/web/eslint.config.mjs
  avatar/web/next.config.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/postcss.config.mjs
  avatar/web/public/file.svg
  avatar/web/public/globe.svg
  avatar/web/public/next.svg
  avatar/web/public/vercel.svg
  avatar/web/public/window.svg
  avatar/web/tsconfig.json
Due: none

fix(morgan): update model to openai-api/gpt-5.4-pro
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

feat(avatar): consolidate Morgan avatar PoC into CTO repo (#4508)
  avatar/.gitignore
  avatar/README.md
  avatar/agent/README.md
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/__init__.py
  avatar/agent/morgan_avatar_agent/config.py
  avatar/agent/morgan_avatar_agent/latency.py
  avatar/agent/morgan_avatar_agent/providers.py
  avatar/agent/pyproject.toml
  avatar/agent/scripts/port_forward_openclaw_optimist.sh
  avatar/agent/scripts/summarize_latency.py
  avatar/agent/tests/test_config.py
  avatar/agent/tests/test_latency.py
  avatar/docs/HANDOFF.md
  avatar/docs/decision-review.md
  avatar/docs/elevenlabs-enhancement-plan.md
  avatar/docs/morgan-image.md
  avatar/docs/morgan-openclaw-setup.md
  avatar/docs/provider-spikes.md
  avatar/morgan.jpg
  avatar/web/.gitignore
  avatar/web/README.md
  avatar/web/app/api/token/route.ts
  avatar/web/app/favicon.ico
  avatar/web/app/globals.css
  avatar/web/app/layout.tsx
  avatar/web/app/page.tsx
  avatar/web/components/Room.tsx
  avatar/web/eslint.config.mjs
  avatar/web/next.config.ts
  avatar/web/package-lock.json
  avatar/web/package.json
  avatar/web/postcss.config.mjs
  avatar/web/public/file.svg
  avatar/web/public/globe.svg
  avatar/web/public/next.svg
  avatar/web/public/vercel.svg
  avatar/web/public/window.svg
  avatar/web/tsconfig.json
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

marketing: update hero headline to from idea to impact, fast
  apps/marketing/src/app/page.tsx
  apps/marketing/src/components/hero-experiment.tsx
Due: none

marketing: update hero headline to from idea to impact, fast (#4509)
  apps/marketing/src/app/page.tsx
  apps/marketing/src/components/hero-experiment.tsx
Due: none

Archive non-critical GitHub workflows
  .github/workflows-archive/README.md
  .github/workflows-archive/binaries-release.yaml
  .github/workflows-archive/cleanup-runs.yaml
  .github/workflows-archive/code-quality.yaml
  .github/workflows-archive/codeql.yaml
  .github/workflows-archive/controller-ci.yaml
  .github/workflows-archive/cto-lite-ci.yaml
  .github/workflows-archive/cto-lite-release.yaml
  .github/workflows-archive/deploy-marketing.yaml
  .github/workflows-archive/deploy-splash.yaml
  .github/workflows-archive/discord-bridge-publish.yml
  .github/workflows-archive/gitops-publish.yaml
  .github/workflows-archive/grok-publish.yml
  .github/workflows-archive/healer-ci.yaml
  .github/workflows-archive/infra-ci.yaml
  .github/workflows-archive/infrastructure-build.yaml
  .github/workflows-archive/linear-bridge-publish.yml
  .github/workflows-archive/pm-ci.yaml
  .github/workflows-archive/release-please.yaml
  .github/workflows-archive/research-auto-merge.yaml
  .github/workflows-archive/research-ci.yaml
  .github/workflows-archive/skills-security-scan.yaml
  .github/workflows-archive/stale-queue-cleanup.yaml
  .github/workflows-archive/tools-ci.yaml
  .github/workflows-archive/tools-smoke-test.yml
  .github/workflows-archive/web-ci.yaml
Due: none

add ACP runtime foundation and Stakpak wiring
  Cargo.lock
  Cargo.toml
  apps/intake-util/src/index.ts
  apps/intake-util/src/invoke-agent.ts
  crates/acp-runtime/Cargo.toml
  crates/acp-runtime/src/client.rs
  crates/acp-runtime/src/lib.rs
  crates/acp-runtime/src/registry.rs
  crates/acp-runtime/src/server.rs
  crates/acp-runtime/src/types.rs
  crates/config/src/generator.rs
  crates/config/src/lib.rs
  crates/config/src/types.rs
  crates/controller/Cargo.toml
  crates/controller/src/cli/router.rs
  crates/controller/src/cli/session.rs
  crates/healer/Cargo.toml
  crates/healer/src/acp/client.rs
  crates/healer/src/acp/mod.rs
  crates/healer/src/acp/server.rs
  crates/healer/src/acp/types.rs
  crates/healer/src/lib.rs
  crates/healer/src/platform/server.rs
  crates/mcp-lite/Cargo.lock
  crates/mcp-lite/Cargo.toml
  crates/mcp-lite/src/desktop_server.rs
  crates/mcp/Cargo.lock
  crates/mcp/Cargo.toml
  crates/mcp/src/main.rs
  crates/pm/Cargo.toml
  crates/pm/src/bin/pm-server.rs
  crates/pm/src/handlers/agent_session.rs
  crates/pm/src/server.rs
  crates/pm/src/state/session_tracker.rs
  cto-config.template.json
  intake/tests/pipeline-integration-test.sh
Due: none

fix: drain ACP notifications instead of cloning, cap MonitorEventStore growth (#4514)
  crates/acp-runtime/src/client.rs
  crates/healer/src/acp/types.rs
Due: none

[codex] add ACP runtime foundation and Stakpak wiring (#4513)
  Cargo.lock
  Cargo.toml
  apps/intake-util/src/index.ts
  apps/intake-util/src/invoke-agent.ts
  crates/acp-runtime/Cargo.toml
  crates/acp-runtime/src/client.rs
  crates/acp-runtime/src/lib.rs
  crates/acp-runtime/src/registry.rs
  crates/acp-runtime/src/server.rs
  crates/acp-runtime/src/types.rs
  crates/config/src/generator.rs
  crates/config/src/lib.rs
  crates/config/src/types.rs
  crates/controller/Cargo.toml
  crates/controller/src/cli/router.rs
  crates/controller/src/cli/session.rs
  crates/healer/Cargo.toml
  crates/healer/src/acp/client.rs
  crates/healer/src/acp/mod.rs
  crates/healer/src/acp/server.rs
  crates/healer/src/acp/types.rs
  crates/healer/src/lib.rs
  crates/healer/src/platform/server.rs
  crates/mcp-lite/Cargo.lock
  crates/mcp-lite/Cargo.toml
  crates/mcp-lite/src/desktop_server.rs
  crates/mcp/Cargo.lock
  crates/mcp/Cargo.toml
  crates/mcp/src/main.rs
  crates/pm/Cargo.toml
  crates/pm/src/bin/pm-server.rs
  crates/pm/src/handlers/agent_session.rs
  crates/pm/src/server.rs
  crates/pm/src/state/session_tracker.rs
  cto-config.template.json
  intake/tests/pipeline-integration-test.sh
Due: none

feat(catalog): add mmmodels-based market sync pipeline
  apps/web/src/app/api/validate-key/route.ts
  apps/web/src/generated/model-catalog.json
  crates/cto-lite/tauri/src/commands/openclaw.rs
  crates/cto-lite/ui/src/components/AgentsView/index.tsx
  crates/cto-lite/ui/src/lib/tauri.ts
  docs/investigations/agent-control-local-spike.md
  docs/scripts/DEV-WORKFLOW.md
  docs/scripts/MODEL-CATALOG-SYNC.md
  infra/charts/openclaw-agent/files/model-catalog.generated.json
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/model-catalog/normalized-model-catalog.json
  scripts/normalize-model-catalog.py
  scripts/sync-model-catalog.sh
Due: none

fix(splash): resolve remaining lint violations
  apps/splash/src/app/consulting/page.tsx
  apps/splash/src/components/magnetic-filings-background.tsx
Due: none

fix(splash,marketing): improve nav clarity and reduce defensive copy
  apps/marketing/src/components/header.tsx
  apps/splash/src/app/page.tsx
  apps/splash/src/components/header.tsx
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

