Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore(ci): restore marketing and splash deploy workflows
  .github/workflows/deploy-marketing.yaml
  .github/workflows/deploy-splash.yaml
Due: none

Feat/angie rollout openclaw (#4517)
  apps/marketing/src/components/header.tsx
  apps/splash/src/app/page.tsx
  apps/splash/src/components/header.tsx
Due: none

chore(ci): restore marketing and splash deploy workflows (#4516)
  .github/workflows/deploy-marketing.yaml
  .github/workflows/deploy-splash.yaml
Due: none

fix(angie): replace placeholder avatar with final lynx asset
  apps/marketing/public/agents/angie-avatar-512.png
  apps/splash/public/agents/angie-avatar-512.png
  crates/cto-lite/ui/public/agents/angie-avatar-512.png
Due: none

fix(angie): replace placeholder avatar with final lynx asset (#4518)
  apps/marketing/public/agents/angie-avatar-512.png
  apps/splash/public/agents/angie-avatar-512.png
  crates/cto-lite/ui/public/agents/angie-avatar-512.png
Due: none

fix(marketing): cache-bust Angie avatar URL
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/team/page.tsx
Due: none

fix(marketing): cache-bust Angie avatar URL (#4519)
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/team/page.tsx
Due: none

chore(ci): re-enable all archived CI/CD workflows
  .github/workflows/binaries-release.yaml
  .github/workflows/cleanup-runs.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/cto-lite-ci.yaml
  .github/workflows/cto-lite-release.yaml
  .github/workflows/discord-bridge-publish.yml
  .github/workflows/gitops-publish.yaml
  .github/workflows/grok-publish.yml
  .github/workflows/healer-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/infrastructure-build.yaml
  .github/workflows/linear-bridge-publish.yml
  .github/workflows/pm-ci.yaml
  .github/workflows/release-please.yaml
  .github/workflows/research-auto-merge.yaml
  .github/workflows/research-ci.yaml
  .github/workflows/skills-security-scan.yaml
  .github/workflows/stale-queue-cleanup.yaml
  .github/workflows/tools-ci.yaml
  .github/workflows/tools-smoke-test.yml
  .github/workflows/web-ci.yaml
Due: none

feat(trading): deploy 8 trading agents to K8s via ArgoCD
  infra/gitops/agents/trader/base-info-arb-values.yaml
  infra/gitops/agents/trader/base-mm-values.yaml
  infra/gitops/agents/trader/base-solana-copy-values.yaml
  infra/gitops/agents/trader/base-temporal-arb-values.yaml
  infra/gitops/agents/trader/base-whale-copy-values.yaml
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/matrix.json
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
  infra/gitops/applications/workloads/trading-agents.yaml
  infra/gitops/manifests/external-secrets/trading-secrets.yaml
  skills/trader/grok-info-arb/index.js
  skills/trader/lib/nats-status.js
  skills/trader/polymarket-copytrading/copytrading_trader.py
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(trading): deploy 8 trading agents to K8s via ArgoCD (#4530)
  infra/gitops/agents/trader/base-info-arb-values.yaml
  infra/gitops/agents/trader/base-mm-values.yaml
  infra/gitops/agents/trader/base-solana-copy-values.yaml
  infra/gitops/agents/trader/base-temporal-arb-values.yaml
  infra/gitops/agents/trader/base-whale-copy-values.yaml
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/matrix.json
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
  infra/gitops/applications/workloads/trading-agents.yaml
  infra/gitops/manifests/external-secrets/trading-secrets.yaml
  skills/trader/grok-info-arb/index.js
  skills/trader/lib/nats-status.js
  skills/trader/polymarket-copytrading/copytrading_trader.py
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(trading): correct repo URLs, OpenBao paths, disable hooks
  infra/gitops/agents/trader/base-info-arb-values.yaml
  infra/gitops/agents/trader/base-mm-values.yaml
  infra/gitops/agents/trader/base-solana-copy-values.yaml
  infra/gitops/agents/trader/base-temporal-arb-values.yaml
  infra/gitops/agents/trader/base-whale-copy-values.yaml
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
  infra/gitops/applications/workloads/trading-agents.yaml
  infra/gitops/manifests/external-secrets/trading-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(trading): mirror openclaw-api-keys pattern, add 1Password token
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
  infra/gitops/manifests/external-secrets/trading-secrets.yaml
Due: no-hardcoded-passwords

fix(trading): register Haiku 4.5 model in anthropic provider + fix fallback IDs
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
Due: no-hardcoded-passwords

fix(trading): override heartbeat model to Haiku (chart defaults to minimax)
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
Due: no-hardcoded-passwords

fix(trading): resolve PR #4531 conflicts — add simmer/helius/polymarket secrets and env vars (#4532)
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
  infra/gitops/manifests/external-secrets/trading-secrets.yaml
Due: no-hardcoded-passwords

fix(trading): bump memory limits to 1Gi and fix Mode A heartbeat instructions
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
Due: no-hardcoded-passwords

fix(trading): bump memory limits to 2Gi — 1Gi still OOMKilling Mode A agents
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
Due: no-hardcoded-passwords

feat(trading): deploy solana exporter, production dashboards, and ArgoCD integration for Cherry cluster
  infra/gitops/agents/trader/base-info-arb-values.yaml
  infra/gitops/agents/trader/base-mm-values.yaml
  infra/gitops/agents/trader/base-solana-copy-values.yaml
  infra/gitops/agents/trader/base-temporal-arb-values.yaml
  infra/gitops/agents/trader/base-whale-copy-values.yaml
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
  infra/gitops/applications/cherry-trading/dashboards.yaml
  infra/gitops/applications/cherry-trading/fluent-bit.yaml
  infra/gitops/applications/cherry-trading/grafana.yaml
  infra/gitops/applications/cherry-trading/loki.yaml
  infra/gitops/applications/cherry-trading/prometheus.yaml
  infra/gitops/applications/cherry-trading/solana.yaml
  infra/gitops/projects/platform-project.yaml
  skills/trader/docker/Dockerfile.solana-exporter
  skills/trader/k8s/agave-rpc.yaml
  skills/trader/k8s/observability/dashboards/cilium-agent.yaml
  skills/trader/k8s/observability/dashboards/cilium-operator.yaml
  skills/trader/k8s/observability/dashboards/hubble-network.yaml
  skills/trader/k8s/observability/dashboards/node-exporter.yaml
  skills/trader/k8s/observability/dashboards/solana-validator.yaml
  skills/trader/k8s/observability/fluent-bit-values.yaml
  skills/trader/k8s/observability/grafana-values.yaml
  skills/trader/k8s/observability/loki-values.yaml
  skills/trader/k8s/observability/prometheus-values.yaml
  skills/trader/k8s/solana-exporter-svc.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(trading): set Helm releaseNames in ArgoCD apps to match existing releases
  infra/gitops/applications/cherry-trading/fluent-bit.yaml
  infra/gitops/applications/cherry-trading/grafana.yaml
  infra/gitops/applications/cherry-trading/loki.yaml
  infra/gitops/applications/cherry-trading/prometheus.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(trading): fix secrets structure blocking ArgoCD sync
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
Due: no-hardcoded-passwords

fix(trading): align secrets structure with remote openclaw chart
  infra/gitops/agents/trader/info-arb-geo-aggressive.yaml
  infra/gitops/agents/trader/info-arb-tech-conservative.yaml
  infra/gitops/agents/trader/mm-tight-spread.yaml
  infra/gitops/agents/trader/mm-wide-spread.yaml
  infra/gitops/agents/trader/solana-copy-01.yaml
  infra/gitops/agents/trader/temporal-btc-high.yaml
  infra/gitops/agents/trader/temporal-btc-low.yaml
  infra/gitops/agents/trader/whale-copy-01.yaml
Due: no-hardcoded-passwords

fix(trading): use pre-built asymmetric-research solana-exporter image
  skills/trader/docker/Dockerfile.solana-exporter
  skills/trader/k8s/agave-rpc.yaml
Due: none

fix(observability): add cilium-operator Prometheus scrape target
  skills/trader/k8s/observability/prometheus-values.yaml
Due: none

feat(observability): add log level label to Loki + Cluster Logs dashboard
  skills/trader/k8s/observability/dashboards/cluster-logs.yaml
  skills/trader/k8s/observability/fluent-bit-values.yaml
Due: none

fix(observability): remove Label_Keys from Fluent Bit Loki output
  skills/trader/k8s/observability/fluent-bit-values.yaml
Due: none

fix(observability): fix Solana dashboard logs panel and sync ETA
  skills/trader/k8s/observability/dashboards/solana-validator.yaml
Due: none

feat(observability): add prominent status tiles to Solana Validator dashboard
  skills/trader/k8s/observability/dashboards/solana-validator.yaml
Due: none

fix(observability): split Solana logs into Agave and Exporter panels
  skills/trader/k8s/observability/dashboards/solana-validator.yaml
Due: none

fix(observability): raise Agave memory limit and fix Cilium dashboards
  skills/trader/k8s/agave-rpc.yaml
  skills/trader/k8s/observability/dashboards/cilium-agent.yaml
  skills/trader/k8s/observability/dashboards/cilium-operator.yaml
Due: none

feat(marketing): add GitLab/Gitea support, align header behavior
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/pricing/page.tsx
  apps/marketing/src/app/team/page.tsx
  apps/splash/src/components/header.tsx
  docs/marketing/brainstorm-prompt.md
  docs/marketing/chatgpt/2026-01-09-cto-marketing-brainstorm.md
  docs/marketing/chatgpt/2026-01-10.md
Due: none

feat(splash): add Polygon to trading chain coverage
  apps/splash/public/llms-full.txt
  apps/splash/public/llms.txt
  apps/splash/src/app/consulting/page.tsx
  apps/splash/src/app/investors/page.tsx
  apps/splash/src/app/layout.tsx
  apps/splash/src/app/opportunities/page.tsx
  apps/splash/src/app/page.tsx
  apps/splash/src/app/trading/page.tsx
Due: none

feat(marketing): add 5D Git as platform service under Source Control
  apps/marketing/src/app/page.tsx
  apps/marketing/src/app/services/page.tsx
  apps/marketing/src/components/tech-stack.tsx
Due: none

feat(marketing): add ACP harness and multi-provider model routing
  apps/marketing/public/llms.txt
  apps/marketing/src/app/page.tsx
  apps/marketing/src/components/tech-stack.tsx
Due: none

fix(marketing,splash): normalize pathname for nav link highlighting
  apps/marketing/src/components/header.tsx
  apps/splash/src/components/header.tsx
Due: none

fix(marketing,splash): mobile view regressions + Business Team tools/skills
  apps/marketing/src/app/page.tsx
  apps/marketing/src/components/agent-card.tsx
  apps/splash/src/app/trading/page.tsx
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

