Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(tools): remove redundant unit test step from CI
  .github/workflows/tools-ci.yaml
Due: none

feat(release): bump to v0.10.0 and fix release automation
  .release-please-manifest.json
  Cargo.toml
  infra/charts/controller/Chart.yaml
  infra/charts/tools/Chart.yaml
  infra/gitops/applications/cto/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: deploy Stitch PR review sensor (#1897)
  infra/gitops/applications/stitch-sensor.yaml
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

perf(tools): use k8s-runner with sccache for faster CI builds
  .github/workflows/tools-ci.yaml
Due: none

feat(release): bump to v0.10.0 and fix release automation (#1899)
  .release-please-manifest.json
  Cargo.toml
  infra/charts/controller/Chart.yaml
  infra/charts/tools/Chart.yaml
  infra/gitops/applications/cto/controller.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tools): remove redundant unit test step from CI (#1898)
  .github/workflows/tools-ci.yaml
Due: none

fix: simplify Stitch sensor to single dependency
  Cargo.lock
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix: simplify Stitch sensor to single dependency (#1903)
  Cargo.lock
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(ci): add actions:write permission to release-please workflow
  .github/workflows/release-please.yaml
Due: none

fix(ci): add actions:write permission to release-please workflow (#1904)
  .github/workflows/release-please.yaml
Due: none

fix(heal): correct CodeRun RBAC apiGroup to agents.platform
  infra/gitops/resources/heal/rbac.yaml
Due: no-hardcoded-passwords

fix(heal): correct CodeRun RBAC apiGroup to agents.platform (#1906)
  infra/gitops/resources/heal/rbac.yaml
Due: no-hardcoded-passwords

test: trigger Stitch PR review
  README.md
Due: none

fix(heal): use full github_app name 5DLabs-Rex
  heal/heal-config.json
  infra/gitops/resources/heal/heal-config.yaml
Due: no-hardcoded-passwords

fix(heal): use full github_app name 5DLabs-Rex (#1909)
  heal/heal-config.json
  infra/gitops/resources/heal/heal-config.yaml
Due: no-hardcoded-passwords

fix(tools): use latest tag to fix ImagePullBackOff
  infra/charts/tools/values.yaml
Due: none

fix(stitch): use correct service account name 'cto' instead of 'cto-controller'
  Cargo.lock
Due: none

fix(stitch): use correct service account name 'cto' instead of 'cto-controller' (#1911)
  Cargo.lock
Due: none

test: Stitch PR review trigger test (#1908)
  README.md
Due: none

fix(tools): use latest tag to fix ImagePullBackOff (#1912)
  infra/charts/tools/values.yaml
Due: none

feat(controller): add heal templates ConfigMap for remediation agents
  infra/charts/controller/templates/agent-templates-heal.yaml
Due: none

feat(controller): add heal templates ConfigMap for remediation agents (#1914)
  infra/charts/controller/templates/agent-templates-heal.yaml
Due: none

fix(stitch): use correct service account 'cto' instead of 'cto-controller'
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): use correct service account 'cto' instead of 'cto-controller' (#1917)
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(controller): mount heal templates ConfigMap in controller deployment
  infra/charts/controller/templates/_helpers.tpl
Due: none

fix(controller): mount heal templates ConfigMap in controller deployment (#1920)
  infra/charts/controller/templates/_helpers.tpl
Due: none

feat(stitch): Enable full PR review with Factory CLI
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(rbac): Add cto service account to workflow-permissions
  infra/charts/controller/templates/workflow-rbac.yaml
Due: none

feat(stitch): Enable full PR review with Factory CLI (#1922)
  infra/charts/controller/templates/workflow-rbac.yaml
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): Add writable home directory for Factory CLI
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): Add writable home directory for Factory CLI (#1924)
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

fix(stitch): Add Factory and Anthropic API keys
  infra/gitops/resources/sensors/stitch-pr-review-sensor.yaml
Due: no-hardcoded-passwords

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

