Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

docs: add implementation summary for CI remediation system
  CI_REMEDIATION_SUMMARY.md
Due: none

fix(ci): remove trailing spaces from sensor YAML
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

fix(yaml): remove trailing blank lines for yamllint
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(ci): sanitize workflow name in branch creation and remove all trailing spaces
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat(ci): Automated CI Failure Remediation System (#1343)
  CI_REMEDIATION_SUMMARY.md
  PR_CI_REMEDIATION.md
  docs/engineering/ci-failure-remediation-system.md
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/gitops/applications/ci-remediation-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
  package-lock.json
  scripts/test-ci-remediation.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(sensor): add action filters and PR-only check for issue comments
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Use single dependency for Argo Events v1.9.7 compatibility (#1342)
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-pr-guardian.sh
Due: no-hardcoded-passwords

fix(workflow): increase PR creation timeout to 5 minutes
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(workflow): increase PR creation timeout to 5 minutes (#1345)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: wait for all workflows to complete before checking failures
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix: wait for all workflows to complete before checking failures (#1346)
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

fix(atlas): add explicit PR merge instructions to system prompt
  infra/charts/controller/values.yaml
Due: none

fix: Rex should fail (not handoff) when making zero commits
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

fix(atlas): remove --auto flag and add pull_request_review event support
  infra/charts/controller/values.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

fix: apply zero-commit handoff fix to all CLI containers
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix: Rex should fail (not handoff) when making zero commits (#1348)
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-factory.yaml
Due: none

fix(atlas): Add explicit PR merge instructions to system prompt (#1347)
  infra/charts/controller/values.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(workflows): add retry strategy to PR polling template
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(workflows): add retry strategy to PR polling to prevent workflow stalls (#1349)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(atlas): correct sensor filter expression to handle all PR event types
  docs/engineering/atlas-pr-guardian-fix.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-sensor-fix.sh
Due: no-hardcoded-passwords

docs(atlas): add comprehensive investigation summary and event flow diagrams
  ATLAS_FIX_SUMMARY.md
  docs/engineering/atlas-pr-guardian-flow.md
Due: none

fix(atlas): correct sensor filter expression to handle all PR event types (#1350)
  ATLAS_FIX_SUMMARY.md
  docs/engineering/atlas-pr-guardian-fix.md
  docs/engineering/atlas-pr-guardian-flow.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  scripts/test-atlas-sensor-fix.sh
Due: no-hardcoded-passwords

Fix/parallel workflow regression wait for all (#1351)
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix: recreate branch when upstream deleted and PR closed
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
Due: none

fix: apply stale branch cleanup to all CLI containers
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

feat(atlas): add remediation script for missed PRs
  docs/engineering/atlas-remediation-plan.md
  scripts/trigger-atlas-for-existing-prs.sh
Due: none

feat(atlas): add remediation tooling for missed PRs (#1353)
  docs/engineering/atlas-remediation-plan.md
  scripts/trigger-atlas-for-existing-prs.sh
Due: none

fix(atlas): complete sensor remediation - enable Atlas for the first time
  ATLAS_COMPLETE_FIX.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(factory): install ripgrep separately to fix module load failure
  infra/images/factory/Dockerfile
Due: none

fix(atlas): complete sensor remediation - enable Atlas for the first time (#1354)
  ATLAS_COMPLETE_FIX.md
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

Investigate agent flow transgression
  package-lock.json
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

Update wait time for PR creation in play-workflow-template
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

