Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

chore(secrets): update .secrets.baseline with additional hashed secrets and path adjustments
  .secrets.baseline
Due: none

fix(external-secrets): restore github-app-stitch and linear-app-stitch to required secrets list
  infra/gitops/manifests/external-secrets/presync-validation.yaml
Due: no-hardcoded-passwords

chore(secrets): enhance .secrets.baseline with additional hashed secrets and path updates
  .secrets.baseline
Due: none

fix(web): disable GitHub OAuth until credentials are configured
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(web): disable GitHub OAuth until credentials are configured (#3800)
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(secrets): add linear-app-stitch ExternalSecret configuration
  .secrets.baseline
Due: none

feat(secrets): add linear-app-stitch ExternalSecret configuration (#3801)
  .secrets.baseline
Due: none

fix(gitops): disable devRegistry to use GitHub Container Registry
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(gitops): disable devRegistry to use GitHub Container Registry (#3802)
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(research): ensure research-poller uses GHCR with Always pull policy
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(web): expose web app at cto.5dlabs.ai via Cloudflare tunnel
  infra/charts/cto/templates/cloudflare/cto-binding.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(research): ensure research-poller uses GHCR with Always pull policy (#3803)
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(cto): use mayastor storage class and fix PVC sync errors
  .secrets.baseline
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(web): expose web app at cto.5dlabs.ai via Cloudflare tunnel (#3804)
  .secrets.baseline
  infra/charts/cto/templates/cloudflare/cto-binding.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(research): add 4 new research entries (#3797)
  docs/research/2010022421726933129.md
  docs/research/2010042788566720955.md
  docs/research/2010181623992766550.md
  docs/research/2010221837389570364.md
Due: none

docs(research): add 3 new research entries (#3795)
  docs/research/2009450715081789767.md
  docs/research/2009938269992300708.md
  docs/research/2009963629500870977.md
Due: none

feat(marketing): add Start Now buttons linking to web app
  marketing/src/app/page.tsx
  marketing/src/components/header.tsx
Due: none

feat(marketing): add Start Now buttons linking to web app (#3805)
  marketing/src/app/page.tsx
  marketing/src/components/header.tsx
Due: none

fix(marketing): use wrangler v4 to fix CI deployment
  .github/workflows/deploy-marketing.yaml
  marketing/package-lock.json
  marketing/package.json
Due: none

fix(marketing): use wrangler v4 to fix CI deployment (#3806)
  .github/workflows/deploy-marketing.yaml
  marketing/package-lock.json
  marketing/package.json
Due: none

feat(marketing): route marketing site to cto.5dlabs.ai
  infra/charts/cto/templates/cloudflare/cto-binding.yaml
  infra/charts/cto/templates/cloudflare/web-binding.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/cto.yaml
  marketing/src/app/page.tsx
  marketing/src/components/header.tsx
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(marketing): route marketing site to cto.5dlabs.ai (#3807)
  infra/charts/cto/templates/cloudflare/cto-binding.yaml
  infra/charts/cto/templates/cloudflare/web-binding.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/cto.yaml
  marketing/src/app/page.tsx
  marketing/src/components/header.tsx
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(web): use app.5dlabs.ai for web app domain
  infra/charts/cto/templates/cloudflare/cto-binding.yaml
  infra/charts/cto/templates/cloudflare/web-binding.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/cto.yaml
  marketing/src/app/page.tsx
  marketing/src/components/header.tsx
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(web): use app.5dlabs.ai for web app domain (#3808)
  infra/charts/cto/templates/cloudflare/cto-binding.yaml
  infra/charts/cto/templates/cloudflare/web-binding.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/cto.yaml
  marketing/src/app/page.tsx
  marketing/src/components/header.tsx
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(web): fix auth client URL for production deployment
  apps/web/src/lib/auth/client.ts
  apps/web/src/lib/auth/index.ts
  infra/images/web/Dockerfile
Due: none

fix(web): fix auth client URL for production deployment (#3809)
  apps/web/src/lib/auth/client.ts
  apps/web/src/lib/auth/index.ts
  infra/images/web/Dockerfile
Due: none

chore(secrets): update .secrets.baseline with new hashed secrets and paths
  .secrets.baseline
  AGENTS.md
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
  infra/scripts/openbao/seed-from-1password.sh
  templates/_shared/partials/github-auth.sh.hbs
  templates/pm/morgan-pm.sh.hbs
  templates/pm/process-issue-comment.sh.hbs
  tests/intake/alerthub-e2e-test/.tasks/state.json
  tests/intake/alerthub-e2e-test/.tasks/tasks/tasks.json
Due: no-hardcoded-passwords

fix: intake workflow regressions
  crates/intake/src/bin/cli.rs
  crates/pm/src/handlers/intake.rs
  templates/_shared/partials/mcp-check.sh.hbs
Due: none

chore: update intake CLI to v0.2.3
  infra/images/runtime/Dockerfile
Due: none

chore: update intake CLI to v0.2.3 (#3811)
  infra/images/runtime/Dockerfile
Due: none

fix(web): improve OAuth error handling for missing credentials
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/lib/auth/index.ts
Due: none

fix(web): improve OAuth error handling for missing credentials (#3812)
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/lib/auth/index.ts
Due: none

fix(web): switch from Neon serverless to postgres.js driver
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/lib/db/index.ts
Due: none

fix(web): switch from Neon serverless to postgres.js driver (#3813)
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/lib/db/index.ts
Due: none

chore: update intake version and add code adapter
  .cursor/mcp.json
  .github/workflows/agents-build.yaml
  .secrets.baseline
  crates/cli/src/adapter.rs
  crates/cli/src/adapters/code.rs
  crates/cli/src/adapters/mod.rs
  crates/cli/src/factory.rs
  crates/cli/src/types.rs
  docs/business/infrastructure-deployment-options.md
  infra/charts/cto/values.yaml
  infra/images/code/Dockerfile
  infra/images/code/README.md
  infra/images/code/health-check.sh
  marketing/src/app/pricing/page.tsx
  marketing/src/components/header.tsx
Due: none
