Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(splash): correct domain from 5dlabs.io to 5dlabs.ai
  apps/splash/public/llms.txt
  apps/splash/public/robots.txt
  apps/splash/public/sitemap.xml
  apps/splash/src/app/founder/page.tsx
  apps/splash/src/app/investors/page.tsx
  apps/splash/src/app/layout.tsx
  apps/splash/src/app/page.tsx
  apps/splash/src/components/footer.tsx
Due: none

feat(splash): floating pill header, disruptor copy, badge redesign
  apps/splash/src/app/page.tsx
  apps/splash/src/components/header.tsx
Due: none

fix(splash): revert badge to single-pill OpenClaw · Crypto · AI
  apps/splash/src/app/page.tsx
Due: none

feat: floating pill header for CTO marketing, polish splash animations
  apps/marketing/src/components/header.tsx
  apps/splash/src/app/page.tsx
Due: none

refactor: update splash badge and OpenClaw gateway URL
  Untitled
  apps/splash/src/app/page.tsx
  crates/cto-lite/tauri/src/commands/openclaw.rs
  docs/cto-app.md
  docs/openclaw-local-setup.md
Due: none

fix(workspace): restore clippy/test by aligning metal + tauri
  Cargo.lock
  crates/config/src/agents.rs
  crates/cto-app/tauri/src/commands/cluster.rs
  crates/cto-app/tauri/src/commands/mod.rs
  crates/cto-app/tauri/src/keychain.rs
  crates/cto-app/tauri/src/main.rs
  crates/metal/src/bin/metal.rs
  crates/metal/src/providers/cherry/client.rs
  crates/metal/src/providers/cherry/mod.rs
  crates/metal/src/providers/scaleway/apple_silicon.rs
Due: none

fix(marketing): drop Sidero/Omni infra cards
  apps/marketing/src/app/page.tsx
  apps/marketing/src/components/header.tsx
  apps/marketing/src/components/rain-effect.tsx
Due: none

fix(marketing): remove Sidero/Omni infra cards (#4426)
  Cargo.lock
  apps/marketing/src/app/page.tsx
  apps/marketing/src/components/header.tsx
  apps/marketing/src/components/rain-effect.tsx
  crates/config/src/agents.rs
  crates/cto-app/tauri/src/commands/cluster.rs
  crates/cto-app/tauri/src/commands/mod.rs
  crates/cto-app/tauri/src/keychain.rs
  crates/cto-app/tauri/src/main.rs
  crates/metal/src/bin/metal.rs
  crates/metal/src/providers/cherry/client.rs
  crates/metal/src/providers/cherry/mod.rs
  crates/metal/src/providers/scaleway/apple_silicon.rs
Due: none

fix(splash): add Telegram-friendly OG image
  apps/splash/public/og-image-v2.jpg
  apps/splash/src/app/layout.tsx
Due: none

fix(splash): add Telegram-friendly OG image (#4428)
  apps/splash/public/og-image-v2.jpg
  apps/splash/src/app/layout.tsx
Due: none

fix(infra): remove Claude Code from runtime, add 1Password to minimal, restore ARC runners for EKS
  infra/gitops/applications/workloads/platform-runners.yaml
  infra/images/runtime/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): remove Claude Code from runtime, add 1Password to minimal, restore ARC runners for EKS (#4431)
  infra/gitops/applications/workloads/platform-runners.yaml
  infra/images/runtime/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: openclaw-agent image tag v prefix (2026.2.12 → v2026.2.12)
  infra/charts/openclaw-agent/values.yaml
Due: none

fix: patch TunnelBinding CRD to preserve unknown fields (headscale originRequest)
  infra/gitops/manifests/cloudflare-operator/kustomization.yaml
Due: no-hardcoded-passwords

revert: remove broken CRD kustomize patch (invalid spec.versions structure)
  infra/gitops/manifests/cloudflare-operator/kustomization.yaml
Due: no-hardcoded-passwords

fix: headscale TunnelBinding uses noTlsVerify directly in spec (not under originRequest)
  infra/charts/cto/templates/cloudflare/platform-bindings.yaml
  infra/charts/cto/values.yaml
Due: none

fix: persist ArgoCD ignoreDifferences for cert/CRD/namespace drift (OVH cluster)
  infra/gitops/applications/networking/platform-ingress.yaml
  infra/gitops/applications/secrets/cloudflare-operator.yaml
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ignore namespace label/annotation drift in platform-namespaces
  infra/gitops/applications/platform/platform-namespaces.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: ignore image-updater helm.parameters drift in platform-apps and networking-apps
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/networking/networking-apps.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: exclude twingate apps from platform-apps glob (managed by networking-apps)
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

fix: ignore HTTPRoute status in cto app (public-gateway not yet deployed)
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add custom ArgoCD Lua health checks for ClusterTunnel, TunnelBinding, HTTPRoute
  infra/gitops/manifests/argocd/argocd-cm-patch.yaml
Due: no-hardcoded-passwords

docs: trading cluster architecture & security plan
  docs/trading-cluster-architecture.md
Due: none

docs: trading cluster — Cloudflare tunnels out, Twingate throughout
  docs/trading-cluster-architecture.md
Due: none

docs: trading cluster — clarify dual-homed direct public IP model
  docs/trading-cluster-architecture.md
Due: none

docs: add Talos + Cilium responsibilities & overlap section
  docs/trading-cluster-architecture.md
Due: none

docs: trading cluster — resolve open decisions, add Transit implementation
  docs/trading-cluster-architecture.md
Due: none

build(runtime): install xurl via npm for OAuth2 twitter/x api testing
  infra/images/runtime/Dockerfile
Due: none

chore: enable all operators - remove skip-reconcile, fix otel issuerRef, set aws-lb clusterName
  infra/gitops/applications/operators/cloudnative-pg-operator.yaml
  infra/gitops/applications/operators/jaeger-operator.yaml
  infra/gitops/applications/operators/opentelemetry-operator.yaml
  infra/gitops/applications/operators/redis-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
  infra/gitops/applications/platform/aws-load-balancer-controller.yaml
  infra/gitops/applications/platform/cilium-policies.yaml
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/platform/ingress-nginx.yaml
  infra/gitops/applications/storage/aws-storage-overlay.yaml
  infra/gitops/applications/storage/mayastor.yaml
  infra/gitops/applications/workloads/discord-bridge.yaml
  infra/gitops/applications/workloads/openclaw-alert.yaml
  infra/gitops/applications/workloads/openclaw-conductor.yaml
  infra/gitops/applications/workloads/openclaw-forge.yaml
  infra/gitops/applications/workloads/openclaw-holt.yaml
  infra/gitops/applications/workloads/openclaw-infra.yaml
  infra/gitops/applications/workloads/openclaw-keeper.yaml
  infra/gitops/applications/workloads/openclaw-metal.yaml
  infra/gitops/applications/workloads/openclaw-pitch.yaml
  infra/gitops/applications/workloads/openclaw-planner.yaml
  infra/gitops/applications/workloads/openclaw-playmon.yaml
  infra/gitops/applications/workloads/openclaw-pm.yaml
  infra/gitops/applications/workloads/openclaw-research.yaml
  infra/gitops/applications/workloads/openclaw-trader.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: seaweedfs tolerations type, otel featureGates schema, twingate-operator OCI chart ref
  infra/gitops/applications/operators/opentelemetry-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/applications/operators/twingate-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: otel skipSchemaValidation, seaweedfs nodeSelector removed, twingate OCI repo in AppProject
  infra/gitops/applications/operators/opentelemetry-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: twingate-operator version v0.28.0 -> 0.28.0 (OCI tags have no v prefix)
  infra/gitops/applications/operators/twingate-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: re-disable cilium - requires k3s --flannel-backend=none (CNI conflict with flannel)
  infra/gitops/applications/platform/cilium.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: seaweedfs volume 100Gi->50Gi (mayastor pools max ~60GiB free per node)
  infra/gitops/applications/operators/seaweedfs-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: twingate-operator - re-disable, document OCI 3-level path ArgoCD limitation
  infra/gitops/applications/operators/twingate-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: update cilium values for k3s/OVH - tunnel mode, k3s API, correct pod CIDR
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/manifests/cilium/values.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(cilium): disable bpf masquerade and enable nodeport for k3s
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

chore(cilium): re-enable argocd management
  infra/gitops/applications/platform/cilium.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

revert: disable cilium deployment and fall back to k3s default cni
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/manifests/cilium/values.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels
