Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

Update cilium and cto configurations to use main branch and latest image tags
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update CodeQL configuration to ignore test starter/template code
  .github/codeql/codeql-config.yaml
Due: none

Update .secrets.baseline with new hashed secrets and paths; modify play-workflow-template.yaml for clarity
  .secrets.baseline
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
Due: no-hardcoded-passwords

Update play-workflow-template.yaml to change default PR base branch from 'main' to 'develop' for better alignment with protected branch policies.
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
Due: no-hardcoded-passwords

Update .secrets.baseline with new hashed secrets and paths; change default PR base branch to 'main' in play-workflow-template.yaml
  .secrets.baseline
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
Due: no-hardcoded-passwords

Update play-workflow-template.yaml to change default PR base branch to 'develop' and adjust configmap branch reference for better alignment with branch policies.
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
Due: no-hardcoded-passwords

Update .secrets.baseline with additional hashed secrets and paths; adjust generated timestamp
  .secrets.baseline
Due: none

chore: merge develop into main (branch cleanup release) (#3785)
  .github/codeql/codeql-config.yaml
  .github/workflows/codeql.yaml
  .github/workflows/controller-ci.yaml
  .github/workflows/infra-ci.yaml
  .github/workflows/pm-ci.yaml
  .github/workflows/tools-ci.yaml
  .secrets.baseline
  crates/notify/mcp/src/main.rs
  crates/pm/src/onboarding.rs
  infra/charts/cto/values.yaml
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/ai-models/ai-ingress.yaml
  infra/gitops/applications/ai-models/llamastack-distributions.yaml
  infra/gitops/applications/ai-models/ollama-models.yaml
  infra/gitops/applications/messaging/mailpit.yaml
  infra/gitops/applications/messaging/ntfy.yaml
  infra/gitops/applications/networking/headscale-namespace.yaml
  infra/gitops/applications/networking/kilo.yaml
  infra/gitops/applications/networking/networking-apps.yaml
  infra/gitops/applications/networking/platform-ingress.yaml
  infra/gitops/applications/networking/tailscale-subnet-router.yaml
  infra/gitops/applications/observability/observability-namespace.yaml
  infra/gitops/applications/operators/gpu-operator-namespace.yaml
  infra/gitops/applications/platform/cert-manager-config.yaml
  infra/gitops/applications/platform/cilium.yaml
  infra/gitops/applications/platform/cto-workflows.yaml
  infra/gitops/applications/platform/rbac-configs.yaml
  infra/gitops/applications/secrets/cloudflare-operator.yaml
  infra/gitops/applications/secrets/external-secrets-config.yaml
  infra/gitops/applications/secrets/openbao.yaml
  infra/gitops/applications/workloads/buildkit.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/applications/workloads/database-instances.yaml
  infra/gitops/manifests/argo-workflows/play-project-workflow-template.yaml
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(cilium): use multi-source for private repo values
  infra/gitops/applications/platform/cilium.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(buildkit): add privileged PodSecurity labels to namespace
  infra/charts/buildkit/templates/namespace.yaml
Due: none

fix(healer): use latest tag instead of main
  infra/charts/cto/values.yaml
Due: none

chore(secrets): update .secrets.baseline with new hashed secrets and paths
  .secrets.baseline
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
  infra/gitops/applications/observability/prometheus.yaml
  infra/gitops/manifests/external-secrets/presync-validation.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(secrets): remove quotes around API keys in populate-openbao-from-1password.sh
  docs/scripts/populate-openbao-from-1password.sh
Due: none

chore: update secrets baseline
  .secrets.baseline
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
Due: none

chore(secrets): update .secrets.baseline with additional hashed secrets and paths
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
  infra/scripts/openbao/seed-from-1password.sh
Due: none

fix(secrets): remove quotes around API keys in populate-openbao-from-1password.sh (#3787)
  .secrets.baseline
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
  infra/gitops/applications/observability/prometheus.yaml
  infra/gitops/manifests/external-secrets/presync-validation.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(secrets): update secrets management documentation and scripts
  .secrets.baseline
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
  docs/scripts/sync-credentials-from-1password.sh
  docs/secrets-management.md
  infra/gitops/applications/observability/prometheus.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(secrets): enhance .secrets.baseline with additional hashed secrets and paths
  .secrets.baseline
Due: none

chore(secrets): update .secrets.baseline with additional hashed secrets and paths
  .secrets.baseline
Due: none

chore: update secrets baseline
  .secrets.baseline
Due: none

chore(secrets): update .secrets.baseline with additional hashed secrets and paths
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
Due: none

chore(secrets): update generated timestamp in .secrets.baseline
  .secrets.baseline
Due: none

chore: update .secrets.baseline
  .secrets.baseline
Due: none

chore(secrets): enhance presync-validation.yaml for security and functionality
  infra/gitops/manifests/external-secrets/presync-validation.yaml
Due: no-hardcoded-passwords

chore(secrets): update .secrets.baseline with new hashed secrets and paths
  .secrets.baseline
Due: none

chore: update secrets baseline and nats config
  .secrets.baseline
Due: none

chore: update secrets baseline after merge
  .secrets.baseline
Due: none

chore(secrets): update secrets management documentation and scripts (#3788)
  .secrets.baseline
  docs/scripts/extract-cluster-secrets.sh
  docs/scripts/populate-openbao-from-1password.sh
  docs/scripts/sync-credentials-from-1password.sh
  docs/secrets-management.md
  infra/gitops/applications/observability/prometheus.yaml
  infra/gitops/manifests/external-secrets/presync-validation.yaml
  infra/scripts/openbao/seed-from-1password.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(web): add Kubernetes deployment for Next.js web app
  .github/workflows/web-ci.yaml
  .secrets.baseline
  apps/web/next.config.ts
  apps/web/src/app/api/health/route.ts
  infra/charts/cto/templates/_helpers.tpl
  infra/charts/cto/templates/cloudflare/web-binding.yaml
  infra/charts/cto/templates/web/deployment.yaml
  infra/charts/cto/templates/web/service.yaml
  infra/charts/cto/values.yaml
  infra/images/web/Dockerfile
Due: none

chore: update secrets baseline for web app configuration
  .secrets.baseline
Due: none

docs(research): add 1 new research entries
  docs/research/2009157424469438967.md
Due: none

docs(research): add 1 new research entries (#3790)
  docs/research/2009157424469438967.md
Due: none

feat(web-ci): use k8s-runner with OpenBao secrets for database access
  .github/workflows/web-ci.yaml
  .secrets.baseline
  apps/web/src/lib/auth/index.ts
  apps/web/src/lib/db/index.ts
  env.template
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/web-database-url.yaml
  infra/gitops/manifests/test-databases/kustomization.yaml
  infra/gitops/manifests/test-databases/web-postgres-cluster.yaml
  process-compose.yaml
  scripts/start-web-dev.sh
Due: no-hardcoded-passwords

docs(research): add 2 new research entries
  docs/research/2008918547246792773.md
  docs/research/2008960566937944094.md
Due: none

feat(rbac): add OpenBao access for GitHub Actions runners
  .secrets.baseline
  infra/gitops/manifests/rbac/github-runner-openbao-access.yaml
Due: no-hardcoded-passwords

docs: add web app development guide and helper scripts
  .secrets.baseline
  docs/web-app-development.md
  scripts/port-forward-web-db.sh
Due: none

docs(research): add 2 new research entries (#3791)
  docs/research/2008918547246792773.md
  docs/research/2008960566937944094.md
Due: none

fix: add missing web-auth-secret ExternalSecret and fix duplicate hostname
  .secrets.baseline
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/web-auth-secret.yaml
Due: no-hardcoded-passwords
