Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat(intake): attach deliberation MP3 to GitHub Release on target repo
  intake/scripts/generate-pr-body.sh
  intake/scripts/render-deliberation-audio.sh
  intake/scripts/upload-deliberation-release.sh
  intake/workflows/pipeline.lobster.yaml
Due: none

fix(intake): include transcript JSON in release when MP3 unavailable
  intake/scripts/upload-deliberation-release.sh
Due: none

fix(intake): clean ALL .tasks/ subdirs in preflight + cross-project guard
  intake/workflows/pipeline.lobster.yaml
Due: none

fix(intake): parser misses DECISION_POINT blocks wrapped in markdown bold
  apps/intake-util/src/parse-decision-points.ts
  intake/prompts/debate-optimist-soul.md
  intake/prompts/debate-pessimist-soul.md
Due: none

feat(lobster-voice): add TTS pronunciation dictionary for natural technical speech
  apps/lobster-voice/src/index.ts
  apps/lobster-voice/src/pronunciation.ts
Due: none

feat(memory): enhanced payload schema with metadata, categories, indexes
  infra/gitops/agents/morgan-values.yaml
  templates/harness-agents/openclaw-config.json.hbs
Due: no-hardcoded-passwords

feat(agents): add kubectl/argocd to agent image, RBAC for task pods
  infra/charts/cto/templates/controller/task-controller-config.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/agent-rbac/agent-rbac.yaml
  infra/images/agents/Dockerfile
Due: no-hardcoded-passwords

feat(agents): add Block as Solana specialist agent
  AGENTS.md
  cto-config.json
  infra/charts/cto/templates/controller/task-controller-config.yaml
  skills/anchor-framework/SKILL.md
  skills/solana-defi/SKILL.md
  skills/solana-development/SKILL.md
Due: none

feat(block): add Solana CLI, Helius RPC, and expertise docs
  .codex/agents/block-expert.md
  crates/controller/src/tasks/code/resources.rs
  infra/images/agents/Dockerfile
Due: none

chore: move persona and session files out of repo root
  docs/HANDOFF.md
  docs/openclaw/HEARTBEAT.md
  docs/openclaw/IDENTITY.md
  docs/openclaw/SOUL.md
  docs/openclaw/USER.md
Due: none

chore: remove orphaned crates (talos, cost)
  Cargo.toml
  crates/cost/src/tracking/metrics.rs
  crates/cost/src/tracking/mod.rs
  crates/cost/src/tracking/models.rs
  crates/cost/src/tracking/tracker.rs
  crates/talos/.gitignore
  crates/talos/Cargo.toml
  crates/talos/README.md
  crates/talos/config.example.yaml
  crates/talos/examples/install-server.rs
  crates/talos/scripts/download-talos-image.sh
  crates/talos/scripts/download-talosctl.sh
  crates/talos/src/config/mod.rs
  crates/talos/src/error.rs
  crates/talos/src/lib.rs
  crates/talos/src/main.rs
  crates/talos/src/scaleway/client.rs
  crates/talos/src/scaleway/mod.rs
  crates/talos/src/ssh/mod.rs
  crates/talos/src/state/mod.rs
  crates/talos/src/state/orchestrator.rs
Due: none

feat(block): expand to multi-chain blockchain agent
  .codex/agents/block-expert.md
  AGENTS.md
  cto-config.json
  infra/images/agents/Dockerfile
  skills/cross-chain/SKILL.md
  skills/evm-development/SKILL.md
Due: none

fix(lobster-voice): add getCachedPath for render-transcript file path resolution
  apps/lobster-voice/src/cache.ts
  apps/lobster-voice/src/index.ts
Due: none

feat: add Swarm agent (Canteen hackathon) to CTO platform
  infra/gitops/agents/swarm-values.yaml
  infra/gitops/applications/workloads/swarm-agent.yaml
  infra/images/agents/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(block): add controller templates for Block agent
  templates/agents/block/coder-minimal.md.hbs
  templates/agents/block/coder.md.hbs
  templates/agents/block/healer.md.hbs
Due: none

feat(swarm): ArgoCD-managed StatefulSet with OpenClaw native cron
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: remove unused swarm-values.yaml (inline values used)
  infra/gitops/agents/swarm-values.yaml
Due: no-hardcoded-passwords

fix(swarm): add Fireworks provider + OpenAI OAuth for model access
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

docs(swarm): note SWARM CLI pre-authenticated as @kaseonedge
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(agents): add --legacy-peer-deps for openclaw tslog resolution
  infra/images/agents/Dockerfile
Due: none

chore(swarm): disable cron until manual testing complete
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(agents): explicitly install tslog in openclaw dir
  infra/images/agents/Dockerfile
Due: none

feat(swarm): add Colosseum Copilot PAT + correct env vars
  .intake/intake-summary.json
  .intake/step-outputs/generate-remediation-tasks.json
  .intake/step-outputs/generate-scale-tasks.json
  .intake/step-outputs/generate-security-report.json
  .intake/tmp/discover-skills-expanded-tasks.json
  .intake/tmp/discover-skills-search-results.json
  .intake/tmp/fanout-prompts-expanded-tasks.json
  .intake/tmp/fanout-prompts-scaffolds.json
  .intake/tmp/fanout-prompts-skills.json
  .intake/tmp/fanout-prompts-tool-manifest.json
  .intake/tmp/generate-remediation-expanded-tasks.json
  .intake/tmp/generate-remediation-security-report.json
  .intake/tmp/generate-scale-expanded-tasks.json
  .intake/tmp/generate-security-expanded-tasks.json
  .intake/tmp/generate-security-scale-tasks.json
  .intake/tmp/handoff-artifact-gates.json
  .intake/tmp/handoff-delivery-gates.json
  .intake/tmp/quality-gate-intake-artifacts.txt
  .intake/tmp/quality-gate-intake-output.txt
  .intake/tmp/tool-manifest-expanded-tasks.json
  .intake/tmp/validate-docs-norm.json
  .intake/tmp/validate-docs-raw.json
  .intake/tmp/validate-docs-tasks.json
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(agents): use official openclaw install without --ignore-scripts
  infra/images/agents/Dockerfile
Due: none

fix(intake): pipeline resilience — run_id propagation, quality-gate fallback, gateway restart
  intake/scripts/openclaw-invoke-retry.sh
  intake/scripts/quality-gate.sh
  intake/scripts/workflow-step-audio.sh
  intake/scripts/workflow-step-log.sh
  intake/workflows/pipeline.lobster.yaml
Due: none

fix: add colosseum API URL construction warning to AGENTS.md
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: make gh CLI primary data source for digest, local repos fallback only
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add activity summary table with commit/PR metrics to digest
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(controller): preserve image node_modules in openclaw-deps init container
  crates/controller/src/tasks/code/resources.rs
Due: none

feat(block): add solana skills — node-ops config + ClawHub dev skills
  cto-config.json
  infra/charts/cto/cto-config.json
  skills/solana-basics/.clawhub/origin.json
  skills/solana-basics/SKILL.md
  skills/solana-basics/_meta.json
  skills/solana-basics/package.json
  skills/solana-basics/references/helius-api.md
  skills/solana-basics/references/jupiter.md
  skills/solana-basics/references/security.md
  skills/solana-basics/scripts/config.ts
  skills/solana-basics/scripts/send.ts
  skills/solana-basics/scripts/swap.ts
  skills/solana-basics/scripts/wallet.ts
  skills/solana-basics/tsconfig.json
  skills/solana-dev-skill/.clawhub/origin.json
  skills/solana-dev-skill/SKILL.md
  skills/solana-dev-skill/_meta.json
  skills/solana-dev-skill/frontend-framework-kit.md
  skills/solana-dev-skill/idl-codegen.md
  skills/solana-dev-skill/kit-web3-interop.md
  skills/solana-dev-skill/payments.md
  skills/solana-dev-skill/programs-anchor.md
  skills/solana-dev-skill/programs-pinocchio.md
  skills/solana-dev-skill/resources.md
  skills/solana-dev-skill/security.md
  skills/solana-dev-skill/testing.md
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

