Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: swarm agent — Fireworks embeddings, explicit delivery channel, 9PM cron
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use openai-completions API type for Fireworks provider
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: empty acpx plugin config + disable mem0 for coder
  Cargo.lock
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: re-enable mem0 plugin for coder agent
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: use GitHub URLs for coder workspace repo clones
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: configure Coder for autonomous operation with 30m heartbeat
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: enable kaniko sidecar + OpenBao discord token for Coder
  infra/gitops/agents/coder-values.yaml
  infra/gitops/manifests/external-secrets/bots-secrets.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat: configure Coder Discord guild and channel
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: use full Fireworks model paths in fallback chain + add qwen3p6
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: use Kimi K2.5 Turbo as primary model for Coder gateway
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: set Kimi K2.5 as agent.model, disable expired Anthropic/OpenAI
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: add CLAUDE_CODE_OAUTH_TOKEN support for headless Claude auth
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: mem0 plugin load path + dedicated coder collection + handoff doc
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/gitops/agents/coder-handoff.md
  infra/gitops/agents/coder-values.yaml
  infra/gitops/agents/morgan-values.yaml
Due: no-hardcoded-passwords

fix: disable memory-core when openclaw-mem0 plugin is enabled
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none

feat: mem0 slot config, session persistence, provider failover skill
  infra/charts/openclaw-agent/skills/claude-code/provider-failover.md
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: memorySearch source 'session' → 'sessions'
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: compaction mode 'auto' → 'default' (valid values: default|safeguard)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(coder): switch mem0 embedder to Fireworks qwen3-embedding-8b, add codex harness
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(coder): Codex headless auth via auth.json + provider failover skill
  infra/charts/openclaw-agent/skills/claude-code/provider-failover.md
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(chart): restore missing init volumeMounts, guard codexPlugin refs
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(coder): write codex auth.json directly (not base64), fix skill docs
  infra/charts/openclaw-agent/skills/claude-code/provider-failover.md
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(coder): dual OAuth env vars, GHCR docker config, provider-failover skill rewrite
  infra/charts/openclaw-agent/skills/claude-code/provider-failover.md
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(mem0): add FIREWORKS_API_KEY to init container + fix baseURL casing
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(mem0): share cto_memory collection across all agents
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(coder): Copilot CLI with Claude Opus 4.6 + OpenClaw provider-failover skill
  infra/charts/openclaw-agent/skills/openclaw/provider-failover.md
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(skills): add acp-sessions skill to prevent session_status loops
  infra/charts/openclaw-agent/skills/openclaw/acp-sessions.md
Due: none

fix(skills): restructure to directory/SKILL.md format (AgentSkills convention)
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(skills): clean up stale flat .md files from previous format
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

feat(coder): session persistence skill + compaction notifyUser
  infra/charts/openclaw-agent/skills/openclaw/session-persistence.md
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none

feat(coder): add GH_TOKEN env var from github-pat-override secret
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(coder): docker→kaniko shim for daemonless image builds
  infra/charts/openclaw-agent/skills/openclaw/provider-failover.md
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(coder): switch embeddings to Google, fix docker shim YAML
  infra/charts/openclaw-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

docs: PR 3 session transcript & handoff for dynamic MCP SDK
  docs/handoff/pr3-dynamic-mcp-sdk-session-transcript.md
Due: none

feat(coder): enable Datadog log collection with openclaw-agent pipeline
  infra/datadog/openclaw-agent-pipeline.json
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(datadog): unified pipeline setup with HTTP status checks
  infra/datadog/setup-log-pipeline.sh
Due: none

feat(datadog): add application key reference to DatadogAgent CR
  infra/gitops/manifests/datadog/datadog-agent.yaml
Due: no-hardcoded-passwords

fix(coder): break ACP session loop — add sessions.visibility + anti-loop guard
  infra/charts/openclaw-agent/skills/openclaw/session-persistence.md
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(helm): move ACP config inside tools object in openclaw.json
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none

Revert "fix(helm): move ACP config inside tools object in openclaw.json"
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none
