Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

chore(argocd): add cilium helm repo to platform project
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(gitops): add Cilium CRDs to platform project whitelist
  infra/gitops/projects/platform-project.yaml
Due: no-hardcoded-passwords

fix(cilium): correct invalid hubble metrics context
  infra/gitops/manifests/cilium/values.yaml
Due: no-hardcoded-passwords

fix(gitops): exclude AI model subdirectories from platform-apps
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

fix(gitops): disable recursion in platform-apps to prevent shared resource conflicts
  infra/gitops/app-of-apps.yaml
Due: no-hardcoded-passwords

Update .secrets.baseline with new secrets and add worker-arm64.yaml configuration for Apple Silicon. Enhanced README with ARM64 worker setup instructions and clarified existing worker node details.
  .secrets.baseline
  infra/talos/README.md
  infra/talos/config/simple/worker-arm64.yaml
Due: none

refactor(gitops): enhance app-of-apps application process
  crates/installer/src/gitops.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Secrets-scan-2b6d7 (#2875)
  crates/installer/src/gitops.rs
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/config.rs
  crates/research/src/digest/email.rs
  crates/research/src/digest/mod.rs
  crates/research/src/digest/state.rs
  infra/gitops/app-of-apps.yaml
  infra/gitops/applications/operators/opentelemetry-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(bootstrap): apply local-path-config directly in deploy_local_path_provisioner
  crates/installer/src/bootstrap.rs
  crates/metal/src/stack.rs
  infra/cluster-config/local-path-config-patch.yaml
  infra/gitops/applications/observability/alertmanager.yaml
  infra/gitops/applications/observability/grafana.yaml
  infra/gitops/applications/observability/loki.yaml
  infra/gitops/applications/observability/prometheus.yaml
  infra/gitops/applications/secrets/openbao.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/applications/workloads/minio-tenant.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(installer): add AI-powered cluster validation command
  crates/installer/src/commands/mod.rs
  crates/installer/src/commands/validate.rs
  crates/installer/src/main.rs
  crates/installer/src/validation/agent.rs
  crates/installer/src/validation/checks/mod.rs
  crates/installer/src/validation/mod.rs
  crates/installer/src/validation/remediation/mod.rs
  crates/installer/src/validation/report.rs
  crates/installer/src/validation/workloads/mod.rs
Due: none

feat(latitude): enhance server readiness and reinstall logic
  crates/metal/src/providers/latitude/client.rs
Due: none

feat(installer): enhance Talos iPXE boot process with server readiness checks
  crates/installer/src/bare_metal.rs
Due: none

feat(installer): update installation steps for Cilium and Kubernetes readiness
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
Due: none

feat(talos): introduce lightweight Kubernetes API port check
  crates/installer/src/orchestrator.rs
  crates/metal/src/talos/bootstrap.rs
  crates/metal/src/talos/mod.rs
Due: none

feat(installer): enhance node readiness and Cilium health checks
  crates/installer/src/orchestrator.rs
  crates/metal/src/cilium.rs
Due: none

feat(installer): add OpenBao bootstrapping step and update prerequisites
  crates/installer/src/bare_metal.rs
  crates/installer/src/main.rs
  crates/installer/src/openbao.rs
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
  crates/installer/src/validator.rs
Due: none

refactor(installer): update OpenBao secret paths to use 'Personal' vault
  crates/installer/src/openbao.rs
Due: none

fix(installer): add OpenBao recovery and fix Mayastor image
  crates/installer/src/openbao.rs
  infra/gitops/applications/storage/mayastor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(installer): improve OpenBao recovery process and update image references
  infra/gitops/manifests/cert-manager/self-signed-issuer.yaml
Due: no-hardcoded-passwords

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

