Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

feat(coder): enable debug console logging + diagnostics for ACP output
  infra/charts/openclaw-agent/templates/configmap.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(coder): enable debug-level ACP logging via env var + diagnostics
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(coder): enable raw stream logging + ACP diagnostics flags
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(ci): remove standalone flag from play-launcher - it uses main workspace
  .github/workflows/binaries-release.yaml
Due: none

feat(controller): add useSdkPath toggle to skip client binary setup
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/config.rs
  templates/_shared/partials/cto-tools-setup.sh.hbs
Due: none

feat: Dynamic MCP SDK v2 — local stdio transport, escalation enforcement, dual-source codegen
  Cargo.lock
  apps/cto-tools/codegen.ts
  apps/cto-tools/codegen_test.ts
  apps/cto-tools/integration_test.ts
  apps/cto-tools/mcp.ts
  apps/cto-tools/mcp_test.ts
  crates/controller/src/cli/adapters/claude.rs
  crates/controller/src/cli/adapters/code.rs
  crates/controller/src/cli/adapters/codex.rs
  crates/controller/src/cli/adapters/factory.rs
  crates/controller/src/cli/adapters/gemini.rs
  crates/controller/src/cli/adapters/opencode.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/template_paths.rs
  crates/tools/src/escalation.rs
  crates/tools/src/server/http_server.rs
  docs/handoff/dynamic-mcp-sdk-architecture.html
  skills/cto-tools/SKILL.md
Due: none

fix: add use_sdk_path to test struct literals, fix doc backtick lint
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/config.rs
  crates/mcp/Cargo.lock
  crates/mcp/src/main.rs
Due: none

fix(healer): add #[allow(dead_code)] to skills_repo field
  crates/healer/src/main.rs
Due: none

feat(skills): add emoji status reactions for ACP sessions
  infra/charts/openclaw-agent/skills/openclaw/acp-sessions.md
Due: none

ci: mark CodeQL analysis continue-on-error for SARIF upload
  .github/workflows/codeql.yaml
Due: none

feat(coder): switch primary model to openai-codex/gpt-5.4 via OAuth
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat: Dynamic MCP SDK v2 — local stdio transport, escalation enforcement, dual-source codegen (#4637)
  .github/workflows/codeql.yaml
  Cargo.lock
  apps/cto-tools/codegen.ts
  apps/cto-tools/codegen_test.ts
  apps/cto-tools/integration_test.ts
  apps/cto-tools/mcp.ts
  apps/cto-tools/mcp_test.ts
  crates/controller/src/cli/adapters/claude.rs
  crates/controller/src/cli/adapters/code.rs
  crates/controller/src/cli/adapters/codex.rs
  crates/controller/src/cli/adapters/factory.rs
  crates/controller/src/cli/adapters/gemini.rs
  crates/controller/src/cli/adapters/opencode.rs
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/config.rs
  crates/controller/src/tasks/template_paths.rs
  crates/mcp/Cargo.lock
  crates/mcp/src/main.rs
  crates/tools/src/escalation.rs
  crates/tools/src/server/http_server.rs
  docs/handoff/dynamic-mcp-sdk-architecture.html
  infra/charts/openclaw-agent/templates/configmap.yaml
  skills/cto-tools/SKILL.md
  templates/_shared/partials/cto-tools-setup.sh.hbs
Due: none

feat(coder): switch primary model to openai-codex/gpt-5.4 via OAuth
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(openclaw-chart): remove invalid tools.acp config block
  infra/charts/openclaw-agent/templates/configmap.yaml
Due: none

fix: strip server prefix when calling stdio MCP tools
  apps/cto-tools/codegen.ts
  apps/cto-tools/mcp.ts
  apps/cto-tools/mcp_test.ts
Due: none

feat(skills): add backend-specific emoji reactions for ACP sessions
  infra/charts/openclaw-agent/skills/openclaw/acp-sessions.md
Due: none

feat(skills): add status reactions and reboot continuity skills
  infra/charts/openclaw-agent/skills/openclaw/reboot-continuity.md
  infra/charts/openclaw-agent/skills/openclaw/status-reactions.md
Due: none

fix(skills): use proper Discord target format for reactions
  infra/charts/openclaw-agent/skills/openclaw/status-reactions.md
Due: none

fix(skills): remove messageId/to from reactions — gateway auto-resolves
  infra/charts/openclaw-agent/skills/openclaw/acp-sessions.md
  infra/charts/openclaw-agent/skills/openclaw/status-reactions.md
Due: none

feat(coder): add SSH sidecar container for remote access
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/service.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix: swarm cron digest — explicit 5dlabs repos, swarm push command
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: generate CATALOG.md + catalog.json from codegen.ts
  apps/cto-tools/codegen.ts
  apps/cto-tools/codegen_test.ts
  skills/cto-tools/SKILL.md
  templates/_shared/partials/cto-tools-setup.sh.hbs
Due: none

fix(sshd): add StrictModes no, keepalive, and max sessions
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(sshd): bump resource limits for Cursor server
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix: force agent to use exec tool for gh/swarm commands
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: switch swarm agent to OpenAI GPT-5.4 with OAuth
  infra/gitops/applications/workloads/swarm-agent.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(intake): agent package provisioning — Phase 0 schemas, prompts, and runtime integration
  apps/cto-tools/codegen.ts
  crates/controller/src/tasks/code/skills_cache.rs
  crates/controller/src/tasks/code/templates.rs
  intake/config/capability-registry.yaml
  intake/prompts/capability-analysis-system.md
  intake/prompts/tool-search-system.md
  intake/schemas/capability-analysis.schema.json
  intake/schemas/gap-resolution.schema.json
  intake/schemas/package-manifest.schema.json
  intake/scripts/compute-gaps.py
Due: none

feat(intake): add 9 Lobster steps for agent package provisioning pipeline
  intake/workflows/intake.lobster.yaml
Due: none

fix: resolve clippy single_match_else and manual_let_else lints
  crates/controller/src/tasks/code/skills_cache.rs
  crates/controller/src/tasks/code/templates.rs
Due: none

fix: add retry logic to apt-get in setup-rust-k8s action
  .github/actions/setup-rust-k8s/action.yaml
Due: none

feat(coder): add code-server + Cloudflare tunnel sidecars
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(code-server): dark mode + open CTO repo by default
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

feat(code-server): add GitHub Copilot with PAT auth
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

fix(code-server): run as root to fix permission issues
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(code-server): pre-seed Copilot auth from PAT + persistent extensions dir
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

fix(code-server): write github-auth config for Copilot auth proxy
  infra/charts/openclaw-agent/templates/deployment.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

