Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: Address PR review feedback for MCP tools env vars
  Cargo.lock
  crates/tools/src/server/http_server.rs
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

feat: Enhance header handling security and add Tavily API support
  crates/tools/src/config.rs
  crates/tools/src/server/http_server.rs
  infra/charts/cto/templates/tools/deployment.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

fix: Remove duplicate TAVILY_API_KEY (already in tools-tavily-secrets)
  infra/charts/cto/templates/tools/deployment.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

fix(pm): OAuth hardening - enable auto token refresh
  crates/pm/src/bin/pm-server.rs
  crates/pm/src/config.rs
  crates/pm/src/server.rs
  crates/pm/src/state/mod.rs
  crates/pm/src/state/token_health.rs
Due: none

fix: Resolve clippy warnings and format issues
  crates/intake/src/ai/mod.rs
  crates/intake/src/ai/sdk_provider.rs
  crates/intake/src/bin/cli.rs
  crates/pm/src/handlers/intake.rs
  crates/tools/src/server/http_server.rs
Due: none

fix: Resolve clippy warnings in pm crate
  crates/intake/src/ai/mod.rs
  crates/intake/src/ai/sdk_provider.rs
  crates/intake/src/bin/cli.rs
  crates/pm/src/handlers/intake.rs
  crates/pm/src/server.rs
  crates/pm/src/state/token_health.rs
  crates/tools/src/server/http_server.rs
Due: none

fix(yaml): add document start to tools-tavily-secrets.yaml
  cto-config.json
  infra/gitops/applications/networking/twingate-connector.yaml
  infra/gitops/manifests/external-secrets/tools-tavily-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(pm): OAuth hardening - enable auto token refresh (#4097)
  crates/intake/src/ai/mod.rs
  crates/intake/src/ai/sdk_provider.rs
  crates/intake/src/bin/cli.rs
  crates/pm/src/bin/pm-server.rs
  crates/pm/src/config.rs
  crates/pm/src/handlers/intake.rs
  crates/pm/src/server.rs
  crates/pm/src/state/mod.rs
  crates/pm/src/state/token_health.rs
  crates/tools/src/server/http_server.rs
Due: none

feat(tools): add custom headers support and MiniMax/Cloudflare env vars (#4092)
  crates/intake/src/ai/mod.rs
  crates/intake/src/ai/sdk_provider.rs
  crates/tools/src/config.rs
  crates/tools/src/server/http_server.rs
  cto-config.json
  infra/charts/cto/templates/tools/deployment.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/networking/twingate-connector.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/external-secrets/tools-tavily-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(config): add AgentSkills to cto-config.json with job-type-based resolution
  crates/config/src/agents.rs
  crates/config/src/lib.rs
  crates/config/src/types.rs
  crates/controller/Cargo.toml
  crates/controller/src/tasks/code/templates.rs
  crates/controller/src/tasks/config.rs
  crates/mcp/src/main.rs
  cto-config.json
Due: none

feat(controller): add GitHub App installation ID to env vars for faster auth
  crates/controller/src/tasks/code/resources.rs
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/images/runtime/Dockerfile
  infra/images/runtime/scripts/github-app-auth.sh
  scripts/github-app-auth.sh
  templates/_shared/partials/github-auth.sh.hbs
Due: no-hardcoded-passwords

fix(yaml): remove trailing spaces from twingate-connector.yaml
  infra/gitops/applications/networking/twingate-connector.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(tests): add setup scripts to mirror controller's skill/tool resolution
  tests/cli-invocation/config/flat-skills/compound-engineering.md
  tests/cli-invocation/config/flat-skills/context-degradation.md
  tests/cli-invocation/config/flat-skills/context-fundamentals.md
  tests/cli-invocation/config/flat-skills/context-optimization.md
  tests/cli-invocation/config/flat-skills/context7.md
  tests/cli-invocation/config/flat-skills/firecrawl.md
  tests/cli-invocation/config/flat-skills/github-mcp.md
  tests/cli-invocation/config/flat-skills/llm-docs.md
  tests/cli-invocation/config/flat-skills/mcp-development.md
  tests/cli-invocation/config/flat-skills/octocode.md
  tests/cli-invocation/config/flat-skills/openmemory.md
  tests/cli-invocation/config/flat-skills/receiving-code-review.md
  tests/cli-invocation/config/flat-skills/requesting-code-review.md
  tests/cli-invocation/config/flat-skills/rust-error-handling.md
  tests/cli-invocation/config/flat-skills/rust-patterns.md
  tests/cli-invocation/config/flat-skills/subagent-driven-development.md
  tests/cli-invocation/config/flat-skills/systematic-debugging.md
  tests/cli-invocation/config/flat-skills/tool-design.md
  tests/cli-invocation/config/flat-skills/verification-before-completion.md
  tests/cli-invocation/docker-compose.yml
  tests/cli-invocation/setup-skills.sh
  tests/cli-invocation/setup-tools.sh
  tests/cli-invocation/setup.sh
Due: none

refactor(tests): extract Claude command to script, add .env for secrets
  .gitignore
  tests/cli-invocation/.env.example
  tests/cli-invocation/docker-compose.yml
  tests/cli-invocation/scripts/run-claude.sh
Due: none

feat(pm): add @mention and remediation button handlers
  crates/pm/src/handlers/agent_interactions.rs
  crates/pm/src/handlers/mod.rs
  crates/pm/src/server.rs
  docs/stitch-mentions-and-remediation-plan.md
  infra/gitops/manifests/argo-workflows/sensors/agent-mention-sensor.yaml
  infra/gitops/manifests/argo-workflows/sensors/kustomization.yaml
  infra/gitops/manifests/argo-workflows/sensors/remediation-button-sensor.yaml
Due: no-hardcoded-passwords

fix(tests): correct skills directory structure to match controller
  tests/cli-invocation/docker-compose.yml
  tests/cli-invocation/scripts/run-claude.sh
  tests/cli-invocation/setup-skills.sh
  tests/cli-invocation/setup.sh
Due: none

feat(templates): add remediation buttons to GitHub check runs
  templates/_shared/partials/remediation-buttons.sh.hbs
  templates/pm/morgan-pm.sh.hbs
Due: none

fix(templates): add security and documents categories to skills-setup
  templates/_shared/partials/skills-setup.sh.hbs
Due: none

fix(templates): add security and documents categories to skills-setup (#4103)
  templates/_shared/partials/skills-setup.sh.hbs
Due: none

chore(infra): enable controller with 1 replica
  infra/charts/cto/values.yaml
Due: none

chore(infra): enable controller with 1 replica (#4104)
  infra/charts/cto/values.yaml
Due: none

fix(pm): resolve clippy pedantic warnings in agent_interactions
  crates/pm/src/handlers/agent_interactions.rs
  crates/pm/src/handlers/mod.rs
Due: none

docs: fix AGENTS.md to reference main branch, not develop
  AGENTS.md
Due: none

test: add Rust code with smells for Rex agent testing
  tests/stitch-agents/rust-rex/Cargo.toml
  tests/stitch-agents/rust-rex/src/main.rs
Due: none

test: add Go code with smells for Grizz agent testing
  tests/stitch-agents/go-grizz/main.go
Due: none

test: add Node.js backend code with smells for Nova agent testing
  tests/stitch-agents/node-nova/package.json
  tests/stitch-agents/node-nova/server/index.ts
Due: none

test: add React/Next.js web code with smells for Blaze agent testing
  tests/stitch-agents/web-blaze/components/UserList.tsx
  tests/stitch-agents/web-blaze/package.json
Due: none

test: add React Native/Expo mobile code with smells for Tap agent testing
  tests/stitch-agents/mobile-tap/app/(tabs)/home.tsx
  tests/stitch-agents/mobile-tap/package.json
Due: none

test: add Electron desktop code with security smells for Spark agent testing
  tests/stitch-agents/desktop-spark/package.json
  tests/stitch-agents/desktop-spark/src/main/index.ts
Due: none

test: add Unity/C# code with smells for Vex agent testing
  tests/stitch-agents/unity-vex/Assets/Scripts/PlayerController.cs
Due: none

test: add Unreal/C++ code with smells for Forge agent testing
  tests/stitch-agents/unreal-forge/Source/MyGame/PlayerCharacter.cpp
Due: none

test: add stitch fixture for rust-rex agent detection
  tests/stitch-agents/rust-rex/Cargo.toml
  tests/stitch-agents/rust-rex/src/main.rs
Due: none

test: add stitch fixture for go-grizz agent detection
  tests/stitch-agents/go-grizz/go.mod
  tests/stitch-agents/go-grizz/main.go
Due: none

test: add stitch fixture for node-nova agent detection
  tests/stitch-agents/node-nova/package.json
  tests/stitch-agents/node-nova/server/index.ts
Due: none

test: add stitch fixture for web-blaze agent detection
  tests/stitch-agents/web-blaze/components/UserList.tsx
  tests/stitch-agents/web-blaze/package.json
Due: none

test: add stitch fixture for mobile-tap agent detection
  tests/stitch-agents/mobile-tap/app/(tabs)/home.tsx
  tests/stitch-agents/mobile-tap/package.json
Due: none

test: add stitch fixture for unity-vex agent detection
  tests/stitch-agents/unity-vex/Assets/Scripts/PlayerController.cs
Due: none
