Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: Resolve Bugbot issues - model placement and comment clarity
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(atlas): Add deduplication to prevent pod proliferation (#1368)
  infra/charts/controller/values.yaml
  infra/gitops/applications/platform-runners.yaml
  infra/gitops/resources/sensors/atlas-batch-integration-sensor.yaml
  infra/gitops/resources/sensors/atlas-conflict-detection-sensor.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
  infra/gitops/resources/sensors/bolt-deployment-monitor-sensor.yaml
  infra/gitops/resources/sensors/bolt-monitor-sensor.yaml
  infra/gitops/resources/sensors/bolt-preview-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
  scripts/create-atlas-coderun-manual.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(atlas): Allow Task ID 0 workflows to continue without TaskMaster files
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix(atlas): Allow Task ID 0 workflows to start without TaskMaster files (#1369)
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat: Add automatic GitHub Project linking for PRs across all CLIs
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none

fix(atlas): Skip prompt.md requirement for Task ID 0 workflows
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

feat: Add automatic GitHub Project linking for PRs across all CLIs (#1370)
  infra/charts/controller/agent-templates/code/claude/hooks/stop-code-pr-creation.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
Due: none

fix(docker): Add trap to signal docker-daemon on ANY exit
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

fix(atlas): Skip prompt.md requirement for Task ID 0 workflows (#1371)
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

fix(atlas): Skip TaskMaster restoration for task-0 workflows
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

docs: Add comprehensive workflow resume implementation plan
  WORKFLOW_RESUME_IMPLEMENTATION_PLAN.md
Due: none

feat: Implement ConfigMap-based workflow stage resume across all CLIs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(atlas): Use has() function in expr to prevent field access errors
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Use has() function to prevent expr field access errors (#1374)
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix: Resolve both bugbot comments from PR #1373
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  package-lock.json
Due: none

fix: Resolve duplicate when condition and remove package-lock.json
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  package-lock.json
Due: none

chore: Resolve merge conflict - keep package-lock.json deleted
  package-lock.json
Due: none

chore: Remove package-lock.json from git tracking
  package-lock.json
Due: none

feat: Implement ConfigMap-based workflow stage resume across all CLIs (#1373)
  WORKFLOW_RESUME_IMPLEMENTATION_PLAN.md
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  package-lock.json
Due: none

fix(atlas): Skip TaskMaster restoration for task-0 workflows (#1372)
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
Due: none

feat(play): Implement persistent state tracking for play workflow resume
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
Due: none

feat(play): Add task-level stage resume and workspace improvements
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(atlas): Remove expr filter causing Atlas PR Guardian sensor failure
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Repair Atlas PR Guardian sensor to enable auto-merge (#1376)
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/templates/agent-templates-claude.yaml
  infra/charts/controller/templates/workflowtemplates/play-project-workflow-template.yaml
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(atlas): Add GitHub App filtering and rate limiting to prevent runaway workflows
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix: Address all Bugbot issues - docker-daemon path, issue filtering, duplicate condition
  controller/src/tasks/code/resources.rs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

feat: Filter issue_comment events to only process pull requests
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

Fix: Correct workspace mount path to /workspace
  controller/src/tasks/code/resources.rs
Due: none

Fix/atlas sensor expr validation (#1377)
  controller/src/tasks/code/resources.rs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/sensors/atlas-pr-guardian-sensor.yaml
Due: no-hardcoded-passwords

fix(agents): Correct handoff messages and enable GitHub token inheritance for Codex
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
Due: none
