Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: update tools install URL to CTO monorepo
  .github/workflows/agents-build.yaml
  ROADMAP.md
  docs/engineering/toolman-mcp-architecture.md
  infra/images/runtime/Dockerfile
Due: none

fix: enhance tools client installation logic in CI workflows
  .github/workflows/agents-build.yaml
  infra/images/runtime/Dockerfile
Due: none

Fix/tools-release-url (#1752)
  .github/workflows/agents-build.yaml
  infra/images/runtime/Dockerfile
Due: none

fix: correct kubeconfig subPath in k8s-mcp deployment
  infra/charts/tools/templates/deployment-mcp-servers.yaml
Due: none

fix: correct kubeconfig subPath in k8s-mcp deployment (#1754)
  infra/charts/tools/templates/deployment-mcp-servers.yaml
Due: none

fix: remediate tools MCP server warnings and failures
  infra/charts/rustdocs-mcp/templates/deployment.yaml
  infra/charts/rustdocs-mcp/templates/service.yaml
  infra/charts/rustdocs-mcp/values.yaml
  infra/charts/tools/templates/role.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
  infra/vault/secrets/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: add trailing newlines to various template files
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-codex.yaml
Due: none

fix: remove extra blank line in rustdocs-mcp.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: update PostgreSQL secret management in tools and rustdocs-mcp
  infra/charts/rustdocs-mcp/values.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
  infra/vault/secrets/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: enhance database URL configuration in rustdocs-mcp deployment
  infra/charts/rustdocs-mcp/templates/deployment.yaml
Due: none

fix: remediate tools MCP server warnings and failures (#1755)
  infra/charts/controller/agent-templates/code/codex/container-spark.sh.hbs
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/rustdocs-mcp/templates/deployment.yaml
  infra/charts/rustdocs-mcp/templates/service.yaml
  infra/charts/rustdocs-mcp/values.yaml
  infra/charts/tools/templates/role.yaml
  infra/charts/tools/templates/service-mcp-servers.yaml
  infra/charts/tools/templates/serviceaccount-mcp-servers.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
  infra/vault/secrets/tools.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve tools Docker CI failures
  infra/images/tools/Dockerfile
  infra/images/tools/entrypoint.sh
Due: none

fix: skip deployment restart on feature branches in agent-templates-sync
  .github/workflows/agent-templates-sync.yaml
Due: none

fix: add missing hadolint ignores for DL4006 and DL3059
  infra/images/tools/Dockerfile
Due: none

feat: add Cloudflare Tunnel for GitHub webhook ingestion
  docs/cloudflare-tunnel-implementation-guide.md
  docs/cloudflare-tunnel-migration.md
  docs/ngrok-implementation-reference.md
  infra/charts/controller/agent-templates/code/integration/container-bolt-preview.sh.hbs
  infra/gitops/applications/cloudflare-operator.yaml
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/kustomization.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-integration.yaml
Due: none

chore: remove NGrok in favor of Cloudflare Tunnel
  infra/gitops/applications/ngrok-gateway.yaml
  infra/gitops/applications/ngrok-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/ngrok-gateway/README.md
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/gitops/resources/ngrok-gateway/gatewayclass.yaml
  infra/gitops/resources/ngrok-gateway/kustomization.yaml
  infra/gitops/resources/ngrok-gateway/redirect-route.yaml
  infra/gitops/resources/ngrok-gateway/traffic-policy.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add Cloudflare Tunnel for GitHub webhook ingestion (#1757)
  docs/cloudflare-tunnel-implementation-guide.md
  docs/cloudflare-tunnel-migration.md
  docs/ngrok-implementation-reference.md
  infra/charts/controller/agent-templates/code/integration/container-bolt-preview.sh.hbs
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/gitops/applications/cloudflare-operator.yaml
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/kustomization.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: align tools-ci Docker build with release workflow context
  .github/workflows/tools-ci.yaml
  infra/images/tools/Dockerfile
Due: none

fix: update ClusterTunnel to v1alpha2 API version
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
Due: no-hardcoded-passwords

fix: update ClusterTunnel to v1alpha2 API version (#1759)
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
Due: no-hardcoded-passwords

chore: remove NGrok in favor of Cloudflare Tunnel (#1758)
  infra/gitops/applications/ngrok-gateway.yaml
  infra/gitops/applications/ngrok-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/ngrok-gateway/README.md
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/gitops/resources/ngrok-gateway/gatewayclass.yaml
  infra/gitops/resources/ngrok-gateway/kustomization.yaml
  infra/gitops/resources/ngrok-gateway/redirect-route.yaml
  infra/gitops/resources/ngrok-gateway/traffic-policy.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: resolve tools Docker CI failures (#1756)
  .github/workflows/agent-templates-sync.yaml
  .github/workflows/tools-ci.yaml
  infra/images/tools/Dockerfile
  infra/images/tools/entrypoint.sh
Due: none

chore: remove Rust docs MCP server
  README.md
  controller/src/bin/test_templates.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  cto-config-example.json
  cto-config.template.json
  docs/cloudflare-tunnel-migration.md
  docs/engineering/agent-centric-toolman-configuration-design.md
  docs/engineering/toolman-mcp-architecture.md
  docs/multi-cli-integration-design.md
  infra/charts/controller/agent-templates/code/client-config.json.hbs
  infra/charts/controller/agent-templates/docs/claude/client-config.json.hbs
  infra/charts/controller/agent-templates/docs/claude/prompt.md.hbs
  infra/charts/rustdocs-mcp/Chart.yaml
  infra/charts/rustdocs-mcp/templates/deployment.yaml
  infra/charts/rustdocs-mcp/templates/service.yaml
  infra/charts/rustdocs-mcp/values.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
  tools/src/server/http_server.rs
  tools/tests/integration/common/test_helpers.rs
  tools/tests/integration/http_transport_tests.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/unit/http_transport_detection.rs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

chore: remove Rust docs MCP server (#1760)
  README.md
  controller/src/bin/test_templates.rs
  controller/src/cli/adapters/codex.rs
  controller/src/cli/adapters/factory.rs
  cto-config-example.json
  cto-config.template.json
  docs/cloudflare-tunnel-migration.md
  docs/engineering/agent-centric-toolman-configuration-design.md
  docs/engineering/toolman-mcp-architecture.md
  docs/multi-cli-integration-design.md
  infra/charts/controller/agent-templates/code/client-config.json.hbs
  infra/charts/controller/agent-templates/docs/claude/client-config.json.hbs
  infra/charts/controller/agent-templates/docs/claude/prompt.md.hbs
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/charts/rustdocs-mcp/Chart.yaml
  infra/charts/rustdocs-mcp/templates/deployment.yaml
  infra/charts/rustdocs-mcp/templates/service.yaml
  infra/charts/rustdocs-mcp/values.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/rustdocs-mcp.yaml
  tools/src/server/http_server.rs
  tools/tests/integration/common/test_helpers.rs
  tools/tests/integration/http_transport_tests.rs
  tools/tests/integration/real_servers/http_sse_servers.rs
  tools/tests/unit/http_transport_detection.rs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

🔧 Auto-format Rust code
  tools/tests/integration/common/test_helpers.rs
Due: none

fix: use infra namespace, correct API versions and schemas for Cloudflare Tunnel
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove unused MCP servers (postgres, redis, reddit)
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
Due: none

fix: remove unused MCP servers (postgres, redis, reddit) (#1762)
  infra/charts/tools/values.yaml
  infra/vault/secrets/tools.yaml
Due: none

fix: use infra namespace, correct API versions and schemas for Cloudflare Tunnel (#1761)
  infra/gitops/applications/cloudflare-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add github-eventsource-svc to networking kustomization
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
Due: no-hardcoded-passwords

fix: add github-eventsource-svc to networking kustomization (#1763)
  infra/gitops/resources/github-webhooks/networking/kustomization.yaml
Due: no-hardcoded-passwords

fix: use correct hostname and target format for Cloudflare TunnelBinding
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
Due: no-hardcoded-passwords

fix: use correct hostname and target format for Cloudflare TunnelBinding (#1764)
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
Due: no-hardcoded-passwords

feat: move cloudflare-operator to infra namespace
  infra/gitops/applications/cloudflare-operator.yaml
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: move cloudflare-operator to infra namespace (#1765)
  infra/gitops/applications/cloudflare-operator.yaml
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove duplicate VaultStaticSecret definitions
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/tools.yaml
Due: none

fix: remove duplicate VaultStaticSecret definitions (#1766)
  infra/vault/secrets/infrastructure.yaml
  infra/vault/secrets/tools.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

