Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(ci): remove trailing spaces from play-workflow-template.yaml
  infra/gitops/manifests/argo-workflows/play-workflow-template.yaml
Due: no-hardcoded-passwords

fix: remove trailing spaces from play-workflow-pr-merged-sensor.yaml
  infra/gitops/manifests/argo-workflows/sensors/play-workflow-pr-merged-sensor.yaml
Due: no-hardcoded-passwords

feat(mcp): add CLI dependency check and auto-installation feature
  crates/mcp/src/main.rs
  crates/mcp/src/tools.rs
Due: none

feat(mcp): add infrastructure agent (Bolt) to play workflow parameters
  crates/mcp/src/main.rs
  cto-config.json
Due: none

fix(mcp): fix clippy lints and formatting in handle_check_setup
  crates/mcp/src/main.rs
Due: none

fix(templates): remove unnecessary sidecar /input fallback in claude.sh
  templates/clis/claude.sh.hbs
Due: none

fix(templates): always use npx for Claude CLI
  templates/clis/claude.sh.hbs
Due: none

feat(tools): add Argo Workflows MCP server and expand Bolt infrastructure tools
  cto-config.json
  infra/charts/cto/values.yaml
Due: none

feat(templates): include agent name in feature branch naming
  templates/_shared/partials/git-setup.sh.hbs
Due: none

fix(tasks): add missing routing keywords for queue, rate-limit, and theme tasks
  crates/tasks/src/domain/routing.rs
Due: none

fix(ci): add helm setup step to tools-ci workflow
  .github/workflows/tools-ci.yaml
Due: none

docs(research): add 2 new research entries
  docs/research/2004605689445187721.md
  docs/research/2004642119110033662.md
Due: none

fix(ci): align research Dockerfile with pre-built binary strategy
  infra/images/research/Dockerfile
Due: none

fix(ci): align research Dockerfile with pre-built binary strategy (#3514)
  infra/images/research/Dockerfile
Due: none

feat(research): enhance analysis with rich content from markdown files
  crates/research/src/digest/analyzer.rs
  crates/research/src/digest/mod.rs
  crates/research/src/main.rs
  crates/research/src/storage/markdown.rs
  crates/research/src/storage/mod.rs
Due: none

fix(ingress): add service-upstream annotation for resilient AI backends
  infra/gitops/applications/ai-models/ingress/kubeai-ingress.yaml
  infra/gitops/applications/ai-models/ingress/llamastack-ingress.yaml
  infra/gitops/applications/ai-models/ingress/ollama-ingress.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ai-ingress): increase sync-wave delay for backend service readiness
  infra/gitops/applications/ai-models/ai-ingress.yaml
  infra/gitops/applications/ai-models/llamastack-distributions.yaml
  infra/gitops/applications/ai-models/ollama-models.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(research): improve formatting and logic in analysis functions
  crates/research/src/digest/analyzer.rs
  crates/research/src/main.rs
  crates/research/src/storage/markdown.rs
Due: none

fix(healer): add version constraint for digest update strategy
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(healer): filter structured INFO-level logs from error detection
  crates/healer/src/scanner.rs
Due: none

feat(intake): migrate intake process to CodeRun CR and enhance agent templates
  AGENTS.md
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/code/templates.rs
  crates/healer/src/platform/mod.rs
  crates/healer/src/platform/types.rs
  crates/tasks/src/domain/intake.rs
  crates/tasks/src/domain/routing.rs
  crates/tasks/src/entities/task.rs
  infra/charts/buildkit/Chart.yaml
  infra/charts/buildkit/templates/configmap.yaml
  infra/charts/buildkit/templates/namespace.yaml
  infra/charts/buildkit/templates/service.yaml
  infra/charts/buildkit/templates/statefulset.yaml
  infra/charts/buildkit/values.yaml
  infra/charts/cto/templates/buildkit/configmap.yaml
  infra/charts/cto/templates/controller/agent-templates.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/workloads/buildkit.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
  templates/_shared/partials/mcp-check.sh.hbs
  templates/agents/morgan/docs.md.hbs
  templates/agents/morgan/healer.md.hbs
  templates/agents/morgan/intake.md.hbs
  templates/agents/morgan/intake.sh.hbs
  templates/agents/morgan/pm.md.hbs
  templates/clis/claude.sh.hbs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(mcp, tasks): improve code formatting and readability
  crates/mcp/src/main.rs
  crates/tasks/src/domain/routing.rs
Due: none

docs(research): add 4 new research entries
  docs/research/2005030082063257765.md
  docs/research/2005122301818556463.md
  docs/research/2005527034127433933.md
  docs/research/2005583375084769720.md
Due: none

feat(pm): set Linear project default view to Board
  crates/pm/src/handlers/github.rs
  crates/pm/src/handlers/intake.rs
  crates/pm/src/models.rs
  crates/pm/tests/linear_integration_tests.rs
Due: none

feat(pm): add agent labels to Linear issues for tracking
  crates/pm/src/handlers/intake.rs
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

