Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: scripts/check-argocd-apps.sh
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: scripts/check-resource-limits.sh
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: scripts/check-passwords.sh
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: scripts/check-required-labels.sh
  language: system
  pass_filenames: false

chore(kustomization): add stage-aware resume sensor to GitHub webhooks resources
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

chore(kustomization): add stage-aware resume sensor to GitHub webhooks resources (#286)
  infra/gitops/resources/github-webhooks/kustomization.yaml
Due: no-hardcoded-passwords

fix(workflow-templates): update coderun output parameter to use valueFrom
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(workflow-template): remove unused output parameters from play workflow template
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

Feat/cleo-no-webhook-pr-check-20250818122205 (#290)
  IMPLEMENTATION_SUMMARY.md
  PR_DESCRIPTION.md
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

feat(controller): add startup listing and periodic resync to recover missed CodeRun events
  controller/src/tasks/mod.rs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

feat(controller): add startup listing and periodic resync to recover missed CodeRun events (#291)
  controller/src/tasks/mod.rs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/mod.rs
Due: none

fix(workflow): reliably resolve CodeRun name before waiting
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(workflow): make resolve-coderun-name fail-fast on empty resolution
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

feat(workflow): add correlation labels (run-<workflow>, service-<name>) to PR detection and ensure labels are applied
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(workflow): reliably resolve CodeRun name before waiting (#292)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix(sensor): update stage-transitions-sensor to conditionally enable based on sensor settings
  infra/charts/controller/templates/stage-transitions-sensor.yaml
Due: none

Feature/agent-coderun-name-resolve (#293)
  infra/charts/controller/templates/stage-transitions-sensor.yaml
Due: none

chore(chart): gate stage-transitions-sensor behind values toggle and default to argo ns; prevent nil .Values access
  infra/charts/controller/templates/stage-transitions-sensor.yaml
  infra/charts/controller/values.yaml
Due: none

chore(chart): gate stage-transitions-sensor behind values toggle and default to argo ns; prevent nil .Values access (#294)
  infra/charts/controller/templates/stage-transitions-sensor.yaml
  infra/charts/controller/values.yaml
Due: none

feat(sensors): target agent-platform workflows from argo sensors; add agent-platform namespaces; remove unused controller sensor template
  infra/charts/controller/templates/stage-transitions-sensor.yaml
  infra/gitops/resources/github-webhooks/enhanced-correlation-sensor.yaml
  infra/gitops/resources/github-webhooks/implementation-agent-remediation-sensor.yaml
  infra/gitops/resources/github-webhooks/multi-agent-workflow-resume-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): ensure helper workflows/scripts act in agent-platform and run under argo-workflow SA
  infra/gitops/resources/github-webhooks/enhanced-correlation-sensor.yaml
  infra/gitops/resources/github-webhooks/multi-agent-workflow-resume-sensor.yaml
  infra/gitops/resources/github-webhooks/stage-aware-resume-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): target agent-platform workflows and add cross-namespace RBAC for argo-events-sa
  infra/gitops/resources/github-webhooks/sa-rbac.yaml
Due: no-hardcoded-passwords

fix(argo): use integer backoff factor (factor: 2) to satisfy Argo schema
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/github-webhooks/enhanced-correlation-sensor.yaml
Due: no-hardcoded-passwords

fix(argo): use integer backoff factor (factor: 2) to satisfy Argo schema (#297)
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/resources/github-webhooks/enhanced-correlation-sensor.yaml
Due: no-hardcoded-passwords

feat(rex): add correlation labels (task/run/service) to PR at creation/update; pass WORKFLOW_NAME and SERVICE_NAME to CodeRun
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

feat(rex): add correlation labels (task/run/service) to PR at creation/update; pass WORKFLOW_NAME and SERVICE_NAME to CodeRun (#298)
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: Configure Argo Workflows controller for multi-namespace support
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Remove invalid successCondition from create-coderun-resource template
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none

fix: Remove invalid successCondition and add PR correlation labels
  infra/charts/controller/claude-templates/code/container-rex.sh.hbs
Due: none

chore(task-1): add HELLO-1.md
  task/HELLO-1.md
Due: none

chore(task-1): add task files
  task/acceptance-criteria.md
  task/prompt.md
  task/task.md
Due: none

feat(controller): add controller-driven workflow resumption
  controller/Cargo.lock
  controller/Cargo.toml
  controller/src/tasks/code/controller.rs
  controller/src/tasks/github.rs
  controller/src/tasks/mod.rs
  controller/src/tasks/workflow.rs
Due: none

feat(controller): add controller-driven workflow resumption (#303)
  controller/Cargo.lock
  controller/Cargo.toml
  controller/src/tasks/code/controller.rs
  controller/src/tasks/github.rs
  controller/src/tasks/mod.rs
  controller/src/tasks/workflow.rs
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/controller.rs
  controller/src/tasks/github.rs
  controller/src/tasks/workflow.rs
Due: none

fix(controller): trigger workflow resumption for already succeeded CodeRuns
  controller/src/tasks/code/controller.rs
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/controller.rs
Due: none

fix: address Clippy warnings and fix failing test post PR #305 merge
  controller/src/tasks/code/agent.rs
  controller/src/tasks/github.rs
  controller/src/tasks/workflow.rs
  scripts/test-stage-transitions.sh
Due: none

🔧 Auto-format Rust code
  controller/src/tasks/code/agent.rs
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README)\..*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

