Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

feat(intelligent-ingest): require only repository_url+doc_type, remove local git clone, and parse job_id from doc server response
  mcp/src/main.rs
Due: none

feat(mcp): build JSON payload for ingestion command and enhance security
  mcp/src/main.rs
Due: none

feat(mcp): enhance JSON payload handling for ingestion command
  mcp/src/main.rs
Due: none

fix: resolve temporary file leak in document ingestion
  mcp/Cargo.lock
  mcp/Cargo.toml
  mcp/src/main.rs
Due: none

refactor(mcp): improve temporary file handling and logging in document ingestion
  mcp/src/main.rs
Due: none

feat: mount Anthropic and OpenAI API keys to doc-server deployment
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: remove rustdocs-mcp Argo CD application configuration file
  infra/gitops/applications/rustdocs-mcp.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Remove auto_execute
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

Remove auto_execute parameter from docs_ingest MCP tool
  mcp/src/main.rs
Due: none

Refactor handle_docs_ingest_tool to use repository_url
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

Add environment variables for doc server.
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

redis
  infra/gitops/databases/redis.yaml
Due: check-resource-limits, no-hardcoded-passwords

fix: resolve Redis BRPOP command error in doc server worker
  infra/gitops/applications/doc-server.yaml
  infra/gitops/databases/redis-service.yaml
Due: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

fix: remove Redis authentication from GitOps config
  infra/gitops/databases/redis.yaml
Due: check-resource-limits, no-hardcoded-passwords

fix: add worker Redis configuration and operator permissions
  infra/gitops/applications/doc-server.yaml
  infra/gitops/databases/redis-operator-rolebinding.yaml
Due: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

fix: update Redis configuration in doc server
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add global Redis configuration for doc-server
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: try extraEnv configuration for worker Redis URL
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: update worker Redis URL configuration to use extraEnv settings
  infra/gitops/applications/doc-server-worker-patcher.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: disable ArgoCD selfHeal and add worker patcher
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Enhance docs metadata system with comprehensive keyword mappings
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Quote metadata labels for improved CI parsing compatibility
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Add missing structured metadataHints to doc server query tools
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Align metadata arrays with keyword object keys
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: Update BirdEye API documentation query description and enhance Rust crate metadata
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor: Clean up code formatting and improve readability in main.rs and tools.rs
  mcp/src/main.rs
  mcp/src/tools.rs
Due: none

chore: Remove deprecated doc-server worker patcher configuration
  infra/gitops/resources/doc-server/doc-server-worker-patcher.yaml
  validate_argocd.sh
Due: no-hardcoded-passwords

feat: add MCP environment variables to doc-server
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add MCP_SSE_KEEPALIVE_SECS configuration
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Introduce MCP_SSE_KEEPALIVE_SECS for improved SSE stability
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: Remove health probe configuration from doc-server.yaml
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add Ingress configuration for SSE-optimized MCP access in doc-server.yaml
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Add test script for doc-server ingress configuration
  scripts/test-doc-server-ingress.sh
Due: none

feat: Enhance doc-server configuration with service and pod labels
  infra/gitops/applications/doc-server.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Implement agent-centric client configuration for documentation generation
  AGENTS.md
  controller/src/tasks/docs/templates.rs
  infra/charts/controller/claude-templates/docs/container.sh.hbs
  infra/charts/controller/templates/task-controller-config.yaml
Due: none

feat: Enhance local server configuration with command and arguments
  controller/src/tasks/code/templates.rs
  controller/src/tasks/config.rs
  controller/src/tasks/docs/templates.rs
Due: none

feat: Add client-config.json support for agents in controller
  controller/src/tasks/code/templates.rs
  controller/src/tasks/config.rs
  controller/src/tasks/docs/templates.rs
  infra/charts/controller/claude-templates/docs/container.sh.hbs
  infra/charts/controller/templates/task-controller-config.yaml
Due: none

refactor: Improve error handling and configuration structure in CodeTemplateGenerator and DocsTemplateGenerator
  controller/src/tasks/code/templates.rs
  controller/src/tasks/docs/templates.rs
Due: none

refactor: Simplify remote tools configuration in controller values
  infra/charts/controller/values.yaml
Due: none
