Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

infra(hermes-agent): persistent debug bot StatefulSet + nous provider in harness
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/hermes-agent/values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  templates/harness-agents/hermes.sh.hbs
Due: no-hardcoded-passwords

infra(hermes-agent): persistent debug bot StatefulSet (#4877)
  infra/charts/hermes-agent/templates/deployment.yaml
  infra/charts/hermes-agent/values.yaml
  infra/gitops/agents/hermes-coder-values.yaml
  templates/harness-agents/hermes.sh.hbs
Due: no-hardcoded-passwords

infra(metal-agent): deploy Metal Discord bot mirroring Coder
  infra/gitops/agents/metal-values.yaml
  infra/gitops/applications/workloads/metal-agent.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

infra(hermes+metal): persistent harness debug bot fleet (#4889)
  infra/gitops/agents/metal-values.yaml
  infra/gitops/applications/workloads/metal-agent.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

infra(hermes-agent): sync hermes-container.sh.hbs from canonical harness template
  infra/charts/hermes-agent/files/hermes-container.sh.hbs
Due: none

infra(hermes-agent): persistent debug bot validated end-to-end (#4890)
  infra/charts/hermes-agent/files/hermes-container.sh.hbs
Due: none

harness: add CLI bootstrap branches for claude/copilot/opencode/cursor/factory
  infra/charts/hermes-agent/files/hermes-container.sh.hbs
  templates/harness-agents/hermes.sh.hbs
  templates/harness-agents/openclaw.sh.hbs
Due: none

harness: add CLI bootstrap branches for claude/copilot/opencode/cursor/factory (#4891)
  infra/charts/hermes-agent/files/hermes-container.sh.hbs
  templates/harness-agents/hermes.sh.hbs
  templates/harness-agents/openclaw.sh.hbs
Due: none

Disable GPU Operator ServiceMonitor without CRDs
  infra/gitops/applications/operators/nvidia-gpu-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(hermes,openclaw): honor CODEX_HOME instead of hardcoding /root/.codex
  infra/charts/hermes-agent/files/hermes-container.sh.hbs
  templates/harness-agents/hermes.sh.hbs
  templates/harness-agents/openclaw.sh.hbs
Due: none

infra(hermes-agent): auto-purge stale rendered container.sh on boot
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

infra(hermes-agent): fix CODEX_HOME for non-root harness execution (#4892)
  infra/charts/hermes-agent/files/hermes-container.sh.hbs
  infra/charts/hermes-agent/templates/deployment.yaml
  templates/harness-agents/hermes.sh.hbs
  templates/harness-agents/openclaw.sh.hbs
Due: none

infra(hermes-agent): seed codex-config.toml with Nous provider block
  infra/charts/hermes-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

infra(hermes-agent): seed codex-config.toml with Nous provider block (#4893)
  infra/charts/hermes-agent/templates/configmap-cli-backend-configs.yaml
  infra/charts/hermes-agent/templates/deployment.yaml
Due: none

infra(hermes-agent): wire OAuth env from cto-coder-api-keys
  infra/charts/hermes-agent/values.yaml
Due: none

infra(hermes-agent): wire OAuth env from cto-coder-api-keys (#4894)
  infra/charts/hermes-agent/values.yaml
Due: none

Harden Morgan avatar startup disconnects
  avatar/agent/agent.py
  avatar/agent/morgan_avatar_agent/avatar_provider.py
  avatar/agent/morgan_avatar_agent/startup.py
  avatar/agent/tests/test_startup.py
Due: none

fix(networking): stabilize avatar demo tunnel target
  docs/2026-04/runbooks/cloudflare-access-avatar-demo.md
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

fix(avatar): keep artifact gallery server running
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/service.yaml
  infra/charts/openclaw-agent/values.yaml
  infra/gitops/agents/avatar-openclaw-values.yaml
Due: no-hardcoded-passwords

fix(networking): stabilize avatar demo tunnel target (#4895)
  docs/2026-04/runbooks/cloudflare-access-avatar-demo.md
  infra/gitops/manifests/platform-tunnel-bindings/bindings.yaml
Due: no-hardcoded-passwords

chore(intake): emit sigma-1-style .plan/ layout alongside .tasks/
  intake/workflows/pipeline.lobster.yaml
Due: none

chore(intake): emit sigma-1-style .plan/ layout alongside .tasks/ (#4897)
  intake/workflows/pipeline.lobster.yaml
Due: none

docs(intake): deprecate cto-config MCP discovery and Repomix
  docs/2026-04/intake-tool-discovery-deprecation.md
Due: none

docs(intake): audit remote-repo handling in pipeline
  docs/2026-04/intake-remote-repo-audit.md
Due: none

docs(intake): sigma-1 path audit + document .plan/ convention
  docs/2026-04/intake-sigma-one-path-audit.md
  intake/workflows/pipeline.lobster.yaml
Due: none

fix(intake): embed Stitch mockups as repo-local PNGs in DESIGN.md
  intake/scripts/generate-design-md.sh
Due: none

docs(intake): map cto-config.json fields consumed by intake pipeline
  docs/2026-04/intake-cto-config-fields.md
Due: none

feat(intake-agent): add @scenario-labs/sdk for Workflow-based video gen
  apps/intake-agent/bun.lock
  apps/intake-agent/package.json
Due: none

docs(avatar): add Praxis/Rook/Veritas committee character prompts and rules
  docs/2026-04/avatar/committee-character-prompts.md
  docs/2026-04/avatar/deliberation-video-agent-rules.md
Due: none

feat(intake-agent): add generate_deliberation_video operation type + Scenario env
  apps/intake-agent/src/types.ts
  intake/local.env.op.defaults
Due: none

feat(intake): add deliberation-video pipeline step (gated)
  intake/workflows/pipeline.lobster.yaml
Due: none

docs(avatar): lock v3 committee portraits (Praxis, Rook, Veritas)
  docs/2026-04/avatar/committee-character-prompts.md
  docs/2026-04/avatar/deliberation-video-agent-rules.md
Due: none

feat(intake-agent): add generate-deliberation-video operation
  apps/intake-agent/src/operations/generate-deliberation-video.ts
Due: none

docs(avatar): rewrite deliberation-video handoff for ffmpeg slideshow path
  docs/2026-04/avatar/intake-deliberation-video-handoff.md
Due: none

feat(intake-agent): wire generate_deliberation_video into router
  apps/intake-agent/src/index.ts
Due: none

feat(intake): lock voice IDs for deliberation video
  intake/voices.json
Due: none

feat(intake): deliberation video (ffmpeg slideshow + ElevenLabs TTS) (#4898)
  apps/intake-agent/bun.lock
  apps/intake-agent/package.json
  apps/intake-agent/src/index.ts
  apps/intake-agent/src/operations/generate-deliberation-video.ts
  apps/intake-agent/src/types.ts
  docs/2026-04/avatar/committee-character-prompts.md
  docs/2026-04/avatar/deliberation-video-agent-rules.md
  docs/2026-04/avatar/intake-deliberation-video-handoff.md
  docs/2026-04/intake-cto-config-fields.md
  docs/2026-04/intake-remote-repo-audit.md
  docs/2026-04/intake-sigma-one-path-audit.md
  docs/2026-04/intake-tool-discovery-deprecation.md
  intake/local.env.op.defaults
  intake/scripts/generate-design-md.sh
  intake/voices.json
  intake/workflows/pipeline.lobster.yaml
Due: none

docs(avatar): add Optimus + Pessimus v3 prompt records, gitignore portraits cache
  .gitignore
  docs/2026-04/avatar/committee-character-prompts.md
Due: none
