Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix: add sync-wave annotations to cloudflare-api-credentials VaultStaticSecret
  infra/gitops/applications/cloudflare-operator.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add sync-wave annotations to cloudflare-api-credentials VaultStaticSecret (#1767)
  infra/gitops/applications/cloudflare-operator.yaml
  infra/vault/secrets/infrastructure.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add missing argo-events-sa ServiceAccount for sensors
  infra/gitops/resources/github-webhooks/sa-rbac.yaml
Due: no-hardcoded-passwords

fix(cloudflare): add leader election namespace patch
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
Due: no-hardcoded-passwords

fix: enable argo-workflow ServiceAccount creation in helm chart
  infra/gitops/applications/argo-workflows.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add missing argo-events-sa ServiceAccount for sensors (#1768)
  infra/gitops/applications/argo-workflows.yaml
  infra/gitops/resources/github-webhooks/sa-rbac.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(cloudflare): add leader election namespace patch (#1769)
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
Due: no-hardcoded-passwords

fix(sensors): switch CI/bug remediation to Atlas and remove orphaned sensors
  docs/engineering/play-workflow-flow-analysis.md
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): switch CI/bug remediation to Atlas and remove orphaned sensors (#1770)
  docs/engineering/play-workflow-flow-analysis.md
  infra/gitops/resources/github-webhooks/kustomization.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
  infra/gitops/resources/github-webhooks/remediation-feedback-sensor.yaml
  infra/gitops/resources/sensors/ci-failure-remediation-sensor.yaml
Due: no-hardcoded-passwords

feat(tools): consolidate MCP server configuration and fix deployment
  .gitignore
  docs/platform-packaging/architecture.md
  docs/platform-packaging/prd.txt
  infra/charts/controller/agent-templates/code/claude/container-blaze.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cipher.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-cleo.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
  infra/charts/controller/agent-templates/code/codex/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/cursor/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/factory/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/gemini/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/integration/container-tess.sh.hbs
  infra/charts/controller/agent-templates/code/opencode/container-base.sh.hbs
  infra/charts/controller/agent-templates/code/tools-config.json.hbs
  infra/charts/controller/agent-templates/docs/claude/container.sh.hbs
  infra/charts/controller/agent-templates/docs/claude/settings.json.hbs
  infra/charts/controller/agent-templates/docs/claude/tools-catalog.md.hbs
  infra/charts/controller/agent-templates/docs/claude/tools-config.json.hbs
  infra/charts/controller/agent-templates/shared/task-setup-functions.sh
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
  infra/charts/tools/templates/configmap.yaml
  infra/charts/tools/templates/local-tools-configmap.yaml
  infra/charts/tools/templates/role.yaml
  infra/charts/tools/values.yaml
  infra/gitops/applications/cto/tools.yaml
  mcp-servers.json
  tools-config.json
  tools/src/client.rs
  tools/src/config.rs
  tools/src/errors.rs
  tools/src/server/http_server.rs
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

🔧 Auto-format Rust code
  tools/src/server/http_server.rs
Due: none

feat(watch): implement E2E Watch System for automated Play remediation
  cto-config.json
  docs/architecture/e2e-watch-system.md
  infra/charts/controller/agent-templates/watch/factory/agents-monitor.md.hbs
  infra/charts/controller/agent-templates/watch/factory/agents-remediation.md.hbs
  infra/charts/controller/agent-templates/watch/factory/container-monitor.sh.hbs
  infra/charts/controller/agent-templates/watch/factory/container-remediation.sh.hbs
  infra/charts/controller/agent-templates/watch/scripts/actions/check-bugbot.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/create-fix-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/full-remediation-flow.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/merge-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-ci.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-deploy.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/run-validation.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/argocd.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/common.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/git.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/github.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/kubernetes.sh
  infra/charts/controller/templates/configmaps/watch-scripts-configmap.yaml
  infra/charts/controller/templates/workflowtemplates/watch-workflow-template.yaml
  infra/images/runtime/Dockerfile
  monitor/dist-workspace.toml
  monitor/src/main.rs
Due: none

test: add intentionally failing code for E2E Watch script validation
  monitor/src/main.rs
  monitor/src/test_watch_validation.rs
Due: none

test: add security vulnerabilities and merge conflict for Bugbot testing
  monitor/src/main.rs
  monitor/src/security_test.rs
  tools/src/server/http_server.rs
Due: none

fix(watch): use correct gh pr checks JSON fields (bucket instead of conclusion)
  infra/charts/controller/agent-templates/watch/scripts/lib/github.sh
Due: none

docs: improve cloudflare-operator configuration documentation
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
  infra/vault/secrets/infrastructure.yaml
Due: no-hardcoded-passwords

docs: improve cloudflare-operator configuration documentation (#1774)
  infra/gitops/resources/cloudflare-tunnel/cluster-tunnel.yaml
  infra/gitops/resources/cloudflare-tunnel/webhook-binding.yaml
  infra/vault/secrets/infrastructure.yaml
Due: no-hardcoded-passwords

feat(watch): add poll-actions.sh with detailed CI failure logs
  infra/charts/controller/agent-templates/watch/scripts/actions/check-bugbot.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/full-remediation-flow.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-actions.sh
  infra/charts/controller/templates/configmaps/watch-scripts-configmap.yaml
Due: none

feat(watch): add check-conflicts.sh for merge conflict detection
  infra/charts/controller/agent-templates/watch/scripts/actions/check-conflicts.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/full-remediation-flow.sh
  infra/charts/controller/templates/configmaps/watch-scripts-configmap.yaml
Due: none

feat(ci): add ArgoCD full sync workflow on PR merge
  .github/workflows/argocd-sync.yaml
Due: none

feat(ci): add ArgoCD full sync workflow on PR merge (#1775)
  .github/workflows/argocd-sync.yaml
Due: none

test: add conflict trigger comment for E2E Watch testing
  monitor/src/main.rs
Due: none

docs(watch): add helper scripts documentation to remediation agent prompt
  infra/charts/controller/agent-templates/watch/factory/agents-remediation.md.hbs
Due: none

fix: move cloudflare-operator to cloudflare-operator-system namespace
  infra/gitops/applications/cloudflare-operator.yaml
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(watch): correct script paths in remediation agent prompt
  infra/charts/controller/agent-templates/watch/factory/agents-remediation.md.hbs
Due: none

refactor(watch): use standard factory_container_base pattern
  infra/charts/controller/agent-templates/watch/factory/container-monitor.sh.hbs
  infra/charts/controller/agent-templates/watch/factory/container-remediation.sh.hbs
Due: none

fix: move cloudflare-operator to cloudflare-operator-system namespace (#1777)
  infra/gitops/applications/cloudflare-operator.yaml
  infra/gitops/resources/cloudflare-operator/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(tools): replace k8s-mcp with npx kubernetes-mcp-server
  infra/charts/tools/values.yaml
Due: none

feat(tools): replace k8s-mcp with npx kubernetes-mcp-server (#1778)
  infra/charts/tools/values.yaml
Due: none

feat(watch): implement E2E Watch System with CodeRun-based orchestration
  controller/src/tasks/code/templates.rs
  infra/charts/controller/agent-templates/watch/acceptance-criteria.md.hbs
  infra/charts/controller/agent-templates/watch/claude/container-watch-monitor.sh.hbs
  infra/charts/controller/agent-templates/watch/claude/container-watch-remediation.sh.hbs
  infra/charts/controller/agent-templates/watch/factory/agents-watch-monitor.md.hbs
  infra/charts/controller/agent-templates/watch/factory/agents-watch-remediation.md.hbs
  infra/charts/controller/agent-templates/watch/factory/container-watch-monitor.sh.hbs
  infra/charts/controller/agent-templates/watch/factory/container-watch-remediation.sh.hbs
  infra/charts/controller/agent-templates/watch/scripts/actions/check-bugbot.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/check-conflicts.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/create-fix-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/download-logs.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/evaluate-criteria.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/full-remediation-flow.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/merge-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-actions.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-ci.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-deploy.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-workflow.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/run-validation.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/start-watch.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/submit-play.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/argocd.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/common.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/git.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/github.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/kubernetes.sh
  infra/charts/controller/templates/configmaps/watch-scripts-configmap.yaml
Due: none

fix(watch): add --workspace flag to clippy in run-validation.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/run-validation.sh
Due: none

fix(watch): fix gh pr create flags and add --wait/--timeout to merge-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/merge-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/github.sh
Due: none

feat(watch): implement E2E Watch System with CodeRun-based orchestration (#1779)
  controller/src/tasks/code/templates.rs
  infra/charts/controller/agent-templates/watch/acceptance-criteria.md.hbs
  infra/charts/controller/agent-templates/watch/claude/container-watch-monitor.sh.hbs
  infra/charts/controller/agent-templates/watch/claude/container-watch-remediation.sh.hbs
  infra/charts/controller/agent-templates/watch/factory/agents-watch-monitor.md.hbs
  infra/charts/controller/agent-templates/watch/factory/agents-watch-remediation.md.hbs
  infra/charts/controller/agent-templates/watch/factory/container-watch-monitor.sh.hbs
  infra/charts/controller/agent-templates/watch/factory/container-watch-remediation.sh.hbs
  infra/charts/controller/agent-templates/watch/scripts/actions/check-bugbot.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/check-conflicts.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/create-fix-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/download-logs.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/evaluate-criteria.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/full-remediation-flow.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/merge-pr.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-actions.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-ci.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-deploy.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/poll-workflow.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/run-validation.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/start-watch.sh
  infra/charts/controller/agent-templates/watch/scripts/actions/submit-play.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/argocd.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/common.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/git.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/github.sh
  infra/charts/controller/agent-templates/watch/scripts/lib/kubernetes.sh
  infra/charts/controller/templates/configmaps/watch-scripts-configmap.yaml
Due: none

chore(tools): disable standalone k8s-mcp deployment
  infra/charts/tools/values.yaml
Due: none

chore(tools): disable standalone k8s-mcp deployment (#1780)
  infra/charts/tools/values.yaml
Due: none

fix(tools): wait for Docker socket in entrypoint
  infra/images/tools/entrypoint.sh
Due: none

fix(tools): wait for Docker socket in entrypoint (#1781)
  infra/images/tools/entrypoint.sh
Due: none

fix: prevent ArgoCD from overwriting CNPG webhook CA bundles
  docs/runbooks/cnpg-webhook-certificate-fix.md
  infra/gitops/applications/cloudnative-pg-operator.yaml
  scripts/fix-cnpg-webhook-certs.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

