Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(mailu): Add custom ArgoCD health check for NGrok LoadBalancer
  infra/gitops/resources/mailu-tcp-loadbalancer.yaml
Due: no-hardcoded-passwords

docs(mailu): Document expected ArgoCD 'Progressing' status for NGrok LoadBalancer
  infra/gitops/resources/mailu-tcp-loadbalancer.yaml
Due: no-hardcoded-passwords

fix(mailu): Create separate ingress with correct backend port configuration
  infra/gitops/applications/mailu-ingress.yaml
  infra/gitops/applications/mailu.yaml
  infra/gitops/resources/mailu-ingress.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): Disable Helm secret creation to avoid conflict with external-secrets
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): Set TLS flavor to 'notls' to prevent redirect loop
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): Override TLS_FLAVOR via front extraEnvVars to fix redirect loop
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): Use correct Helm parameter ingress.tlsFlavorOverride to set TLS_FLAVOR
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(mailu): Add secret.create: false to prevent Helm/external-secrets conflict
  infra/gitops/applications/mailu.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(dns): Add Cloudflare redirect configuration for 5dlabs.ai domains
  infra/gitops/applications/cloudflare-redirects.yaml
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
  infra/gitops/resources/cloudflare-redirects/job.yaml
  infra/gitops/resources/cloudflare-redirects/kustomization.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(cloudflare): Rename and update Cloudflare redirect job configuration
  infra/gitops/resources/cloudflare-redirects/job.yaml
  infra/gitops/resources/sendgrid-dns/kustomization.yaml
  infra/gitops/resources/sendgrid-dns/services.yaml
  infra/gitops/resources/sendgrid-dns/txt-records.yaml
Due: no-hardcoded-passwords

feat(dns): Add SendGrid DNS records via external-DNS and domain redirects
  infra/gitops/applications/sendgrid-dns.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(cloudflare): Update Cloudflare redirect job configuration
  infra/gitops/resources/cloudflare-redirects/job.yaml
Due: no-hardcoded-passwords

fix: Remove trailing spaces from YAML files and add git workflow rule
  infra/gitops/applications/cloudflare-redirects.yaml
  infra/gitops/applications/sendgrid-dns.yaml
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
  infra/gitops/resources/sendgrid-dns/services.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Update Cloudflare redirect job to use alpine-curl-jq image and bash
  infra/gitops/resources/cloudflare-redirects/job.yaml
Due: no-hardcoded-passwords

fix: Update DMARC TXT record to use LoadBalancer service
  infra/gitops/resources/sendgrid-dns/txt-records.yaml
Due: no-hardcoded-passwords

fix: Use working alpine/curl image and install jq
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
  infra/gitops/resources/cloudflare-redirects/job.yaml
Due: no-hardcoded-passwords

fix: Change DMARC service from LoadBalancer to ClusterIP
  infra/gitops/resources/sendgrid-dns/txt-records.yaml
Due: no-hardcoded-passwords

fix: Use alpine base image with root permissions for package installation
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
  infra/gitops/resources/cloudflare-redirects/job.yaml
Due: no-hardcoded-passwords

docs: Add Cloudflare API token permissions documentation
  infra/gitops/resources/cloudflare-redirects/README.md
Due: none

feat: Configure SendGrid SMTP relay for Mailu
  infra/gitops/applications/mailu.yaml
  infra/secret-store/mailu-external-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Enhance Cloudflare redirect rule configuration script
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
Due: no-hardcoded-passwords

feat: Handle Cloudflare API token permissions in code
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
  infra/gitops/resources/cloudflare-redirects/job.yaml
  infra/secret-store/cloudflare-redirect-secrets.yaml
Due: no-hardcoded-passwords

feat(mailu): Configure SendGrid SMTP relay for outbound email
  infra/gitops/applications/mailu.yaml
  infra/secret-store/mailu-external-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: Implement domain redirects via NGrok Gateway instead of Cloudflare
  infra/gitops/applications/cloudflare-redirects.yaml
  infra/gitops/resources/cloudflare-redirects/README.md
  infra/gitops/resources/cloudflare-redirects/configmap.yaml
  infra/gitops/resources/cloudflare-redirects/job.yaml
  infra/gitops/resources/cloudflare-redirects/kustomization.yaml
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/gitops/resources/ngrok-gateway/kustomization.yaml
  infra/gitops/resources/ngrok-gateway/redirect-route.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: optimize NGrok configuration for essential services
  infra/gitops/resources/mailu-ingress.yaml
  infra/gitops/resources/mailu-tcp-loadbalancer.yaml
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
Due: no-hardcoded-passwords

remove: cloudflare-redirect-credentials external secret
  infra/secret-store/cloudflare-redirect-secrets.yaml
Due: none

Temporarily disable HTTPRoute for domain redirects in NGrok configuration
  infra/gitops/resources/ngrok-gateway/redirect-route.yaml
Due: no-hardcoded-passwords

fix: prevent duplicate workflow triggers by setting sensor replicas to 1
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: add idempotency to prevent duplicate workflow creation
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: resolve yamllint errors and warnings
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: correct PR number label injection in sensor
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: balance retry strategy with idempotency for reliability
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
  infra/gitops/resources/github-webhooks/play-workflow-sensors.yaml
Due: no-hardcoded-passwords

fix: move ngrok Gateway and related resources to argo namespace
  infra/gitops/resources/github-webhooks/httproute.yaml
  infra/gitops/resources/ngrok-gateway/domain.yaml
  infra/gitops/resources/ngrok-gateway/gateway.yaml
  infra/gitops/resources/ngrok-gateway/traffic-policy.yaml
Due: no-hardcoded-passwords

fix: prevent duplicate workflow creation on PR merge
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: add polling logic to handle race condition in merge webhook
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: exclude current workflow from idempotency check
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: increase task-complete workflow timeout to 2 hours
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: use deterministic workflow names to prevent duplicates
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: update data template for PR number extraction in merge-to-main sensor
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

fix: implement proper duplicate prevention with ConfigMap locks
  infra/gitops/resources/github-webhooks/merge-to-main-sensor.yaml
Due: no-hardcoded-passwords

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

