Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix: build and deploy OpenMemory image
  infra/charts/openmemory/values.yaml
  infra/gitops/applications/openmemory.yaml
  infra/images/openmemory/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(controller): add env var fallback for PR number in job names
  controller/src/tasks/code/naming.rs
Due: none

Potential fix for code scanning alert no. 303: Cleartext logging of sensitive information
  controller/src/tasks/code/naming.rs
Due: none

fix(sensors): remove invalid cli field from Atlas conflict monitor
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix(sensors): remove invalid cli field from Atlas conflict monitor (#1669)
  infra/gitops/resources/github-webhooks/atlas-conflict-monitor-sensor.yaml
Due: no-hardcoded-passwords

fix: build and deploy OpenMemory image (#1667)
  infra/charts/openmemory/values.yaml
  infra/gitops/applications/openmemory.yaml
  infra/images/openmemory/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(controller): add env var fallback for PR number in job names (#1668)
  controller/src/tasks/code/naming.rs
Due: none

fix: use official OpenMemory Dockerfile with Bun build
  infra/charts/openmemory/values.yaml
  infra/images/openmemory/Dockerfile
Due: none

fix: set imagePullPolicy to Always for openmemory
  infra/gitops/applications/openmemory.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: OpenMemory image build and toolman URL
  infra/charts/openmemory/values.yaml
  infra/gitops/applications/openmemory.yaml
  infra/gitops/applications/toolman.yaml
  infra/images/openmemory/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: OpenMemory image build and toolman URL (#1671)
  infra/charts/openmemory/values.yaml
  infra/gitops/applications/openmemory.yaml
  infra/gitops/applications/toolman.yaml
  infra/images/openmemory/Dockerfile
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: remove Better Auth integration
  docs/engineering/better-auth-integration-summary.md
  docs/engineering/better-auth-standard.md
  infra/charts/controller/agent-templates/auth/better-auth-backend.ts.hbs
  infra/charts/controller/agent-templates/auth/better-auth-frontend.tsx.hbs
  infra/charts/controller/agent-templates/auth/better-auth-setup.md.hbs
  infra/charts/controller/values.yaml
Due: none

chore: remove Better Auth integration (#1672)
  docs/engineering/better-auth-integration-summary.md
  docs/engineering/better-auth-standard.md
  infra/charts/controller/agent-templates/auth/better-auth-backend.ts.hbs
  infra/charts/controller/agent-templates/auth/better-auth-frontend.tsx.hbs
  infra/charts/controller/agent-templates/auth/better-auth-setup.md.hbs
  infra/charts/controller/values.yaml
Due: none

feat: migrate agents from memory_* to openmemory_* tools
  infra/charts/controller/agent-templates/agents/cleo-system-prompt.md.hbs
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

feat: migrate agents from memory_* to openmemory_* tools (#1673)
  infra/charts/controller/agent-templates/agents/cleo-system-prompt.md.hbs
  infra/charts/controller/agent-templates/agents/rex-system-prompt.md.hbs
  infra/charts/controller/templates/agent-templates-claude-code.yaml
  infra/charts/controller/templates/agent-templates-claude-docs.yaml
  infra/charts/controller/templates/agent-templates-codex.yaml
  infra/charts/controller/templates/agent-templates-cursor.yaml
  infra/charts/controller/templates/agent-templates-factory.yaml
  infra/charts/controller/templates/agent-templates-integration.yaml
  infra/charts/controller/templates/agent-templates-opencode.yaml
  infra/charts/controller/templates/agent-templates-shared.yaml
Due: none

fix: remove filesystem server and update to OpenMemory tools
  infra/gitops/applications/toolman.yaml
  toolman-client/client-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: remove filesystem server and update to OpenMemory tools (#1674)
  infra/gitops/applications/toolman.yaml
  toolman-client/client-config.json
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(telemetry): disable PrometheusRule CRD that requires Prometheus Operator
  infra/telemetry/atlas-prometheus-rules.yaml.disabled
Due: none

feat: add CloudNativePG and Redis operators
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/database-instances.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/test-databases/kustomization.yaml
  infra/gitops/resources/test-databases/namespace.yaml
  infra/gitops/resources/test-databases/postgres-cluster.yaml
  infra/gitops/resources/test-databases/redis-standalone.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add CloudNativePG and Redis operators (#1677)
  infra/gitops/applications/cloudnative-pg-operator.yaml
  infra/gitops/applications/database-instances.yaml
  infra/gitops/applications/redis-operator.yaml
  infra/gitops/projects/platform-project.yaml
  infra/gitops/resources/test-databases/kustomization.yaml
  infra/gitops/resources/test-databases/namespace.yaml
  infra/gitops/resources/test-databases/postgres-cluster.yaml
  infra/gitops/resources/test-databases/redis-standalone.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use Replace sync strategy for CloudNativePG CRDs
  infra/gitops/applications/cloudnative-pg-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: use Replace sync strategy for CloudNativePG CRDs (#1678)
  infra/gitops/applications/cloudnative-pg-operator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: add required redisExporter.image to Redis instance
  infra/gitops/resources/test-databases/redis-standalone.yaml
Due: no-hardcoded-passwords

fix: add required redisExporter.image to Redis instance (#1679)
  infra/gitops/resources/test-databases/redis-standalone.yaml
Due: no-hardcoded-passwords

fix: use correct Redis image tag v7.4.6
  infra/gitops/resources/test-databases/redis-standalone.yaml
Due: no-hardcoded-passwords

fix: use correct Redis image tag v7.4.6 (#1680)
  infra/gitops/resources/test-databases/redis-standalone.yaml
Due: no-hardcoded-passwords

fix(telemetry): disable PrometheusRule CRD that requires Prometheus Operator (#1676)
  infra/telemetry/atlas-prometheus-rules.yaml.disabled
Due: none

fix: add missing PVC for doc-server postgres
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server-databases/postgres-pvc.yaml
Due: no-hardcoded-passwords

fix: add missing PVC for doc-server postgres (#1681)
  infra/gitops/resources/doc-server-databases/kustomization.yaml
  infra/gitops/resources/doc-server-databases/postgres-pvc.yaml
Due: no-hardcoded-passwords

fix: correct app.kubernetes.io/name label for database-instances
  infra/gitops/applications/database-instances.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix: correct app.kubernetes.io/name label for database-instances (#1682)
  infra/gitops/applications/database-instances.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat: add model rotation support to Claude Rex templates
  docs/cursor-cli-available-models.md
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

feat: add model rotation support to Claude Rex templates (#1683)
  docs/cursor-cli-available-models.md
  infra/charts/controller/agent-templates/code/claude/container-rex-remediation.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container-rex.sh.hbs
  infra/charts/controller/agent-templates/code/claude/container.sh.hbs
Due: none

chore(chart): regenerate agent templates ConfigMaps
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

chore: auto-update agent-templates ConfigMap
  infra/charts/controller/templates/agent-templates-claude-code.yaml
Due: none

fix(workflow): fast-forward stage label when resuming from later stages
  infra/charts/controller/templates/workflowtemplates/play-workflow-template.yaml
Due: none
