Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(headscale): update server URL and enable ACL policy mode
  alerthub/architecture.md
  alerthub/prd.md
  infra/gitops/applications/networking/headscale.yaml
  tests/intake/alerthub-e2e-test/WORKFLOW_VISUALIZATION.md
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: upgrade headscale to v0.27.1 for better route support
  infra/gitops/applications/networking/headscale.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(tasks): enforce infrastructure-first task ordering in PRD parsing
  crates/tasks/src/ai/prompts/parse_prd.rs
Due: none

fix(tasks): enforce infrastructure-first task ordering in PRD parsing (#3260)
  crates/tasks/src/ai/prompts/parse_prd.rs
Due: none

docs(research): add 1 new research entries
  docs/research/2003531902922498298.md
Due: none

docs(research): add 1 new research entries
  docs/research/2002797649842331919.md
Due: none

feat(ingress): add externalIPs for direct LAN access
  infra/gitops/applications/platform/ingress-nginx.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(ingress): add externalIPs for direct LAN access (#3283)
  infra/gitops/applications/platform/ingress-nginx.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(intake): add platform config for intake mode (API vs CLI)
  crates/tasks/src/domain/cto_config.rs
  crates/tasks/src/domain/mod.rs
  crates/tasks/src/domain/platform_config.rs
  infra/charts/cto/templates/pm/deployment.yaml
  infra/charts/cto/values.yaml
  platform-config.template.json
Due: none

fix(templates): add task_language to template context to fix Expo conditional
  crates/controller/src/tasks/code/resources.rs
  crates/controller/src/tasks/code/templates.rs
Due: none

fix(templates): ensure task_language is correctly passed in template context
  infra/gitops/applications/platform/ingress-nginx.yaml
  scripts/com.tailscale.tailscaled.plist
  scripts/install-tailscale-daemon.sh
  scripts/tailscale-connect.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(templates): correct task_language handling in container templates
  infra/gitops/manifests/ingress/platform-ingress.yaml
Due: no-hardcoded-passwords

feat(ingress): configure ArgoCD for direct LAN access
  infra/gitops/applications/platform/ingress-nginx.yaml
  infra/gitops/manifests/ingress/platform-ingress.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(intake): wire platform config for API/CLI mode selection
  crates/pm/src/config.rs
  crates/pm/src/handlers/intake.rs
  infra/charts/cto/templates/pm/deployment.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/argo-workflows/project-intake-template.yaml
  platform-config.json
  templates/agents/morgan/intake.sh.hbs
Due: no-hardcoded-passwords

refactor(charts): update secrets management and clean up RBAC templates
  infra/charts/cto/templates/cloudflare/platform-bindings.yaml
  infra/charts/cto/templates/rbac/arc-runner-access.yaml
  infra/charts/cto/templates/rbac/argo-workflow-access.yaml
  infra/charts/cto/templates/secrets/api-keys.yaml
  infra/charts/cto/templates/secrets/github-apps.yaml
  infra/charts/cto/templates/secrets/research-secrets.yaml
  infra/charts/cto/templates/secrets/tools-secrets.yaml
  infra/charts/cto/templates/serviceaccounts.yaml
  infra/charts/cto/values.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/ingress/certificates.yaml
  infra/gitops/manifests/ingress/platform-ingress.yaml
  infra/gitops/manifests/rbac/argo-workflow-permissions.yaml
Due: no-hardcoded-passwords

refactor(secrets): disable ExternalSecrets generation and update references
  infra/gitops/applications/networking/tailscale-subnet-router.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/headscale/kustomization.yaml
  infra/gitops/manifests/headscale/namespace.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(secrets): add instance labels and tracking annotations to ExternalSecrets
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: no-hardcoded-passwords

chore(secrets): enhance ExternalSecrets with instance labels and tracking annotations
  infra/gitops/applications/networking/headscale-namespace.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/gitops/manifests/external-secrets/seaweedfs-secrets.yaml
  infra/gitops/manifests/headscale-namespace/kustomization.yaml
  infra/gitops/manifests/headscale-namespace/namespace.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore(kustomization): remove deprecated namespace.yaml from headscale manifests
  infra/gitops/manifests/headscale/kustomization.yaml
Due: no-hardcoded-passwords

chore(headscale): remove CreateNamespace option from syncOptions
  infra/gitops/applications/networking/headscale.yaml
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(ingress): update comment to reflect automation namespace
  infra/gitops/applications/networking/platform-ingress.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(infra): correct research PVC size to match deployed state
  infra/charts/cto/values.yaml
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

