Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

.pre-commit-config.yaml:

---
# Pre-commit hooks for GitOps validation
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: ^infra/gitops/.*\.yaml$
        exclude: ^infra/gitops/databases/examples/.*\.yaml$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^infra/gitops/.*\.yaml$
      - id: end-of-file-fixer
        files: ^infra/gitops/.*\.yaml$
      - id: check-yaml
        files: ^infra/gitops/.*\.yaml$
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key
      - id: check-merge-conflict

  # Kubernetes manifest validation
  - repo: https://github.com/syntaqx/kube-score
    rev: v1.16.1
    hooks:
      - id: kube-score
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*

  # Security scanning with detect-secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(.*\.example|.*\.md|infra/gitops/databases/examples/.*)$

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: ^infra/scripts/.*\.sh$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config=.markdownlint.yaml]
        files: \.md$

  # Custom local hooks
  - repo: local
    hooks:
      - id: argocd-app-validation
        name: Validate ArgoCD Applications
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

      - id: check-resource-limits
        name: Check Resource Limits
        entry: >
          bash -c 'for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue;
          [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done'
        language: system
        files: ^infra/gitops/databases/.*\.yaml$
        exclude: ^infra/gitops/databases/(examples|README).*
        pass_filenames: false

      - id: no-hardcoded-passwords
        name: Check for Hardcoded Passwords
        entry: >
          bash -c 'grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0'
        language: system
        files: ^infra/gitops/.*\.yaml$
        pass_filenames: false

      - id: required-labels
        name: Check Required Labels
        entry: >
          bash -c 'for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue;
          grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done'
        language: system
        files: ^infra/gitops/applications/.*\.yaml$
        pass_filenames: false

# Configuration for specific hooks
default_language_version:
  python: python3.11

# Don't run on CI
ci:
  skip: [detect-secrets]

# Files to exclude globally
exclude: |
  (?x)^(
    .*\.git/.*|
    .*\.terraform/.*|
    .*\.idea/.*|
    vendor/.*|
    node_modules/.*
  )$

fix(installer): improve OpenBao recovery process and update image references
  infra/gitops/manifests/cert-manager/self-signed-issuer.yaml
Due: no-hardcoded-passwords

refactor(http_server): update screenshot upload tool to use S3-compatible storage
  crates/tools/src/server/http_server.rs
  infra/gitops/applications/operators/jaeger-operator.yaml
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/manifests/external-secrets/seaweedfs-secrets.yaml
  infra/images/tools/Dockerfile
  infra/images/tools/entrypoint.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

refactor(storage): replace MinIO with SeaweedFS for S3-compatible storage
  README.md
  infra/gitops/applications/operators/README.md
  infra/gitops/applications/operators/minio-operator.yaml
  infra/gitops/applications/workloads/minio-tenant.yaml
  infra/gitops/manifests/external-secrets/README.md
  infra/gitops/manifests/external-secrets/minio-secrets.yaml
  infra/gitops/projects/platform-project.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(platform): add cert-manager ClusterIssuer for operator webhooks
  infra/gitops/applications/platform/cert-manager-config.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: update .gitignore and improve OpenBao tests
  .gitignore
  crates/installer/src/openbao.rs
  infra/charts/cto/values.yaml
  infra/gitops/applications/platform/cert-manager-config.yaml
  infra/gitops/applications/workloads/cto.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(installer): add network validation and ClusterIssuer deployment
  crates/installer/src/orchestrator.rs
Due: none

feat(buildkit): add auto-detection and improve setup script
  scripts/setup-cluster-builder.sh
Due: none

feat(external-secrets): enable research-digest-secrets configuration
  .secrets.baseline
  crates/metal/src/talos/bootstrap.rs
  infra/gitops/applications/platform/cert-manager-config.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/manifests/external-secrets/README.md
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(latitude): add Virtual Network (VLAN) management functionality
  crates/metal/src/providers/latitude/client.rs
  crates/metal/src/providers/latitude/models.rs
  infra/scripts/openbao/init-openbao.sh
  infra/scripts/openbao/migrate-vault-to-openbao.sh
Due: none

feat(buildkit): add auto-detection and improve setup script for multi-cluster support (#2879)
  .secrets.baseline
  crates/metal/src/providers/latitude/client.rs
  crates/metal/src/providers/latitude/models.rs
  crates/metal/src/talos/bootstrap.rs
  infra/gitops/applications/platform/cert-manager-config.yaml
  infra/gitops/applications/workloads/cto.yaml
  infra/gitops/manifests/external-secrets/README.md
  infra/gitops/manifests/external-secrets/cto-secrets.yaml
  infra/scripts/openbao/init-openbao.sh
  infra/scripts/openbao/migrate-vault-to-openbao.sh
  scripts/setup-cluster-builder.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(installer): add network validation and ClusterIssuer deployment (#2878)
  crates/installer/src/orchestrator.rs
Due: none

feat(installer): implement VLAN management for private networking
  crates/installer/src/bare_metal.rs
  crates/installer/src/commands/install.rs
  crates/installer/src/config.rs
  crates/installer/src/openbao.rs
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
  crates/metal/src/providers/latitude/client.rs
  crates/metal/src/providers/latitude/models.rs
  crates/metal/src/talos/bootstrap.rs
  crates/tools/src/server/http_server.rs
  infra/charts/cto/templates/buildkit/statefulset.yaml
  infra/charts/cto/values.yaml
  scripts/benchmark-buildkit-k8s.sh
  scripts/benchmark-buildkit.sh
  scripts/setup-cluster-builder.sh
Due: none

fix(cilium): correct indentation in wait_for_cilium_healthy function
  crates/metal/src/cilium.rs
Due: none

feat(bootstrap): enhance ingress firewall configuration for node types
  crates/installer/src/orchestrator.rs
  crates/metal/src/talos/bootstrap.rs
Due: none

fix(installer): update default VLAN interface for Latitude servers
  crates/installer/src/commands/install.rs
Due: none

feat(installer): add stock validation before server creation
  crates/installer/src/bare_metal.rs
  crates/installer/src/orchestrator.rs
Due: none

feat(installer): add stock validation before server creation
  crates/installer/src/bare_metal.rs
  crates/installer/src/config.rs
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
  crates/installer/src/validation/checks/mod.rs
  crates/installer/src/validation/workloads/mod.rs
Due: none

fix(installer): update private IP allocation to handle errors
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
  scripts/benchmark-buildkit-k8s.sh
Due: none

fix(installer): improve error messages for host allocation validation
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
Due: none

refactor(installer): enhance private IP allocation logic and testing
  crates/installer/src/state.rs
Due: none

fix(installer): enforce VLAN interface constraints during configuration updates
  crates/installer/src/orchestrator.rs
Due: none

fix(installer): update private IP CIDR format to use VLAN subnet prefix
  crates/installer/src/orchestrator.rs
Due: none

chore(mayastor): update targetRevision to 2.10.0 in mayastor.yaml
  infra/gitops/applications/storage/mayastor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Feat/latitude buildkit (#2880)
  crates/installer/src/bare_metal.rs
  crates/installer/src/commands/install.rs
  crates/installer/src/config.rs
  crates/installer/src/openbao.rs
  crates/installer/src/orchestrator.rs
  crates/installer/src/state.rs
  crates/installer/src/validation/checks/mod.rs
  crates/installer/src/validation/workloads/mod.rs
  crates/metal/src/providers/latitude/client.rs
  crates/metal/src/providers/latitude/models.rs
  crates/metal/src/talos/bootstrap.rs
  crates/tools/src/server/http_server.rs
  infra/charts/cto/templates/buildkit/statefulset.yaml
  infra/charts/cto/values.yaml
  infra/gitops/applications/storage/mayastor.yaml
  scripts/benchmark-buildkit-k8s.sh
  scripts/benchmark-buildkit.sh
  scripts/setup-cluster-builder.sh
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(installer): enhance configuration update logic and VLAN handling
  crates/installer/src/orchestrator.rs
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/applications/storage/mayastor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

chore: update secrets baseline and status-sync formatting
  .secrets.baseline
  crates/pm/src/bin/status-sync.rs
Due: none

chore: trigger merge status recalculation
  README.md
Due: none

chore: update secrets baseline
  .secrets.baseline
Due: none

chore: update secrets baseline line numbers
  .secrets.baseline
Due: none

fix(installer): enhance configuration update logic and VLAN handling (#2881)
  .secrets.baseline
  README.md
  crates/installer/src/orchestrator.rs
  crates/pm/src/bin/status-sync.rs
  docs/research/1997588721135452446.md
  docs/research/1998152318190227693.md
  infra/gitops/applications/operators/seaweedfs-operator.yaml
  infra/gitops/applications/storage/mayastor.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

Merge develop 20251213 182904 (#2882)
  .secrets.baseline
Due: none
