Repository 5dlabs/cto: changes, and which pre-commit hooks are due for each by the changed paths.
All: argocd-app-validation, check-resource-limits, no-hardcoded-passwords, required-labels

argocd-app-validation:
  name: Validate ArgoCD Applications
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "kind: Application" "$f" || (echo "Not an Application: $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

check-resource-limits:
  name: Check Resource Limits
  entry: 'bash -c ''for f in infra/gitops/databases/*.yaml; do [ -f "$f" ] || continue; [[ "$f" == *"examples"* ]] && continue; grep -q "resources:" "$f" || echo "Warning: No resource limits in $f"; done''
  
    '
  language: system
  pass_filenames: false

no-hardcoded-passwords:
  name: Check for Hardcoded Passwords
  entry: 'bash -c ''grep -r "password:" infra/gitops --include="*.yaml" | grep -v "secretKeyRef" | grep -v "CHANGE_THIS" | grep -v "PASSWORD" && (echo "Found hardcoded password!" && exit 1) || exit 0''
  
    '
  language: system
  pass_filenames: false

required-labels:
  name: Check Required Labels
  entry: 'bash -c ''for f in infra/gitops/applications/*.yaml; do [ -f "$f" ] || continue; grep -q "app.kubernetes.io/name:" "$f" || (echo "Missing required label in $f" && exit 1); done''
  
    '
  language: system
  pass_filenames: false

fix(musetalk-ci): build Dockerfile.optimized for mmcv install
  .github/workflows/musetalk-worker-docker.yml
Due: none

deploy(musetalk-worker): bump to phase4-1a63104 (mmcv fix deployed)
  infra/charts/musetalk-worker/values.yaml
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

feat(hunyuan-avatar): add parallel HunyuanVideo-Avatar worker
  .github/workflows/build-hunyuan-avatar-worker.yml
  infra/charts/hunyuan-avatar-worker/Chart.yaml
  infra/charts/hunyuan-avatar-worker/templates/_helpers.tpl
  infra/charts/hunyuan-avatar-worker/templates/pvc.yaml
  infra/charts/hunyuan-avatar-worker/templates/service-metrics.yaml
  infra/charts/hunyuan-avatar-worker/templates/service.yaml
  infra/charts/hunyuan-avatar-worker/templates/serviceaccount.yaml
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
  infra/charts/hunyuan-avatar-worker/values.yaml
  infra/gitops/applications/workloads/hunyuan-avatar-test-harness.yaml
  infra/gitops/applications/workloads/hunyuan-avatar-worker.yaml
  infra/images/hunyuan-avatar-worker/Dockerfile
  infra/images/hunyuan-avatar-worker/__pycache__/download_models.cpython-312.pyc
  infra/images/hunyuan-avatar-worker/__pycache__/render.cpython-312.pyc
  infra/images/hunyuan-avatar-worker/__pycache__/worker.cpython-312.pyc
  infra/images/hunyuan-avatar-worker/download_models.py
  infra/images/hunyuan-avatar-worker/render.py
  infra/images/hunyuan-avatar-worker/requirements.txt
  infra/images/hunyuan-avatar-worker/worker.py
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(hunyuan-test-harness): use bitnami/kubectl:1.31
  infra/gitops/applications/workloads/hunyuan-avatar-test-harness.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(hunyuan-test-harness): use alpine/k8s:1.31.0
  infra/gitops/applications/workloads/hunyuan-avatar-test-harness.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(hunyuan): use generic GPU node selector for worker scheduling
  infra/charts/hunyuan-avatar-worker/values.yaml
  infra/gitops/applications/workloads/hunyuan-avatar-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(hunyuan): scale worker to 0 replicas until GPU node available
  infra/charts/hunyuan-avatar-worker/values.yaml
Due: none

musetalk: wire real v1.5 inference into render_avatar (phase 5)
  infra/images/musetalk-worker/render.py
Due: none

musetalk-worker: bump image tag prefix phase4 -> phase5
  .github/workflows/musetalk-worker-docker.yml
Due: none

musetalk-worker: bump tag to phase5-56bf068 (real inference)
  infra/charts/musetalk-worker/values.yaml
Due: none

musetalk: bump inline argocd tag to phase5-56bf068
  infra/gitops/applications/workloads/musetalk-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

musetalk: add dev-pod manifest for in-cluster iteration
  infra/images/musetalk-worker/dev-pod.yaml
Due: none

fix(hunyuan-docker): optimize Dockerfile for CI builds
  infra/images/hunyuan-avatar-worker/Dockerfile
  infra/images/hunyuan-avatar-worker/requirements.txt
Due: none

feat(musetalk): port upstream v1.5 realtime Avatar class into render.py
  infra/images/musetalk-worker/render.py
  infra/images/musetalk-worker/worker.py
Due: none

fix(gitlab-mirror): refactor chart to multi-repo CronJob
  infra/charts/gitlab-mirror/templates/cronjob.yaml
  infra/charts/gitlab-mirror/values.yaml
Due: none

fix(gitlab-mirror): refactor chart to multi-repo CronJob (#4721)
  infra/charts/gitlab-mirror/templates/cronjob.yaml
  infra/charts/gitlab-mirror/values.yaml
Due: none

feat(narrator-sidecar): add shared base image for dual sidecars
  infra/images/narrator-sidecar-base/Dockerfile
  infra/images/narrator-sidecar-base/app/acp_parser.py
  infra/images/narrator-sidecar-base/app/config.py
  infra/images/narrator-sidecar-base/app/interrupt.py
  infra/images/narrator-sidecar-base/app/main.py
  infra/images/narrator-sidecar-base/app/narrator.py
  infra/images/narrator-sidecar-base/app/session.py
  infra/images/narrator-sidecar-base/app/tailer.py
  infra/images/narrator-sidecar-base/app/tts.py
  infra/images/narrator-sidecar-base/app/webrtc.py
  infra/images/narrator-sidecar-base/requirements.txt
Due: none

feat(narrator): add sidecar containers to openclaw-agent chart
  infra/charts/openclaw-agent/templates/deployment.yaml
  infra/charts/openclaw-agent/templates/service-narrator.yaml
  infra/charts/openclaw-agent/values.yaml
Due: none

chore: add narrator sidecar config to coder-values (disabled pending image build)
  infra/gitops/agents/coder-values.yaml
Due: no-hardcoded-passwords

ci: add narrator sidecar base image workflow
  .github/workflows/build-narrator-sidecar-base.yml
Due: none

fix(narrator-sidecar): fix interrupt API signature, config loading, imports
  infra/images/narrator-sidecar-base/app/config.py
  infra/images/narrator-sidecar-base/app/interrupt.py
  infra/images/narrator-sidecar-base/app/main.py
  infra/images/narrator-sidecar-base/app/tts.py
  infra/images/narrator-sidecar-base/app/webrtc.py
Due: none

fix(workflows): use correct GHCR username (kaseonedge, not 5dlabs)
  .github/workflows/build-hunyuan-avatar-worker.yml
  .github/workflows/build-narrator-sidecar-base.yml
Due: none

fix(narrator-sidecar): fix imports, parser for OpenClaw stream format, narrator loop
  infra/images/narrator-sidecar-base/app/acp_parser.py
  infra/images/narrator-sidecar-base/app/main.py
  infra/images/narrator-sidecar-base/app/narrator.py
  infra/images/narrator-sidecar-base/app/tailer.py
  infra/images/narrator-sidecar-base/app/webrtc.py
Due: none

feat(narrator-sidecar): add NATS lipsync RPC client
  infra/images/narrator-sidecar-base/app/lipsync_rpc.py
  infra/images/narrator-sidecar-base/requirements.txt
Due: none

fix(hunyuan): scale to 1 replica, use latest image tag
  infra/charts/hunyuan-avatar-worker/values.yaml
Due: none

fix(hunyuan): add clone-repo init container for HunyuanVideo inference scripts
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
  infra/charts/hunyuan-avatar-worker/values.yaml
  infra/images/hunyuan-avatar-worker/render.py
Due: none

fix(hunyuan): rm -rf before git clone in clone-repo init container
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
Due: none

fix(hunyuan): increase clone-repo memory to 8Gi (was OOMKilled at 4Gi)
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
  infra/charts/hunyuan-avatar-worker/values.yaml
Due: none

fix(hunyuan): clone from GitHub with sparse checkout for hymm_sp
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
Due: none

fix(hunyuan): fix sparse checkout path for hymm_sp
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
Due: none

fix(hunyuan): add debug logging to clone-repo init container
  infra/charts/hunyuan-avatar-worker/templates/workload.yaml
Due: none

fix(hunyuan): correct checkpoint path (remove extra weights/ prefix)
  infra/images/hunyuan-avatar-worker/render.py
Due: none

fix(hunyuan): update ArgoCD app to use latest image tag and clone-repo init container
  infra/gitops/applications/workloads/hunyuan-avatar-worker.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(hunyuan): correct PYTHONPATH for hymm_sp module imports
  infra/images/hunyuan-avatar-worker/render.py
Due: none

feat(narrator): add narrator service Helm chart and ArgoCD application
  infra/charts/narrator/Chart.yaml
  infra/charts/narrator/templates/_helpers.tpl
  infra/charts/narrator/templates/deployment.yaml
  infra/charts/narrator/templates/pvc.yaml
  infra/charts/narrator/templates/service.yaml
  infra/charts/narrator/values.yaml
  infra/gitops/applications/workloads/narrator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(narrator): add serviceAccount values to fix Helm template error
  infra/charts/narrator/templates/_helpers.tpl
  infra/charts/narrator/values.yaml
Due: none

fix(narrator): add serviceAccount to ArgoCD inline values
  infra/gitops/applications/workloads/narrator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(narrator): remove duplicate serviceAccount from inline values
  infra/gitops/applications/workloads/narrator.yaml
Due: argocd-app-validation, no-hardcoded-passwords, required-labels

fix(narrator): add missing asyncio import in tts.py
  infra/images/narrator-sidecar-base/app/tts.py
Due: none

fix(narrator): pin transformers==4.36.2 for TTS 0.22.0 compat
  infra/images/narrator-sidecar-base/requirements.txt
Due: none

Path conditions:
  argocd-app-validation: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  check-resource-limits: any of: ^infra/gitops/databases/.*\.yaml$ and not (^infra/gitops/databases/(examples|README).*) and not ((?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$
)
  no-hardcoded-passwords: any of: ^infra/gitops/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

  required-labels: any of: ^infra/gitops/applications/.*\.yaml$, but not: (?x)^(
  .*\.git/.*|
  .*\.terraform/.*|
  .*\.idea/.*|
  vendor/.*|
  node_modules/.*
)$

